[Desktop Entry]
Encoding=UTF-8
Name=Performance Test
Name[da]=Ydelsestest
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritaperftest
X-KDE-Version=2
