[Desktop Entry]
Encoding=UTF-8
Name=Painterly Mixer
Name[de]=Malerischer Mischer
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritapainterlymixer
X-Krita-Version=3
