[Desktop Entry]
Encoding=UTF-8
Name=Polyline Tool
Name[br]=Ostilh lieslinenn
Name[ca]=Eina de polilínia
Name[cy]=Erfyn Polylinell
Name[da]=Flerlinjeværktøj
Name[de]=Linienketten-Werkzeug
Name[el]=Εργαλείο συνεχούς γραμμής
Name[es]=Herramienta Polilínea
Name[et]=Kompleksjoone tööriist
Name[eu]=Polilerroa tresna
Name[fr]=Outil lignes multiples
Name[ga]=Uirlis Il-líne
Name[he]=כלי קו שבור
Name[hu]=Sokszögvonal eszköz
Name[is]=Fjöllínutól
Name[it]=Strumento polilinea
Name[ja]=ポリラインツール
Name[km]=ឧបករណ៍​ពហុបន្ទាត់
Name[ms]=Alat Poligaris
Name[nb]=Verktøy for flerstrekslinje
Name[nl]=Polylijngereedschap
Name[nn]=Verktøy for fleirstrekslinje
Name[pl]=Narzędzie do rysowania łamanej
Name[pt]=Ferramenta de Linhas Poligonais
Name[pt_BR]=Ferramenta Poli-linha
Name[ru]=Ломаная
Name[se]=Moanálinnjáreaidu
Name[sr]=Алат за полилиније
Name[sr@Latn]=Alat za polilinije
Name[sv]=Flerlinjesverktyg
Name[uk]=Засіб ламаної лінії
Name[zh_CN]=折线工具
Name[zh_TW]=任意線工具
ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolpolyline
X-Krita-Version=2
