[Desktop Entry]
Icon=
Name=Krita JPEG Import Filter
Name[bg]=Филтър за импортиране от JPEG в Krita
Name[ca]=Filtre d'importació JPEG per al Krita
Name[cs]=Importní filtr formátu JPEG pro Kritu
Name[da]=JPEG-importfilter til Krita
Name[de]=Krita JPEG-Importfilter
Name[el]=Φίλτρο εισαγωγής JPEG του Krita
Name[en_GB]=Krita JPEG Import Filter
Name[es]=Filtro de Krita de importación de JPEG
Name[et]=Krita JPEG impordifilter
Name[fa]=پالایۀ واردات Krita JPEG
Name[fi]=Krita JPEG-tuontisuodin
Name[fy]=Krita JPEG Ymportfilter
Name[ga]=Scagaire Iompórtála JPEG Krita
Name[gl]=Filtro de Importación de JPEG para Krita
Name[he]=Krita מסנן יבוא מ־JPEG
Name[hi]=केरिता जेपीईजी आयात फ़िल्टर
Name[hne]=केरिता जेपीईजी आयात फिल्टर
Name[it]=Filtro di importazione JPEG per Krita
Name[ja]=Krita JPEG インポートフィルタ
Name[kk]=JPEG -> Krita импорт сүзгісі
Name[lv]=Krita JPEG importa filtrs
Name[nb]=JPEG-importfilter for Krita
Name[nds]=JPEG-Importfilter för Krita
Name[ne]=क्रिता जेपीईजी आयात फिल्टर
Name[nl]=JPEG-importfilter voor Krita
Name[pt]=Filtro de Importação de JPEG para o Krita
Name[pt_BR]=Filtro de Importação JPEG para o Krita
Name[sv]=Krita JPEG-importfilter
Name[tg]=Филтри воридотии Krita JPEG
Name[tr]=Krita JPEG Alma Filtresi
Name[uk]=Фільтр імпорту JPEG для Krita
Name[wa]=Passete d' abagaedje JPEG di Krita
Name[x-test]=xxKrita JPEG Import Filterxx
Name[zh_CN]=Krita JPEG 导入过滤器
Name[zh_TW]=Krita JPEG 匯入過濾程式
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=application/x-krita
X-KDE-Import=image/jpeg
X-KDE-Library=libkritajpegimport
X-KDE-Weight=1
NoDisplay=true
