[Desktop Entry]
Encoding=UTF-8
Name=Bumpmap filter
Name[eo]=Bumpmap-filtrilo
Name[es]=Filtro de mapa de colisiones
Name[et]=Kühmukaardi filter
Name[ga]=Scagaire Bumpmap
Name[pt]=Filtro de 'bumpmaps'
Name[pt_BR]=Filtro de 'bumpmaps'
Name[sv]=Bulkartefilter
Name[tr]=Kabarcık haritası süzgeci
Name[xx]=xxBumpmap filterxx
Comment=Bumpmap filter
Comment[eo]=Bumpmap-filtrilo
Comment[es]=Filtro de mapa de colisiones
Comment[et]=Kühmukaardi filter
Comment[ga]=Scagaire Bumpmap
Comment[pt]=Filtro de 'bumpmaps'
Comment[pt_BR]=Filtro de 'bumpmaps'
Comment[sv]=Bulkartefilter
Comment[tr]=Kabarcık Haritası Süzgeci
Comment[xx]=xxBumpmap filterxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritabumpmap
X-KDE-Version=2