[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/white_2000x800.kra
Icon=template_cmyk_empty
Name=White 2000 x 800
Name[x-test]=xxWhite 2000 x 800xx
Comment=Creates a white CMYK image of 2000 x 800 pixels.
Comment[x-test]=xxCreates a white CMYK image of 2000 x 800 pixels.xx
X-Krita-Version=2

