[Desktop Entry]
Name=Mind Tree
Name[ca]=Arbre de ment
Name[ca@valencia]=Arbre de ment
Name[cs]=Myšlenkový strom
Name[da]=Tanketræ
Name[en_GB]=Mind Tree
Name[es]=Árbol mental
Name[et]=Ideepuu
Name[it]=Albero mentale
Name[nb]=Tanketre
Name[nds]=Gedankenboom
Name[nl]=Gedachtenboom
Name[pl]=Drzewo pamięci
Name[pt]=Árvore Mental
Name[pt_BR]=Árvore Mental
Name[sv]=Tanketräd
Name[uk]=Дерево запам’ятовування
Name[wa]=Coxhlaedje do tuzaedje
Name[x-test]=xxMind Treexx
Name[zh_TW]=心智圖
X-KDE-ServiceTypes=Calligra/Shape
Type=Service
X-KDE-Library=treeshape
X-Flake-MinVersion=4
X-Flake-PluginVersion=4
