[Desktop Entry]
Name=Mind Tree
Name[da]=Tanketræ
Name[en_GB]=Mind Tree
Name[es]=Árbol mental
Name[et]=Ideepuu
Name[fr]=Arbre de raisonnement
Name[it]=Albero mentale
Name[nb]=Tanketre
Name[nl]=Gedachtenboom
Name[pt]=Árvore Mental
Name[pt_BR]=Árvore Mental
Name[sv]=Tanketräd
Name[uk]=Дерево запам’ятовування
Name[x-test]=xxMind Treexx
Name[zh_TW]=心智圖
X-KDE-ServiceTypes=KOffice/Shape
Type=Service
X-KDE-Library=treeshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
