[Desktop Entry]
Encoding=UTF-8
Name=Oilpaint Filter
Name[fr]=Filtre de peinture à l'huile
Name[x-test]=xxOilpaint Filterxx
Comment=Oilpaint filter
Comment[fr]=Filtre peinture à l'huile
Comment[x-test]=xxOilpaint filterxx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaoilpaintfilter
X-Krita-Version=2
