[Desktop Entry]
Name=Oilpaint Filter
Name[bg]=Филтър маслена боя
Name[ca]=Filtre de pintura a l'oli
Name[ca@valencia]=Filtre de pintura a l'oli
Name[cs]=Filtr olejomalby
Name[cy]=Hidlen Baent Olew
Name[da]=Oliemalerifilter
Name[de]=Ölgemälde-Filter
Name[el]=Φίλτρο ελαιογραφίας
Name[en_GB]=Oilpaint Filter
Name[eo]=Olefarba filtrilo
Name[es]=Filtro de pintura al óleo
Name[et]=Õlimaalifilter
Name[fa]=پالایۀ رنگ روغن
Name[fi]=Öljyvärisuodin
Name[fr]=Filtre de peinture à l'huile
Name[fy]=Oaljefervefilter
Name[gl]=Filtro de Pintura ao Óleo
Name[he]=מסנן צבעי שמן
Name[hi]=आइलपेंट फ़िल्टर
Name[hne]=आइलपेंट फिल्टर
Name[hu]=Olajfestmény szűrő
Name[is]=Olíumálunarsía
Name[it]=Filtro di pittura a olio
Name[ja]=油絵フィルタ
Name[kk]=Майбояу сүзгісі
Name[lt]=Filtras "Aliejinė tapyba"
Name[lv]=Eļļas gleznas filtrs
Name[nb]=Oljemalingsfilter
Name[nds]=Öölbild-Filter
Name[ne]=ओइलपेन्ट फिल्टर
Name[nl]=Olieverffilter
Name[pl]=Filtr farb olejnych
Name[pt]=Filtro de Pintura a Óleo
Name[pt_BR]=Filtro de Pintura a Óleo
Name[ru]=Масляная краска
Name[sk]=Filter olejomaľba
Name[sl]=Filter Oljne barve
Name[sv]=Oljemålningsfilter
Name[tr]=Yağlı Boya Filtresi
Name[uk]=Фільтр масляних фарб
Name[wa]=Passete pondeure a l' ôle
Name[x-test]=xxOilpaint Filterxx
Name[zh_TW]=油畫過濾器
Comment=Oilpaint filter
Comment[bg]=Филтър маслена боя
Comment[ca]=Filtre de pintura a l'oli
Comment[ca@valencia]=Filtre de pintura a l'oli
Comment[cs]=Filtr olejomalby
Comment[cy]=Hidlen baent olew
Comment[da]=Oliemalerifilter
Comment[de]=Ölgemälde-Filter
Comment[el]=Φίλτρο ελαιογραφίας
Comment[en_GB]=Oilpaint filter
Comment[eo]=Olefarba filtrilo
Comment[es]=Filtro de pintura al óleo
Comment[et]=Õlimaalifilter
Comment[fa]=پالایۀ رنگ روغن
Comment[fi]=Öljyvärisuodin
Comment[fr]=Filtre peinture à l'huile
Comment[fy]=Oaljefervefilter
Comment[gl]=Filtro de pintura ao óleo
Comment[he]=מסנן צבעי שמן
Comment[hi]=आइलपेंट फ़िल्टर
Comment[hne]=आइलपेंट फिल्टर
Comment[hu]=Olajfestmény szűrő
Comment[is]=Olíumálunarsía
Comment[it]=Filtro di pittura a olio
Comment[ja]=油絵フィルタ
Comment[kk]=Майбояу сүзгісі
Comment[lv]=Eļļas gleznas filtrs
Comment[nb]=Oljemalingsfilter
Comment[nds]=Öölbild-Filter
Comment[ne]=ओइलपेन्ट फिल्टर
Comment[nl]=Olieverffilter
Comment[pl]=Filtr farb olejnych
Comment[pt]=Filtro de Pintura a Óleo
Comment[pt_BR]=Filtro de pintura a óleo
Comment[ru]=Масляная краска
Comment[sk]=Filter olejomaľba
Comment[sl]=Filter Oljna barva
Comment[sv]=Oljemålningsfilter
Comment[tr]=Yağlı boya filtresi
Comment[uk]=Фільтр масляних фарб
Comment[wa]=Passete pondeure a l' ôle
Comment[x-test]=xxOilpaint filterxx
Comment[zh_TW]=油畫過濾器
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaoilpaintfilter
X-Krita-Version=3
