[Desktop Entry]
Encoding=UTF-8
Name=Oilpaint Filter
Name[ar]=مرشح الرسم الزيتي
Name[bg]=Филтър маслена боя
Name[ca]=Filtre de pintura a l'oli
Name[cy]=Hidlen Baent Olew
Name[da]=Oliemalerifilter
Name[de]=Ölgemälde-Filter
Name[el]=Φίλτρο ελαιογραφίας
Name[es]=Filtro de pintura al óleo
Name[et]=Õlimaalifilter
Name[fr]=Filtre de peinture à l'huile
Name[gl]=Filtro de Pintura ao Óleo
Name[is]=Olíumálunarsía
Name[it]=Filtro di pittura a olio
Name[ja]=油絵フィルタ
Name[nl]=Olieverffilter
Name[pt]=Filtro de Pintura a Óleo
Name[pt_BR]=Filtro de Pintura a Óleo
Name[ru]=Масляная краска
Name[sr]=Филтер за уље на платну
Name[sr@Latn]=Filter za ulje na platnu
Name[sv]=Oljemålningsfilter
Name[tr]=Yağlıboya Süzgeci
Name[xx]=xxOilpaint Filterxx
Name[zh_TW]=油畫過濾器
Comment=Oilpaint filter
Comment[ar]=مرشح الرسم الزيتي
Comment[bg]=Филтър маслена боя
Comment[ca]=Filtre de pintura a l'oli
Comment[cy]=Hidlen baent olew
Comment[da]=Oliemalerifilter
Comment[de]=Ölgemälde-Filter
Comment[el]=Φίλτρο ελαιογραφίας
Comment[eo]=Filtrilo por efektoj de oleo-pentrado
Comment[es]=Filtro de pintura al óleo
Comment[et]=Õlimaalifilter
Comment[fr]=Filtre peinture à l'huile
Comment[gl]=Filtro de pintura ao óleo
Comment[is]=Olíumálunarsía
Comment[it]=Filtro di pittura a olio
Comment[ja]=油絵フィルタ
Comment[nl]=Olieverffilter
Comment[pt]=Filtro de pintura a óleo
Comment[pt_BR]=Filtro de pintura a óleo
Comment[ru]=Масляная краска
Comment[sr]=Филтер за уље на платну
Comment[sr@Latn]=Filter za ulje na platnu
Comment[sv]=Oljemålningsfilter
Comment[tr]=Yağlıboya süzgeci
Comment[xx]=xxOilpaint filterxx
Comment[zh_TW]=油畫過濾器
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaoilpaintfilter
X-Krita-Version=2
