[Desktop Entry]
Encoding=UTF-8
Name=Variations Plugin
Name[da]=Plugin med variationer
Name[de]=Variationen-Plugin
Name[es]=Extensión para variaciones
Name[it]=Plugin delle variazioni
Name[pt]='Plugin' de Variações
Name[pt_BR]='Plugin' de Variações
Name[sr]=Прикључак за варијације
Name[sr@Latn]=Priključak za varijacije
Name[sv]=Insticksprogram med variationer
Name[xx]=xxVariations Pluginxx
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritavariations
X-KDE-Version=2
