[Desktop Entry]
Encoding=UTF-8
Name=Complex Brush
Comment=A brush with complex color loading
ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritacomplexbrush
X-Krita-Version=3
