[Desktop Entry]
Name=Painterly Mixer
Name[ca]=Mesclador de pintor
Name[el]=Μίκτης ζωγραφικής
Name[es]=Mezclador pictórico
Name[et]=Maalimismikser
Name[gl]=Misturador Painterly
Name[it]=Miscelatore pittorico
Name[ne]=कलात्मक मिक्सर
Name[pt]=Mistura de Tintas
Name[pt_BR]=Mistura de Tintas
Name[sv]=Målarfärgsblandare
Name[uk]=Змішувач палітри
Name[x-test]=xxPainterly Mixerxx
Name[zh_TW]=圖畫混合器
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritapainterlymixer
X-Krita-Version=3
