[Desktop Entry]
Encoding=UTF-8
Name=%{APPNAME}
Name[pt_BR]=%{NOME_APLICATIVO}
Name[x-test]=xx%{APPNAME}xx
Comment=%{APPNAME}
Comment[pt_BR]=%{NOME_APLICATIVO}
Comment[x-test]=xx%{APPNAME}xx
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=krita%{APPNAMELC}
X-Krita-Version=3
