[Desktop Entry]
Name=Separate Channels Plugin
Name[bg]=Приставка за отделни канали
Name[ca]=Connector de canals separats
Name[ca@valencia]=Connector de canals separats
Name[da]=Plugin for separate kanaler
Name[de]=„Kanäle trennen“-Modul
Name[el]=Πρόσθετο διαχωρισμού καναλιών
Name[en_GB]=Separate Channels Plugin
Name[eo]=Apartkanal-kromaĵo
Name[es]=Complemento de separación de canales
Name[et]=Kanalite lahutamise plugin
Name[fa]=جدا کردن وصلۀ مجراها
Name[fi]=Erilliset kanavat -liitännäinen
Name[fr]=Module de séparation des canaux
Name[fy]=Plugin foar aparte kanalen
Name[gl]=Plugin de Separación de Canais
Name[he]=תוסף לריבוי ערוצים
Name[hi]=अलग चैनल प्लगइन
Name[hne]=अलग चैनल प्लगइन
Name[hu]=Csatornaszétválasztó modul
Name[is]=Aðgreindar rásir íforrit
Name[it]=Estensione per la separazione dei canali
Name[ja]=チャンネル分離プラグイン
Name[kk]=Арналарды бөлу плагині
Name[lv]=Kanālu atdalīšanas spraudnis
Name[nb]=Programtillegg for atskilte kanaler
Name[nds]=Kanaaltrenn-Moduul
Name[ne]=च्यानल प्लगइन छुट्याउनुहोस्
Name[nl]=Plugin voor aparte kanalen
Name[pl]=Wtyczka oddzielania kanałów
Name[pt]='Plugin' de Separação de Canais
Name[pt_BR]=Plug-in de Separação de Canais
Name[ru]=Разбор изображения по каналам
Name[sk]=Modul oddelenie kanálov
Name[sl]=Vstavek za ločevanje kanalov
Name[sv]=Insticksprogram för separata kanaler
Name[tr]=Kanal Ayırma Eklentisi
Name[uk]=Додаток розділення каналів
Name[uz]=Kanallarni ajratish uchun plagin
Name[uz@cyrillic]=Каналларни ажратиш учун плагин
Name[wa]=Tchôke-divins di distroclaedje des canås
Name[x-test]=xxSeparate Channels Pluginxx
Name[zh_CN]=分离通道插件
Name[zh_TW]=分離色頻外掛程式
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritaseparatechannels
X-Krita-Version=3
