[Desktop Entry]
Name=Together
Name[be]=Разам
Name[bg]=Заедно
Name[ca]=Junts
Name[de]=Zusammen
Name[el]=Μαζί
Name[es]=Juntos
Name[fi]=Yhdessä
Name[gl]=Thogether
Name[hi]=एकसाथ
Name[it]=Insieme
Name[ne]=सँगसँगै
Name[nl]=Tezamen
Name[pt]=Conjunto
Name[pt_BR]=Conjunto
Name[sv]=Tillsammans
Name[ta]=சேர்ந்த
Name[tr]=Birlikte
Name[uk]=Разом
Name[x-test]=xxTogetherxx
Comment=Together
Comment[be]=Разам
Comment[bg]=Заедно
Comment[ca]=Junts
Comment[de]=Zusammen
Comment[el]=Μαζί
Comment[es]=Juntos
Comment[fi]=Yhdessä
Comment[hi]=एकसाथ
Comment[it]=Insieme
Comment[ne]=सँगसँगै
Comment[nl]=Tezamen
Comment[pt]=Conjunto
Comment[pt_BR]=Conjunto
Comment[sv]=Tillsammans
Comment[ta]=சேர்ந்த
Comment[tr]=Birlikte
Comment[uk]=Разом
Comment[x-test]=xxTogetherxx
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritatogether
X-Krita-Version=3
