[Desktop Entry]
Name=DigitalMixer
Comment=DigitalMixer
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritadigitalmixer
X-Krita-Version=3
