[Desktop Entry]
Name=ExtensionsManager
Name[bg]=Управление на разширенията
Name[ca]=GestorExtensions
Name[ca@valencia]=GestorExtensions
Name[da]=Håndtering af udvidelser
Name[de]=Erweiterungsverwaltung
Name[el]=ExtensionsManager
Name[en_GB]=ExtensionsManager
Name[es]=Gestor de extensiones
Name[et]=Laienduste haldur
Name[fi]=Laajennusten hallinta
Name[fr]=ManagerExtensions
Name[gl]=Xestor de engadidos
Name[it]=Gestore delle estensioni
Name[ja]=エクステンションマネージャ
Name[kk]=КеңейтулерБасқару
Name[nb]=ExtensionsManager
Name[nds]=Verwiedernpleger
Name[nl]=Uitbreidingenbeheerder
Name[pl]=MenadżerRozszerzeń
Name[pt]=Gestor de Extensões
Name[pt_BR]=Gerenciador de Extensões
Name[sv]=Utökningshantering
Name[tr]=Eklenti Yöneticisi
Name[ug]=كېڭەيتىلمە باشقۇرغۇچ
Name[uk]=Керування додатками
Name[wa]=Manaedjeu d' sitindaedjes
Name[x-test]=xxExtensionsManagerxx
Name[zh_TW]=延伸管理員
Comment=ExtensionsManager
Comment[bg]=Управление на разширенията
Comment[ca]=GestorExtensions
Comment[ca@valencia]=GestorExtensions
Comment[da]=Håndtering af udvidelser
Comment[de]=Erweiterungsverwaltung
Comment[el]=Διαχειριστής επεκτάσεων
Comment[en_GB]=ExtensionsManager
Comment[es]=Gestor de extensiones
Comment[et]=Laienduste haldur
Comment[fi]=Laajennusten hallinta
Comment[fr]=ManagerExtensions
Comment[gl]=Xestor de engadidos
Comment[it]=Gestore delle estensioni
Comment[ja]=エクステンションマネージャ
Comment[kk]=Кеңейтулерді басқару
Comment[nb]=ExtensionsManager
Comment[nds]=Verwiedernpleger
Comment[nl]=Uitbreidingenbeheerder
Comment[pl]=MenadżerRozszerzeń
Comment[pt]=Gestor de Extensões
Comment[pt_BR]=Gerenciador de Extensões
Comment[sv]=Utökningshantering
Comment[tr]=Eklenti Yöneticisi
Comment[ug]=كېڭەيتىلمە باشقۇرغۇچ
Comment[uk]=Керування додатками
Comment[wa]=Manaedjeu d' sitindaedjes
Comment[x-test]=xxExtensionsManagerxx
Comment[zh_TW]=延伸管理員
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritaextensionsmanager
X-Krita-Version=4
