[Desktop Entry]
Name=ExtensionsManager
Name[ca]=GestorExtensions
Name[da]=Håndtering af udvidelser
Name[de]=Erweiterungsverwaltung
Name[en_GB]=ExtensionsManager
Name[es]=Gestor de extensiones
Name[et]=Laienduste haldur
Name[gl]=Xestor de engadidos
Name[nb]=ExtensionsManager
Name[nds]=Verwiedernpleger
Name[nl]=Uitbreidingenbeheerder
Name[pt]=Gestor de Extensões
Name[pt_BR]=Gerenciador de Extensões
Name[sv]=Utökningshantering
Name[tr]=Eklenti Yöneticisi
Name[uk]=Керування додатками
Name[wa]=Manaedjeu d' sitindaedjes
Name[x-test]=xxExtensionsManagerxx
Name[zh_TW]=延伸管理員
Comment=ExtensionsManager
Comment[ca]=GestorExtensions
Comment[da]=Håndtering af udvidelser
Comment[de]=Erweiterungsverwaltung
Comment[en_GB]=ExtensionsManager
Comment[es]=Gestor de extensiones
Comment[et]=Laienduste haldur
Comment[gl]=Xestor de engadidos
Comment[nb]=ExtensionsManager
Comment[nds]=Verwiedernpleger
Comment[nl]=Uitbreidingenbeheerder
Comment[pt]=Gestor de Extensões
Comment[pt_BR]=Gerenciador de Extensões
Comment[sv]=Utökningshantering
Comment[tr]=Eklenti Yöneticisi
Comment[uk]=Керування додатками
Comment[wa]=Manaedjeu d' sitindaedjes
Comment[x-test]=xxExtensionsManagerxx
Comment[zh_TW]=延伸管理員
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritaextensionsmanager
X-Krita-Version=3
