[Desktop Entry]
Encoding=UTF-8
Name=Watercolor Paint Plugin
Name[ca]=Connector de pintura aquarel·la
Name[cy]=Ategyn Paent Dyfrlliw
Name[da]=Plugin for vandfarvemaling
Name[de]=Plugin für Wasserfarben-Effekte
Name[el]=Πρόσθετο υδατογραφίας
Name[es]=Extensión de pintura de acuarela
Name[et]=Vesivärvijoonistuse plugin
Name[eu]=Akuarelazko margoen plugina
Name[fi]=Vesivärikuvaliitännäinen
Name[fr]=Module de dessin à l'aquarelle
Name[he]=תוסף צביעה בצבעי מים
Name[hu]=Vízfesték modul
Name[is]=Vatnslita íforrit
Name[it]=Plugin per la pittura ad acquerello
Name[ja]=水彩プラグイン
Name[ms]=Plugin Warna Cat Air 
Name[nb]=Paint-programtillegg for vannfarger
Name[nl]=Waterkleur schilderplugin
Name[nn]=Programtillegg for vassfargar
Name[pl]=Wtyczka malowania akwarelami
Name[pt]='Plugin' de Pintura a Água
Name[pt_BR]=Plug-in de Marca D'água
Name[ru]=Акварель
Name[sl]=Vstavek za slikanje z vodnimi barvami
Name[sr]=Прикључак за сликање воденим бојама
Name[sr@Latn]=Priključak za slikanje vodenim bojama
Name[sv]=Insticksprogram för vattenfärgsmålning
Name[uk]=Втулок малювання акварельними фарбами
Name[zh_CN]=水彩绘画插件
Comment=Color model and tools for painting with simulated watercolors
Comment[ca]=Model de color i eines per a pintar amb aquarel·les simulades
Comment[cy]=Model lliw ac offer ar gyfer paentio efo dyfrliwiau wedi'u hefelychu
Comment[da]=Farvemodel og værktøjer til at male med simulerede vandfarver
Comment[de]=Farbmodell und Werkzeuge zum Malen mit simulierten Wasserfarben
Comment[el]=Χρωματικό μοντέλο και εργαλεία για τη ζωγραφική με εξομοίωση χρωμάτων υδατογραφίας
Comment[en_GB]=Colour model and tools for painting with simulated watercolours
Comment[es]=Modelo de color y herramientas para pintar con acuarelas simuladas
Comment[et]=Vesivärvijoonistuse simulatsiooni värvimudel ja tööriistad
Comment[eu]=Akuarelen itxuraz margotzeko tresnak eta kolore-eredua
Comment[fi]=Värimalli ja työkalut simuloiduille vesiväreille
Comment[fr]=Modèle de couleurs et outils pour dessiner avec des couleurs simulées d'aquarelle
Comment[he]=מודל צבעים וכלים לצביעה תוך הדמיה של צבעי מים
Comment[hu]=Színmodell és eszközök szimulált vízfestékes képekhez
Comment[is]=Litategundir og tól til að teikna með vatnslitum
Comment[it]=Modello di colore e strumenti per il disegno con acquerelli simulati
Comment[ja]=水彩画をシミュレートして描画するためのカラーモデルとツール
Comment[ms]=Model warna dan alat lukisan dengan cat air tiruan
Comment[nb]=Fargemodell og verktøy for maling med simulerte vannfarger
Comment[nl]=Kleurmodel en -gereedschappen voor het schilderen met gesimuleerde waterkleuren
Comment[nn]=Fargemodell og verktøy for måling med simulerte vassfargar
Comment[pl]=Przestrzeń barw oraz narzędzia do symulacji malowania farbami akwarelowymi
Comment[pt]=Modelo de cor e ferramentas para pintar com cores aquosas simuladas
Comment[pt_BR]=Modelo de cor e ferramentas para pintura  de cores simuladas de água
Comment[ru]=Цветовое пространство и инструменты рисования акварелью
Comment[sl]=Barvni model in orodja za slikanje s similiranimi vodnimi barvami
Comment[sr]=Модел боја и алати за сликање симулираним воденим бојама
Comment[sr@Latn]=Model boja i alati za slikanje simuliranim vodenim bojama
Comment[sv]=Färgmodell och verktyg för att måla med simulerade vattenfärger
Comment[zh_CN]=模拟水彩绘画的色彩模型和工具
ServiceTypes=Krita/ColorSpace,Krita/ViewPlugin
Type=Service
X-KDE-Library=kritawetplugin
X-Krita-Version=2
