[Desktop Entry]
Icon=
Name=Krita exr Import Filter
Name[bg]=Филтър за импортиране от exr в Krita
Name[ca]=Filtre d'importació exr per al Krita
Name[da]=Krita exr-importfilter
Name[de]=Krita exr-Importfilter
Name[el]=Φίλτρο εισαγωγής exr του Krita
Name[en_GB]=Krita exr Import Filter
Name[es]=Filtro de importación de exr de Krita
Name[et]=Krita exr impordifilter
Name[fy]=Krita  exr Ymportfilter
Name[ga]=Scagaire Iompórtála exr Krita
Name[gl]=Filtro de Importación de Krita exr 
Name[hi]=केरिता exr आयात फ़िल्टर
Name[hne]=केरिता exr आयात फिल्टर
Name[it]=Filtro di importazione da exr di Krita
Name[ja]=Krita exr インポートフィルタ
Name[kk]=exr -> Krita импорт сүзгісі
Name[lv]=Krita exr importa filtrs
Name[nb]=Krita exr importfilter
Name[nds]=exr-Importfilter för Krita
Name[nl]=Krita exr Importfilter
Name[pt]=Filtro de Importação de exr para o Krita
Name[pt_BR]=Filtro de Importação exr para o Krita
Name[sv]=Krita exr-importfilter
Name[tr]=Krita exr Alma Filtresi
Name[uk]=Фільтр імпорту exr у Krita
Name[wa]=Passete d' abagaedje exr di Krita
Name[x-test]=xxKrita exr Import Filterxx
Name[zh_CN]=Krita exr 导入过滤器
Name[zh_TW]=Krita exr 匯入過濾程式
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=application/x-krita
X-KDE-Import=image/x-exr
X-KDE-Library=libkritaexrimport
X-KDE-Weight=1
