[Desktop Entry]
Icon=
Name=Krita exr Export Filter
Name[bg]=Филтър за изнасяне от Krita в exr
Name[bs]=Krita exr izvozni filter
Name[ca]=Filtre d'exportació exr per al Krita
Name[ca@valencia]=Filtre d'exportació exr per al Krita
Name[cs]=Exportní filtr do formátu exr pro Kritu
Name[da]=Exr-eksportfilter til Krita
Name[de]=Krita-exr-Exportfilter
Name[el]=Φίλτρο εξαγωγής exr του Krita
Name[en_GB]=Krita exr Export Filter
Name[es]=Filtro de Krita de exportación a exr
Name[et]=Krita exr ekspordifilter
Name[eu]=Krita-ren EXR esportazio-iragazkia
Name[fi]=Kritan exr-vientisuodatin
Name[fr]=Filtre d'exportation exr de Krita
Name[ga]=Scagaire Easpórtála exr Krita
Name[gl]=Filtro para Krita de exportación de exr
Name[hu]=Krita exr exportszűrő
Name[it]=Filtro di esportazione exr per Krita
Name[ja]=Krita exr エクスポートフィルタ
Name[kk]=Krita -> exr экспорт сүзгісі
Name[ko]=Krita EXR 내보내기 필터
Name[lt]=Krita exr eksportavimo filtras
Name[nb]=exr-eksportfilter for Krita
Name[nds]=exr-Exportfilter för Krita
Name[nl]=exr-exportfilter voor Krita
Name[pl]=Filtr eksportu exr z Krita
Name[pt]=Filtro de Exportação de EXR para o Krita
Name[pt_BR]=Filtro de exportação de EXR para Krita
Name[ru]=Фильтр экспорта рисунков Krita в exr
Name[sk]=Exportný filter Krita exr
Name[sl]=Izvozni filter exr za Krito
Name[sv]=Krita exr-exportfilter
Name[tr]=Krita exr Dışa Aktarım Filtresi
Name[uk]=Фільтр експорту exr для Krita
Name[wa]=Passete d' ebagaedje exr di Krita
Name[x-test]=xxKrita exr Export Filterxx
Name[zh_CN]=Krita exr 导出过滤器
Name[zh_TW]=Krita exr 匯出過濾程式
X-KDE-ServiceTypes=Krita/FileFilter
Type=Service
X-KDE-Export=image/x-exr,application/x-extension-exr
X-KDE-Import=application/x-krita
X-KDE-Library=kritaexrexport
X-KDE-Weight=1
