[Desktop Entry]
Encoding=UTF-8
Name=Scripting plugin
Name[el]=Πρόσθετο γραφής σεναρίων
Name[fr]=Module de scriptage
Name[x-test]=xxScripting pluginxx
Comment=Allow execution of scripts
Comment[el]=Επιτρέπει την εκτέλεση σεναρίων
Comment[fr]=Permet d'exécuter des scripts
Comment[x-test]=xxAllow execution of scriptsxx
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritascripting
X-Krita-Version=3
