[Desktop Entry]
Encoding=UTF-8
Name=Scripting plugin
Comment=Allow to execute scripts
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritascripting
X-KDE-Version=2
