<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui library="kritascripting" version="1">
  <MenuBar>
    <Menu name="Scripts"><text>&amp;Scripts</text>
      <Separator/>
      <Action name="loadscript"/>
      <Action name="loadandexecutescript"/>
      <Action name="showmanager"/>
    </Menu>
  </MenuBar>
</kpartgui>
