[Desktop Entry]
Name=Soft brush
Name[ca]=Pinzell tou
Name[ca@valencia]=Pinzell tou
Name[da]=Blød pensel
Name[de]=Weicher Pinsel
Name[en_GB]=Soft brush
Name[es]=Pincel suave
Name[et]=Pehme pintsel
Name[fi]=Pehmeä sivellin
Name[fr]=Brosse adoucissante
Name[it]=Pennello morbido
Name[ja]=Soft ブラシ
Name[nb]=Myk pensel
Name[nds]=Week Pinsel
Name[nl]=Zachte penseel
Name[pt]=Pincel suave
Name[pt_BR]=Pincel suave
Name[sl]=Mehak čopič
Name[sv]=Mjuk pensel
Name[uk]=М’який пензель
Name[wa]=Doûs pincea
Name[x-test]=xxSoft brushxx
Name[zh_TW]=軟筆刷
X-KDE-ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritasoftpaintop
X-Krita-Version=3
