[Desktop Entry]
Name=spacenav
Name[it]=Navigatore spaziale
Name[ta]=இடம் தேடி
Comment=spacenav
Comment[it]=Navigatore spaziale
Comment[ta]=இடம் தேடி
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritaspacenav
X-Krita-Version=3
