[Desktop Entry]
Encoding=UTF-8
Name=Selection Tools
Name[br]=Ostilhoù choazh
Name[ca]=Eines de selecció
Name[cy]=Offer Detholi
Name[da]=Markeringsværktøj
Name[de]=Auswahlwerkzeuge
Name[el]=Εργαλεία επιλογής
Name[es]=Herramientas de selección
Name[et]=Valikutööriistad
Name[eu]=Hautapen-tresnak
Name[fi]=Valintatyökalut
Name[fr]=Outils de sélection
Name[ga]=Uirlisí Roghnúcháin
Name[he]=כלי בחירה
Name[hu]=Kiválasztó eszközök
Name[is]=Valtól
Name[it]=Strumenti di selezione
Name[ja]=選択ツール
Name[km]=ឧបករណ៍​ជ្រើស​
Name[ms]=Alat Pemilihan
Name[nb]=Velgeverktøy
Name[nl]=Selectiegereedschappen
Name[nn]=Veljeverktøy
Name[pl]=Narzędzia wyboru
Name[pt]=Ferramentas de Selecção
Name[pt_BR]=Ferramentas de Seleção
Name[ru]=Инструменты выделения
Name[se]=Válljenreaiddut
Name[sk]=Štetec výberu
Name[sl]=Orodja za izbiro
Name[sr]=Алати за избор
Name[sr@Latn]=Alati za izbor
Name[sv]=Markeringsverktyg
Name[uk]=Засоби виділення
Name[uz]=Танлаш воситалари
Name[zh_CN]=选择工具
Name[zh_TW]=選取區工具
ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritaselectiontools
X-Krita-Version=2
