[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=mutator
X-Krita-Manual=mutator.html
Name=Mutator
Name[ca]=Mutador
Name[ca@valencia]=Mutador
Name[eo]=Mutaciilo
Name[es]=Mutador
Name[eu]=Mutatzailea
Name[fr]=Mutateur
Name[gl]=Mutador
Name[it]=Mutatore
Name[ka]=მუტატორი
Name[nl]=Mutator
Name[sl]=Mutator
Name[sv]=Mutera
Name[tr]=Mutasyoncu
Name[uk]=Мутатор
Name[x-test]=xxMutatorxx
Name[zh_CN]=绘制参数随机调整
Comment=Manually mutate your brush and color settings to add variation.
Comment[ca]=Muta manualment la configuració del pinzell i el color per a afegir una variació.
Comment[ca@valencia]=Muta manualment la configuració del pinzell i el color per a afegir una variació.
Comment[eo]=Permane mutaciu vian penikan kaj koloran agordon por alidoni variadon.
Comment[es]=Modificar manualmente la configuración de pincel y de color para añadir variación.
Comment[eu]=Zure pintzel- eta kolore-ezarpenak eskuz mutatu bariazioa gehitzeko.
Comment[fr]=Modifiez manuellement vos paramètres de brosses et de couleurs pour ajouter une variation.
Comment[gl]=Mute manualmente as opcións de pincel e de cor para engadir variedade.
Comment[it]=Muta manualmente le impostazioni del tuo pennello e dei colori per aggiungere delle variazioni.
Comment[ka]=მოახდინეთ თქვენი ფუნჯის ხელით მუტაცია და ფერის ცვლილებები ვარიაციების დასამატებლად.
Comment[nl]=Muteer uw penseel en kleurinstellingen handmatig om variatie toe te voegen.
Comment[sl]=Ročno mutirajte nastavitve čopiča in barve, da dodate različice.
Comment[sv]=Mutera penseln och färginställningarna manuellt för att lägga till variation
Comment[tr]=Varyasyonlar eklemek için fırçalarınızı ve renk ayarlarınızı elle değiştirin.
Comment[uk]=Мутація параметрів пензля і кольору вручну для додавання варіативності.
Comment[x-test]=xxManually mutate your brush and color settings to add variation.xx
Comment[zh_CN]=手动对笔刷和颜色设置进行随机调整以增加变化。
