[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=mutator
X-Python-2-Compatible=false
X-Krita-Manual=mutator.html
Name=Mutator
Comment=Manually mutate your brush and color settings to add variation.
