[Desktop Entry]
Icon=
Name=Perspective transform Tool
Name[bg]=Инструмент за преобразуване на перспектива
Name[ca]=Eina de transformació de perspectiva
Name[ca@valencia]=Eina de transformació de perspectiva
Name[da]=Perspectivetransformeringsværktøj
Name[de]=Perspektive-Transformationswerkzeug
Name[el]=Εργαλείο προοπτικού μετασχηματισμού
Name[en_GB]=Perspective transform Tool
Name[eo]=Perspektivŝanĝo-ilo
Name[es]=Herramienta de transformación en perspectiva
Name[et]=Perspektiivteisenduse tööriist
Name[fa]=ابزار تبدیل بُعدنما
Name[fi]=Perspektiivin muunnostyökalu
Name[fr]=Outils de transformation de perspective
Name[fy]=Perspektive ferfoarm ark
Name[gl]=Ferramentas de Transformación de Perspectiva
Name[hi]=पर्सपेक्टिव ट्रांसफ़ॉर्म औज़ार
Name[hne]=पर्सपेक्टिव ट्रांसफारम औजार
Name[hu]=Perspektívaátalakító eszköz
Name[it]=Strumento di trasformazione della prospettiva
Name[ja]=視点変更ツール
Name[kk]=Перспектива түрлендіру құралы
Name[lv]=Perspektīvas transofrmācijas rīks
Name[nb]=Verktøy for perspektivtransformasjon
Name[nds]=Warktüüch för't Kiekwinkeltopassen
Name[ne]=दृश्यात्मक रुपान्तरण उपकरण
Name[nl]=Perspectiefrooster-gereedschap
Name[pl]=Narzędzie zmiany perspektywy
Name[pt]=Ferramenta de Transformação em Perspectiva
Name[pt_BR]=Ferramenta de Transformação em Perspectiva
Name[ru]=Перспектива
Name[sk]=Perspektívna transformácia
Name[sl]=Orodje za transformacijo perspektive
Name[sv]=Perspektivtransformverktyg
Name[tr]=Perspektif dönüşüm Aracı
Name[uk]=Засіб перспективи
Name[wa]=Usteye di candjaedje del perspective
Name[x-test]=xxPerspective transform Toolxx
Name[zh_TW]=透視轉換工具
X-KDE-ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolperspectivetransform
X-Krita-Version=3
