[Desktop Entry]
Encoding=UTF-8
Icon=
Name=Perspective transform Tool
Name[da]=Perspectivetransformeringsværktøj
Name[es]=Herramienta Transformar perspectiva
Name[et]=Perspektiivteisenduse tööriist
Name[nl]=Perspectiefrooster-gereedschap
Name[sv]=Perspektivtransformverktyg
ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolperspectivetransform
X-Krita-Version=2
