[Desktop Entry]
Encoding=UTF-8
Name=Default Tools
Name[el]=Προκαθορισμένα εργαλεία
Name[fr]=Outils par défaut
Name[x-test]=xxDefault Toolsxx
ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritadefaulttools
X-Krita-Version=3
