[Desktop Entry]
Type=Link
URL=.source/Anim-Jp-EN.kra
Icon=template_animation
Name=Animation-Japanese-En
Name[ar]=حركة يابانية (إنجليزي)
Name[ca]=Animació-Japonès-EN
Name[ca@valencia]=Animació-Japonés-EN
Name[de]=Animation-Japanisch-En
Name[el]=Εφέ-κίνησης-Ιαπωνικό-En
Name[en_GB]=Animation-Japanese-En
Name[es]=Animación-Japonés-En
Name[et]=Animation-Japanese-En
Name[eu]=Animazioa-Japoniarra-En
Name[fi]=Animaatio-japanilainen-EN
Name[fr]=Animation japonaise (en)
Name[gl]=Animación-xaponesa-en-inglés
Name[is]=Hreyfimynd-Japanska-En
Name[it]=Animazione-Giapponese-EN
Name[ja]=日本式アニメ(英語版)
Name[nl]=Animatie-Japans-En
Name[pl]=Animacja-Japońska-En
Name[pt]=Animação-Japonês-EN
Name[pt_BR]=Animation-Japanese-En
Name[ru]=Анимация-японская-англ
Name[sk]=Animation-Japanese-En
Name[sv]=Animering-japanska-en
Name[tr]=Canlandırma-Japonca-İngilizce
Name[uk]=Японська анімація (англійською)
Name[x-test]=xxAnimation-Japanese-Enxx
Name[zh_CN]=日式动画 (英文图层名)
Name[zh_TW]=動畫-Japanese-En
