[Desktop Entry]
Type=Link
URL=.source/Anim-Jp-JP.kra
Icon=template_animation
Name=Animation-Japanese-JP
Name[ca]=Animació-Japonès-JP
Name[es]=Animación-Japonés-JP
Name[nl]=Animatie-Japans-JP
Name[pl]=Animacja-Japońska-JP
Name[pt]=Animação-Japonês-JP
Name[sv]=Animering-japanska-jp
Name[uk]=Японська анімація (японською)
Name[x-test]=xxAnimation-Japanese-JPxx
