[Desktop Entry]
Type=Link
URL=.source/Anim-Jp-JP.kra
Icon=template_animation
Name=Animation-Japanese-JP
Name[ar]=حركة يابانية (ياباني)
Name[bg]=Animation-Japanese-JP
Name[ca]=Animació-Japonès-JP
Name[ca@valencia]=Animació-Japonés-JP
Name[de]=Animation-Japanisch-JP
Name[el]=Εφέ-κίνησης-Ιαπωνικό-JP
Name[en_GB]=Animation-Japanese-JP
Name[eo]=Animacio-japana-jp
Name[es]=Animación-Japonés-JP
Name[et]=Animation-Japanese-JP
Name[eu]=Animazioa-Japoniarra-JP
Name[fi]=Animaatio-japanilainen-JP
Name[fr]=Animation japonaise (jp)
Name[gl]=Animación-xaponesa-en-xaponés
Name[hi]=एनिमेशन-जापानी-जापानी
Name[hu]=Japán stílusú, angol nyelvű
Name[id]=Animation-Japanese-JP
Name[is]=Hreyfimynd-Japanska-JP
Name[it]=Animazione-Giapponese-JP
Name[ja]=日本式アニメ(日本語版)
Name[ka]=ანიმაცია იაპონური-იაპ
Name[ko]=애니메이션-일본어-JP
Name[nl]=Animatie-Japans-JP
Name[nn]=Japansk animasjon – japansk
Name[pl]=Animacja-Japońska-JP
Name[pt]=Animação-Japonês-JP
Name[pt_BR]=Animation-Japanese-JP
Name[ru]=Анимация-японская-японск
Name[sk]=Animation-Japanese-JP
Name[sl]=Animacija-japonsko-JP
Name[sv]=Animering-japanska-jp
Name[tr]=Japonca Canlandırma
Name[uk]=Японська анімація (японською)
Name[x-test]=xxAnimation-Japanese-JPxx
Name[zh_CN]=日式动画 (日语图层名称)
Name[zh_TW]=日本動畫 (JP)
