[Desktop Entry]
Name=Modify Selection
Name[bg]=Промяна на маркираното
Name[br]=Kemmañ an dibab
Name[ca]=Selecció de modificació
Name[ca@valencia]=Selecció de modificació
Name[da]=Ændr markering
Name[de]=Auswahl verändern
Name[el]=Τροποποίηση επιλογής
Name[en_GB]=Modify Selection
Name[eo]=Modifi elekton
Name[es]=Modificar la selección
Name[et]=Valiku muutmine
Name[fa]=تغییر گزینش
Name[fi]=Muuta valintaa
Name[fr]=Modifier la sélection
Name[fy]=Seleksje oanpasse
Name[ga]=Athraigh an Roghnúchán
Name[gl]=Modificación da Selección
Name[hi]=चयन परिवर्धित करें
Name[hne]=चयन सुधारव
Name[hu]=A kijelölés módosítása
Name[it]=Modifica la selezione
Name[ja]=選択領域を変更
Name[kk]=Таңдауын өзгерту
Name[lv]=Mainīt izvēli
Name[nb]=Endre utvalg
Name[nds]=Köör ännern
Name[ne]=चयन परिमार्जन गर्नुहोस्
Name[nl]=Selectie aanpassen
Name[pl]=Zmiana wyboru
Name[pt]=Modificar a Selecção
Name[pt_BR]=Modificar Seleção
Name[ru]=Выделение
Name[sk]=Zmeniť výber
Name[sl]=Spremeni izbiro
Name[sv]=Ändra markering
Name[tr]=Seçimi Düzenle
Name[uk]=Зміна виділення
Name[wa]=Candjî tchoes
Name[x-test]=xxModify Selectionxx
Name[zh_CN]=修改选择
Name[zh_TW]=變更選取
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritamodifyselection
X-Krita-Version=3
