[Desktop Entry]
Name=MyPaint brush
Name[ca]=Pinzell de MyPaint
Name[es]=Pincel MyPaint
Name[et]=MyPainti pintsel
Name[nl]=MijnTekenen-penseel
Name[pt]=Pincel do MyPaint
Name[pt_BR]=Pincel do MyPaint
Name[sv]=Min målarpensel
Name[uk]=Мій пензель
Name[x-test]=xxMyPaint brushxx
X-KDE-ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritamypaintpaintop
X-Krita-Version=3
