[Desktop Entry]
Name=MyPaint brush
Name[ca]=Pinzell de MyPaint
Name[ca@valencia]=Pinzell de MyPaint
Name[en_GB]=MyPaint brush
Name[es]=Pincel MyPaint
Name[et]=MyPainti pintsel
Name[fi]=MyPaint-sivellin
Name[gl]=Pincel MyPaint
Name[nb]=MyPaint-pensel
Name[nds]=MyPaint-Pinsel
Name[nl]=MijnTekenen-penseel
Name[pt]=Pincel do MyPaint
Name[pt_BR]=Pincel do MyPaint
Name[sv]=Min målarpensel
Name[uk]=Мій пензель
Name[x-test]=xxMyPaint brushxx
Name[zh_TW]=MyPaint 筆刷
X-KDE-ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritamypaintpaintop
X-Krita-Version=3
