[Desktop Entry]
Encoding=UTF-8
Name=Transform Tool
Name[br]=Ostilh treuzfurmiñ
Name[ca]=Eina de transformació
Name[cy]=Erfyn Trawsffurfio
Name[da]=Transformeringsværktøj
Name[de]=Transformation-Werkzeug
Name[el]=Εργαλείο μετασχηματισμού
Name[es]=Herramienta para transformar
Name[et]=Transformeermistööriist
Name[fr]=Outil transformation
Name[ga]=Uirlis Trasfhoirmithe
Name[hu]=Átalakító eszköz
Name[is]=Ummyndunartól
Name[it]=Strumento di trasformazione
Name[ja]=変換ツール
Name[nl]=Vervormgereedschap
Name[pl]=Narzędzie przekształcania
Name[pt]=Ferramenta de Transformação
Name[pt_BR]=Ferramenta de Transformação
Name[ru]=Преобразование
Name[sl]=Orodje za pretvorbo
Name[sr]=Алат за трансформацију
Name[sr@Latn]=Alat za transformaciju
Name[sv]=Transformeringsverktyg
Name[zh_CN]=变形工具
ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatooltransform
X-Krita-Version=2
