<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (c) 2011-2012 KO GmbH.  All rights reserved.
    Copyright (c) 2011-2012 Stuart Dickson <stuartmd@kogmbh.com>
     
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.    
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Information such as name and manufacturer stored in include file -->
  <?include "krita.wxi" ?>
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(env.C2WINSTALL_VERSION)" Manufacturer="$(var.ProductManufacturer)" UpgradeCode="bbef51b4-5abf-434c-bb5e-90030a3567ff">
    <Package Description="Krita - Creative Freedom" Comments="$(env.C2WINSTALL_VERSIONSTRING)" InstallerVersion="300" Compressed="yes"/>
    <Media Id="1" Cabinet="simple.cab" EmbedCab="yes"/>
    <!-- Support upgrades -->
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes"/>
    <Property Id="ARPPRODUCTION" Value="Icon.Krita.ico"/>
    <MajorUpgrade AllowDowngrades="yes" MigrateFeatures="no"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="CALLIGRADIR" Name="Krita">
          <Component Id="ENV.BAT" DiskId="1" Guid="f1d92f57-bdf8-481c-95fc-b43e1720a69f">
				  <File Id="ENV.BAT" Name="env.bat" Source="res\package\env.bat"/>

          </Component>
          <Directory Id="bindir" Name="bin">
              <Component Id="MainExecutable" Guid="9049a848-b855-493f-ab7e-4841f4f53650">
                       <File Id="KritaExe" Name="krita.exe" Source="$(env.C2WINSTALL_INPUT)\bin\krita.exe" KeyPath="yes"/>
                        <Shortcut Id="ProgramMenu.Krita" Directory="ProgramMenuDir" Name="Krita" WorkingDirectory="CALLIGRADIR" Icon="Icon.Krita.exe" IconIndex="0" Advertise="yes"/>
                       <Shortcut Id="Desktop.CalligraKrita" Directory="DesktopFolder" Name="Krita" WorkingDirectory="CALLIGRADIR" Icon="Icon.Krita.exe" IconIndex="0" Advertise="yes"/>
                       <Shortcut Id="ProgramMenu.Tools.UninstallProduct" Directory="ProgramMenuDir.Tools" Name="Uninstall Krita" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Description="Uninstalls Krita"/>
             </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Krita">
          <Component Id="ProgramMenuDir" Guid="*">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\$(var.ProductManufacturer)\Krita" Type="string" Value="" KeyPath="yes"/>
          </Component>
          <Directory Id="ProgramMenuDir.Tools" Name="Tools">
            <Component Id="ProgramMenuDir.Tools" Guid="{fb095812-3cb5-482c-859c-26557fc5e305}">
              <RemoveFolder Id="ProgramMenuDir.Tools" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\$(var.ProductManufacturer)\Krita" Type="string" Value="" KeyPath="yes"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <!-- Allow installation of shortcuts on the desktop -->
      <!-- TODO make these optional -->
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
    <!-- Currently just the one feature for all of Calligra + dependencies -->
    <Feature Id="DefaultFeature" Title="Krita" Level="1">
      <ComponentGroupRef Id="CG.VC2010_Support"/>
      <ComponentRef Id="ENV.BAT"/>
      <ComponentRef Id="MainExecutable"/>
      <!-- Packaged by heat from the %C2WINSTALL_INPUT% folder -->
      <ComponentGroupRef Id="CalligraBaseFiles"/>
      <!-- Program Menu -->
      <ComponentRef Id="ProgramMenuDir"/>
      <ComponentRef Id="ProgramMenuDir.Tools"/>
    </Feature>
    <!-- Icons -->
    <Icon Id="Icon.Krita.exe" SourceFile="$(env.C2WINSTALL_INPUT)\bin\KRITA.EXE"/>
    <!-- Custom UI -->
    <WixVariable Id="WixUILicenseRtf" Value="res\UIExtension\gpl-2.0.rtf"/>
    <WixVariable Id="WixUIBannerBmp" Overridable="yes" Value="res\UIExtension\Bitmaps\bannrbmp.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Overridable="yes" Value="res\UIExtension\Bitmaps\dlgbmp.bmp"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UI>
      <UIRef Id="WixUI_MondoCalligra"/>
    </UI>
    <!-- Custom post-install actions 
             Need to run update-mime-database, followed by kbuildsycoca4 -->
    <CustomAction Id="RunUpdateMimeDb" FileKey="ENV.BAT" ExeCommand="update-mime-database &quot;[CALLIGRADIR]share\mime&quot;" Return="ignore" Impersonate="no" Execute="deferred"/>
    <CustomAction Id="RunKBuildSycoca4" FileKey="ENV.BAT" ExeCommand="kbuildsycoca4 --noincremental" Return="ignore" Impersonate="no" Execute="deferred"/>
    <CustomAction Id="FirstMsg" Script="vbscript" Execute="commit" Return="ignore"><![CDATA[
                        msgbox "About to run custom actions..."
                        msgbox "Dir: " & Session.Property("CALLIGRADIR")
                      ]]></CustomAction>
    <CustomAction Id="SecondMsg" Script="vbscript" Execute="commit" Return="ignore"><![CDATA[
                        msgbox "Finished Custom Actions"
                      ]]></CustomAction>
    <InstallExecuteSequence>
      <!-- Only on successful install/upgrade -->
      <Custom Action="RunUpdateMimeDb" After="PublishProduct">NOT Installed</Custom>
      <Custom Action="RunKBuildSycoca4" After="RunUpdateMimeDb">NOT Installed</Custom>
      <ScheduleReboot After="InstallFinalize"/>
    </InstallExecuteSequence>
  </Product>
</Wix>
