[Desktop Entry]
Name=KOffice Painting and Image Editor Component
Name[bg]=Компонент за рисуване и редактиране на изображения в KOffice
Name[ca]=Component de manipulació d'imatges del KOffice
Name[ca@valencia]=Component de manipulació d'imatges del KOffice
Name[cy]=Cydran Peintio a Golygu Delweddau KOffice
Name[da]=Koffice male- og billedredigeringskomponent
Name[de]=KOffice-Komponente für Malen und Bildbearbeitung
Name[el]=Συστατικό επεξεργασίας και ζωγραφικής εικόνων του KOffice
Name[en_GB]=KOffice Painting and Image Editor Component
Name[eo]=KOffice Pentrad- kaj Bildredaktad-komponanto
Name[es]=Componente de pintura y de edición de imágenes de KOffice
Name[et]=KOffice'i joonistamise ja pilditöötluse komponent
Name[fa]=مؤلفۀ ویرایشگر تصویر و رنگ‌آمیزی KOffice
Name[fi]=KOfficen maalaus- ja kuvankäsittelykomponentti
Name[fr]=Composant manipulation d'images et dessin de KOffice
Name[fy]=KOffice-komponint foar ôffbydingsmanipulaasje
Name[gl]=Componente de Debuxo e Edición de Imaxes de KOffice
Name[he]=רכיב של KOffice לצביעה ועריכת תמונות
Name[hi]=केऑफ़िस पेंटिंग तथा छवि संपादक अवयव
Name[hne]=केआफिस पेंटिंग अउ फोटू संपादक अवयव
Name[hu]=KOffice rajzoló és képszerkesztő komponens
Name[is]=KOffice málunar og myndritils eining
Name[it]=Componente per il disegno e la manipolazione di immagini di KOffice
Name[ja]=KOffice 描画と画像編集コンポーネント
Name[kk]=KOffice-тің кескінін салу және өңдеу бағдарламасы
Name[lv]=KOffice zīmēšanas un attēlu apstrādes komponente
Name[nb]=KOffice-komponent for maling og bildemanipulasjon
Name[nds]=KOffice-Komponent för't Malen un Bildbewerken
Name[ne]=केडीई कार्यालय पेन्टिङ र छवि सम्पादक अवयव
Name[nl]=KOffice-component voor afbeeldingsmanipulatie
Name[pl]=Komponent edycji zdjęć oraz rysunków dla KOffice
Name[pt]=Componente de Edição e Pintura de Imagens do KOffice
Name[pt_BR]=Componente de Edição e Pintura de Imagens do KOffice
Name[ru]=Компонент рисования и редактирования изображений KOffice
Name[sk]=KOffice modul na úpravu a maľovanie obrázkov
Name[sl]=Komponenta za slikanje in urejanje slik za KOffice
Name[sv]=Koffice målnings- och bildredigeringskomponent
Name[tr]=KOffice Boyama ve Resim Düzenleme Bileşeni
Name[uk]=Компонент KOffice для малювання і редагування зображень
Name[uz]=KOffice rasm bilan ishlash komponenti
Name[uz@cyrillic]=KOffice расм билан ишлаш компоненти
Name[wa]=Componint di pondaedje eyet d' aspougnaedje d' imådjes da KOffice
Name[x-test]=xxKOffice Painting and Image Editor Componentxx
Name[zh_CN]=KOffice 绘图和图像编辑器组件
Name[zh_TW]=KOffice 繪圖與影像編輯元件
X-KDE-Library=libkritapart
MimeType=application/x-krita;
Type=Service
X-KDE-ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-NativeMimeType=application/x-krita
GenericName=Image Object
GenericName[bg]=Графично изображение
GenericName[br]=Tra skeudenn
GenericName[ca]=Objecte d'imatge
GenericName[ca@valencia]=Objecte d'imatge
GenericName[cy]=Gwrthrych Delwedd
GenericName[da]=Billedobjekt
GenericName[de]=Bildobjekt
GenericName[el]=Αντικείμενο εικόνας
GenericName[en_GB]=Image Object
GenericName[eo]=Bildobjekto
GenericName[es]=Objeto de imagen
GenericName[et]=Pildiobjekt
GenericName[fa]=شیء تصویر
GenericName[fi]=Kuvaobjekti
GenericName[fr]=Objet image
GenericName[fy]=Ofbylding
GenericName[ga]=Réad Íomhá
GenericName[gl]=Imaxe
GenericName[he]=אובייקט תמונה
GenericName[hi]=छवि ऑब्जेक्ट
GenericName[hne]=फोटू आब्जेक्ट
GenericName[hr]=Objekt slike
GenericName[hu]=Képobjektum
GenericName[is]=Myndhluti
GenericName[it]=Oggetto immagine
GenericName[ja]=画像オブジェクト
GenericName[kk]=Кескін
GenericName[lv]=Attēla objekts
GenericName[nb]=Bildeobjekt
GenericName[nds]=Bildobjekt
GenericName[ne]=छवि वस्तु
GenericName[nl]=Afbeelding
GenericName[pl]=Obrazek
GenericName[pt]=Objecto de Imagem
GenericName[pt_BR]=Objeto de Imagem
GenericName[ru]=Рисунок
GenericName[sk]=Objekt obrázok
GenericName[sl]=Slika
GenericName[sv]=Bildobjekt
GenericName[tr]=Resim Nesnesi
GenericName[uk]=Об'єкт зображення
GenericName[uz]=Rasm obʼekti
GenericName[uz@cyrillic]=Расм объекти
GenericName[wa]=Cayet imådje
GenericName[x-test]=xxImage Objectxx
GenericName[zh_CN]=图像对象
GenericName[zh_TW]=圖片物件
Icon=krita
X-Krita-Version=2
