[Desktop Entry]
Name=Krita
Name[af]=Krita
Name[bg]=Krita
Name[br]=Krita
Name[ca]=Krita
Name[ca@valencia]=Krita
Name[cs]=Krita
Name[cy]=Krita
Name[da]=Krita
Name[de]=Krita
Name[el]=Krita
Name[en_GB]=Krita
Name[eo]=Krita
Name[es]=Krita
Name[et]=Krita
Name[eu]=Krita
Name[fi]=Krita
Name[fr]=Krita
Name[fy]=Krita
Name[ga]=Krita
Name[gl]=Krita
Name[he]=Krita
Name[hi]=केरिता
Name[hne]=केरिता
Name[hr]=Krita
Name[hu]=Krita
Name[is]=Krita
Name[it]=Krita
Name[ja]=Krita
Name[kk]=Krita
Name[lt]=Krita
Name[lv]=Krita
Name[ms]=Krita
Name[nb]=Krita
Name[nds]=Krita
Name[ne]=क्रिता
Name[nl]=Krita
Name[pl]=Krita
Name[pt]=Krita
Name[pt_BR]=Krita
Name[ro]=Krita
Name[ru]=Krita
Name[se]=Krita
Name[sk]=Krita
Name[sl]=Krita
Name[sv]=Krita
Name[ta]=கிரிட்டா
Name[tg]=Krita
Name[tr]=Krita
Name[ug]=Krita
Name[uk]=Krita
Name[uz]=Krita
Name[uz@cyrillic]=Krita
Name[wa]=Krita
Name[xh]=Krita
Name[x-test]=xxKritaxx
Name[zh_CN]=Krita
Name[zh_TW]=繪圖_Krita
Exec=krita %U
X-DocPath=http://userbase.kde.org/Special:MyLanguage/Krita
GenericName=Digital Painting
GenericName[el]=Ψηφιακή ζωγραφική
GenericName[et]=Digitaalne joonistamine
GenericName[nl]=Digitaal schilderen
GenericName[pl]=Malowanie cyfrowe
GenericName[pt]=Pintura Digital
GenericName[pt_BR]=Pintura digital
GenericName[sk]=Digitálne maľovanie
GenericName[sl]=Digitalno slikanje
GenericName[sv]=Digitalt målningsverktyg
GenericName[uk]=Цифрове малювання
GenericName[x-test]=xxDigital Paintingxx
MimeType=application/x-krita;
Comment=Digital Painting
Comment[el]=Ψηφιακή ζωγραφική
Comment[et]=Digitaalne joonistamine
Comment[nl]=Digitaal schilderen
Comment[pl]=Malowanie cyfrowe
Comment[pt]=Pintura Digital
Comment[pt_BR]=Pintura digital
Comment[sk]=Digitálne maľovanie
Comment[sl]=Digitalno slikanje
Comment[sv]=Digitalt målningsverktyg
Comment[uk]=Цифрове малювання
Comment[x-test]=xxDigital Paintingxx
Type=Application
Icon=krita
Categories=Qt;KDE;Graphics;
X-KDE-ServiceTypes=Calligra/Application
X-Calligra-DefaultMimeTypes=application/x-krita
X-KDE-NativeMimeType=application/x-krita
StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.krita.krita
X-Krita-Version=5
