[Desktop Entry]
Name=Enhanced Metafile Shape
X-KDE-ServiceTypes=KOffice/Flake
Type=Service
X-KDE-Library=emfshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
