[Desktop Entry]
Type=Link
URL=.source/transparent_1600x1200.kra
Icon=template_rgb_empty
Name=Transparent 1600 x 1200
Name[bg]=Прозрачно 1600x1200
Name[br]=Treuzwelus 1600 x 1200
Name[ca]=Transparent 1600 x 1200
Name[ca@valencia]=Transparent 1600 x 1200
Name[cs]=Průhledný 1600 x 1200
Name[cy]=Tryloyw 1600 x 1200
Name[da]=Gennemsigtig 1600 x 1200
Name[de]=Transparent 1600 x 1200
Name[el]=Διαφανής 1600 x 1200
Name[en_GB]=Transparent 1600 x 1200
Name[es]=1600 x 1200 transparente
Name[et]=Läbipaistev 1600 x 1200
Name[eu]=Gardena 1600 x 1200
Name[fa]=شفاف ۱۲۰۰ × ۱۶۰۰
Name[fi]=Läpinäkyvä 1600×1200
Name[fr]=Image transparente 1600 x 1200
Name[fy]=Trochsichtige1600 x 1200
Name[ga]=Trédhearcach 1600×1200
Name[gl]=Transparente 1600 x 1200
Name[he]=‏1600‎ x 1200 שקוף
Name[hi]=पारदर्शी 1600 x 1200
Name[hne]=पारदर्सी 1600 x 1200
Name[hu]=Áttetsző 1600 x 1200
Name[is]=Gegnsæ 1600 x 1200
Name[it]=Trasparente 1600 × 1200
Name[ja]=透過 1600 x 1200
Name[kk]=Мөлдір 1600 x 1200
Name[lt]=Permatomas 1600 x 1200
Name[lv]=Caurspīdīgs 1600 x 1200
Name[ms]=Lutsinar 1600 x 1200
Name[nb]=Gjennomsiktig 1600 × 1200
Name[nds]=Dörsichtig 1600 x 1200
Name[ne]=पारदर्शी १६०० x १२००
Name[nl]=Transparant 1600 x 1200
Name[pl]=Przezroczysty 1600 x 1200
Name[pt]=Transparente 1600 x 1200
Name[pt_BR]=Transparente 1600 x 1200
Name[ru]=Рисунок 1600x1200, прозрачный фон
Name[se]=Čađačuovgi 1600 × 1200
Name[sk]=Priehľadný 1600 x 1200
Name[sl]=Prosojna 1600 x 1200
Name[sv]=Genomskinlig 1600 x 1200
Name[ta]=தெரியக்கூடிய 1600 x 1200
Name[tr]=Saydam 1600 x 1200
Name[uk]=Прозоре 1600 x 1200
Name[uz]=Shaffof 1600 x 1200
Name[uz@cyrillic]=Шаффоф 1600 x 1200
Name[wa]=Transparint 1600 x 1200
Name[x-test]=xxTransparent 1600 x 1200xx
Name[zh_CN]=透明 1600 x 1200
Name[zh_TW]=透明 1600 x 1200
Comment=Creates a transparent image of 1600 x 1200 pixels.
Comment[bg]=Създаване на прозрачно изображение с размери 1600x1200 точки.
Comment[ca]=Crea una imatge transparent de 1600 x 1200 píxels.
Comment[ca@valencia]=Crea una imatge transparent de 1600 x 1200 píxels.
Comment[cs]=Vytvoří průhledný obrázek 1600 x 1200 pixelů.
Comment[cy]=Creu delwedd dryloyw o 1600 x 1200 picsel.
Comment[da]=Laver et gennemsigtigt billede på 1600 x 1200 billedpunkter.
Comment[de]=Erstellt ein transparentes Bild mit 1600 x 1200 Pixeln.
Comment[el]=Δημιουργεί μία διαφανή εικόνα μεγέθους 1600 x 1200 εικονοστοιχείων.
Comment[en_GB]=Creates a transparent image of 1600 x 1200 pixels.
Comment[es]=Crea una imagen transparente de 1600 x 1200 píxeles.
Comment[et]=Loob läbipaistva pildi mõõtmetega 1600 x 1200 pikslit.
Comment[eu]=1600 x 1200 pixeleko irudi garden bat sortzen du.
Comment[fa]=یک تصویر شفاف ۱۲۰۰ × ۱۶۰۰ تصویردانه‌ای ایجاد می‌کند.
Comment[fi]=Luo läpinäkyvän 1600×1200 kuvapisteen kuvan.
Comment[fr]=Crée une image transparente de 1600 x 1200 pixels.
Comment[fy]=Makket in trochsichtige ôfbylding oan fan 1600 x 1200 byldpunten.
Comment[ga]=Cruthaigh íomhá thrédhearcach le 1600×1200 picteilín.
Comment[gl]=Cria unha imaxe transparente de 1600 x 1200 pixels.
Comment[he]=יצירת תמונה שקופה בגודל ‎1600 x 1200 פיקסלים
Comment[hi]=1600 x 1200 पिक्सेल का पारदर्शी छवि बनाता है.
Comment[hne]=1600 x 1200 पिक्सेल के पारदर्सी फोटू बनाथे .
Comment[hu]=Létrehoz egy 1600 x 1200 képpontos áttetsző képet.
Comment[is]=Býr til gegnsæja mynd í hlutföllunum 1600 x 1200 punktar.
Comment[it]=Crea un'immagine trasparente di 1600 × 1200 pixel.
Comment[ja]=1600 x 1200 ピクセルの透過画像を作成
Comment[kk]=Өлшемі 1600 x 1200 пиксел мөлдір кескінін құру.
Comment[lt]=Sukuria permatomą 1600 x 1200 pikselių paveiksliuką.
Comment[lv]=Izveido caurspīdīgu attēlu 1600 x 1200 punktu izmērā.
Comment[ms]=Cipta imej lutsinar 1600 x 1200 piksel.
Comment[nb]=Lager et gjennomsiktig bilde på 1600 x 1200 piksler.
Comment[nds]=Stellt en dörsichtig Bild mit 1600 x 1200 Pixels op.
Comment[ne]=१६०० x १२०० पिक्सेलको पारदर्शी छवि सिर्जना गर्दछ ।
Comment[nl]=Maakt een transparante afbeelding aan van 1600 x 1200 pixels.
Comment[pl]=Tworzy przezroczysty obrazek o rozmiarach 1600 x 1200 pikseli.
Comment[pt]=Cria uma imagem transparente com 1600 x 1200 pontos.
Comment[pt_BR]=Cria uma imagem transparente com 1600 x 1200 pontos.
Comment[ru]=Рисунок 1600x1200, прозрачный фон
Comment[se]=Ráhkada čađačuovgi gova mas lea 1600 × 1200 govvačuoggá.
Comment[sk]=Vytvorí obrázok s rozmermi 1600 x 1200 pixelov a priehľadným pozadím.
Comment[sl]=Ustvari prosojno sliko velikosti 1600 x 1200 pik.
Comment[sv]=Skapar en genomskinlig bild med 1600 x 1200 bildpunkter.
Comment[ta]=1600 x 1200 படத்துணுக்குகளில் ஒரு தெரியக்கூடிய பிம்பத்தை உருவாக்குகிறது.
Comment[tr]=1600 x 1200 piksel boyutlarında saydam bir resim oluşturur.
Comment[uk]=Створює прозоре зображення 1600 x 1200 пікселів.
Comment[uz]=Oʻlchami 1600 x 1200 nuqta boʻlgan shaffof rasmni yaratish.
Comment[uz@cyrillic]=Ўлчами 1600 x 1200 нуқта бўлган шаффоф расмни яратиш.
Comment[wa]=Ahive ene transparinte imådje di 1600 x 1200 picsels.
Comment[x-test]=xxCreates a transparent image of 1600 x 1200 pixels.xx
Comment[zh_CN]=创建 1600 x 1200 像素的透明图像。
Comment[zh_TW]=建立一個 1600 x 1200 像素的透明圖片。
X-Krita-Version=2
