[Desktop Entry]
Type=Link
URL=.source/white_1024x768.kra
Icon=template_rgb_empty
Name=White 1024 x 768
Name[bg]=Бяло 1024x768
Name[br]=Gwenn 1024 x 768
Name[ca]=Blanc 1024 x 768
Name[ca@valencia]=Blanc 1024 x 768
Name[cs]=Bílý 1024 x 768
Name[cy]=Gwyn 1024 x 768
Name[da]=Hvidt 1024 x 768
Name[de]=Weiß 1024 x 768
Name[el]=Λευκή 1024 x 768
Name[en_GB]=White 1024 x 768
Name[eo]=Blanka 1024 x 768
Name[es]=1024 x 768 blanco
Name[et]=Valge 1024 x 768
Name[eu]=Zuria 1024 x 768
Name[fa]=سفید ۷۶۸ × ۱۰۲۴
Name[fi]=Valkoinen 1024×768
Name[fr]=Image blanche 1024 x 768
Name[fy]=Wyt 1024 x 768
Name[ga]=Bán 1024×768
Name[gl]=Branca 1024 x 768
Name[he]=לבן ‎1024 x 768
Name[hi]=सफेद 1024 x 768
Name[hne]=सफेद 1024 x 768
Name[hu]=Fehér 1024 x 768
Name[is]=Hvít 1024 x 768
Name[it]=Bianco 1024 × 768
Name[ja]=白 1024 x 768
Name[kk]=Ақ 1024 x 768
Name[lt]=Baltas 1024 x 768
Name[lv]=Balts 1024 x 768
Name[ms]=Putih 1024 x 768
Name[nb]=Hvitt 1024 x 768
Name[nds]=Witt 1024 x 768
Name[ne]=सेतो १०२४ x ७६८
Name[nl]=Wit 1024 x 768
Name[pl]=Biały 1024 x 768
Name[pt]=Branca 1024 x 768
Name[pt_BR]=Branca 1024 x 768
Name[ru]=Рисунок 1024x768, белый фон
Name[se]=Vilges 1024 × 768
Name[sk]=Biely 1024 x 768
Name[sl]=Bela 1024 x 768
Name[sv]=Vit 1024 x 768
Name[ta]=வெள்ளை 1024 x 768
Name[tr]=Beyaz 1024 x 768
Name[uk]=Біле 1024 x 768
Name[uz]=Oq 1024 x 768
Name[uz@cyrillic]=Оқ 1024 x 768
Name[wa]=Blanc 1024 x 768
Name[x-test]=xxWhite 1024 x 768xx
Name[zh_CN]=白色 1024 x 768
Name[zh_TW]=白色 1024 x 768
Comment=Creates a white RGB image of 1024 x 768 pixels.
Comment[bg]=Създаване на бяло изображение RGB с размери 1024x768 точки.
Comment[ca]=Crea una imatge blanca RGB de 1024 x 768 píxels
Comment[ca@valencia]=Crea una imatge blanca RGB de 1024 x 768 píxels
Comment[cs]=Vytvoří bílý RGB obrázek 1024 x 768 pixelů.
Comment[cy]=Creu delwedd RGB wen o 1024 x 768 picsel.
Comment[da]=Laver et hvidt RGB-billede på 1024 x 768 billedpunkter.
Comment[de]=Erstellt ein weißes RGB-Bild mit 1024 x 768 Pixeln.
Comment[el]=Δημιουργεί μία λευκή RGB εικόνα μεγέθους 1024 x 768 εικονοστοιχείων.
Comment[en_GB]=Creates a white RGB image of 1024 x 768 pixels.
Comment[eo]=Kreas blankan RGB-bildon el 1024 x 768 rastrumeroj.
Comment[es]=Crea una imagen RGB blanca de 1024 x 768 píxeles.
Comment[et]=Loob valge RGB-pildi mõõtmetega 1024 x 768 pikslit.
Comment[eu]=1024 x 768 pixeleko RGB irudi zuri bat sortzen du.
Comment[fa]=یک تصویر RGB سفید ۷۶۸ × ۱۰۲۴ تصویردانه‌ای ایجاد می‌کند.
Comment[fi]=Luo valkoisen 1024×768 kuvapisteen RGB-kuvan.
Comment[fr]=Crée une image blanche RVB de 1024 x 768 pixels.
Comment[fy]=Makket in witte RGB-ôfbylding oan fan 1024 x 768 byldpunten.
Comment[ga]=Cruthaigh íomhá bhán RGB le 1024×768 picteilín.
Comment[gl]=Cria unha imaxe RGB branca de 1024 x 768 pixels.
Comment[he]=יצירת תמונת RGB לבנה בגודל ‎1024 x 768 פיקסלים
Comment[hi]=1024 x 768 पिक्सेल का आरजीबी छवि बनाता है.
Comment[hne]=1024 x 768 पिक्सेल के आरजीबी फोटू बनाथे .
Comment[hu]=Létrehoz egy 1024 x 768 képpontos fehér RGB képet.
Comment[is]=Býr til hvíta RGB mynd í hlutföllunum 1024 x 768 punktar.
Comment[it]=Crea un'immagine RGB bianca di 1024 × 768 pixel.
Comment[ja]=1024 x 768 ピクセルの RGB 画像を作成
Comment[kk]=Өлшемі 1024 x 768 пиксел ақ RGB кескінін құру.
Comment[lt]=Sukuria baltą 1024 x 768 pikselių RGB paveiksliuką.
Comment[lv]=Izveido baltu RBG attēlu 1024 x 768punktu izmērā.
Comment[ms]=Cipta imej RGB putih 1024 x 768 piksel.
Comment[nb]=Lager et hvitt RGB-bilde på 1024 x 768 piksler.
Comment[nds]=Stellt en witt RGB-Bild mit 1024 x 768 Pixels op.
Comment[ne]=१०२४ x ७६८ पिक्सेलको सेतो RGB छवि सिर्जना गर्दछ ।
Comment[nl]=Maakt een witte RGB-afbeelding aan van 1024 x 768 pixels.
Comment[pl]=Tworzy biały obrazek RGB o rozmiarach 1024 x 768 pikseli.
Comment[pt]=Cria uma imagem RGB branca com 1024 x 768 pontos.
Comment[pt_BR]=Cria uma imagem RGB branca com 1024 x 768 pontos.
Comment[ru]=Рисунок RGB 1024x768, белый фон
Comment[se]=Ráhkada vilges RGB-gova mas lea 1024 × 768 govvačuoggá.
Comment[sk]=Vytvorí RGB obrázok s rozmermi 1024 x 768 pixelov a bielym pozadím.
Comment[sl]=Ustvari belo sliko RGB velikosti 1024 x 768 pik.
Comment[sv]=Skapar en vit RGB-bild med 1024 x 768 bildpunkter.
Comment[ta]=1024 x 768 படத்துணுக்குகளில் ஒரு வெள்ளை ஆர்ஜிபி பிம்பத்தை உருவாக்குகிறது.
Comment[tr]=1024 x 768 piksel boyutlarında  beyaz bir RGB resim oluşturur.
Comment[uk]=Створює біле зображення у форматі RGB, 640 x 480 пікселів.
Comment[uz]=Oʻlchami 1024 x 768 nuqta boʻlgan oq RGB rasmni yaratish.
Comment[uz@cyrillic]=Ўлчами 1024 x 768 нуқта бўлган оқ RGB расмни яратиш.
Comment[wa]=Ahive ene blanke imådje RVB di 1024 x 768 picsels.
Comment[x-test]=xxCreates a white RGB image of 1024 x 768 pixels.xx
Comment[zh_CN]=创建 1024 x 768 像素的 RGB 白色背景图像。
Comment[zh_TW]=建立一個 1024 x 768 像素的白色 RGB 圖片。
X-Krita-Version=2
