[Desktop Entry]
Type=Link
URL=.source/white_1280x1024.kra
Icon=template_rgb_empty
Name=White 1280 x 1024
Name[bg]=Бяло 1280x1024
Name[br]=Gwenn 1280 x 1024
Name[ca]=Blanc 1280 x 1024
Name[ca@valencia]=Blanc 1280 x 1024
Name[cs]=Bílý 1280 x 1024
Name[cy]=Gwyn 1280 x 1024
Name[da]=Hvidt 1280 x 1024
Name[de]=Weiß 1280 x 1024
Name[el]=Λευκή 1280 x 1024
Name[en_GB]=White 1280 x 1024
Name[eo]=Blanka 1280 x 1024
Name[es]=1280 x 1024 blanco
Name[et]=Valge 1280 x 1024
Name[eu]=Zuria 1280 x 1024
Name[fa]=سفید ۱۰۲۴ × ۱۲۸۰
Name[fi]=Valkoinen 1280×1024
Name[fr]=Image blanche 1280 x 1024
Name[fy]=Wyt 1280 x 1024
Name[ga]=Bán 1280×1024
Name[gl]=Branca 1280 x 1024
Name[he]=לבן ‎1280 x 1024
Name[hi]=सफेद 1280 x 1024
Name[hne]=सफेद 1280 x 1024
Name[hu]=Fehér 1280 x 1024
Name[is]=Hvít 1280 x 1024
Name[it]=Bianco 1280 × 1024
Name[ja]=白 1280 x 1024
Name[kk]=Ақ 1280 x 1024
Name[lt]=Baltas 1280 x 1024
Name[lv]=Balts 1280 x 1024
Name[ms]=Putih 1280 x 1024
Name[nb]=Hvit 1280 x 1024
Name[nds]=Witt 1280 x 1024
Name[ne]=सेतो १२८० x १०२४
Name[nl]=Wit 1280 x 1024
Name[pl]=Biały 1280 x 1024
Name[pt]=Branca 1280 x 1024
Name[pt_BR]=Branca 1280 x 1024
Name[ru]=Рисунок 1280x1024, белый фон
Name[se]=Vilges 1280 × 1024
Name[sk]=Biely 1280 x 1024
Name[sl]=Bela 1280 x 1024
Name[sv]=Vit 1280 x 1024
Name[tr]=Beyaz 1280 x 1024
Name[uk]=Біле 1280 x 1024
Name[uz]=Oq 1280 x 1024
Name[uz@cyrillic]=Оқ 1280 x 1024
Name[wa]=Blanc 1280 x 1024
Name[x-test]=xxWhite 1280 x 1024xx
Name[zh_CN]=白色 1280 x 1024
Name[zh_TW]=白色 1280 x 1024
Comment=Creates a white RGB image of 1280 x 1024 pixels.
Comment[bg]=Създаване на бяло изображение RGB с размери 1280x1024 точки.
Comment[ca]=Crea una imatge blanca RGB de 1280 x 1024 píxels.
Comment[ca@valencia]=Crea una imatge blanca RGB de 1280 x 1024 píxels.
Comment[cs]=Vytvoří bílý RGB obrázek 1280 x 1024 pixelů.
Comment[cy]=Creu delwedd RGB wen o 1280 x 1024 picsel.
Comment[da]=Laver et hvidt RGB-billede på 1280 x 1024 billedpunkter.
Comment[de]=Erstellt ein weißes RGB-Bild mit 1280 x 1024 Pixeln.
Comment[el]=Δημιουργεί μία λευκή RGB εικόνα μεγέθους 1280 x 1024 εικονοστοιχείων.
Comment[en_GB]=Creates a white RGB image of 1280 x 1024 pixels.
Comment[eo]=Kreas blankan RGB-bildon el 1280 x 1024 rastrumeroj.
Comment[es]=Crea una imagen RGB blanca de 1280 x 1024 píxeles.
Comment[et]=Loob valge RGB-pildi mõõtmetega 61280 x 1024 pikslit.
Comment[eu]=1280 x 1024 pixeleko RGB irudi zuri bat sortzen du.
Comment[fa]=یک تصویر RGB سفید ۱۰۲۴ × ۱۲۸۰ تصویردانه‌ای ایجاد می‌کند.
Comment[fi]=Luo valkoisen 1280×1024 kuvapisteen RGB-kuvan.
Comment[fr]=Crée une image blanche RVB de 1280 x 1024 pixels.
Comment[fy]=Makket in witte RGB-ôfbylding oan fan 1280 x 1024 byldpunten
Comment[ga]=Cruthaigh íomhá bhán RGB le 1280×1024 picteilín.
Comment[gl]=Cria unha imaxe RGB branca de 1280 x 1024 pixels.
Comment[he]=יצירת תמונת RGB לבנה בגודל ‎1280 x 1024 פיקסלים
Comment[hi]=1024 x 1024 पिक्सेल का आरजीबी छवि बनाता है.
Comment[hne]=1024 x 1024 पिक्सेल के आरजीबी फोटू बनाथे .
Comment[hu]=Létrehoz egy 1280 x 1024 képpontos fehér RGB képet.
Comment[is]=Býr til hvíta RGB mynd í hlutföllunum 1280 x 1024 punktar.
Comment[it]=Crea un'immagine RGB bianca di 1280 × 1024 pixel.
Comment[ja]=1280 x 1024 ピクセルの RGB 画像を作成
Comment[kk]=Өлшемі 1280 x 1024 пиксел ақ RGB кескінін құру.
Comment[lt]=Sukuria baltą 1280 x 1024 pikselių RGB paveiksliuką.
Comment[lv]=Izveido baltu RGB attēlu 1280 x 1024 punktu izmērā.
Comment[ms]=Cipta imej RGB putih 1280 x 1024 piksel.
Comment[nb]=Lager et hvitt bilde på 1280 x 1024 piksler.
Comment[nds]=Stellt en witt RGB-Bild mit 1280 x 1024 Pixels op.
Comment[ne]=१२८० x १०२४ पिक्सेलको सेतो RGB छवि सिर्जना गर्दछ ।
Comment[nl]=Maakt een witte RGB-afbeelding aan van 1280 x 1024 pixels.
Comment[pl]=Tworzy biały obrazek RGB o rozmiarach 1280 x 1024 pikseli.
Comment[pt]=Cria uma imagem RGB branca com 1280 x 1024 pontos.
Comment[pt_BR]=Cria uma imagem RGB branca com 1280 x 1024 pontos.
Comment[ru]=Рисунок RGB 1280x1024, белый фон
Comment[se]=Ráhkada vilges RGB-gova mas lea 1280 × 1024 govvačuoggá.
Comment[sk]=Vytvorí RGB obrázok s rozmermi 1280 x 1024 pixelov a bielym pozadím.
Comment[sl]=Ustvari belo sliko RGB velikosti 1280 x 1024 pik.
Comment[sv]=Skapar en vit RGB-bild med 1280 x 1024 bildpunkter.
Comment[tr]=1280x1024 piksel çözünürlüğüne sahip beyaz bir RGB görüntüsü yaratır.
Comment[uk]=Створює біле зображення у форматі RGB, 1280 x 1024 пікселів.
Comment[uz]=Oʻlchami 1280 x 1024 nuqta boʻlgan oq RGB rasmni yaratish.
Comment[uz@cyrillic]=Ўлчами 1280 x 1024 нуқта бўлган оқ RGB расмни яратиш.
Comment[wa]=Ahive ene blanke imådje RVB di 1280 x 1024 picsels.
Comment[x-test]=xxCreates a white RGB image of 1280 x 1024 pixels.xx
Comment[zh_CN]=创建 1080 x 1024 像素的 RGB 白色背景图像。
Comment[zh_TW]=建立一個 1280 x 1024 像素的白色 RGB 圖片。
X-Krita-Version=2
