[Desktop Entry]
Encoding=UTF-8
Name=Select Similar Colors Tool
Name[el]=Εργαλείο επιλογής παρόμοιων χρωμάτων
Name[fr]=Outils de sélection des couleurs similaires
Name[ja]=類似色選択ツール
Name[x-test]=xxSelect Similar Colors Toolxx
ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolselectsimilar
X-Krita-Version=3
