[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=tenscripts
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Ten Scripts
Name[zh_TW]=10 個腳本
Comment=A Python-based plugin for creating ten actions and assign them to Python scripts
Comment[zh_TW]=基於 Python 的外掛程式，用於建立 10 個動作並且將它們指定給 Python 腳本
