[Desktop Entry]
Name=Wet & Sticky Canvas Color Model
Name[ca]=Model de color de llenç humit i viscós
Name[cy]=Model Lliw Cynfas Gwlyb a Gludiog
Name[da]=Våd & klæbrig kanvasfarve-model
Name[de]=Farbmodell feuchte & klebrige Leinwand
Name[el]=Μοντέλο καμβά υγρής και κολλώδους μπογιάς
Name[en_GB]=Wet & Sticky Canvas Colour Model
Name[es]=Modelo de color de lienzo mojado y pegajoso
Name[et]=Märja lõuendi värvimudel
Name[eu]=Oihal heze eta itsaskorraren kolore-eredua
Name[fi]=Märkä ja tahmea kangasvärimalli
Name[fr]=Modèle de couleurs gluantes et mouillées
Name[hu]=Nedves és ragadós vászon színmodell
Name[is]=Blaut & klístruð litategund
Name[it]=Modello di colore per tela bagnata
Name[ja]=Wet & Sticky キャンバスカラーモデル
Name[ms]=Model Warna Kanvas Basah & Lekit
Name[nb]=Fargemodell for vått og klissete lerret
Name[nl]=Nat en kleverig canvasmodel
Name[nn]=Fargemodell for vått lerret
Name[pl]=Przestrzeń barw mokrego i lepkiego płótna
Name[pt]=Modelo de Cores de Tela Molhado e Pegajoso
Name[pt_BR]=Modelo de cores de tela Molhada & Pegajosa
Name[ru]=Цветовое пространство с параметрами влажности и прилипания
Name[sr]=Модел боја мокрог и лепљивог платна
Name[sr@Latn]=Model boja mokrog i lepljivog platna
Name[sv]=Våt och klibbig dukfärgmodell
Name[zh_CN]=湿性/粘性画布色彩模型
ServiceTypes=Krita/ColorSpace
Type=Service
X-KDE-Library=kritawsplugin
X-Krita-Version=2

