[Desktop Entry]
Name=Default Flake Tools
Name[bs]=Zadani alati za pahulje
Name[ca]=Eines de floc per defecte
Name[ca@valencia]=Eines de floc per defecte
Name[da]=Standard Flake-værktøjer
Name[de]=Flake-Standardwerkzeuge
Name[el]=Προκαθορισμένα εργαλεία Flake
Name[en_GB]=Default Flake Tools
Name[es]=Herramientas predeterminadas de Flake
Name[et]=Vaikimisi helbetööriistad
Name[eu]=Flake tresna lehenetsiak
Name[fa]=ابزارهای پیش‌فرض Flake
Name[fi]=Flake-oletustyökalut
Name[fr]=Outils de flocons par défaut
Name[fy]=Standert flok ark
Name[ga]=Uirlisí Réamhshocraithe Flake
Name[gl]=Ferramentas predeterminadas de Flake
Name[hi]=डिफ़ॉल्ट फ्लेक औज़ार
Name[hne]=डिफाल्ट फ्लेक औजार
Name[hu]=Alapértelmezett pehely eszközök
Name[it]=Strumenti predefiniti di Flake
Name[ja]=Flake 標準ツール
Name[kk]=Әдетті Flake құралдары
Name[ko]=기본 Flake 도구
Name[lv]=Noklusētie figūras rīki
Name[nb]=Standard flake-verktøy
Name[nds]=Standard-Flakewarktüüch
Name[ne]=पूर्वनिर्धारित फ्लेक उपकरण
Name[nl]=Standaard Flake-gereedschappen
Name[pl]=Domyślne narzędzia płatków
Name[pt]=Ferramentas Predefinidas do Flake
Name[pt_BR]=Ferramentas padrão do Flake
Name[ru]=Стандартный инструментарий Flake
Name[sk]=Štandardné vločkové nástroje
Name[sv]=Flake standardverktyg
Name[tr]=Öntanımlı Flake Araçları
Name[uk]=Типові інструменти Flake
Name[wa]=Prémetowe usteyes di ploumion
Name[x-test]=xxDefault Flake Toolsxx
Name[zh_CN]=默认 Flake 工具
Name[zh_TW]=預設 Flake 工具
X-KDE-ServiceTypes=Calligra/Tool
Type=Service
X-KDE-PluginInfo-Name=defaulttools
X-KDE-Library=calligra_tool_defaults
X-Flake-MinVersion=28
X-Flake-PluginVersion=28
