[Desktop Entry]
Encoding=UTF-8
Name=Default Flake Tools
Name[x-test]=xxDefault Flake Toolsxx
ServiceTypes=KOffice/Flake
Type=Service
X-KDE-Library=defaulttools
X-Flake-Version=1
