[Desktop Entry]
Encoding=UTF-8
Name=Filter Tool
Name[el]=Εργαλείο φίλτρου
Name[fr]=Outil filtre
Name[ja]=フィルタツール
Name[x-test]=xxFilter Toolxx
Comment=Filter tool and paint operation
Comment[el]=Εργαλείο φίλτρου και λειτουργία ζωγραφικής
Comment[fr]=Outil de filtrage et opération de dessin
Comment[ja]=フィルタツールと画像操作
Comment[x-test]=xxFilter tool and paint operationxx
ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolfilter
X-Krita-Version=3
