[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=selectionsbagdocker
X-Python-2-Compatible=false
Name=Selections Bag Docker
Name[ca]=Acoblador de bossa de seleccions
Name[ca@valencia]=Acoblador de bossa de seleccions
Name[es]=Panel de selecciones
Name[it]=Area di raccolta selezioni
Name[nl]=Docker van zak met selecties
Name[pt]=Área de Selecções
Name[sv]=Dockningspanel med markeringspåse
Name[uk]=Бічна панель позначеного
Name[x-test]=xxSelections Bag Dockerxx
Comment=A docker that allow to store a list of selections
Comment[ca]=Un acoblador que permet emmagatzemar una llista de seleccions
Comment[ca@valencia]=Un acoblador que permet emmagatzemar una llista de seleccions
Comment[cs]=Dok umožňující uložit seznam výběrů
Comment[es]=Un panel que permite guardar una lista de selecciones
Comment[it]=Un'area di aggancio che consente di memorizzare un elenco di selezioni
Comment[nl]=Een docker die een lijst met selecties kan opslaan
Comment[pt]=Uma área acoplável que permite guardar uma lista de selecções
Comment[sv]=En dockningspanel som gör det möjligt att lagra en lista över markeringar
Comment[uk]=Бічна панель, на якій можна зберігати список позначеного
Comment[x-test]=xxA docker that allow to store a list of selectionsxx
