[Desktop Entry]
Name=RulerAssistantTool
Name[el]=Εργαλείο βοηθού κανόνα
Name[sv]=Linjalguideverktyg
X-KDE-ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritarulerassistanttool
X-Krita-Version=3
