[Desktop Entry]
Name=Chart Shape
Name[bg]=Форма на диаграмата
Name[bs]=Oblik dijagrama
Name[ca]=Forma del diagrama
Name[ca@valencia]=Forma del diagrama
Name[cs]=Tvar grafu
Name[da]=Diagram-form
Name[de]=Diagramm-Objekt
Name[el]=Σχήμα διαγράμματος
Name[en_GB]=Chart Shape
Name[es]=Forma de gráfica
Name[et]=Diagrammikujund
Name[eu]=Diagrama-forma
Name[fa]=شکل نمودار
Name[fi]=Kaaviomuoto
Name[fr]=Forme de diagramme
Name[fy]=Foarm fan de grafyk
Name[ga]=Giuirléid Chairte
Name[gl]=Obxecto de gráfico
Name[hi]=चार्ट आकार
Name[hne]=चार्ट आकार
Name[hr]=Oblik grafikona
Name[hu]=Diagram alakzat
Name[it]=Forma di grafico
Name[ja]=グラフシェイプ
Name[kk]=Диаграмма қалыпы
Name[lv]=Diagrammas figūra
Name[mr]=चार्ट आकार
Name[nb]=Diagramform
Name[nds]=Form "Diagramm"
Name[ne]=चित्रपट आकार
Name[nl]=Grafiekvorm
Name[pl]=Kształt wykresu
Name[pt]=Forma do Gráfico
Name[pt_BR]=Forma do gráfico
Name[ru]=Диаграмма
Name[sk]=Tvar grafu
Name[sl]=Oblika za grafikone
Name[sv]=Diagramform
Name[tg]=Шакли диаграмма
Name[tr]=Çizelge Şekli
Name[ug]=دىئاگرامما شەكىل
Name[uk]=Форма діаграми
Name[wa]=Fôme do grafike
Name[x-test]=xxChart Shapexx
Name[zh_CN]=图表形状
Name[zh_TW]=圖表元件
X-KDE-ServiceTypes=Calligra/Shape
Type=Service
X-KDE-PluginInfo-Name=chartshape
X-KDE-Library=calligra_shape_chart
X-Flake-MinVersion=28
X-Flake-PluginVersion=28
