[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=hello
X-Python-2-Compatible=false
Name=Hello World
Name[ca]=Hola món
Name[ca@valencia]=Hola món
Name[cs]=Hello World
Name[es]=Hola mundo
Name[it]=Ciao mondo
Name[nl]=Hallo wereld
Name[pt]=Olá Mundo
Name[sv]=Hello World
Name[uk]=Привіт, світе
Name[x-test]=xxHello Worldxx
Comment=Basic plugin to test PyKrita
Comment[ca]=Connector bàsic per provar el PyKrita
Comment[ca@valencia]=Connector bàsic per provar el PyKrita
Comment[cs]=Základní modul pro testování PyKrita
Comment[es]=Complemento básico para probar PyKrita
Comment[it]=Estensione di base per provare PyKrita
Comment[nl]=Basisplug-in om PyKrita te testen
Comment[pt]='Plugin' básico para testar o PyKrita
Comment[sv]=Enkelt insticksprogram för att utprova PyKrita
Comment[uk]=Базовий додаток для тестування PyKrita
Comment[x-test]=xxBasic plugin to test PyKritaxx
