[Desktop Entry]
Encoding=UTF-8
Name=Watercolor Paint Plugin
Name[da]=Plugin for vandfarvemaling
Name[de]=Plugin für Wasserfarben-Effekte
Name[eo]=Kromprogramo por akvarela pentrado
Name[es]=Extensión de pintura de acuarela
Name[et]=Vesivärvijoonistuse plugin
Name[eu]=Akuarelazko margoen plugina
Name[fi]=Vesivärikuvaliitännäinen
Name[fr]=Module de dessin de couleurs mouillées
Name[he]=תוסף צביעה בצבעי מים
Name[hu]=Vízfesték modul
Name[it]=Plugin per la pittura ad aquerello
Name[nl]=Waterkleur schilderplugin
Name[pt]='Plugin' de Pintura a Água
Name[pt_BR]=Plug-in de Marca D'água
Name[ru]=Модуль рисования водяными красками
Name[sr]=Прикључак за сликање воденим бојама
Name[sr@Latn]=Priključak za slikanje vodenim bojama
Name[sv]=Insticksprogram för vattenfärgsmålning
Name[tr]=Suluboya Boyama Eklentisi
Name[xx]=xxWatercolor Paint Pluginxx
Name[zh_CN]=水彩绘画插件
Comment=Color model and tools for painting with simulated watercolors
Comment[da]=Farvemodel og værktøjer til at male med simulerede vandfarver
Comment[de]=Farbmodell und Werkzeuge zum Malen mit simulierten Wasserfarben
Comment[en_GB]=Colour model and tools for painting with simulated watercolours
Comment[eo]=Kolormodelo kaj iloj por pentri per simula akvarelo
Comment[es]=Modelo de color y herramientas para pintar con acuarelas simuladas
Comment[et]=Vesivärvijoonistuse simulatsiooni värvimudel ja tööriistad
Comment[eu]=Akuarelen itxuraz margotzeko tresnak eta kolore-eredua
Comment[fi]=Värimalli ja työkalut simuloiduille vesiväreille
Comment[fr]=Modèle de couleurs et outils pour dessiner des couleurs mouillées simulées
Comment[he]=מודל צבעים וכלים לצביעה תוך הדמיה של צבעי מים
Comment[hu]=Színmodell és eszközök szimulált vízfestékes képekhez
Comment[it]=Modello di colore e strumenti per il disegno con acquerelli simulati
Comment[nl]=Kleurmodel en -gereedschappen voor het schilderen met gesimuleerde waterkleuren
Comment[pt]=Modelo de cor e ferramentas para pintar com cores aquosas simuladas
Comment[pt_BR]=Modelo de cor e ferramentas para pintura  de cores simuladas de água
Comment[ru]=Цветовая модель и средства рисования водяными цветами
Comment[sr]=Модел боја и алати за сликање симулираним воденим бојама
Comment[sr@Latn]=Model boja i alati za slikanje simuliranim vodenim bojama
Comment[sv]=Färgmodell och verktyg för att måla med simulerade vattenfärger
Comment[tr]=Örneklenmiş suluboya ile boyamak için renk model ve araçlar
Comment[xx]=xxColor model and tools for painting with simulated watercolorsxx
Comment[zh_CN]=模拟水彩绘画的色彩模型和工具
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritawetplugin
X-KDE-Version=2
