[Desktop Entry]
Name=Filter Op
Name[ca]=Operador de filtre
Name[ca@valencia]=Operador de filtre
Name[da]=Filterop.
Name[de]=Filteroperation
Name[el]=Ενέργεια φίλτρου
Name[en_GB]=Filter Op
Name[es]=Operación de filtrado
Name[et]=Filtritoiming
Name[fi]=Suodintoiminto
Name[fy]=Filterje neffens
Name[gl]=Filtro Op
Name[hi]=फ़िल्टर ओपी
Name[hne]=फिल्टर ओपी
Name[it]=Operazione di filtraggio
Name[kk]=Сүзгілеу амалы
Name[lv]=Filtrēšanas darbība
Name[nb]=Filterhandling
Name[nds]=Filterwarktüüch
Name[ne]=फिल्टर कार्य
Name[nl]=Filter
Name[pt]=Operação de Filtragem
Name[pt_BR]=Operação de Filtragem
Name[sv]=Filtreringsoperation
Name[tr]=Süzgeç Tersi
Name[uk]=Засіб фільтрування
Name[wa]=Passete Op
Name[x-test]=xxFilter Opxx
Name[zh_TW]=濾鏡工具
Comment=Filter Op
Comment[ca]=Operador de filtre
Comment[ca@valencia]=Operador de filtre
Comment[da]=Filterop.
Comment[de]=Filteroperation
Comment[el]=Ενέργεια φίλτρου
Comment[en_GB]=Filter Op
Comment[es]=Operación de filtrado
Comment[et]=Filtritoiming
Comment[fi]=Suodintoiminto
Comment[fy]=Filterje neffens
Comment[gl]=Filtro Op
Comment[hi]=फ़िल्टर ओपी
Comment[hne]=फिल्टर ओपी
Comment[it]=Operazione di filtraggio
Comment[kk]=Сүзгілеу амалы
Comment[lv]=Filtrēšanas darbība
Comment[nb]=Filterhandling
Comment[nds]=Filterwarktüüch
Comment[ne]=फिल्टर कार्य
Comment[nl]=Filter
Comment[pt]=Operação de Filtragem
Comment[pt_BR]=Operação de Filtragem
Comment[sv]=Filtreringsoperation
Comment[tr]=Süzgeç Tersi
Comment[uk]=Засіб фільтрування
Comment[wa]=Passete Op
Comment[x-test]=xxFilter Opxx
Comment[zh_TW]=濾鏡工具
X-KDE-ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritafilterop
X-Krita-Version=3
