[Desktop Entry]
Name=Text Brush
Name[ga]=Scuab Théacs
Name[it]=Pennello di testo
Name[pt]=Pincel de Texto
Name[pt_BR]=Pincel de Texto
Comment=Text brush
Comment[ga]=Scuab théacs
Comment[it]=Pennello di testo
Comment[pt]=Pincel de texto
Comment[pt_BR]=Pincel de texto
X-KDE-ServiceTypes=Krita/Brush
Type=Service
X-KDE-Library=kritatextbrush
X-Krita-Version=3

