[Desktop Entry]
Name=Text Brush
Name[ca]=Pinzell de text
Name[el]=Πινέλο κειμένου
Name[et]=Tekstipintsel
Name[fy]=Tekstkwast
Name[ga]=Scuab Théacs
Name[gl]=Pincel de Texto
Name[hi]=पाठ ब्रश
Name[it]=Pennello di testo
Name[nl]=Tekstpenseel
Name[pt]=Pincel de Texto
Name[pt_BR]=Pincel de Texto
Name[sv]=Textpensel
Name[tr]=Metin Fırçası
Name[uk]=Текстовий пензель
Name[x-test]=xxText Brushxx
Name[zh_TW]=文字筆刷
Comment=Text brush
Comment[ca]=Pinzell de text
Comment[el]=Πινέλο κειμένου
Comment[et]=Tekstipintsel
Comment[fy]=Tekstkwast
Comment[ga]=Scuab théacs
Comment[gl]=Pincel de Texto
Comment[hi]=पाठ ब्रश
Comment[it]=Pennello di testo
Comment[nl]=Tekstpenseel
Comment[pt]=Pincel de texto
Comment[pt_BR]=Pincel de texto
Comment[sv]=Textpensel
Comment[tr]=Metin fırça
Comment[uk]=Текстовий пензель
Comment[x-test]=xxText brushxx
Comment[zh_TW]=文字筆刷
X-KDE-ServiceTypes=Krita/Brush
Type=Service
X-KDE-Library=kritatextbrush
X-Krita-Version=3

