[Desktop Entry]
Name=Shape Report Plugin
Name[ca]=Connector d'informes de forma
Name[et]=Aruande kujundiplugin
Name[it]=Estensione rapporti forme
Name[nb]=Programtillegg for formrapport
Name[pt]='Plugin' de Relatório de Formas
Name[pt_BR]=Plugin de forma para relatório
Name[ru]=Модуль фигур для отчётов
Name[sv]=Insticksprogram för formrapport
Name[uk]=Додаток форм звіту
Name[x-test]=xxShape Report Pluginxx
Name[zh_TW]=元件報告外掛程式
Comment=KoReport Shape Plugin
Comment[ca]=Connector de forma KoReport
Comment[da]=Form-plugin til KoReport
Comment[es]=Complemento de forma de KoReport
Comment[et]=KoReporti kujundiplugin
Comment[it]=Estensione per le forme di KoReport
Comment[nb]=Programtillegg for KoReport form
Comment[nds]=Element-Moduul för KoReport
Comment[pt]='Plugin' de Formas Gráficas do KoReport
Comment[pt_BR]=Plugin de formas do KoReport
Comment[ru]=Модуль фигур для отчётов KoReport
Comment[sv]=Insticksprogram för Koffice formrapport
Comment[uk]=Додаток форм KoReport
Comment[x-test]=xxKoReport Shape Pluginxx
Comment[zh_TW]=KoReport 元件外掛程式
X-KDE-Library=koreport_shapeplugin
X-KDE-ServiceTypes=KoReport/ItemPlugin
Type=Service
