[Desktop Entry]
Icon=template_texture
Name=Texture 1k 8bit srgb
Name[el]=Texture 1k 8bit srgb
Name[et]=Tekstuur 1k 8bit srgb
Name[fr]=Texture 1k 8bit srgb
Name[hu]=Textúra 1k 8bit srgb
Name[it]=Trama 1k 8bit srgb
Name[nl]=Textuur 1k 8bit srgb
Name[pt]=Textura 1k 8-bits sRGB
Name[pt_BR]=Textura 1k 8bit srgb
Name[sk]=Textúra 1k 8bit srgb
Name[sv]=Struktur 1k 8-bitar SRGB
Name[uk]=Текстура 1k, 8-бітова, srgb
Name[x-test]=xxTexture 1k 8bit srgbxx
Type=Link
URL[$e]=.source/Texture1k8bitsrgb.kra
X-KDE-Hidden=false
