[Desktop Entry]
Icon=template_texture
Name=Texture 4k 16bit float rgb
Name[nl]=Textuur 4k 16bit float rgb
Name[pt]=Textura 4k 16-bits vírgula flutuante RGB
Name[pt_BR]=Textura 4k 16bit flutuante rgb
Name[uk]=Текстура 4k, 16-бітова з рухомою комою, rgb
Name[x-test]=xxTexture 4k 16bit float rgbxx
Type=Link
URL[$e]=.source/Texture4k16bitfloatrgb.kra
X-KDE-Hidden=false
