[Desktop Entry]
Icon=template_texture
Name=Texture 2k 16bit scalar
Name[ca]=Textura 2k 16bit escalar
Name[da]=Tekstur 2k 16bit scalar
Name[de]=Textur 2k 16bit scalar
Name[el]=Texture 2k 16bit βαθμωτό
Name[es]=Textura 2k 16bit escalar
Name[et]=Tekstuur 2k 16bit skalaar
Name[fr]=Texture 2k 16bit scalaire
Name[gl]=Textura de 2k e 16 bits escalar.
Name[hu]=Textúra 2k 16bit skalár
Name[it]=Trama 2k 16bit scalare
Name[kk]=Текстура 2k 16 бит скаляр
Name[nb]=Tekstur 2k 16bit skalar
Name[nl]=Textuur 2k 16bit scalar
Name[pl]=Tekstura 2k 16bit skalar
Name[pt]=Textura 2k 16-bits escalar
Name[pt_BR]=Textura 2k 16bit escalar
Name[sk]=Textúra 2k 16bit skalár
Name[sv]=Struktur 2k 16-bitar skalär
Name[uk]=Текстура 2k, 16-бітова, скалярна
Name[x-test]=xxTexture 2k 16bit scalarxx
Type=Link
URL[$e]=.source/Texture2k16bitscalar.kra
X-KDE-Hidden=false
