[Desktop Entry]
Icon=template_texture
Name=Texture 512x512 8bit srgb
Name[nl]=Textuur 512x512 8bit srgb
Name[pl]=Tekstura 512x512 8bit srgb
Name[pt]=Textura 512x512 8-bits sRGB
Name[pt_BR]=Textura 512x512 8bits sRGB
Name[sk]=Textúra 512x512 8bit srgb
Name[sv]=Struktur 512 x 512 8-bitar SRGB
Name[uk]=Текстура 512⨯512, 8-бітова, srgb
Name[x-test]=xxTexture 512x512 8bit srgbxx
Type=Link
URL[$e]=.source/Texture512x5128bitsrgb.kra
X-KDE-Hidden=false
