[Desktop Entry]
Icon=template_texture
Name=Texture 1k 16bit scalar
Name[nl]=Textuur 1k 16bit scalar
Name[pt]=Textura 1k 16-bits escalar
Name[pt_BR]=Textura 1k 16bit escalar
Name[uk]=Текстура 1k, 16-бітова, скалярна
Name[x-test]=xxTexture 1k 16bit scalarxx
Type=Link
URL[$e]=.source/Texture1k16bitscalar.kra
X-KDE-Hidden=false
