[Desktop Entry]
Name=Composition Docker
Name[ca]=Acoblador de composició
Name[da]=Kompositionsdokker
Name[el]=Εργαλείο προσάρτησης σύνθεσης
Name[es]=Acoplable de composición
Name[et]=Kompositsioonidokk
Name[fr]=Panneau de composition
Name[gl]=Doca de composición
Name[hu]=Összetétel dokkoló
Name[it]=Gancio di composizione
Name[kk]=Құрылым докері
Name[nl]=Vaszetter van compositie
Name[pl]=Dokowanie kompozycji
Name[pt]=Área de Composição
Name[pt_BR]=Área de composição
Name[sk]=Kompozičný docker
Name[sv]=Kompositionsdockningsfönster
Name[uk]=Панель композиції
Name[x-test]=xxComposition Dockerxx
X-KDE-ServiceTypes=Krita/Dock
Type=Service
X-KDE-Library=kritacompositiondocker
X-Krita-Version=5
