[Desktop Entry]
Icon=
Name=Krita jp2 Export Filter
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=image/jp2
X-KDE-Import=application/x-krita
X-KDE-Library=libkritajp2export
X-KDE-Weight=1
