[Desktop Entry]
Icon=
Name=Krita jp2 Import Filter
Name[bg]=Филтър за внасяне от jp2 в Krita
Name[ca]=Filtre d'importació jp2 per al Krita
Name[ca@valencia]=Filtre d'importació jp2 per al Krita
Name[cs]=Importní filtr formátu jp2 pro Kritu
Name[da]=Jp2-importfilter til Krita
Name[de]=Krita jp2-Importfilter
Name[el]=Φίλτρο εισαγωγής jp2 του Krita
Name[en_GB]=Krita jp2 Import Filter
Name[es]=Filtro de Krita de importación de jp2
Name[et]=Krita jp2 impordifilter
Name[fi]=Kritan JP2-tuontisuodin
Name[fr]=Filtre d'importation jp2 de Krita
Name[ga]=Scagaire Iompórtála jp2 Krita
Name[gl]=Filtro de importación jp2 de Krita
Name[hu]=Krita jp2 importszűrő
Name[it]=Filtro di importazione jp2 per Krita
Name[ja]=Krita jp2 インポートフィルタ
Name[kk]=jp2 -> Krita импорт сүзгісі
Name[nb]=jp2 importfilter for Krita
Name[nds]=JP2-Importfilter för Krita
Name[nl]=JP2-importfilter voor Krita
Name[pl]=Filtr importu jp2 do Krita
Name[pt]=Filtro de Importação de JP2 para o Krita
Name[pt_BR]=Filtro de importação de JP2 para o Krita
Name[ru]=Фильтр импорта изображений jp2 в Krita
Name[sk]=Importný filter Krita jp2
Name[sl]=Uvozni filter jp2 za Krito
Name[sv]=Krita jp2-importfilter
Name[uk]=Фільтр імпорту JP2 для Krita
Name[wa]=Passete d' abagaedje jp2 di Krita
Name[x-test]=xxKrita jp2 Import Filterxx
Name[zh_CN]=Krita jp2 导入过滤器
Name[zh_TW]=Krita jp2 匯入過濾程式
X-KDE-ServiceTypes=CalligraFilter
Type=Service
X-KDE-Export=application/x-krita
X-KDE-Import=image/jp2
X-KDE-Library=kritajp2import
X-KDE-Weight=1
