[Desktop Entry]
Icon=
Name=Krita jp2 Import Filter
Name[bg]=Филтър за импортиране от jp2 в Krita
Name[ca]=Filtre d'importació jp2 per al Krita
Name[da]=Krita jp2-importfilter
Name[de]=Krita jp2-Importfilter
Name[el]=Φίλτρο εισαγωγής jp2 του Krita
Name[en_GB]=Krita jp2 Import Filter
Name[es]=Filtro de importación de jp2 de Krita
Name[et]=Krita jp2 impordifilter
Name[fy]=Krita  jp2 Ymportfilter
Name[ga]=Scagaire Iompórtála jp2 Krita
Name[gl]=Filtro de Importación de Krita jp2 
Name[hi]=केरिता jp2 आयात फ़िल्टर
Name[hne]=केरिता jp2 आयात फिल्टर
Name[it]=Filtro di importazione da jp2 di Krita
Name[ja]=Krita jp2 インポートフィルタ
Name[kk]=jp2 -> Krita импорт сүзгісі
Name[lv]=Krita jp2 importa filtrs
Name[nb]=Krita jp2 importfilter
Name[nds]=jp2-Importfilter för Krita
Name[nl]=Krita jp2 Importfilter
Name[pt]=Filtro de Importação de jp2 para o Krita
Name[pt_BR]=Filtro de Importação jp2 para o Krita
Name[sv]=Krita jp2-importfilter
Name[tr]=Krita jp2 Alma Filtresi
Name[uk]=Фільтр імпорту jp2 у Krita
Name[wa]=Passete d' abagaedje jp2 di Krita
Name[x-test]=xxKrita jp2 Import Filterxx
Name[zh_CN]=Krita jp2 导入过滤器
Name[zh_TW]=Krita jp2 匯入過濾程式
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=application/x-krita
X-KDE-Import=image/jp2
X-KDE-Library=libkritajp2import
X-KDE-Weight=1
