[Desktop Entry]
Name=Sumi-e brush
Name[it]=Pennello Sumi-e
Name[pt]=Pincel Sumi-e
Name[pt_BR]=Pincel Sumi-e
Name[uk]=Пензель Сумі-е
X-KDE-ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritasumipaintop
X-Krita-Version=3
