[Desktop Entry]
Encoding=UTF-8
Name=Filter Tool
Name[br]=Ostil ar sil
Name[es]=Herramienta para filtrar
Name[ga]=Uirlis Scagaire
Name[pt]=Ferramenta de Filtragem
Name[pt_BR]=Ferramenta de Filtragem
Name[sv]=Filtreringsverktyg
Name[zh_CN]=过滤工具
Comment=Filter tool and paint operation
Comment[da]=Filterværktøj og maleoperation
Comment[es]=Herramienta de filtrado y operaciones de pintado
Comment[et]=Filtritööriist ja joonistamisoperatsioon
Comment[fr]=Outil de filtrage et opération de dessin
Comment[nb]=Filter verktøy og paint operasjon
Comment[nl]=Filtergereedschap en schilderoperatie
Comment[pt]=Ferramenta de filtragem e operação de pintura
Comment[pt_BR]=Ferramenta de filtragem e operação de pintura
Comment[ru]=Фильтр и операции рисования
Comment[sr]=Филтерски алат и операција цртања
Comment[sr@Latn]=Филтерски алат и операција цртања
Comment[sv]=Filtreringsverktyg och ritåtgärd
Comment[zh_CN]=过滤器工具和绘图集成
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritatoolfilter
