[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=selectionsbagdocker
X-Python-2-Compatible=false
Name=Selections Bag Docker
Name[ca]=Acoblador de bossa de seleccions
Name[ca@valencia]=Acoblador de bossa de seleccions
Name[en_GB]=Selections Bag Docker
Name[es]=Panel de selecciones
Name[eu]=Hautapen-zakua panela
Name[fr]=Outils de sélection
Name[gl]=Doca de bolsa das seleccións
Name[it]=Area di raccolta selezioni
Name[nl]=Vastzetter van zak met selecties
Name[pl]=Dok worka zaznaczeń
Name[pt]=Área da Lista de Selecções
Name[sv]=Dockningspanel med markeringspåse
Name[tr]=Seçim Çantası Doku
Name[uk]=Бічна панель позначеного
Name[x-test]=xxSelections Bag Dockerxx
Name[zh_CN]=选区列表工具面板
Name[zh_TW]=「選取範圍收藏」面板
Comment=A docker that allow to store a list of selections
Comment[ca]=Un acoblador que permet emmagatzemar una llista de seleccions
Comment[ca@valencia]=Un acoblador que permet emmagatzemar una llista de seleccions
Comment[cs]=Dok umožňující uložit seznam výběrů
Comment[en_GB]=A docker that allow to store a list of selections
Comment[es]=Un panel que permite guardar una lista de selecciones
Comment[eu]=Hautapen zerrenda bat biltegiratzen uzten duen panel bat
Comment[fr]=Panneau permettant de conserver une liste de sélections
Comment[gl]=Unha doca que permite almacenar unha lista de seleccións.
Comment[it]=Un'area di aggancio che consente di memorizzare un elenco di selezioni
Comment[nl]=Een vastzetter die een lijst met selecties laat opslaan
Comment[pl]=Dok, który umożliwia przechowywanie listy zaznaczeń
Comment[pt]=Uma área acoplável que permite guardar uma lista de selecções
Comment[sv]=En dockningspanel som gör det möjligt att lagra en lista över markeringar
Comment[tr]=Seçimlerin bir listesini saklamayı sağlayan bir dok
Comment[uk]=Бічна панель, на якій можна зберігати список позначеного
Comment[x-test]=xxA docker that allow to store a list of selectionsxx
Comment[zh_CN]=用于保存一组选区的工具面板
Comment[zh_TW]=允許儲存選取範圍列表的面板
