[Desktop Entry]
Name=Lut Docker
Name[bs]=Lut Dokeri
Name[ca]=Acoblador LUT
Name[ca@valencia]=Acoblador LUT
Name[da]=LUT-dokker
Name[de]=LUT-Docker (Lookup-Tabelle)
Name[el]=Εργαλείο προσάρτησης lut
Name[en_GB]=Lut Docker
Name[es]=Panel de tabla de búsqueda (LUT)
Name[et]=Otsingutabeli dokk
Name[eu]=LUT-panela
Name[fi]=Lut-telakka
Name[fr]=Panneau lut
Name[gl]=Dockers predefinidos
Name[hu]=Lut dokkoló
Name[it]=Area di aggancio lut
Name[ja]=LUT のドッキングパネル
Name[kk]=Қарастыру кесте докері
Name[nb]=Lut-dokker
Name[nl]=Lut-vastzetter
Name[pl]=Dokowanie Lut
Name[pt]=Área Acoplável do LUT
Name[pt_BR]=Acoplador do LUT
Name[sk]=Lut Docker
Name[sv]=Dockningsfönster för uppslagningstabell
Name[tr]=Lut Docker
Name[uk]=Бічна панель таблиці пошуку
Name[x-test]=xxLut Dockerxx
Comment=Docker for selecting luts
Comment[bs]=Doker za izbor profila boja
Comment[ca]=Acoblador per LUT seleccionats
Comment[ca@valencia]=Acoblador per LUT seleccionats
Comment[da]=Dokker til at vælge LUT'er
Comment[de]=Docker für die Auswahl von LUTs (Lookup-Tabellen)
Comment[el]=Εργαλείο προσάρτησης για επιλογή lut
Comment[en_GB]=Docker for selecting luts
Comment[es]=Panel de selección de tablas de búsqueda (LUT)
Comment[et]=Otsingutabeli valimise dokk
Comment[eu]=LUTak hautatzeko panela
Comment[fr]=Panneau de sélection des luts
Comment[gl]=Doca para seleccionar predefinidos.
Comment[it]=Area di aggancio per selezionare lut
Comment[ja]=LUT を選択するためのドッキングパネル
Comment[kk]=Қарастыру кестелер таңдау докері
Comment[nb]=Dokker for å velge lut-er
Comment[nl]=Vastzetter voor selecteren luts
Comment[pl]=Dokowanie do wyboru lutsów
Comment[pt]=Área de selecção de LUT's
Comment[pt_BR]=Acoplador para seleção de LUT's
Comment[sk]=Docker pre výber luts
Comment[sv]=Dockningsfönster för valda uppslagningstabeller
Comment[uk]=Бічна панель для вибору таблиць пошуку
Comment[x-test]=xxDocker for selecting lutsxx
X-KDE-ServiceTypes=Krita/Dock
Type=Service
X-KDE-Library=kritalutdocker
X-Krita-Version=28
