[Desktop Entry]
Encoding=UTF-8
Name=Default Tools
Name[bg]=Инструменти по подразбиране
Name[br]=Ostilhoù dre ziouer
Name[cy]=Offer Rhagosodol
Name[da]=Standardværktøjer
Name[de]=Standardwerkzeuge
Name[el]=Προκαθορισμένα εργαλεία
Name[eo]=Defaŭltaj iloj
Name[es]=Herramientas predefinidas
Name[et]=Vaiketööriistad
Name[eu]=Tresna lehenetsiak
Name[fi]=Oletustyökalut
Name[fr]=Outils par défaut
Name[ga]=Uirlisí Réamhshocraithe
Name[he]=כלים המוגדרים כברירת מחדל
Name[hu]=Alapértelmezett eszközök
Name[it]=Strumenti predefiniti
Name[ja]=標準ツール
Name[nb]=Standardverktøy
Name[nl]=Standaardgereedschappen
Name[nn]=Standardverktøy
Name[pt]=Ferramentas Predefinidas
Name[pt_BR]=Ferramentas Padrão
Name[ru]=Стандартный инструментарий
Name[sl]=Privzeta orodja
Name[sr]=Подразумевани алати
Name[sr@Latn]=Podrazumevani alati
Name[sv]=Standardverktyg
Name[ta]=முன்னிருப்பு கருவிகள்
Name[tr]=Öntanımlı Araçlar
Name[uk]=Типові інструменти
Name[xx]=xxDefault Toolsxx
Name[zh_CN]=默认工具
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritadefaulttools
X-KDE-Version=2
