[Desktop Entry]
Encoding=UTF-8
Name=RGB Color Model (16-bit float 'half')
Name[ca]=Model de color RGB (paleta 'mitja' de 16 bits)
Name[cy]=Model Lliw RGB (arnawf 16-did 'hanner')
Name[da]=RGB-farvemodel (16-bit heltal 'halv')
Name[de]=RGB-Farbmodell (16-bit Fließkomma 'Halb')
Name[el]=Χρωματικό μοντέλο RGB (16 bit μισοί δεκαδικοί)
Name[en_GB]=RGB Colour Model (16-bit float 'half')
Name[es]=Modelo de color RGB (decimal «medio» de 16 bits)
Name[et]=RGB värvimudel (16-bitine murdarv 'half')
Name[hu]=RGB színmodell (16 bites lebegőpontos - 'feles')
Name[is]=RGB litategund (16-bita fleytitala)
Name[it]=Modello di colore RGB (semi-virgola mobile a 16 bit)
Name[ja]=RGBカラーモデル(16-bit float 'half')
Name[nl]=RGB-kleurmodel (16-bit float 'half')
Name[pl]=Przestrzeń barw RGB ("połowa" 16-bitowej liczby zmiennoprzecinkowej)
Name[pt]=Modelo de Cor RGB (v. flutuante de 16-bits 'half')
Name[pt_BR]=Modelo de Cor RGB (v. flutuante de 16-bits 'half')
Name[ru]=Цветовая модель RGB (16-разрядное с плавающей точкой)
Name[sl]=Barvni model RGB (16-bitno celo število, »polovica«)
Name[sr]=RGB модел боја (16-битно реално „полу“)
Name[sr@Latn]=RGB model boja (16-bitno realno „polu“)
Name[sv]=RGB-färgmodell (16-bitars flyttal 'halva')
Name[uk]=Модель кольору RGB (16-бітне дробове число "half")
Comment=Color model for 16-bit floating point 'half' per channel RGB images
Comment[ca]=Model de color per a paleta 'mitja' de 16 bits-canal d'imatges RGB
Comment[da]=Farvemodel for 16-bit decimaltal 'halvdel' pr kanal RGB-billeder
Comment[de]=Farbmodell für 16-bit Fließkomma 'Halb' pro Kanal RGB-Bilder
Comment[el]=Χρωματικό μοντέλο για 16-bit μισούς δεκαδικούς ανά κανάλι RGB εικόνες
Comment[en_GB]=Colour model for 16-bit floating point 'half' per channel RGB images
Comment[es]=Modelo de color decimal «medio» de 16 bits por canal para imágenes RGB
Comment[et]=16-bitiste murdarvuliste ('half') kanalitega RGB-piltide värvimudel
Comment[hu]=Színmodell 16 bit (lebegőpontos, 'feles')/csatorna RGB képekhez
Comment[is]=Litategund fyrir 16-bita fleytitölu á rás RGB myndir
Comment[it]=Modello di colore per per immagini RGB in semi-virgola mobile a canale di 16 bit
Comment[nl]=Kleurmodel voor RGB-afbeeldingen met 16-bit drijvende komma 'half' per kanaal
Comment[pl]=Przestrzeń barw dla obrazków RGB z "połową" 16-bitowej liczby zmiennoprzecinkowej na kanał
Comment[pt]=Modelo de cor para imagens RGB com 16 bits de vírgula flutuante 'half' por canal
Comment[pt_BR]=Modelo de cor para imagens RGB com 16 bits de vírgula flutuante 'half' por canal
Comment[ru]=Цветовая модель для изображений в RGB (красный, зелёный, синий) с плавающей точкой, 16-бит/канал
Comment[sr]=Модел боја за RGB слике, 16-битно реално „полу“ по каналу
Comment[sr@Latn]=Model boja za RGB slike, 16-bitno realno „polu“ po kanalu
Comment[sv]=Färgmodell för 16-bitars flyttal 'halva' per kanal RGB-bilder
ServiceTypes=KOffice/ColorSpace
Type=Service
X-KDE-Library=krita_rgb_f16half_plugin
X-Pigment-Version=1
