[Desktop Entry]
Type=Link
URL=.source/a4_waffle_grid.kra
Icon=template_comics_empty
Name=waffle-iron grid
Name[bs]=mreža sječenog željeza
Name[ca]=Reixa de ferro
Name[ca@valencia]=Reixa de ferro
Name[da]=vaffeljernsgitter
Name[de]=Waffeleisengitter
Name[el]=waffle-iron κάνναβος
Name[en_GB]=waffle-iron grid
Name[eo]=vaflofera krado
Name[es]=rejilla de hierro para gofres
Name[et]=Vahvlimasina ruudustik
Name[eu]=gofreetarako burdinazko sareta
Name[fi]=vohvelirautaruudukko
Name[fr]=Grille en métal gaufré
Name[gl]=Grade de 3×5 viñetas
Name[hi]=वफ़ल-लौह ग्रिड
Name[hu]=Gofrisütő rács
Name[id]=kisi-kisi besi wafel
Name[is]=vöfflujárnshnit
Name[it]=Griglia a wafer
Name[ja]=格子状コマ
Name[ka]=უჯრედებიანი გვერდი
Name[kk]=торлы көзді
Name[ko]=waffle-iron 그리드
Name[nds]=Wafeliesengadder
Name[nl]=wafelijzer-raster
Name[nn]=Vaffeljern-rutenett
Name[pl]=siatka gofrownicy
Name[pt]=grelha de ferro para 'waffles'
Name[pt_BR]=Grade de ferro vazia
Name[ru]=Страница с ячейками
Name[sk]=vaflovo-železná mriežka
Name[sl]=mreža z vafljasto armaturo
Name[sv]=våffelmönster
Name[tr]=waffle-çelik ızgara
Name[uk]=сітка з комірками
Name[wa]=grile di fier a wåfes
Name[x-test]=xxwaffle-iron gridxx
Name[zh_CN]=十五宫格漫画
Name[zh_TW]=華夫餅/窩夫烤盤格線
Comment=300 dpi, A4 waffle-iron grid comic page with ink and color layers
Comment[bs]=300 dpi, A4 mreža sječenog željeza stranica stripa s slojevima za tintu i bojemreža sječenog željeza
Comment[ca]=300 ppp, pàgina de còmic amb reixa de ferro amb capes de tinta i color
Comment[ca@valencia]=300 ppp, pàgina de còmic amb reixa de ferro amb capes de tinta i color
Comment[da]=300 dpi, A4 tegneserieside i vaffeljernsgitter med blæk og farvelag
Comment[de]=Comicseite mit Waffeleisengitter-Muster, Tinten- und Farbebenen. Format A4, Auflösung 300 dpi.
Comment[el]=300 dpi, σελίδα κόμικ A4 με waffle-iron κάνναβο και στρώματα μελάνης και χρώματος
Comment[en_GB]=300 dpi, A4 waffle-iron grid comic page with ink and colour layers
Comment[eo]=300 dpi, A4 vafloferkrada komikpaĝo kun inko kaj koloraj tavoloj
Comment[es]=página de cómic con rejilla de hierro para gofres de tamaño A4, a 300 ppp, con tinta y capas de colores
Comment[et]=300 DPI A4 vahvlimasina ruudustikuga koomiksilehekülg tindi- ja värvikihiga
Comment[eu]=300 dpi, gofreetarako burdinazko sareko A4 komiki-orria tinta eta kolore-geruzekin
Comment[fi]=300 dpi:n A4-kokoinen vohvelirautaruudukko sarjakuvalle muste- ja väritasoin
Comment[fr]=Page de bande dessinée avec grille en métal gaufré en A4 300 dpi avec encre et calques de couleurs
Comment[gl]=Páxina de banda deseñada en A4 a 300 dpi cunha grade de 3×5 viñetas regulares e capas de tinta e cor.
Comment[hi]=३०० डी.पी.आई, रेखाचित्र और रंग के परतों के साथ ए-४ वफ़ल-आयरन ग्रिड कॉमिक पृष्ठ
Comment[hu]=300 DPI-s, A/4-es gofrisütő rács felosztású képregényoldal tinta- és színrétegekkel
Comment[id]=300 dpi, halaman komik kotak-kotak wafel besi A4 dengan lapisan tinta dan warna
Comment[is]=300 pát, A4 vöfflujárnshnit teiknimyndasíða með lögum fyrir blek og liti
Comment[it]=Pagina di fumetti con griglia a wafer a 300 dpi, A4, con livelli per inchiostro e colore
Comment[ja]=300 dpi A4 サイズの、ペン入れレイヤーと彩色レイヤーを備えた格子状コマテンプレート
Comment[ka]=300 dpi, A4 კომიქსის ფურცელი უჯრედებითა და ფერადი ფენებით
Comment[kk]=300 н/д A4 торлы көзді парақтағы комикс
Comment[ko]=300 dpi, A4 waffle-iron 그리드 만화 페이지 잉크 및 컬러 레이어
Comment[nds]=300 dpi, A4 Wafeliesengadder-Comicsiet mit Dint un Klöörlagen.
Comment[nl]=300 dpi, A4 wafelijzer-raster strippagina met inkt en kleurlagen
Comment[nn]=300 ppt. vaffelforma A4-rutenett med eigne lag for strek og for fargelegging
Comment[pl]=300 dpi, strona A4 siatki gofrownicy z warstwami tuszu i koloru
Comment[pt]=banda desenhada A4, em grelha de 'waffle' a 300 ppp, com camadas de cores e de pinturas
Comment[pt_BR]=Página de quadrinhos A4, em grade de ferro a 300 DPI, com camadas de cores e de pinturas
Comment[ru]=300 dpi, страница комикса в формате A4 с ячейками и слоями контуров и цветов
Comment[sk]=300 dpi, A4 vaflovo železná mriežka komiksovej strany s atramentom a farebnými vrstvami
Comment[sl]=300 dpi, A4, stran z mrežo vafljaste armature za strip s plastmi črnila in barv
Comment[sv]=300 punkter/tum, A4 våffelmönstrad seriesida med bläck- och färglager
Comment[tr]=300 dpi, A4 waffle-çelik ızgara mürekkep ve renk katmanlı çizgi roman sayfası
Comment[uk]=300 т/д, сторінка коміксу у форматі A4 з комірками та шарами контурів та кольорів
Comment[wa]=Pådje A4 di binde d' imådjes avou on discôpaedje come ene grile di fier a wåfes avou des coûtches d' intche eyet d' coleurs.
Comment[x-test]=xx300 dpi, A4 waffle-iron grid comic page with ink and color layersxx
Comment[zh_CN]=300 DPI，A4 尺寸的十五宫格网格漫画页，内置线稿和着色图层
Comment[zh_TW]=300 dpi，A4 大小的華夫餅/窩夫烤盤鐵模狀的格線，有墨水線稿與顏色圖層
X-Krita-Version=28
