[Desktop Entry]
Type=Link
URL=.source/a4_waffle_grid.kra
Icon=template_gray_empty
Name=waffle-iron grid
Comment=300 dpi, A4 waffle-iron grid comic page with ink and color layers
X-Krita-Version=2
