[Desktop Entry]
Type=Link
URL=.source/BD-EuroTemplate.kra
Icon=template_gray_empty
Name=European BD template
Name[fr]=Modèle européen
Name[pt]=Modelo de BD europeu
Name[pt_BR]=Modelo Europeu BD
Name[sv]=Europeisk BD-mall
Name[uk]=Європейський шаблон BD
Name[x-test]=xxEuropean BD templatexx
Comment=template for European BD-style comics
Comment[fr]=Modèle européen de bandes dessinées
Comment[pt]=modelo de banda desenhada europeu
Comment[pt_BR]=modelo para quadrinhos no estilo Europeu BD
Comment[sv]=seriemall med europeisk BD-stil
Comment[uk]=шаблон для європейських коміксів у стилі BD
Comment[x-test]=xxtemplate for European BD-style comicsxx
X-Krita-Version=2
