[Desktop Entry]
Type=Link
URL=.source/BD-EuroTemplate.kra
Icon=template_gray_empty
Name=European BD template
Comment=template for European BD-style comics
X-Krita-Version=2
