[Desktop Entry]
Type=Link
URL=.source/Comics-USTemplate.kra
Icon=template_comics_empty
Name=US-style comics template
Name[ar]=قالب هزليّات بنمط أمريكي
Name[bs]=Američki strip predložak
Name[ca]=Plantilla de còmics d'estil americà
Name[ca@valencia]=Plantilla de còmics d'estil americà
Name[cs]=Šablona komiksu v americkém stylu
Name[da]=Tegneserieskabelon i amerikansk stil
Name[de]=US-Design-Comicvorlage
Name[el]=Πρότυπο κόμικς US-style
Name[en_GB]=US-style comics template
Name[eo]=Usona-stila bildstrioŝablono
Name[es]=plantilla de cómic de estilo estadounidense
Name[et]=USA stiilis koomiksi mall
Name[eu]=AEBtako komiki-estilorako txantiloia
Name[fi]=Yhdysvaltalaistyylinen sarjakuvapohja
Name[fr]=Modèle US de bande dessinée
Name[gl]=Formato estadounidense (2×3 viñetas)
Name[hi]=अमेरिकी शैली का कॉमिक्स के पृष्ठ का नमूना
Name[hu]=USA stílusú képregénysablon
Name[id]=templat komik gaya US
Name[is]=Bandarískt teiknimyndasögusniðmát
Name[it]=Modello per fumetti in stile americano
Name[ja]=アメリカ式コミックテンプレート
Name[ka]=US სტილის კომიქსების შაბლონი
Name[kk]=АҚШ-стильді комикс үлгісі
Name[ko]=미국 스타일 만화 템플릿
Name[lt]=JAV stiliaus komiksų šablonas
Name[nds]=Amerikaansch Comicvörlaag
Name[nl]=sjabloon voor strips in US-stijl
Name[nn]=Amerikansk teikneserie
Name[pl]=Szablon komiksów Amerykańskiego stylu
Name[pt]=Modelo de banda desenhada dos EUA
Name[pt_BR]=Modelo de quadrinhos no estilo americano
Name[ru]=Шаблон в американском стиле
Name[sk]=šablóna pre americké komixy
Name[sl]=Predloga za stripe v ameriškem slogu
Name[sv]=Seriemall med amerikansk stil
Name[tr]=ABD tarzı çizgi roman şablonu
Name[uk]=Шаблон коміксів у американському стилі
Name[wa]=Modele comics a l' amerikinnes
Name[x-test]=xxUS-style comics templatexx
Name[zh_CN]=美式漫画
Name[zh_TW]=美式漫畫範本
Comment=template for US-style comics
Comment[ar]=قالب للهزليّات بالنمط الأمريكي
Comment[bs]=predložak za stripove američkog stila
Comment[ca]=Plantilla per a còmics d'estil americà
Comment[ca@valencia]=Plantilla per a còmics d'estil americà
Comment[cs]=šablona pro komiksy v americkém stylu
Comment[da]=skabelon til tegneserier i amerikansk stil
Comment[de]=Vorlage für Comics im US-Stil
Comment[el]=πρότυπο για US-style κόμικς
Comment[en_GB]=template for US-style comics
Comment[eo]=ŝablono por usona-stilaj bildstrioj
Comment[es]=plantilla para cómics de estilo estadounidense
Comment[et]=USA stiilis koomiksi mall
Comment[eu]=AEBetako komiki-estilorako txantiloia
Comment[fi]=yhdysvaltalaistyylisen sarjakuvan pohja
Comment[fr]=Modèle US de bandes dessinées
Comment[gl]=Páxina de banda deseñada de formato estadounidense, con 2×3 viñetas regulares.
Comment[hi]=अमेरिकी शैली का कॉमिक्स के पृष्ठ का नमूना
Comment[hu]=Sablon amerikai stílusú képregényekhez
Comment[id]=templat untuk komik gaya US
Comment[is]=Sniðmát fyrir bandarískar comics-teiknimyndir
Comment[it]=modello per fumetti in stile americano
Comment[ja]=アメリカ式コミック用テンプレート
Comment[ka]=შაბლონი US სტილის კომიქსებისთვის
Comment[kk]=АҚШ-стильдегі комикс үлгісі
Comment[ko]=미국 스타일 만화용 템플릿
Comment[nds]=Vörlaag för amerikaansche Comics
Comment[nl]=sjabloon voor strips in US-stijl
Comment[nn]=Mal for teikneserie i amerikansk stil
Comment[pl]=szablon dla Amerykańskiego stylu komiksów
Comment[pt]=modelo de banda desenhada do estilo dos EUA
Comment[pt_BR]=Modelo de quadrinhos no estilo americano
Comment[ru]=Шаблон комиксов в американском стиле
Comment[sk]=šablóna pre americké komixy
Comment[sl]=Predloga za stripe v ameriškem slogu
Comment[sv]=seriemall med amerikansk stil
Comment[tr]=ABD tarzı çizgi romanlar için şablon
Comment[uk]=шаблон для коміксів у американському стилі
Comment[wa]=Modele di bindes d' imådje al môde des comics amerikins
Comment[x-test]=xxtemplate for US-style comicsxx
Comment[zh_CN]=美式漫画模板
Comment[zh_TW]=美式風格的連環漫畫範本
X-Krita-Version=28
