[Desktop Entry]
Type=Link
URL=.source/Manga-JpTemplate.kra
Icon=template_gray_empty
Name=Manga template
Name[en_GB]=Manga template
Name[it]=Modello manga
Name[ja]=漫画テンプレート
Name[pt]=Modelo Manga
Name[pt_BR]=Modelo de Manga
Name[sv]=Manga-mall
Name[uk]=Шаблон манґи
Name[x-test]=xxManga templatexx
Comment=template for Japanese Manga-style comics
Comment[en_GB]=template for Japanese Manga-style comics
Comment[fr]=Modèle de Mangas japonaises
Comment[it]=modello per fumetti in stile manga giapponese
Comment[pt]=modelo de banda desenhada Manga do estilo Japonês
Comment[pt_BR]=modelo de quadrinhos no estilo japonês de Manga
Comment[sv]=seriemall med japansk Manga-stil
Comment[uk]=шаблон японських коміксів у стилі манґа
Comment[x-test]=xxtemplate for Japanese Manga-style comicsxx
X-Krita-Version=2
