[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=plugin_importer
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Python Plugin Importer
Name[ca]=Importador de connectors en Python
Name[ca@valencia]=Importador de connectors en Python
Name[cs]=Importér modulů pro Python
Name[en_GB]=Python Plugin Importer
Name[es]=Importador de complementos de Python
Name[gl]=Importador de complementos de Python
Name[it]=Importatore estensioni Python
Name[nl]=Importeur van Plugin voor Python
Name[nn]=Importering av Python-tillegg
Name[pl]=Import wtyczek Pythona
Name[pt]=Importador de 'Plugins' do Python
Name[sv]=Python-insticksimport
Name[uk]=Засіб імпортування додатків Python
Name[x-test]=xxPython Plugin Importerxx
Name[zh_CN]=Python 插件导入器
Name[zh_TW]=Python 外掛程式匯入工具
Comment=Imports Python plugins from zip files.
Comment[ca]=Importa connectors en Python a partir de fitxers «zip».
Comment[ca@valencia]=Importa connectors en Python a partir de fitxers «zip».
Comment[cs]=Importuje moduly Pythonu ze souborů zip.
Comment[en_GB]=Imports Python plugins from zip files.
Comment[es]=Importa complementos de Python desde archivos zip.
Comment[gl]=Importa complementos de Python de ficheiros zip.
Comment[it]=Importa le estensioni Python dai file compressi.
Comment[nl]=Importeert Python-plug-ins uit zip-bestanden.
Comment[nn]=Importerer Python-baserte programtillegg frå .zip-filer.
Comment[pl]=Importuj wtyczki Pythona z plików zip.
Comment[pt]=Importa os 'plugins' em Python a partir de ficheiros Zip.
Comment[sv]=Importerar Python-insticksprogram från zip-filer.
Comment[uk]=Імпортує додатки Python з файлів zip.
Comment[x-test]=xxImports Python plugins from zip files.xx
Comment[zh_CN]=从 zip 文件导入 Python 插件。
Comment[zh_TW]=匯入 Zip 檔案中的 Python 外掛程式。
