[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=plugin_importer
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Python Plugin Importer
Name[ca]=Importador de connectors del Python
Name[pt]=Importador de 'Plugins' do Python
Name[sv]=Python-insticksimport
Name[uk]=Засіб імпортування додатків Python
Name[x-test]=xxPython Plugin Importerxx
Comment=Imports Python plugins from zip files.
Comment[ca]=Importa connectors del Python a partir de fitxers «zip».
Comment[pt]=Importa os 'plugins' em Python a partir de ficheiros Zip.
Comment[sv]=Importerar Python-insticksprogram från zip-filer.
Comment[uk]=Імпортує додатки Python з файлів zip.
Comment[x-test]=xxImports Python plugins from zip files.xx
