[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=plugin_importer
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Python Plugin Importer
Name[ca]=Importador de connectors en Python
Name[ca@valencia]=Importador de connectors en Python
Name[cs]=Importér modulů pro Python
Name[de]=Python-Modulimport
Name[el]=Εισαγωγέας πρόσθετων σε γλώσσα Python
Name[en_GB]=Python Plugin Importer
Name[eo]=Python Plugin Importer
Name[es]=Importador de complementos de Python
Name[et]=Pythoni plugina importija
Name[eu]=Python plugin inportatzaile bat
Name[fi]=Python-liitännäistuonti
Name[fr]=Importateur de modules externes Python
Name[gl]=Importador de complementos de Python
Name[hi]=पायथन प्लगइन आयातक
Name[hu]=Python bővítményimportáló
Name[ia]=Importator de Plugin de Python
Name[it]=Importatore estensioni Python
Name[ka]=Python -ის დამატების შემომტანი
Name[ko]=Python 플러그인 가져오기 도구
Name[nl]=Importeur van Plugin voor Python
Name[nn]=Importering av Python-tillegg
Name[pl]=Import wtyczek Pythona
Name[pt]=Importador de 'Plugins' do Python
Name[pt_BR]=Importador de plugins em Python
Name[ru]=Импорт модулей Python
Name[sk]=Importér zásuvných modulov Python
Name[sl]=Pythonov uvoznik vtičnikov
Name[sv]=Python-insticksimport
Name[tr]=Python Eklenti İçe Aktarıcısı
Name[uk]=Засіб імпортування додатків Python
Name[x-test]=xxPython Plugin Importerxx
Name[zh_CN]=Python 插件导入工具
Name[zh_TW]=Python 外掛程式匯入工具
Comment=Imports Python plugins from zip files.
Comment[ca]=Importa connectors en Python a partir de fitxers «zip».
Comment[ca@valencia]=Importa connectors en Python a partir de fitxers «zip».
Comment[cs]=Importuje moduly Pythonu ze souborů zip.
Comment[de]=Importiert Python-Module aus zip-Dateien.
Comment[el]=Εισάγει πρόσθετα σε Python από συμπιεσμένα (zip) αρχεία.
Comment[en_GB]=Imports Python plugins from zip files.
Comment[eo]=Importas Python-kromaĵojn el zip-dosieroj.
Comment[es]=Importa complementos de Python desde archivos zip.
Comment[et]=Pythoni pluginate import zip-failidest.
Comment[eu]=Python pluginak inportatzen ditu zip fitxategietatik.
Comment[fi]=Tuo Python-liitännäisiä Zip-tiedostoista.
Comment[fr]=Importe les modules externes Python à partir des fichiers « ZIP ».
Comment[gl]=Importa complementos de Python de ficheiros zip.
Comment[hi]=ज़िप फ़ाइलों से पायथन प्लगइनों का आयात करने में उपरोगी।
Comment[hu]=Python bővítmények importálása ZIP-fájlokból.
Comment[it]=Importa le estensioni Python dai file compressi.
Comment[ka]=Python-ზე დაწერილი დამატებების შემოტანა zip ფაილებიდან.
Comment[ko]=ZIP 파일에서 Python 플러그인을 가져옵니다.
Comment[nl]=Importeert Python-plug-ins uit zip-bestanden.
Comment[nn]=Importerer Python-baserte programtillegg frå .zip-filer
Comment[pl]=Zaimportuj wtyczki Pythona z plików zip.
Comment[pt]=Importa os 'plugins' em Python a partir de ficheiros Zip.
Comment[pt_BR]=Importa plugins em Python a partir de arquivos zip.
Comment[ru]=Позволяет импортировать модули Python из zip-файлов
Comment[sl]=Uvaža Pythonove vtičnike iz datotek zip.
Comment[sv]=Importerar Python-insticksprogram från zip-filer.
Comment[tr]=Python eklentilerini zip dosyalarından içe aktarır.
Comment[uk]=Імпортує додатки Python з файлів zip.
Comment[x-test]=xxImports Python plugins from zip files.xx
Comment[zh_CN]=从 ZIP 压缩文件导入 Python 插件
Comment[zh_TW]=從 ZIP 檔案匯入 Python 外掛程式。
