[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/transparent_1600x1200.kra
Icon=template_rgb_empty
Name=Transparent 1600 x 1200
Comment=Creates a transparent image of 1600 x 1200 pixels.
X-Krita-Version=2
