[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/transparent_1024x768.kra
Icon=template_rgb_empty
Name=Transparent 1024 x 768
Name[x-test]=xxTransparent 1024 x 768xx
Comment=Creates a transparent image of 1024 x 768 pixels.
Comment[x-test]=xxCreates a transparent image of 1024 x 768 pixels.xx
X-Krita-Version=2
