[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/transparent_640x480.kra
Icon=template_rgb_empty
Name=Transparent 640 x 480
Name[br]=Treuzwelus 640 x 480
Name[cy]=Tryloyw 640 x 480
Name[da]=Gennemsigtig 640 x 480
Name[el]=Διαφανής 640 x 480
Name[es]=640 x 480 transparente
Name[et]=Läbipaistev 640 x 480
Name[eu]=Gardena 640 x 480
Name[fi]=Läpinäkyvä 640 x 480
Name[fr]=Image transparente 640 x 480
Name[he]=‏640 x 480 שקוף
Name[hu]=Áttetsző 640 x 480
Name[is]=Gegnsæ 640 x 480
Name[it]=Trasparente 640 × 480
Name[ja]=透明 640 x 480
Name[ms]=Lutsinar 640 x 480
Name[nb]=Gjennomsiktig 640 x 480
Name[nn]=Gjennomsiktig 640 × 480
Name[pl]=Przezroczysty 640 x 480
Name[pt]=Transparente 640 x 480
Name[pt_BR]=Transparente de 640 x 480
Name[ru]=Рисунок 640x480, прозрачный фон
Name[sl]=Prosojna 640 x 480
Name[sr]=Провидна 640 x 480
Name[sr@Latn]=Providna 640 x 480
Name[sv]=Genomskinlig 640 x 480
Name[uk]=Прозоре 640 x 480
Name[uz]=Шаффоф 640 x 480
Name[zh_CN]=透明 640 x 480
Comment=Creates a transparent image of 640 x 480 pixels.
Comment[ca]=Crea una imatge transparent de 640 x 480 píxels.
Comment[cy]=Creu delwedd dryloyw o 640 x 480 picsel.
Comment[da]=Laver et gennemsigtigt billede på 640 x 480 billedpunkter.
Comment[de]=Erstellt ein transparentes Bild mit 640 x 480 Pixeln.
Comment[el]=Δημιουργεί μία διαφανή εικόνα μεγέθους 640 x 480 εικονοστοιχείων.
Comment[es]=Crea una imagen transparente de 640 x 480 píxeles.
Comment[et]=Loob läbipaistva pildi mõõtmetega 640 x 480 pikslit.
Comment[eu]=640 x 480 pixeleko irudi garden bat sortzen du.
Comment[fi]=Luo läpinäkyvän 640 x 480 pikselin kuvan.
Comment[fr]=Crée une image transparente de 640 x 480 pixels.
Comment[he]=יצירת תמונה שקופה בגודל ‎640 x 480 פיקסלים
Comment[hu]=Létrehoz egy 640 x 480 képpontos áttetsző képet.
Comment[is]=Býr til gegnsæja mynd í hlutföllunum 640 x 480 punktar.
Comment[it]=Crea un'immagine trasparente di 640 × 480 pixel.
Comment[ja]=640 x 480 ピクセルの透視画像を作成
Comment[ms]=Cipta imej lutsinar 640 x 480 piksel.
Comment[nb]=Lager et gjennomsiktig bilde på 640 x 480 piksler.
Comment[nl]=Maakt een transparante afbeelding aan van 640 x 480 pixels.
Comment[nn]=Lagar eit gjennomsiktig bilete på 640 × 480 pikslar.
Comment[pl]=Tworzy przezroczysty obrazek o rozmiarach 640 x 480 pikseli.
Comment[pt]=Cria uma imagem transparente com 640 x 480 pontos.
Comment[pt_BR]=Cria uma imagem transparente de 640 x 480 pixels.
Comment[ru]=Рисунок 640x480, прозрачный фон.
Comment[sl]=Ustvari prosojno sliko velikosti 640 x 480 točk.
Comment[sr]=Прави провидну слику са 640 x 480 пиксела.
Comment[sr@Latn]=Pravi providnu sliku sa 640 x 480 piksela.
Comment[sv]=Skapar en genomskinlig bild med 640 x 480 bildpunkter.
Comment[uk]=Створює прозоре зображення 640 x 480 пікселів.
Comment[zh_CN]=创建 640 x 480 像素的透明图像。
X-Krita-Version=2
