[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/transparent_1024x768.kra
Icon=template_rgb_empty
Name=Transparent 1024 x 768
Name[br]=Treuzwelus 1024 x 768
Name[cy]=Tryloyw 1024 x 768
Name[da]=Gennemsigtig 1024 x 768
Name[el]=Διαφανής 1024 x 768
Name[es]=1024 x 768 transparente
Name[et]=Läbipaistev 1024 x 768
Name[eu]=Gardena 1024 x 768
Name[fi]=Läpinäkyvä 1024 x 768
Name[fr]=Image transparente 1024 x 768
Name[he]=‏1024‎ x 768 שקוף
Name[hu]=Áttetsző 1024 x 768
Name[is]=Gegnsæ 1024 x 768
Name[it]=Trasparente 1024 × 768
Name[ja]=透明 1024 x 768
Name[ms]=Lutsinar 1024 x 768
Name[nb]=Gjennomsiktig 1024 × 768
Name[nn]=Gjennomsiktig 1024 × 768
Name[pl]=Przezroczysty 1024 x 768
Name[pt]=Transparente 1024 x 768
Name[pt_BR]=Transparente de 1024 x 768
Name[ru]=Рисунок 1024x768, прозрачный фон
Name[sl]=Prosojna 1024 x 768
Name[sr]=Провидна 1024 x 768
Name[sr@Latn]=Providna 1024 x 768
Name[sv]=Genomskinlig 1024 x 768
Name[uk]=Прозоре 1024 x 768
Name[uz]=Шаффоф 1024 x 768
Name[zh_CN]=透明 1024 x 768
Comment=Creates a transparent image of 1024 x 768 pixels.
Comment[ca]=Crea una imatge transparent de 1024 x 768 píxels.
Comment[cy]=Creu delwedd dryloyw o 1024 x 768 picsel.
Comment[da]=Laver et gennemsigtigt billede på 1024 x 768 billedpunkter.
Comment[de]=Erstellt ein transparentes Bild mit 1024 x 768 Pixeln.
Comment[el]=Δημιουργεί μία διαφανή εικόνα μεγέθους 1024 x 768 εικονοστοιχείων.
Comment[es]=Crea una imagen transparente de 1024 x 768 píxeles.
Comment[et]=Loob läbipaistva pildi mõõtmetega 1024 x 768 pikslit.
Comment[eu]=1024 x 768 pixeleko irudi garden bat sortzen du.
Comment[fi]=Luo läpinäkyvän 1024 x 768 pikselin kuvan.
Comment[fr]=Crée une image transparente de 1024 x 768 pixels.
Comment[he]=יצירת תמונה שקופה בגודל ‎1024 x 768 פיקסלים
Comment[hu]=Létrehoz egy 1024 x 768 képpontos áttetsző képet.
Comment[is]=Býr til gegnsæja mynd í hlutföllunum 1024 x 768 punktar.
Comment[it]=Crea un'immagine trasparente di 1024 × 768 pixel.
Comment[ja]=1024 x 768 ピクセルの透視画像を作成
Comment[ms]=Cipta imej lutsinar 1024 x 768 piksel.
Comment[nb]=Lager et gjennomsiktig bilde på 1024 x 768 piksler.
Comment[nl]=Maakt een transparante afbeelding aan van 1024 x 768 pixels.
Comment[nn]=Lagar eit gjennomsiktig bilete på 1024 × 768 pikslar.
Comment[pl]=Tworzy przezroczysty obrazek o rozmiarach 1024 x 768 pikseli.
Comment[pt]=Cria uma imagem transparente com 1024 x 768 pontos.
Comment[pt_BR]=Cria uma imagem transparente de 1024 x 768 pixels.
Comment[ru]=Рисунок 1024x768, прозрачный фон.
Comment[sl]=Ustvari prosojno sliko velikosti 1024 x 768 točk.
Comment[sr]=Прави провидну слику са 1024 x 768 пиксела.
Comment[sr@Latn]=Pravi providnu sliku sa 1024 x 768 piksela.
Comment[sv]=Skapar en genomskinlig bild med 1024 x 768 bildpunkter.
Comment[uk]=Створює прозоре зображення 1024 x 768 пікселів.
Comment[uz]=Ўлчами 1024 x 768 нуқта бўлган шаффоф расмни яратиш.
Comment[zh_CN]=创建 1024 x 768 像素的透明图像。
X-Krita-Version=2
