[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/white_1024x768.kra
Icon=template_rgb_empty
Name=White 1024 x 768
Comment=Creates a white RGB image of 1024 x 768 pixels.
X-Krita-Version=2
