[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/white_1600x1200.kra
Icon=template_rgb_empty
Name=White 1600 x 1200
Name[br]=Gwenn 1600 x 1200
Name[ca]=Blanc 1600 x 1200
Name[cy]=Gwyn 1600 x 1200
Name[da]=Hvidt 1600 x 1200
Name[de]=Weiß 1600 x 1200
Name[el]=Λευκή 1600 x 1200
Name[es]=1600 x 1200 blanco
Name[et]=Valge 1600 x 1200
Name[eu]=Zuria 1600 x 1200
Name[fi]=Valkoinen 1600x1200
Name[fr]=Image blanche 1600 x 1200
Name[ga]=Bán 1600×1200
Name[he]=לבן ‎1600 x 1200
Name[hu]=Fehér 1600 x 1200
Name[is]=Hvít 1600 x 1200
Name[it]=Bianco 1600 × 1200
Name[ja]=白 1600 x 1200
Name[ms]=Putih 1600 x 1200
Name[nb]=Hvit 1600 x 1200
Name[nn]=Kvitt 1600 × 1200
Name[pl]=Biały 1600 x 1200
Name[pt]=Branca 1600 x 1200
Name[pt_BR]=1600 x 1200 em Branco
Name[ru]=Рисунок 1600x1200, белый фон
Name[se]=Vilges 1600 × 1200
Name[sl]=Bela 1600 x 1200
Name[sr]=Бела 1600 x 1200
Name[sr@Latn]=Bela 1600 x 1200
Name[sv]=Vit 1600 x 1200
Name[uk]=Біле 1600 x 1200
Name[uz]=Оқ 1600 x 1200
Name[zh_CN]=白色 1600 x 1200
Comment=Creates a white RGB image of 1600 x 1200 pixels.
Comment[ca]=Crea una imatge blanca RGB de 1600 x 1200 píxels
Comment[cy]=Creu delwedd RGB wen o 1600 x 1200 picsel.
Comment[da]=Laver et hvidt RGB-billede på 1600 x 1200 billedpunkter.
Comment[de]=Erstellt ein weißes RGB-Bild mit 1600 x 1200 Pixeln.
Comment[el]=Δημιουργεί μία λευκή RGB εικόνα μεγέθους 1600 x 1200 εικονοστοιχείων.
Comment[es]=Crea una imagen RGB de 1600 x 1200 píxeles.
Comment[et]=Loob valge RGB-pildi mõõtmetega 1600 x 1200 pikslit.
Comment[eu]=1600 x 1200 pixeleko RGB irudi zuri bat sortzen du.
Comment[fi]=Luo valkoisen 1600x1200 pikselin RGB-kuvan.
Comment[fr]=Crée une image blanche RVB de 1600 x 1200 pixels.
Comment[he]=יצירת תמונת RGB לבנה בגודל ‎1600 x 1200 פיקסלים
Comment[hu]=Létrehoz egy 1600 x 1200 képpontos fehér RGB képet.
Comment[is]=Býr til hvíta RGB mynd í hlutföllunum 1600 x 1200 punktar.
Comment[it]=Crea un'immagine RGB bianca di 1600 × 1200 pixel.
Comment[ja]=1600 x 1200 ピクセルのRGB画像を作成
Comment[ms]=Cipta imej RGB putih 1600 x 1200 piksel.
Comment[nb]=Lager et hvitt bilde på 1600 x 1200 piksler.
Comment[nl]=Maakt een witte RGB-afbeelding aan van 1600 x 1200 pixels.
Comment[nn]=Lagar eit kvitt RGB-bilete på 1600 × 1200 pikslar.
Comment[pl]=Tworzy biały obrazek RGB o rozmiarach 1600 x1200 pikseli.
Comment[pt]=Cria uma imagem RGB branca com 1600 x 1200 pontos.
Comment[pt_BR]=Cria uma imagem RGB em branco de 1600 x 1200 pixels.
Comment[ru]=Рисунок RGB 1600x1200, белый фон
Comment[se]=Ráhkada vilges RGB-gova mas lea 1600 × 1200 govvačuoggá.
Comment[sl]=Ustvari belo sliko RGB velikosti 1600 x 1200 točk.
Comment[sr]=Прави белу RGB слику са 1600 x 1200 пиксела.
Comment[sr@Latn]=Pravi belu RGB sliku sa 1600 x 1200 piksela.
Comment[sv]=Skapar en vit RGB-bild med 1600 x 1200 bildpunkter.
Comment[uk]=Створює біле зображення у форматі RGB, 1600 x 1200 пікселів.
Comment[uz]=Ўлчами 1600 x 1200 нуқта бўлган оқ RGB расмни яратиш.
Comment[zh_CN]=创建 1600 x 1200 像素的 RGB 白色背景图像。
X-Krita-Version=2
