[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/white_1280x1024.kra
Icon=template_rgb_empty
Name=White 1280 x 1024
Name[ar]=أبيض 1280 x 1024
Name[bg]=Бяло 1280x1024
Name[br]=Gwenn 1280 x 1024
Name[ca]=Blanc 1280 x 1024
Name[cy]=Gwyn 1280 x 1024
Name[da]=Hvidt 1280 x 1024
Name[de]=Weiß 1280 x 1024
Name[el]=Λευκή 1280 x 1024
Name[eo]=Blanka 1280 x 1024
Name[es]=1280 x 1024 blanco
Name[et]=Valge 1280 x 1024
Name[eu]=Zuria 1280 x 1024
Name[fi]=Valkoinen 1280 x 1024
Name[fr]=Image blanche 1280 x 1024
Name[ga]=Bán 1280×1024
Name[gl]=Branca 1280 x 1024
Name[he]=לבן ‎1280 x 1024
Name[hu]=Fehér 1280 x 1024
Name[is]=Hvít 1280 x 1024
Name[it]=Bianco 1280 × 1024
Name[ja]=白 1280 x 1024
Name[nb]=Hvit 1280 x 1024
Name[nn]=Kvitt 1280 × 1024
Name[pt]=Branca 1280 x 1024
Name[pt_BR]=1280 x 1024 em Branco
Name[ru]=Рисунок 1280x1024, белый фон
Name[sl]=Bela 1280 x 1024
Name[sr]=Бела 1280 x 1024
Name[sr@Latn]=Bela 1280 x 1024
Name[sv]=Vit 1280 x 1024
Name[tr]=Beyaz 1280 x 1024
Name[uk]=Біле 1280 x 1024
Name[xx]=xxWhite 1280 x 1024xx
Name[zh_CN]=白色 1280 x 1024
Name[zh_TW]=白色 1280 x 1024
Comment=Creates a white RGB image of 1280 x 1024 pixels.
Comment[ar]=ينشئ صورة بيضاء RGB  بحجم  1280 x 1024 بكسل.
Comment[bg]=Създаване на бяло изображение RGB с размери 1280x1024 пиксела.
Comment[ca]=Crea una imatge blanca RGB de 1280 x 1024 píxels
Comment[cy]=Creu delwedd RGB wen o 1280 x 1024 picsel.
Comment[da]=Laver et hvidt RGB-billede på 1280 x 1024 billedpunkter.
Comment[de]=Erstellt ein weißes RGB-Bild mit 1280 x 1024 Pixeln.
Comment[el]=Δημιουργεί μία λευκή RGB εικόνα μεγέθους 1280 x 1024 εικονοστοιχείων.
Comment[eo]=Tio ĉi kreas blankan RGB-an bildon de 1280 x 1024 rastrumeroj.
Comment[es]=Crea una imagen RGB de 1280 x 1024 píxeles.
Comment[et]=Loob valge RGB-pildi mõõtmetega 61280 x 1024 pikslit.
Comment[eu]=1280 x 1024 pixeleko RGB irudi zuri bat sortzen du.
Comment[fi]=Luo valkoisen 1280 x 1024 pikselin RGB-kuvan.
Comment[fr]=Crée une image blanche RVB de 1280 x 1024 pixels.
Comment[gl]=Cria unha imaxe RGB branca de 1280 x 1024 pixels.
Comment[he]=יצירת תמונת RGB לבנה בגודל ‎1280 x 1024 פיקסלים
Comment[hu]=Létrehoz egy 1280 x 1024 képpontos fehér RGB képet.
Comment[is]=Býr til hvíta RGB mynd í hlutföllunum 1280 x 1024 punktar.
Comment[it]=Crea un'immagine RGB bianca di 1280 × 1024 pixel.
Comment[ja]=1280 x 1024 ピクセルの RGB 画像を作成
Comment[nb]=Lager et hvitt bilde på 1280 x 1024 piksler.
Comment[nl]=Maakt een witte RGB-afbeelding aan van 1280 x 1024 pixels.
Comment[nn]=Lagar eit kvitt RGB-bilete på 1280 × 1024 pikslar.
Comment[pt]=Cria uma imagem RGB branca com 1280 x 1024 pontos.
Comment[pt_BR]=Cria uma imagem RGB em branco de 1280 x 1024 pixels.
Comment[ru]=Рисунок RGB 1280x1024, белый фон
Comment[sl]=Ustvari belo sliko RGB velikosti 1280 x 1024 točk.
Comment[sr]=Прави белу RGB слику са 1280 x 1024 пиксела.
Comment[sr@Latn]=Pravi belu RGB sliku sa 1280 x 1024 piksela.
Comment[sv]=Skapar en vit RGB-bild med 1280 x 1024 bildpunkter.
Comment[tr]=1280 x 1024 piksel boyutlarında beyaz bir RGB resim oluşturur.
Comment[uk]=Створює біле зображення у форматі RGB, 1280 x 1024 пікселів.
Comment[xx]=xxCreates a white RGB image of 1280 x 1024 pixels.xx
Comment[zh_CN]=创建 1080 x 1024 像素的 RGB 白色背景图像。
Comment[zh_TW]=建立一個 1280 x 1024 像素的白色 RGB 圖片。
X-Krita-Version=2
