[Desktop Entry]
Encoding=UTF-8
Name=Raindrops Filter
Name[ar]=مرشح قطرات المطر
Name[bg]=Филтър за дъждовни капки
Name[ca]=Filtre de gotes de pluja
Name[cy]=Hidlen Ddiferion Glaw
Name[da]=Regndråbefilter
Name[de]=Regentropfen-Filter
Name[el]=Φίλτρο σταγόνων βροχής
Name[es]=Filtro de gotas de lluvia
Name[et]=Vihmapiiskade filter
Name[fr]=Filtre gouttes de pluie
Name[gl]=Filtro de Pingas de Chuvia
Name[is]=Regndropasía
Name[it]=Filtro a gocce di pioggia
Name[ja]=雨滴フィルタ
Name[nl]=Regendruppelfilter
Name[pt]=Filtro de Pingos de Chuva
Name[pt_BR]=Filtro de Pingos de Chuva
Name[ru]=Дождевые капли
Name[sr]=Филтер за кишне капи
Name[sr@Latn]=Filter za kišne kapi
Name[sv]=Regndroppsfilter
Name[tr]=Yağmur Damlası Süzgeci
Name[xx]=xxRaindrops Filterxx
Name[zh_TW]=雨滴過濾器
Comment=Raindrops filter
Comment[ar]=مرشح قطرات المطر
Comment[bg]=Филтър за дъждовни капки
Comment[ca]=Filtre de gotes de pluja
Comment[cy]=Hidlen ddiferion glaw
Comment[da]=Regndråbefilter
Comment[de]=Regentropfen-Filter
Comment[el]=Φίλτρο σταγόνων βροχής
Comment[eo]=Filtrilo por efektoj de pluvaj gutoj
Comment[es]=Filtro de gotas de lluvia
Comment[et]=Vihmapiiskade filter
Comment[fr]=Filtre gouttes de pluie
Comment[gl]=Filtro de pingas de chuvia
Comment[is]=Regndropasía
Comment[it]=Filtro a gocce di pioggia
Comment[ja]=雨滴フィルタ
Comment[nl]=Regendruppelfilter
Comment[pt]=Filtro de pingos de chuva
Comment[pt_BR]=Filtro de pingos de chuva
Comment[ru]=Дождевые капли
Comment[sr]=Филтер за кишне капи
Comment[sr@Latn]=Filter za kišne kapi
Comment[sv]=Regndroppsfilter
Comment[tr]=Yağmur damlası süzgeci
Comment[xx]=xxRaindrops filterxx
Comment[zh_TW]=雨滴過濾器
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaraindropsfilter
X-Krita-Version=2
