[Desktop Entry]
Name=Raindrops Filter
Name[bg]=Филтър за дъждовни капки
Name[ca]=Filtre de gotes de pluja
Name[ca@valencia]=Filtre de gotes de pluja
Name[cs]=Filtr dešťových kapek
Name[cy]=Hidlen Ddiferion Glaw
Name[da]=Regndråbefilter
Name[de]=Regentropfen-Filter
Name[el]=Φίλτρο σταγόνων βροχής
Name[en_GB]=Raindrops Filter
Name[eo]=Pluvguta filtrilo
Name[es]=Filtro de gotas de lluvia
Name[et]=Vihmapiiskade filter
Name[fa]=پالایۀ قطرات باران
Name[fi]=Vesipisarasuodin
Name[fr]=Filtre gouttes de pluie
Name[fy]=Reindruppen Filter
Name[gl]=Filtro de Pingas de Chuvia
Name[he]=מסנן טיפות גשם
Name[hi]=रेनड्रॉप फ़िल्टर
Name[hne]=रेनड्राप फिल्टर
Name[hu]=Esőcsepp szűrő
Name[is]=Regndropasía
Name[it]=Filtro a gocce di pioggia
Name[ja]=雨滴フィルタ
Name[kk]=Жаңбыр тамшылар сүзгісі
Name[lv]=Ūdens lāšu filtrs
Name[nb]=Regndråpefilter
Name[nds]=Regendrüppen-Filter
Name[ne]=वर्षाथोपा फिल्टर
Name[nl]=Regendruppelfilter
Name[pl]=Filtr symulujący krople deszczu
Name[pt]=Filtro de Pingos de Chuva
Name[pt_BR]=Filtro de Pingos de Chuva
Name[ru]=Дождевые капли
Name[sk]=Filter dažďové kvapky
Name[sl]=Filter Dežne kapljice
Name[sv]=Regndroppsfilter
Name[tr]=Yağmur Damlası Filtresi
Name[uk]=Фільтр дощових крапель
Name[uz]=Yomgʻir tomchilari filteri
Name[uz@cyrillic]=Ёмғир томчилари филтери
Name[wa]=Passete gotes di plouve
Name[x-test]=xxRaindrops Filterxx
Name[zh_TW]=雨滴過濾器
Comment=Raindrops filter
Comment[bg]=Филтър за дъждовни капки
Comment[ca]=Filtre de gotes de pluja
Comment[ca@valencia]=Filtre de gotes de pluja
Comment[cs]=Filtr dešťových kapek
Comment[cy]=Hidlen ddiferion glaw
Comment[da]=Regndråbefilter
Comment[de]=Regentropfen-Filter
Comment[el]=Φίλτρο σταγόνων βροχής
Comment[en_GB]=Raindrops filter
Comment[eo]=Pluvguta filtrilo
Comment[es]=Filtro de gotas de lluvia
Comment[et]=Vihmapiiskade filter
Comment[fa]=پالایۀ قطرات باران
Comment[fi]=Vesipisarasuodin
Comment[fr]=Filtre gouttes de pluie
Comment[fy]=Reindruppen Filter
Comment[gl]=Filtro de pingas de chuvia
Comment[he]=מסנן טיפות גשם
Comment[hi]=रेनड्रॉप फ़िल्टर
Comment[hne]=रेनड्राप फिल्टर
Comment[hu]=Esőcsepp szűrő
Comment[is]=Regndropasía
Comment[it]=Filtro a gocce di pioggia
Comment[ja]=雨滴フィルタ
Comment[kk]=Жаңбыр тамшылар сүзгісі
Comment[lv]=Ūdens lāšu filtrs
Comment[nb]=Regndråpefilter
Comment[nds]=Regendrüppen-Filter
Comment[ne]=वर्षाथोपा फिल्टर
Comment[nl]=Regendruppelfilter
Comment[pl]=Filtr symulujący krople deszczu
Comment[pt]=Filtro de Pingos de Chuva
Comment[pt_BR]=Filtro de pingos de chuva
Comment[ru]=Дождевые капли
Comment[sk]=Filter dažďové kvapky
Comment[sl]=Filter Dežne kapljice
Comment[sv]=Regndroppsfilter
Comment[tr]=Yağmur damlası filtresi
Comment[uk]=Фільтр дощових крапель
Comment[uz]=Yomgʻir tomchilari filteri
Comment[uz@cyrillic]=Ёмғир томчилари филтери
Comment[wa]=Passete gotes di plouve
Comment[x-test]=xxRaindrops filterxx
Comment[zh_TW]=雨滴過濾器
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaraindropsfilter
X-Krita-Version=3
