[Desktop Entry]
Encoding=UTF-8
Name=Raindrops Filter
Name[da]=Regndråbefilter
Name[de]=Regentropfen-Filter
Name[es]=Filtro de gotas de lluvia
Name[pt]=Filtro de Pingos de Chuva
Name[pt_BR]=Filtro de Pingos de Chuva
Name[xx]=xxRaindrops Filterxx
Comment=Raindrops filter
Comment[bg]=Филтър за дъждовни капки
Comment[cy]=Hidlen ddiferion glaw
Comment[da]=Regndråbefilter
Comment[de]=Regentropfen-Filter
Comment[eo]=Filtrilo por efektoj de pluvaj gutoj
Comment[es]=Filtro de gotas de lluvia
Comment[et]=Vihmapiiskade filter
Comment[fr]=Filtre gouttes de pluie
Comment[it]=Filtro a gocce di pioggia
Comment[ja]=雨滴フィルター
Comment[pt]=Filtro de pingos de chuva
Comment[pt_BR]=Filtro de pingos de chuva
Comment[sr]=Филтер за кишне капи
Comment[sr@Latn]=Filter za kišne kapi
Comment[sv]=Regndroppsfilter
Comment[tr]=Yağmur damlası süzgeci
Comment[xx]=xxRaindrops filterxx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaraindropsfilter
X-KDE-Version=2
