[Desktop Entry]
Encoding=UTF-8
Name=ImageMagick Wrapper
Name[es]=Envoltorio para ImageMagick
Name[pt]=Interface para ImageMagick
Name[pt_BR]=Wrapper do ImageMagick
Name[sv]=ImageMagick-gränssnitt
Comment=ImageMagick based import/export and file conversion
Comment[da]=ImageMagick-baseret import, eksport og filkonvertering
Comment[es]=Importación/exportación y conversión de archivos basadas en ImageMagick
Comment[fr]=Filtre d'importation / exportation et conversion de fichiers ImageMagick
Comment[nl]=Op ImageMagick gebaseerde import/export en bestandsconversie
Comment[pt]=Importação/exportação e conversão de ficheiro com o ImageMagick
Comment[pt_BR]=Conversão de arquivos e filtro de  importação/exportação baseado no ImageMagick
Comment[sr]=Увоз, извоз и конверзија фајлова помоћу ImageMagick-а
Comment[sr@Latn]=Увоз, извоз и конверзија фајлова помоћу ImageMagick-а
Comment[sv]=ImageMagick-baserad import, export och filkonvertering
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritamagick
