[Desktop Entry]
Name=Krita OpenColorIO-based Import Filter
Name[el]=Φίλτρο εισαγωγής OpenColorIO-based του Krita
Name[et]=Krita OpenColorIO põhine impordifilter
Name[fi]=Kritan OpenColorIO-pohjainen tuontisuodin
Name[fr]=Filtre d'importation OpenColorIO de Krita
Name[hu]=Krita OpenColorIO-alapú importszűrő
Name[it]=Filtro di importazione per Krita basato su OpenColorIO
Name[nl]=Op Krita OpenColorIO gebaseerd importfilter
Name[pt]=Filtro de Importação Baseado no OpenColorIO para o Krita
Name[pt_BR]=Filtro de importação baseado no OpenColorIO para o Krita
Name[sk]=Importný filter Krita založený na OpenColorIO
Name[sv]=Krita OpenColorIO-baserat importfilter
Name[uk]=Фільтр імпортування на основі OpenColorIO для Krita
Name[x-test]=xxKrita OpenColorIO-based Import Filterxx
X-KDE-Export=application/x-krita
X-KDE-ServiceTypes=CalligraFilter
Type=Service
X-KDE-Import=image/cineon,image/dpx,image/fits,image/field3d,image/vnd.radiance,image/exr
X-KDE-Weight=2
X-KDE-Library=kritaoiioimport
NoDisplay=true
