[Desktop Entry]
Encoding=UTF-8
Name=Convolutions filters
Name[eo]=Konvoluciaj filtriloj
Name[es]=Filtros de convoluciones
Name[et]=Konvolutsioonifiltrid
Name[pt]=Filtros de convolução
Name[pt_BR]=Filtros de convolução
Name[sv]=Faltningsfilter
Name[tr]=Kıvrım süzgeci
Name[xx]=xxConvolutions filtersxx
Comment=Convolution filters
Comment[eo]=Konvoluciaj filtriloj
Comment[es]=Filtros de convoluciones
Comment[et]=Konvolutsioonifiltrid
Comment[pt]=Filtros de convolução
Comment[pt_BR]=Filtros de convolução
Comment[sv]=Faltningsfilter
Comment[tr]=Kıvrım süzgeci
Comment[xx]=xxConvolution filtersxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritaconvolutionfilters
