[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Krita/FileFilter
Comment=Krita FileFilter
Comment[bs]=Krita FileFilter
Comment[ca]=Filtre de fitxers per al Krita
Comment[cs]=Krita FileFilter
Comment[da]=Krita filfilter
Comment[de]=Krita-Dateifilter
Comment[en_GB]=Krita FileFilter
Comment[es]=Filtro de Krita de archivos
Comment[et]=Krita failifilter
Comment[it]=Filtro file per Krita
Comment[ja]=Krita ファイルフィルタ
Comment[nb]=Krita FileFilter
Comment[nl]=Bestandsfilter voor Krita
Comment[pl]=Filtr plików Krita
Comment[pt]=Filtro de Ficheiros do Krita
Comment[pt_BR]=Filtro de arquivos do Krita
Comment[sk]=Filter súborov Krita
Comment[sv]=Krita filfilter
Comment[tr]=Krita Dosya Filtresi
Comment[uk]=Фільтр файлів для Krita
Comment[x-test]=xxKrita FileFilterxx

[PropertyDef::X-KDE-Import]
Type=QStringList

[PropertyDef::X-KDE-Export]
Type=QStringList

[PropertyDef::X-KDE-Weight]
Type=int

[PropertyDef::X-KDE-Available]
Type=QString
