[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Krita/Paintop
Comment=Paint operation plugin for Krita
Comment[el]=Πρόσθετο λειτουργίας ζωγραφικής για το Krita
Comment[fr]=Module d'opération pour Krita
Comment[ja]=Krita 描画操作プラグイン
Comment[x-test]=xxPaint operation plugin for Kritaxx
[PropertyDef::X-Krita-Version]
Type=int
