[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Krita/Filter
Comment=Filter plugin for Krita
Comment[x-test]=xxFilter plugin for Kritaxx
[PropertyDef::X-Krita-Version]
Type=int
