[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Krita/ViewPlugin
Comment=GUI functionality for Krita
Comment[bg]=ГПИ функционалност за Krita
Comment[cy]=Swyddogaeth GUI ar gyfer Krita
Comment[da]=GUI-funktionalitet for Krita
Comment[es]=Funcionalidad de GUI para Krita
Comment[ja]=KritaのGUI機能
Comment[pt]=Funcionalidade gráfica para o Krita
Comment[pt_BR]=Funcionalidade gráfica para o Krita
Comment[sv]=Grafisk gränssnittsfunktion för Krita
Comment[xx]=xxGUI functionality for Kritaxx
[PropertyDef::X-KDE-Version]
Type=int
