[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Krita/Plugin
Comment=Plugin functionality module for Krita
Comment[da]=Plugin-funktionalitetsmodul for Krita
Comment[de]=Krita-Modul für Pluginfunktionen
Comment[el]=Άρθρωμα λειτουργιών προσθέτου για το Krita
Comment[es]=Extensión de módulo de funcionalidad para Krita
Comment[et]=Krita pluginafunktsioonide moodul
Comment[eu]=Krita-ren funtzionaltasun-moduluen plugina
Comment[fi]=Kritan liitännäisten toiminnallisuusmoduuli
Comment[fr]=Module de fonctionnalités pour Krita
Comment[he]=מודול פונקציונליות תוספים של Krita
Comment[it]=Modulo per la funzionalità dei plugin per Krita
Comment[nb]=Krita-programtillegg for funksjonalitet
Comment[nl]=Pluginfunctionaliteitmodule voor Krita
Comment[nn]=Krita-programtillegg for funksjonalitet
Comment[pt]=Um 'plugin' com funcionalidades para o Krita
Comment[pt_BR]=Módulo de funcionalidades de plugin para o Krita
Comment[ru]=Модуль Krita
Comment[sr]=Модул за функционалност прикључака за Krita-у
Comment[sr@Latn]=Modul za funkcionalnost priključaka za Krita-u
Comment[sv]=Modul med insticksfunktioner för Krita
Comment[uk]=Втулок модуля функціональності для Krita
Comment[zh_CN]=Krita 的插件功能模块
