[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Krita/CoreTool
Comment=Tool plugin for Krita
Comment[da]=Værktøjsplugin for Krita
Comment[es]=Herramienta de extensiones para Krita
Comment[et]=Krita tööriistade plugin
Comment[fr]=Module d'outils pour Krita
Comment[nb]=Verktøy tillegg for Krita
Comment[nl]=Gereedschapsplugin voor Krita
Comment[pt]='Plugin' de ferramentas do Krita
Comment[pt_BR]=Plugin de ferramenta para o Krita
Comment[ru]=Инструмент Krita
Comment[sr]=Алатни прикључак за Krita-у
Comment[sr@Latn]=Алатни прикључак за Krita-у
Comment[sv]=Verktygsinsticksprogram för Krita
Comment[zh_CN]=Krita 工具插件
