[Desktop Entry]
Icon=template_film
Name=HD_half_960x540
Name[el]=HD_half_960x540
Name[et]=HD_half_960x540
Name[fi]=HD half 960×540
Name[fr]=HD_half_960x540
Name[hu]=HD_half_960x540
Name[it]=HD_half_960x540
Name[nl]=HD_half_960x540
Name[pt]=HD_semi_960x540
Name[pt_BR]=HD_half_960x540
Name[sk]=HD_half_960x540
Name[sv]=HD_halv_960x540
Name[uk]=HD half 960⨯540
Name[x-test]=xxHD_half_960x540xx
Type=Link
URL[$e]=.source/HD_half_960x540.kra
X-KDE-Hidden=false
