[Desktop Entry]
Name=Artistic Text Shape
Name[el]=Καλλιτεχνικό σχήμα κειμένου
Name[it]=Forma di testo artistica
Name[kk]=Көркем мәтін пішіні
Name[nds]=Smuck Textutsehn
Name[pt]=Forma de Texto Artístico
Name[pt_BR]=Forma de Texto Artístico
Name[sv]=Artistisk textform
Name[uk]=Форма-художній текст
Name[x-test]=xxArtistic Text Shapexx
Name[zh_TW]=藝術文字元件
X-KDE-ServiceTypes=KOffice/Shape
Type=Service
X-KDE-Library=artistictextshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
