[Desktop Entry]
Name=Artistic Text Shape
Name[uk]=Форма-художній текст
X-KDE-ServiceTypes=KOffice/Shape
Type=Service
X-KDE-Library=artistictextshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
