[Desktop Entry]
Name=Artistic Text Shape
Name[bs]=Tekst umjetničkog oblika
Name[ca]=Forma de text artístic
Name[ca@valencia]=Forma de text artístic
Name[cs]=Tvar Umělecký text
Name[da]=Kunstnerisk tekst-form
Name[de]=Künstlerisches Text-Objekt
Name[el]=Καλλιτεχνικό σχήμα κειμένου
Name[en_GB]=Artistic Text Shape
Name[es]=Forma de texto artística
Name[et]=Kunstiline tekstikujund
Name[eu]=Testu artiskoaren forma
Name[fi]=Taiteellinen tekstimuoto
Name[fr]=Forme de texte artistique
Name[ga]=Giuirléid Téacs Ealaíonta
Name[gl]=Obxecto de texto artístico
Name[hne]=कलाकारी पाठ आकार
Name[hu]=Művészi szöveg alakzat
Name[it]=Forma di testo artistica
Name[ja]=アート的なテキストシェイプ
Name[kk]=Көркем мәтін қалыпы
Name[lv]=Mākslinieciska teksta figūra
Name[nb]=Artistisk tekstform
Name[nds]=Smuck Textutsehn
Name[nl]=Artistieke tekstvorm
Name[pl]=Artystyczny kształt tekstu
Name[pt]=Forma de Texto Artístico
Name[pt_BR]=Forma de texto artístico
Name[ru]=Художественный текст
Name[sk]=Tvar umelecký text
Name[sl]=Oblika za umetniško besedilo
Name[sv]=Artistisk textform
Name[tr]=Sanatsal Metin Şekli
Name[uk]=Художній текст
Name[wa]=Fôme di tecse årtistike
Name[x-test]=xxArtistic Text Shapexx
Name[zh_CN]=艺术字形状
Name[zh_TW]=藝術文字元件
X-KDE-ServiceTypes=Calligra/Shape
Type=Service
X-KDE-PluginInfo-Name=artistictextshape
X-KDE-Library=calligra_shape_artistictext
X-Flake-MinVersion=28
X-Flake-PluginVersion=28
