[Desktop Entry]
Encoding=UTF-8
Name=Dropshadow
Name[ja]=影付け
Name[pt]=Sombreado
Name[pt_BR]=Sombreado
Name[sv]=Fallskugga
Name[xx]=xxDropshadowxx
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritadropshadow
X-KDE-Version=2
