[Desktop Entry]
Encoding=UTF-8
Name=Dropshadow
Name[ca]=Gota d'ombra
Name[da]=Faldskygge
Name[de]=Schattenwurf
Name[el]=Ρίψη σκιάς
Name[et]=Varju heitmine
Name[fr]=Jet d'ombre
Name[hu]=Ejtett árnyék
Name[is]=Undirskuggi
Name[it]=Getta ombra
Name[ja]=影付け
Name[nl]=Schaduw plaatsen
Name[pl]=Dodaj cień
Name[pt]=Sombreado
Name[pt_BR]=Sombreado
Name[ru]=Тень
Name[sr]=Падајућа сенка
Name[sr@Latn]=Padajuća senka
Name[sv]=Fallskugga
Name[uz]=Соя тушириш
Name[zh_CN]=阴影
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritadropshadow
X-Krita-Version=2
