[Desktop Entry]
Name=Grayscale Color Model (16-bit integer)
Name[bg]=Цветови модел сива гама (16 бита)
Name[ca]=Model de color d'escala de grisos (enters de 16 bits)
Name[cy]=Model Lliw Graddlwyd (cyfanrif 16-did)
Name[da]=Farvemodel med gråskala (16-bit heltal)
Name[de]=Graustufen-Farbmodell (16-bit Ganzzahl)
Name[el]=Χρωματικό μοντέλο διαβαθμίσεων του γκρι (16 bit ακέραιοι)
Name[en_GB]=Greyscale Colour Model (16-bit integer)
Name[eo]=Grizoskala kolormodelo (16-bita entjero)
Name[es]=Modelo de color de escala de grises (entero de 16 bits)
Name[et]=Halltooni värvimudel (16-bitine)
Name[fa]=مدل رنگ مقیاس خاکستری )عدد صحیح ۱۶ بیتی(
Name[fi]=Harmaasävyvärimalli (16-bittinen kokonaisluku)
Name[fr]=Modèle de couleurs en nivaux de gris (entiers 16 bits)
Name[fy]=Kleurmodel foar griiswearden (16-bit integers)
Name[gl]=Modelo de Cores en Escala de Gris (enteiro de 16-bit)
Name[he]=מודל צבעים של גווני אפור )16 סיביות(
Name[hi]=ग्रेस्केल रंग मॉडल (१६-बििट इंटीजर)
Name[hne]=ग्रेस्केल रंग माडल (१६-बििट इंटीजर)
Name[hu]=Szürkeárnyalatos színmodell (16 bites egész)
Name[is]=Gráskala litategund (16-bita heiltala)
Name[it]=Modello di colore a scala di grigio (intero a 16 bit)
Name[ja]=グレースケールカラーモデル (16 ビット整数)
Name[kk]=Сұр реңкті түстер үгісі (бүтін 16 бит сан)
Name[lv]=Pelēktoņu krāsu modelis (16 bitu skaitlis)
Name[nb]=Fargemodell med gråtoner (16-bit heltall)
Name[nds]=Griestöön-Klöörmodell (16-Bit Heeltall)
Name[ne]=ग्रेस्केल रङ नमूना (१६-बिट इन्टिजर)
Name[nl]=Kleurmodel voor grijswaarden (16-bit integers)
Name[pl]=Skala szarości (16-bitowa liczba całkowita)
Name[pt]=Modelo de Cor de Tons de Cinzento (inteiros de 16 bits)
Name[pt_BR]=Modelo de Cor de Tons de Cinza (inteiros de 16 bits)
Name[ru]=Градации серого (целое 16-бит)
Name[sk]=Čiernobiely/šedý model farieb (16-bitové čísla)
Name[sl]=Sivinski barvni model (16-bitno celo število)
Name[sv]=Färgmodell med gråskala (16-bitars heltal)
Name[tr]=Gri ton Renk Modeli (16-bit integer)
Name[uk]=Модель кольору відтінків сірого (16-бітове ціле число)
Name[uz]=Kul rang usuli (16-bit butun)
Name[uz@cyrillic]=Кул ранг усули (16-бит бутун)
Name[wa]=Modele di coleur Liveas di gris (etirs 16 bites)
Name[x-test]=xxGrayscale Color Model (16-bit integer)xx
Name[zh_CN]=灰度色彩模型(16 位整数)
Name[zh_TW]=灰階色彩模型 (16-bit 整數)
Comment=Color model for 16-bit integer per channel Grayscale images
Comment[bg]=Цветови модел за 16 битови изображения в сива гама
Comment[ca]=Model de color d'enters de 16 bits per a canal d'imatges d'escala de grisos
Comment[cy]=Model lliw ar gyfer delweddau Graddlwyd â chyfanrif 16-did/sianel
Comment[da]=Farvemodel for 16-bit heltal pr kanal Gråskala-billeder
Comment[de]=Farbmodell für 16-bit Ganzzahl pro Kanal Graustufen-Bilder
Comment[el]=Χρωματικό μοντέλο για 16-bit ακεραίους ανά κανάλι με διαβαθμίσεις του γκρι εικόνες
Comment[en_GB]=Colour model for 16-bit integer per channel Greyscale images
Comment[es]=Modelo de color para imágenes en escala de grises de entero de 16 bits por canal
Comment[et]=16-bitiste täisarvuliste kanalitega halltoonis piltide värvimudel
Comment[fa]=مدل رنگ برای عدد صحیح ۱۶ بیتی در هر تصویر مقیاس خاکستری مجرا
Comment[fi]=Värimalli harmaasävykuville (16-bittiä/kanava)
Comment[fr]=Modèle de couleurs pour des images en nivaux de gris à 16 bits/plage
Comment[fy]=Kleurmodel foar 16-bit/kanaal griiswearde-ôfbyldings
Comment[gl]=Modelo de cor para imaxes en escala de grises de  16-bit por canal
Comment[he]=מודל צבעים עבור תמונות של 16 סיביות בגווני אפור
Comment[hi]=१६ बिट इंटीजर प्रति चैनल श्वेतश्याम छवियों के लिये रंग मॉडल
Comment[hne]=१६ बिट इंटीजर प्रति चैनल सफेदस्याम फोटू मन बर रंग माडल
Comment[hu]=Színmodell 16 bit/csatorna szürkeárnyalatos képekhez
Comment[is]=Litategund fyrir 16-bita heiltölu á rás gráskala myndir
Comment[it]=Modello di colore per immagini in scala di grigio a canale di 16 bit
Comment[ja]=16 ビット整数/チャンネルのグレースケール画像のためのカラーモデル
Comment[kk]=Сұр реңкті кескіндердің түстер кеңістігі (бүтін 16 бит сан/арна)
Comment[lv]=Krāsu modelis pelēktoņu attēliem ar 16-bitu skaitli kanālā 
Comment[nb]=Fargemodell for gråtonebilde med 16 bit per kanal
Comment[nds]=Klöörmodell för Griestöön-Biller mit 16-Bit Heeltall per Kanaal
Comment[ne]=१६-बिट इन्टिजरकप प्रत्येक च्यानल ग्रेस्केल छविका लागि रङ नमूना
Comment[nl]=Kleurmodel voor 16-bit/kanaal grijswaarde-afbeeldingen
Comment[pl]=Przestrzeń barw dla obrazków w skali szarości z 16-bitową liczbą całkowitą na kanał
Comment[pt]=Modelo de cor para imagens de tons de cinzento com 16 bits por canal
Comment[pt_BR]=Modelo de cor para imagens de tons de cinza com 16 bits por canal
Comment[ru]=Цветовое пространство градаций серого (целое 16-бит/канал)
Comment[sk]=Model farieb pre ČB/šedé obrázky so 16 bitmi na kanál
Comment[sl]=Barvni model za 16-bitna cela števila/kanal sivinske slike
Comment[sv]=Färgmodell för 16-bitars heltal per kanal gråskalebilder
Comment[tr]=16-bit integer yapısına sahip gri tonlu resimler için renk modeli
Comment[uk]=Модель кольору для зображень відтінків сірого, 16-біт/канал
Comment[wa]=Modele di coleur po ls imådjes e liveas d' gris a 16 bites pa canå
Comment[x-test]=xxColor model for 16-bit integer per channel Grayscale imagesxx
Comment[zh_CN]=每通道 16 位整数的灰度图像色彩模型
Comment[zh_TW]=每色頻為 16-bit 的灰階圖片色彩模型
X-KDE-ServiceTypes=KOffice/ColorSpace
Type=Service
X-Pigment-MinVersion=0
X-Flake-PluginVersion=1
X-KDE-Library=krita_gray_u16_plugin
