[Desktop Entry]
Name=Sheets Pivot Plugin
Name[hu]=Sheets pivot bővítmény
Name[it]=Estensione pivot di Sheets
Name[kk]=Sheets құрама кесте плагині
Name[nl]=Plug-in voor Pivot van Sheet
Name[pt]='Plugin' de Pivot do Sheets
Name[pt_BR]=Plugin de Pivot do Sheets
Name[sk]=Plugin stredu Sheets
Name[sv]=Sheets pivåinsticksprogram
Name[uk]=Додаток зведених таблиць для Sheets
Name[x-test]=xxSheets Pivot Pluginxx
X-KDE-ServiceTypes=Sheets/ViewPlugin
Type=Service
X-KDE-Library=sheetssolver
X-Sheets-Version=28
