[Desktop Entry]
Name=ColorSelectorNG
Name[x-test]=xxColorSelectorNGxx
X-KDE-ServiceTypes=Krita/Dock
Type=Service
X-KDE-Library=kritacolorselectorng
X-Krita-Version=3
