[Desktop Entry]
Encoding=UTF-8
Name=Scripting plugin
Name[de]=Skripting-Plugin
Name[es]=Extensión para guiones
Name[ga]=Breiseán scriptithe
Name[it]=Plugin di scripting
Name[ja]=スクリプトプラグイン
Name[pt]='Plugin' de 'Scripts'
Name[pt_BR]='Plugin' de 'Scripts'
Name[sr]=Прикључак за скриптовање
Name[sr@Latn]=Прикључак за скриптовање
Name[sv]=Skriptinsticksprogram
Name[xx]=xxScripting pluginxx
Comment=Allow execution of scripts
Comment[sv]=Tillåt att köra skript
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritascripting
X-KDE-Version=2
