[Desktop Entry]
Name=Gmic
Name[bs]=Gmic
Name[ca]=Gmic
Name[ca@valencia]=Gmic
Name[da]=Gmic
Name[de]=Gmic
Name[el]=Gmic
Name[en_GB]=Gmic
Name[et]=Gmic
Name[eu]=Gmic
Name[fi]=Gmic
Name[fr]=Gmic
Name[it]=Gmic
Name[kk]=Gmic
Name[nl]=Gmic
Name[pl]=Gmic
Name[ru]=Gmic
Name[sk]=Gmic
Name[sv]=G'Mic
Name[tr]=Gmic
Name[uk]=Gmic
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritagmic
X-Krita-Version=28
