[Desktop Entry]
Encoding=UTF-8
Name=Invert Filter with Threads
Name[ar]=مرشح الإنقلاب بعمليات منفصلة
Name[bg]=Инвертиращ филтър с нишки
Name[ca]=Inverteix filtre amb fils
Name[cy]=Gwrthdroi Hidlen efo Edeifion
Name[da]=Inverteringsfilter med tråde
Name[de]=Invertierungsfilter mit Threads
Name[el]=Φίλτρο αντιστροφής με νήματα
Name[es]=Invertir filtro con hilos
Name[et]=Lõimedega inverteerimise filter
Name[fr]=Filtre d'inversion avec fils
Name[ga]=Inbhéartaigh Scagaire le Snáitheanna
Name[gl]=Filtro de Inversión Multifío
Name[is]=Snúa síu með þráðum
Name[it]=File di inversione con trama
Name[nl]=Filter met threads omkeren
Name[pt]=Filtro de Inversão Multitarefa
Name[pt_BR]=Filtro de Inversão Multitarefa
Name[ru]=Инвертирование
Name[sr]=Филтер за инверзију са нитима
Name[sr@Latn]=Filter za inverziju sa nitima
Name[sv]=Inverteringsfilter med trådar
Name[xx]=xxInvert Filter with Threadsxx
Name[zh_TW]=有 Thread 的反轉過濾器
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritathreadtest
X-Krita-Version=2
