[Desktop Entry]
Encoding=UTF-8
Name=Invert Filter with Threads
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritathreadtest
X-Krita-Version=2
