[Desktop Entry]
Encoding=UTF-8
Name=Invert Filter
Name[el]=Φίλτρο αντιστροφής
Name[fr]=Filtre d'inversion
Name[x-test]=xxInvert Filterxx
Comment=Invert the colors of an image
Comment[el]=Αντιστροφή των χρωμάτων μίας εικόνας
Comment[fr]=Inverse les couleurs de l'image
Comment[x-test]=xxInvert the colors of an imagexx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaexample
X-Krita-Version=3
