[Desktop Entry]
Encoding=UTF-8
Name=Perspective Grid Tool
Name[da]=Perspektivgitterværktøj
Name[es]=Herramienta Cuadrícula de perspectiva
Name[et]=Perspektiivvõrgu tööriist
Name[it]=Strumento di reticolo prospettico
Name[ja]=遠近法グリッドツール
Name[pt]=Ferramenta de Grelha em Perspectiva
Name[pt_BR]=Ferramenta de Grelha em Perspectiva
Name[sk]=Perspektívna mriežka
ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolperspectivegrid
X-Krita-Version=2
