[Desktop Entry]
Encoding=UTF-8
Name=Perspective Grid Tool
ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolperspectivegrid
X-Krita-Version=2
