[Desktop Entry]
Name=Autocorrection plugin
Name[bg]=Приставка за автокорекция
Name[bs]=Plugin za Automatske Popravke
Name[ca]=Connector d'autocorrecció
Name[ca@valencia]=Connector d'autocorrecció
Name[cs]=Modul pro automatické opravy
Name[da]=Plugin til autokorrektur
Name[de]=Autokorrektur-Modul
Name[el]=Πρόσθετο αυτόματης διόρθωσης
Name[en_GB]=Autocorrection plugin
Name[es]=Complemento de corrección automática
Name[et]=Automaatkorrigeerimise plugin
Name[eu]=Zuzenketa automatikoaren plugina
Name[fa]=وصله اصلاح خودکار
Name[fi]=Automaattikorjausliitännäinen
Name[fr]=Module externe d'autocorrection
Name[ga]=Breiseán uathcheartaithe
Name[gl]=Complemento de correción automática
Name[hi]=स्वतःसुधार प्लगइन
Name[hne]=अपन आपसुधार प्लगइन
Name[hu]=Automatikus javítás bővítmény
Name[it]=Estensione di correzione automatica
Name[ja]=自動修正プラグイン
Name[kk]=Автотүзету плагині
Name[lv]=Autokorekcijas spraudnis
Name[nb]=Programtillegg for autorettelse
Name[nds]=Moduul "Automaatsche Korrektuur"
Name[ne]=स्वत: सुधार गर्ने प्लगइन
Name[nl]=Autocorrectieplug-in
Name[pl]=Wtyczka samoczynnego poprawiania
Name[pt]='Plugin' de correcção automática
Name[pt_BR]=Plugin de autocorreção
Name[ru]=Модуль автоматического исправления
Name[sk]=Plugin automatických opráv
Name[sl]=Vstavek za samodejno popravljanje
Name[sv]=Insticksprogram för automatisk korrigering
Name[tr]=Otomatik düzeltme eklentisi
Name[uk]=Додаток автовиправлення
Name[wa]=Tchôke-divins di coridjaedje otomatike
Name[x-test]=xxAutocorrection pluginxx
Name[zh_CN]=自动更正插件
Name[zh_TW]=自動修正外掛程式
X-KDE-ServiceTypes=Calligra/Text-EditingPlugin
Type=Service
X-KDE-PluginInfo-Name=autocorrect
X-KoText-MinVersion=28
X-KoText-PluginVersion=28
X-KDE-Library=calligra_textediting_autocorrect
