[Desktop Entry]
Encoding=UTF-8
Name=Screenshot
Name[br]=Skrammpaker
Name[ca]=Captura de pantalla
Name[cy]=Sgrinlun
Name[da]=Skærmaftryk
Name[de]=Bildschirmphoto
Name[el]=Στιγμιότυπο οθόνης
Name[es]=Captura de pantalla
Name[et]=Ekraanipilt
Name[fr]=Capture d'écran
Name[ga]=Pictiúr den Scáileán
Name[hu]=Képernyőfelvétel
Name[is]=Skjámynd
Name[it]=Schermata
Name[ja]=スクリーンショット
Name[km]=ថតអេក្រង់
Name[nl]=Schermafbeelding
Name[pl]=Zrzut ekranu
Name[pt]=Captura
Name[pt_BR]=Captura de Tela
Name[ru]=Снимок экрана
Name[sl]=Posnetek zaslona
Name[sr]=Снимак екрана
Name[sr@Latn]=Snimak ekrana
Name[sv]=Skärmdump
Name[uk]=Знімок екрана
Name[uz]=Скриншот
Name[zh_CN]=抓图
Name[zh_TW]=螢幕快照
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritascreenshot
X-Krita-Version=2
