[Desktop Entry]
Type=Service
Name=Krita OpenEXR Import Filter
Name[bg]=Филтър за импортиране от OpenEXR в Krita
Name[br]=Sil enporzh OpenEXR evit Krita
Name[ca]=Filtre d'importació OpenEXR per al Krita
Name[cs]=Importní filtr formátu OpenEXR pro Kritu
Name[cy]=Hidl Mewnforio OpenEXR Krita
Name[da]=Krita OpenEXR-importfilter
Name[de]=Krita OpenEXR-Importfilter
Name[el]=Φίλτρο εισαγωγής OpenEXR του Krita
Name[en_GB]=Krita OpenEXR Import Filter
Name[eo]=Krita OpenEXR-importfiltrilo
Name[es]=Filtro de Krita de importación de OpenEXR
Name[et]=Krita OpenEXR'i impordifilter
Name[fa]=پالایۀ واردات Krita OpenEXR
Name[fi]=Krita OpenEXR -tuontisuodin
Name[fr]=Filtre d'importation OpenEXT de Krita
Name[fy]=Krita OpenEXR Ymportfilter
Name[ga]=Scagaire Iompórtála OpenEXR Krita
Name[gl]=Filtro de Importación de OpenEXR para Krita
Name[he]=Krita OpenEXR מסנן יבוא
Name[hi]=केरिता ओपनईएक्सआर आयात फ़िल्टर
Name[hne]=केरिता ओपनईएक्सआर आयात फिल्टर
Name[hr]=Krita OpenEXR filtar uvoza
Name[hu]=Krita OpenEXR importszűrő
Name[is]=Krita OpenEXR innflutningssía
Name[it]=Filtro di importazione OpenEXR per Krita
Name[ja]=Krita OpenEXR インポートフィルタ
Name[kk]=OpenEXR -> Krita импорт сүзгісі
Name[lt]=Krita OpenEXR importavimo filtras
Name[lv]=Krita OpenEXR importa filtrs
Name[nb]=OpenEXR-importfilter for Krita
Name[nds]=OpenEXR-Importfilter för Krita
Name[ne]=क्रिता OpenEXR आयात फिल्टर
Name[nl]=OpenEXR-importfilter voor Krita
Name[pl]=Filtr importu formatu OpenEXR do Krita
Name[pt]=Filtro de Importação de OpenEXR para o Krita
Name[pt_BR]=Filtro de Importação OpenEXR para o Krita
Name[ru]=Фильтр импорта рисунков OpenEXR в Krita
Name[sk]=OpenEXR filter pre import do Krita
Name[sl]=Uvozni filter OpenEXR za Krito
Name[sv]=Krita OpenEXR-importfilter
Name[tg]=Филтри воридотии Krita OpenEXR
Name[tr]=Krita OpenEXR Alma Filtresi
Name[uk]=Фільтр імпорту OpenEXR для Krita
Name[uz]=Krita OpenEXR import filteri
Name[uz@cyrillic]=Krita OpenEXR импорт филтери
Name[wa]=Passete d' abagaedje OpenEXR di Krita
Name[x-test]=xxKrita OpenEXR Import Filterxx
Name[zh_CN]=Krita OpenEXR 导入过滤器
Name[zh_TW]=Krita OpenEXR 匯入過濾程式
X-KDE-Export=application/x-krita
# X-KDE-Import=image/x-exr
X-KDE-Weight=1
X-KDE-Library=libkrita_openexr_import
X-KDE-ServiceTypes=KOfficeFilter
NoDisplay=true
