[Desktop Entry]
Encoding=UTF-8
Name=Substrate
Name[da]=Substrat
Name[de]=Träger
Name[es]=Sustrato
Name[et]=Substraat
Name[it]=Substrato
Name[pt]=Substrato
Name[pt_BR]=Substrato
Name[sv]=Substrat
Name[zh_TW]=基底
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritasubstrate
X-Krita-Version=2
