[Desktop Entry]
Name=Krita TGA Export Filter
X-KDE-Export=image/x-tga
X-KDE-ServiceTypes=Calligra/Filter
Type=Service
X-KDE-Import=application/x-krita
X-KDE-Weight=1
X-KDE-Library=kritatgaexport
NoDisplay=true
