[Desktop Entry]
Name=Krita TGA Import Filter
X-KDE-Export=application/x-krita
X-KDE-ServiceTypes=Calligra/Filter
Type=Service
X-KDE-Import=image/x-tga
X-KDE-Weight=1
X-KDE-Library=kritatgaimport
NoDisplay=true
