[Desktop Entry]
Type=Service
Name=Krita Gif Import Filter
Name[bg]=Филтър за импортиране от Gif в Krita
Name[br]=Sil enporzh Gif evit Krita
Name[ca]=Filtre d'importació Gif per al Krita
Name[cs]=Importní filtr formátu Gif pro Kritu
Name[cy]=Hidl Mewnforio Krita Gif
Name[da]=Krita Gif-importfilter
Name[de]=Krita Gif-Importfilter
Name[el]=Φίλτρο εισαγωγής Gif του Krita
Name[eo]=Krita Gif-importfiltrilo
Name[es]=Filtro de Krita de importación de Gif
Name[et]=Krita Gifi impordifilter
Name[eu]=Krita-ren Gif inportaziorako iragazkia
Name[fa]=پالایۀ واردات Krita Gif
Name[fi]=Krita Gif-tuontisuodin
Name[fr]=Filtre d'importation Gif de Krita
Name[fy]=Krita Gif Ymportfilter
Name[ga]=Scagaire Iompórtála Gif Krita
Name[gl]=Filtro de Importación de Gif para Krita
Name[he]=מסנן יבוא מ־Gif ל־Krita
Name[hi]=केरिता मैजिक आयात फ़िल्टर
Name[hr]=Krita Gif filtar uvoza
Name[hu]=Krita Gif importszűrő
Name[is]=Krita Gif innflutningssía
Name[it]=Filtro di importazione Gif per Krita
Name[ja]=Krita Gif インポートフィルタ
Name[kk]=Gif -> Krita импорт сүзгісі
Name[lt]=Krita Gif importavimo filtras
Name[lv]=Krita Gif importa filtrs
Name[ms]=Penapis Import Krita Gif
Name[nb]=Gif-importfilter for Krita
Name[nds]=Gif-Importfilter för Krita
Name[ne]=क्रिता म्याजिक आयात फिल्टर
Name[nl]=Gif-importfilter voor Krita
Name[pl]=Filtr importu formatu Gif do Krita
Name[pt]=Filtro de Importação de Gif para o Krita
Name[pt_BR]=Filtro de Importação Gif para o Krita
Name[ru]=Фильтр импорта рисунков Gif в Krita
Name[se]=Krita Gif-sisafievrridansilli
Name[sk]=Gif filter pre import do Krita
Name[sl]=Uvozni filter Gif za Krito
Name[sv]=Krita Gif-importfilter
Name[ta]=கிரிட்டாவின் மாய இறக்குமதி வடிகட்டி
Name[tg]=Филтри воридотии Krita Gif
Name[tr]=Krita Gif Alma Filtresi
Name[uk]=Фільтр імпорту Gif для Krita
Name[uz]=Krita Gif import filteri
Name[uz@cyrillic]=Krita Gif импорт филтери
Name[wa]=Passete d' abagaedje Gif di Krita
Name[x-test]=xxKrita Gif Import Filterxx
Name[zh_CN]=Krita Gif 导入过滤器
Name[zh_TW]=Krita Gif 匯入過濾程式
X-KDE-Export=application/x-krita
X-KDE-Import=image/gif
X-KDE-Weight=1
X-KDE-Library=libkritagifimport
X-KDE-ServiceTypes=KOfficeFilter
NoDisplay=true
