[Desktop Entry]
Type=Service
Name=Krita Gif Import Filter
Name[ca]=Filtre d'importació GIF per al Krita
Name[ca@valencia]=Filtre d'importació GIF per al Krita
Name[de]=Krita Gif-Importfilter
Name[en_GB]=Krita Gif Import Filter
Name[es]=Filtro de Krita de importación de GIF
Name[et]=Krita Gifi impordifilter
Name[fi]=Kritan GIF-tuontisuodin
Name[gl]=Filtro de importación de Gif
Name[nb]=GIF-importfilter for Krita
Name[nds]=GIF-Importfilter för Krita
Name[nl]=GIF-importfilter voor Krita
Name[pt]=Filtro de Importação de GIF para o Krita
Name[pt_BR]=Filtro de Importação de GIF para o Krita
Name[sv]=Krita GIF-importfilter
Name[uk]=Фільтр імпорту GIF для Krita
Name[x-test]=xxKrita Gif Import Filterxx
Name[zh_TW]=Krita Gif 匯入過濾程式
X-KDE-Export=application/x-krita
X-KDE-Import=image/gif
X-KDE-Weight=1
X-KDE-Library=libkritagifimport
X-KDE-ServiceTypes=KOfficeFilter
NoDisplay=true
