[Desktop Entry]
Type=Service
Name=Krita Gif Import Filter
Name[ca]=Filtre d'importació GIF per al Krita
Name[de]=Krita Gif-Importfilter
Name[es]=Filtro de Krita de importación de GIF
Name[et]=Krita Gifi impordifilter
Name[nl]=GIF-importfilter voor Krita
Name[pt]=Filtro de Importação de GIF para o Krita
Name[pt_BR]=Filtro de Importação de GIF para o Krita
Name[sv]=Krita GIF-importfilter
Name[uk]=Фільтр імпорту GIF для Krita
Name[x-test]=xxKrita Gif Import Filterxx
X-KDE-Export=application/x-krita
X-KDE-Import=image/gif
X-KDE-Weight=1
X-KDE-Library=libkritagifimport
X-KDE-ServiceTypes=KOfficeFilter
NoDisplay=true
