[Desktop Entry]
Icon=
Name=Krita PPM Import Filter
Name[bg]=Филтър за внасяне от PPM в Krita
Name[bs]=Krita PPM unosni Filter
Name[ca]=Filtre d'importació PPM per al Krita
Name[ca@valencia]=Filtre d'importació PPM per al Krita
Name[cs]=Importní filtr formátu PPM pro Kritu
Name[da]=PPM-importfilter til Krita
Name[de]=Krita-PPM-Importfilter
Name[el]=Φίλτρο εισαγωγής PPM του Krita
Name[en_GB]=Krita PPM Import Filter
Name[es]=Filtro de Krita de importación de PPM
Name[et]=Krita PPM impordifilter
Name[eu]=Krita-ren PPM inportazio-iragazkia
Name[fi]=Kritan PDF-tuontisuodatin
Name[fr]=Filtre d'importation PPM de Krita
Name[ga]=Scagaire Iompórtála PPM Krita
Name[gl]=Filtro para Krita de importación de PPM
Name[hu]=Krita PPM importszűrő
Name[it]=Filtro di importazione PPM per Krita
Name[ja]=Krita PPM インポートフィルタ
Name[kk]=PPM -> Krita импорт сүзгісі
Name[ko]=Krita PPM 가져오기 필터
Name[lt]=Krita PPM importavimo filtras
Name[nb]=PPM-importfilter for Krita
Name[nds]=PPM-Importfilter för Krita
Name[nl]=PPM-importfilter voor Krita
Name[pl]=Filtr importu PPM do Krita
Name[pt]=Filtro de Importação de PPM para o Krita
Name[pt_BR]=Filtro de importação de PPM para Krita
Name[ru]=Фильтр импорта изображений PPM в Krita
Name[sk]=Importný filter Krita PPM
Name[sl]=Uvozni filter PPM za Krito
Name[sv]=Krita PPM-importfilter
Name[tr]=Krita PPM İçe Aktarım Filtresi
Name[uk]=Фільтр імпортування даних PPM для Krita
Name[wa]=Passete d' abagaedje PPM di Krita
Name[x-test]=xxKrita PPM Import Filterxx
Name[zh_CN]=Krita PPM 导入过滤器
Name[zh_TW]=Krita PPM 匯入過濾程式
X-KDE-ServiceTypes=Krita/FileFilter
Type=Service
X-KDE-Export=application/x-krita
X-KDE-Import=image/x-portable-pixmap,image/x-portable-graymap,image/x-portable-bitmap
X-KDE-Library=kritappmimport
X-KDE-Weight=1
NoDisplay=true
