[Desktop Entry]
Encoding=UTF-8
Name=CMYK Color Model (16-bit integer)
Name[ar]=نموذج الألوان CMYK (عدد صحيح بـ 16-بت)
Name[bg]=Цветови модел CMYK (16 бита)
Name[ca]=Model de color CMYK (enters de 16 bits)
Name[cy]=Model Lliw CMYK (cyfanrif 16-did)
Name[da]=CMYK-farvemodel (16-bit heltal)
Name[de]=CMYK-Farbmodell (16-bit Ganzzahl)
Name[el]=Χρωματικό μοντέλο CMYK (16-bit ακέραιοι)
Name[en_GB]=CMYK Colour Model (16-bit integer)
Name[eo]=CMYK-kolormodelo (16-bita entjero)
Name[es]=Modelo de color CMYK (entero de 16 bits)
Name[et]=CMYK värvimudel (16-bitine täisarv)
Name[fr]=Modèle de couleurs CMYK (entiers 16 bits)
Name[gl]=Modelo de Cores CMYK (inteiro de 16-bit)
Name[is]=CMYK litategund (16-bita)
Name[it]=Modello di colore CMYK (intero a 16 bit)
Name[ja]=CMYK カラーモデル( 16ビット整数)
Name[nl]=CMYK-kleurmodel (16-bit integer)
Name[pt]=Modelo de Cor CMYK (inteiros de 16 bits)
Name[pt_BR]=Modelo de Cor CMYK (inteiros de 16 bits)
Name[ru]=CMYK (целое 16-бит)
Name[sl]=Barvni model CMYK (16-bitno celo število)
Name[sr]=CMYK модел боја (16-битно целобројно)
Name[sr@Latn]=CMYK model boja (16-bitno celobrojno)
Name[sv]=CMYK-färgmodell (16-bitars heltal)
Name[tr]=CMYK Renk Modeli (16-bit tamsayı)
Name[uk]=Модель кольору CMYK (16-бітне ціле число)
Name[xx]=xxCMYK Color Model (16-bit integer)xx
Name[zh_CN]=CMYK 色彩模型(16 位整数)
Name[zh_TW]=CMYK 色彩模型 (16-bit 整數)
Comment=Color model for 16-bit integer per channel CMYK images
Comment[ar]=نموذج ألوان لصور  CMYK بعدد صحيح بحجم 16-بت لكل قناة 
Comment[bg]=Цветови модел за 16 битови изображения CMYK
Comment[ca]=Model de color d'enters de 16 bits per a canal d'imatges CMYK
Comment[cy]=Model lliw ar gyfer delweddau CMYK â chyfanrif 16-did/sianel
Comment[da]=Farvemodel for 16-bit heltal pr kanal CMYK-billeder
Comment[de]=Farbmodell für 16-bit pro Kanal CMYK-Bilder
Comment[el]=Χρωματικό μοντέλο για 16-bit ακεραίους ανά κανάλι CMYK εικόνες
Comment[en_GB]=Colour model for 16-bit integer per channel CMYK images
Comment[eo]=Kolormodelo por 16-bita entjero poĉene por CMYK-bildoj
Comment[es]=Modelo de color de entero de 16 bits por canal para imágenes CMYK
Comment[et]=16-bitiste täisarvuliste kanalitega CMYK-piltide värvimudel
Comment[fr]=Modèle de couleurs pour des images CMYK à 16 bits/plage
Comment[gl]=Modelo de Cores para imaxes CMYK de 16-bit por canal
Comment[is]=Litategund fyrir 16-bita/rásir CMYK myndir
Comment[it]=Modello di colore per per immagini CMYK a canale di 16 bit
Comment[ja]=16ビット整数/チャンネル CMYK 画像のためのカラーモデル
Comment[nl]=Kleurmodel voor 16-bit/kanaal van CMYK-afbeeldingen
Comment[pt]=Modelo de cor para imagens CMYK com 16 bits por canal
Comment[pt_BR]=Modelo de cor para imagens CMYK com 16 bits por canal
Comment[ru]=Цветовое пространство CMYK (целое 16-бит/канал)
Comment[sl]=Barvni model za slike CMYK z 16 biti/kanal
Comment[sr]=Модел боја за CMYK слике, 16-битно целобројно по каналу
Comment[sr@Latn]=Model boja za CMYK slike, 16-bitno celobrojno po kanalu
Comment[sv]=Färgmodell för 16-bitars heltal per kanal CMYK-bilder
Comment[tr]=Her kanala 16-bit tam sayı CMYK resimleri için renk modeli
Comment[uk]=Модель кольору з 16-бітним цілим числом для кожного каналу зображень CMYK
Comment[xx]=xxColor model for 16-bit integer per channel CMYK imagesxx
Comment[zh_CN]=16 位整数每通道 CYMK 图像的色彩模型
Comment[zh_TW]=每色頻為 16-bit 的 CMYK 圖片色彩模型
ServiceTypes=Krita/ColorSpace
Type=Service
X-KDE-Library=krita_cmyk_u16_plugin
X-Krita-Version=2
