[Desktop Entry]
Encoding=UTF-8
Name=Grayscale Color Model (16-bit integer)
Name[ca]=Model de color d'escala de grisos (enters de 16 bits)
Name[cy]=Model Lliw Graddlwyd (cyfanrif 16-did)
Name[da]=Farvemodel med gråskala (16-bit heltal)
Name[de]=Graustufen-Farbmodell (16-bit Ganzzahl)
Name[el]=Χρωματικό μοντέλο διαβαθμίσεων του γκρι (16 bit ακέραιοι)
Name[en_GB]=Greyscale Colour Model (16-bit integer)
Name[es]=Modelo de color de escala de grises (entero de 16 bits)
Name[et]=Halltooni värvimudel (16-bitine)
Name[fr]=Modèle de couleurs en nivaux de gris (entiers 16 bits)
Name[he]=מודל צבעים של גווני אפור )16 סיביות(
Name[hu]=Szürkeárnyalatos színmodell (16 bites egész)
Name[is]=Gráskala litategund (16-bita heiltala)
Name[it]=Modello di colore a scala di grigio (intero a 16 bit)
Name[ja]=Grayscaleカラーモデル(16ビット整数)
Name[km]=គំរូ​ពណ៌​មាត្រដ្ឋានប្រផេះ (ចំនួនគត់ ១៦ ប៊ីត)
Name[nl]=Kleurmodel voor grijswaarden (16-bit integers)
Name[pl]=Skala szarości (16-bitowa liczba całkowita)
Name[pt]=Modelo de Cor de Tons de Cinzento (inteiros de 16 bits)
Name[pt_BR]=Modelo de Cor de Tons de Cinza (inteiros de 16 bits)
Name[ru]=Градации серого (целое 16-бит)
Name[sl]=Sivinski barvni model (16-bitno celo število)
Name[sr]=Модел боја у сивим нијансама (16-битно целобројно)
Name[sr@Latn]=Model boja u sivim nijansama (16-bitno celobrojno)
Name[sv]=Färgmodell med gråskala (16-bitars heltal)
Name[uk]=Модель кольору відтінків сірого (16-бітне ціле число)
Name[zh_CN]=灰度色彩模型(16 位整数)
Name[zh_TW]=灰階色彩模型 (16-bit 整數)
Comment=Color model for 16-bit integer per channel Grayscale images
Comment[ca]=Model de color d'enters de 16 bits per a canal d'imatges d'escala de grisos
Comment[cy]=Model lliw ar gyfer delweddau Graddlwyd â chyfanrif 16-did/sianel
Comment[da]=Farvemodel for 16-bit heltal pr kanal Gråskala-billeder
Comment[de]=Farbmodell für 16-bit Ganzzahl pro Kanal Graustufen-Bilder
Comment[el]=Χρωματικό μοντέλο για 16-bit ακεραίους ανά κανάλι με διαβαθμίσεις του γκρι εικόνες
Comment[en_GB]=Colour model for 16-bit integer per channel Greyscale images
Comment[es]=Modelo de color de entero de 16 bits por canal para imágenes de escala de grises
Comment[et]=16-bitiste täisarvuliste kanalitega halltoonis piltide värvimudel
Comment[fr]=Modèle de couleurs pour des images en nivaux de gris à 16 bits/plage
Comment[he]=מודל צבעים עבור תמונות של 16 סיביות בגווני אפור
Comment[hu]=Színmodell 16 bit/csatorna szürkeárnyalatos képekhez
Comment[is]=Litategund fyrir 16-bita heiltölu á rás gráskala myndir
Comment[it]=Modello di colore per immagini in scala di grigio a canale di 16 bit
Comment[ja]=16ビット整数/チャンネル グレースケール画像のためのカラーモデル
Comment[km]=គំរូ​ពណ៌​សម្រាប់​រូបភាព​មាត្រដ្ឋាន​ប្រផេះ​ចំនួន​គត់ ១៦ ប៊ីត​ក្នុង​មួយ​ឆានែល
Comment[nl]=Kleurmodel voor 16-bit/kanaal grijswaarde-afbeeldingen
Comment[pl]=Przestrzeń barw dla obrazków w skali szarości z 16-bitową liczbą całkowitą na kanał
Comment[pt]=Modelo de cor para imagens de tons de cinzento com 16 bits por canal
Comment[pt_BR]=Modelo de cor para imagens de tons de cinza com 16 bits por canal
Comment[ru]=Цветовое пространство градаций серого (целое 16-бит/канал)
Comment[sl]=Barvni model za 16-bitna cela števila/kanal sivinske slike
Comment[sr]=Модел боја за слике у сивим нијансама, 16-битно целобројно по каналу
Comment[sr@Latn]=Model boja za slike u sivim nijansama, 16-bitno celobrojno po kanalu
Comment[sv]=Färgmodell för 16-bitars heltal per kanal gråskalebilder
Comment[uk]=Модель кольору для зображень відтінків сірого, 16-біт/канал
Comment[zh_CN]=每通道 16 位整数的灰度图像色彩模型
Comment[zh_TW]=每色頻為 16-bit 的灰階圖片色彩模型
ServiceTypes=Krita/ColorSpace
Type=Service
X-Krita-Version=2
X-KDE-Library=krita_gray_u16_plugin
