[Desktop Entry]
Encoding=UTF-8
Name=SelectOpaque
Name[da]=Markér ugennemsigtig
Name[de]=UndurchsichtigeAuswählen
Name[et]=Läbipaistmatute pikslite valik
Name[it]=Seleziona i pixel opachi
Name[km]=ជ្រើស​ស្រអាប់
Name[nl]=Ondoorzichtige selecteren
Name[pt]=Selecção Opaca
Name[pt_BR]=Selecção Opaca
Name[ru]=Выделение непрозрачных областей
Name[sk]=Invertovať Výber
Name[sv]=Markera ogenomskinliga
Name[uk]=Виділення непрозорих ділянок
Name[zh_TW]=選擇不透明
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritaselectopaque
X-Krita-Version=2
