[Desktop Entry]
Encoding=UTF-8
Name=Default Paint Operations
Name[da]=Standard maleoperationer
Name[es]=Operaciones de pintado predefinidas
Name[et]=Vaikimisi joonistamisoperatsioonid
Name[fr]=Opérations de dessin par défaut
Name[pt]=Operações de pintura predefinidas
Name[pt_BR]=Operações de pintura padrão
Name[ru]=Стандартные действия рисования
Name[sr]=Подразумеване сликарске операције
Name[sr@Latn]=Подразумеване сликарске операције
Name[sv]=Förvalda målningsoperationer
Name[uk]=Типові дії малювання
Name[zh_CN]=默认绘图操作
Comment=Default paint operations
Comment[da]=Standard maleoperationer
Comment[es]=Operaciones de pintado predefinidas
Comment[et]=Vaikimisi joonistamisoperatsioonid
Comment[fr]=Opérations de dessin par défaut
Comment[pt]=Operações de pintura predefinidas
Comment[pt_BR]=Operações de pintura padrão
Comment[ru]=Действия рисования по умолчанию
Comment[sr]=Подразумеване сликарске операције
Comment[sr@Latn]=Подразумеване сликарске операције
Comment[sv]=Förvalda ritåtgärder
Comment[uk]=Типові дії малювання
Comment[zh_CN]=默认绘图操作
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritadefaultpaintops
