[Desktop Entry]
Encoding=UTF-8
Name=Modify Selection
Name[br]=Kemmañ an dibab
Name[da]=Ændr markering
Name[es]=Modificar selección
Name[et]=Valiku muutmine
Name[pt]=Modificar a Selecção
Name[pt_BR]=Modificar a Selecção
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritamodifyselection
X-Krita-Version=2
