[Desktop Entry]
Encoding=UTF-8
Name=Modify Selection
Name[br]=Kemmañ an dibab
Name[da]=Ændr markering
Name[de]=Auswahl verändern
Name[es]=Modificar selección
Name[et]=Valiku muutmine
Name[it]=Modifica la selezione
Name[pt]=Modificar a Selecção
Name[pt_BR]=Modificar a Seleção
Name[sv]=Ändra markering
Name[zh_TW]=變更選取
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritamodifyselection
X-Krita-Version=2
