[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=documenttools
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Document Tools
Name[zh_TW]=文件工具
Comment=Plugin to manipulate properties of selected documents
Comment[zh_TW]=用於修改所選文件屬性的外掛程式
