[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=lastdocumentsdocker
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Last Documents Docker
Name[ca]=Acoblador dels darrers documents
Name[ca@valencia]=Acoblador dels darrers documents
Name[en_GB]=Last Documents Docker
Name[es]=Panel de últimos documentos
Name[eu]=Azken dokumentuen panela
Name[fi]=Viimeisimpien tiedostojen telakka
Name[fr]=Récemment ouverts
Name[gl]=Doca dos últimos documentos
Name[it]=Area di aggancio Ultimi documenti
Name[nl]=Laatste documenten verankering
Name[pl]=Dok ostatnich dokumentów
Name[pt]=Área dos Últimos Documentos
Name[sv]=Dockningsfönster för senaste dokument
Name[tr]=Son Belgeler Doku
Name[uk]=Бічна панель останніх документів
Name[x-test]=xxLast Documents Dockerxx
Name[zh_CN]=最近文档工具面板
Name[zh_TW]=「最後文件」面板
Comment=A Python-based docker for show thumbnails to last ten documents
Comment[ca]=Un acoblador basant en el Python per a mostrar miniatures dels darrers deu documents
Comment[ca@valencia]=Un acoblador basant en el Python per a mostrar miniatures dels darrers deu documents
Comment[en_GB]=A Python-based docker for show thumbnails to last ten documents
Comment[es]=Un panel basado en Python para mostrar miniaturas de los últimos diez documentos
Comment[eu]=Azken hamar dokumentuen koadro-txikiak erakusteko Python-oinarridun panel bat
Comment[fi]=Python-pohjainen telakka viimeisimpien kymmenen tiedoston pienoiskuvien näyttämiseen
Comment[fr]=Panneau en Python pour afficher les vignettes des dix derniers documents
Comment[gl]=Unha doca baseada en Python para mostrar as miniaturas dos últimos dez documentos.
Comment[it]=Un'area di aggancio basata su Python per mostrare miniature degli ultimi dieci documenti.
Comment[nl]=Een op Python gebaseerde vastzetter om miniaturen van de laatste tien documenten te tonen
Comment[pl]=Dok oparty na Pythonie do pokazywania miniatur dziesięciu ostatnio otwieranych dokumentów
Comment[pt]=Uma área acoplável em Python para mostrar miniaturas dos últimos dez documentos
Comment[sv]=Ett Python-baserat dockningsfönster för att visa miniatyrbilder för de tio senaste dokumenten
Comment[tr]=Son on belgenin küçük resmini göstermek için Python-tabanlı bir dok
Comment[uk]=Бічна панель на основі Python для показу мініатюр останніх десяти документів
Comment[x-test]=xxA Python-based docker for show thumbnails to last ten documentsxx
Comment[zh_CN]=基于 Python 的工具面板，显示最近十个文档的缩略图
Comment[zh_TW]=基於 Python 的面板，用於顯示最後 10 個文件縮圖
