[Desktop Entry]
Encoding=UTF-8
Name=Polyline Tool
Name[cy]=Erfyn Polylinell
Name[da]=Flerlinjeværktøj
Name[de]=Polylinien-Werkzeug
Name[el]=Εργαλείο Polyline
Name[eo]=Ilo por multlinioj
Name[es]=Herramienta Polilínea
Name[et]=Kompleksjoone tööriist
Name[eu]=Polilerroa tresna
Name[fr]=Outil lignes multiples
Name[ga]=Uirlis Il-líne
Name[he]=כלי קו שבור
Name[hu]=Sokszögvonal eszköz
Name[it]=Strumento polilinea
Name[nl]=Polylijngereedschap
Name[pt]=Ferramenta de Linhas Poligonais
Name[pt_BR]=Ferramenta Poli-linha
Name[ru]=Ломаная
Name[sr]=Алат за полилиније
Name[sr@Latn]=Alat za polilinije
Name[sv]=Flerlinjesverktyg
Name[tr]=Çok Çizgili Araç
Name[xx]=xxPolyline Toolxx
Name[zh_CN]=折线工具
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritatoolpolyline
X-KDE-Version=2
