[Desktop Entry]
Encoding=UTF-8
Name=Polyline Tool
Name[es]=Herramienta Polilínea
Name[ga]=Uirlis Il-líne
Name[pt]=Ferramenta de Linhas Poligonais
Name[pt_BR]=Ferramenta Poli-linha
Name[sv]=Flerlinjesverktyg
Name[zh_CN]=折线工具
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritatoolpolyline
