[Desktop Entry]
Name=RulerAssistantView
Name[el]=Προβολή βοηθού κανόνα
Name[gl]=VistadoAsistenteRegra
Name[it]=Vista dell'assistente dei righelli
Name[nds]=Linealenhölper-Ansicht
Name[nl]=Beeld voor assistent voor liniaal
Name[sv]=Linjalguidevy
Name[x-test]=xxRulerAssistantViewxx
Name[zh_TW]=尺規小助手檢視
Comment=RulerAssistantView
Comment[el]=Προβολή βοηθού κανόνα
Comment[gl]=VistaAsistenteRegra
Comment[it]=Vista dell'assistente dei righelli
Comment[nds]=Linealenhölper-Ansicht
Comment[nl]=Beeld voor assistent voor liniaal
Comment[sv]=Linjalguidevy
Comment[x-test]=xxRulerAssistantViewxx
Comment[zh_TW]=尺規小助手檢視
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritarulerassistantview
X-Krita-Version=3
