[Desktop Entry]
Encoding=UTF-8
Name=XYZ Color Model (16-bit integer)
Name[bg]=Цветови модел XYZ (16 бита)
Name[ca]=Model de color XYZ (enters de 16 bits)
Name[de]=XYZ-Farbmodell (16-bit Ganzzahl)
Name[el]=Χρωματικό μοντέλο ΧΥΖ (16-bit ακέραιοι)
Name[es]=Modelo de color XYZ (entero de 16 bits)
Name[fa]=مدل رنگ XYZ )عدد صحیح ۱۶ بیتی(
Name[ja]=XYZ カラーモデル (16 ビット整数)
Name[ne]=XYZ रङ नमूना (१६-बिट इन्टिजर)
Name[pt]=Modelo de Cor CMYK (inteiros de 16 bits)
Name[pt_BR]=Modelo de Cor XYZ (inteiros de 16 bits)
Name[sv]=XYZ-färgmodell (16-bitars heltal)
Name[uk]=Модель кольорів CMYK (16-бітне ціле число)
Name[x-test]=xxXYZ Color Model (16-bit integer)xx
Name[zh_TW]=XYZ 色彩模型 (16-bit 整數)
Comment=Color model for 16-bit integer per channel XYZ images
Comment[bg]=Цветови модел за 16 битови изображения XYZ
Comment[ca]=Model de color d'enters de 16 bits per a canal d'imatges XYZ
Comment[de]=Farbmodell für 16-bit pro Kanal XYZ-Bilder
Comment[el]=Χρωματικό μοντέλο για 16-bit ακεραίους ανά κανάλι XYZ εικόνες
Comment[es]=Modelo de color para imágenes CMYK de enteros de 16 bits por canal
Comment[fa]=مدل رنگ برای عدد صحیح ۱۶ بیتی در هر مجرای تصاویر XYZ
Comment[ja]=16 ビット整数/チャンネルの XYZ 画像のためのカラーモデル
Comment[ne]=प्रत्येक च्यानलको XYZ छविको १६-बिट इन्टिजरका लागि रङ नमूना
Comment[pt]=Modelo de cor para imagens CMYK com 16 bits por canal
Comment[pt_BR]=Modelo de cor para imagens XYZ com 16 bits inteiros por canal
Comment[sv]=Färgmodell för 16-bitars heltal per kanal XYZ-bilder
Comment[uk]=Модель кольорів з 16-бітним цілим числом на канал для зображень XYZ
Comment[x-test]=xxColor model for 16-bit integer per channel XYZ imagesxx
Comment[zh_TW]=每色頻為 16-bit 的 XYZ 圖片色彩模型
ServiceTypes=KOffice/ColorSpace
Type=Service
X-KDE-Library=krita_xyz_u16_plugin
X-Pigment-MinVersion=0
X-Flake-PluginVersion=1
