[Desktop Entry]
Encoding=UTF-8
Icon=
Name=Krita %{APPNAMELC} Import Filter
Name[el]=Φίλτρο εισαγωγής %{APPNAMELC} του Krita
Name[es]=Krita %{APPNAMELC} filtro de importación
Name[et]=Krita %{APPNAMELC} impordifilter
Name[ga]=Scagaire Iompórtála %{APPNAMELC} Krita
Name[gl]=Filtro de Importación de Krita %{APPNAMELC} 
Name[ja]=Krita %{APPNAMELC} インポートフィルタ
Name[km]=តម្រង​នាំចូល​សម្រាប់ Krita %{APPNAMELC}​
Name[pt]=Filtro de Importação de %{APPNAMELC} para o Krita
Name[pt_BR]=Filtro de Importação %{APPNAMELC} para o Krita
Name[sv]=Krita %{APPNAMELC}-importfilter
Name[x-test]=xxKrita %{APPNAMELC} Import Filterxx
Name[zh_TW]=Krita %{APPNAMELC} 匯入過濾程式
ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=application/x-krita
X-KDE-Import=image/%{APPNAMELC}
X-KDE-Library=libkrita%{APPNAMELC}import
X-KDE-Weight=1
