[Desktop Entry]
Icon=
Name=Krita %{APPNAMELC} Import Filter
Name[bg]=Филтър за импортиране от %{APPNAMELC} в Krita
Name[ca]=Filtre d'importació %{APPNAMELC} per al Krita
Name[ca@valencia]=Filtre d'importació %{APPNAMELC} per al Krita
Name[da]=Krita %{APPNAMELC}-importfilter
Name[de]=Krita %{APPNAMELC}-Importfilter
Name[el]=Φίλτρο εισαγωγής %{APPNAMELC} του Krita
Name[en_GB]=Krita %{APPNAMELC} Import Filter
Name[es]=Filtro de importación de %{APPNAMELC} de Krita
Name[et]=Krita %{APPNAMELC} impordifilter
Name[fy]=Krita  %{APPNAMELC} Ymportfilter
Name[ga]=Scagaire Iompórtála %{APPNAMELC} Krita
Name[gl]=Filtro de Importación de Krita %{APPNAMELC} 
Name[hi]=केरिता %{APPNAMELC} आयात फ़िल्टर
Name[hne]=केरिता %{APPNAMELC} आयात फिल्टर
Name[it]=Filtro di importazione da %{APPNAMELC} di Krita
Name[ja]=Krita %{APPNAMELC} インポートフィルタ
Name[kk]=%{APPNAMELC} -> Krita импорт сүзгісі
Name[lv]=Krita %{APPNAMELC} importa filtrs
Name[nb]=Krita %{APPNAMELC} importfilter
Name[nds]=%{APPNAMELC}-Importfilter för Krita
Name[nl]=Krita %{APPNAMELC} Importfilter
Name[pt]=Filtro de Importação de %{APPNAMELC} para o Krita
Name[pt_BR]=Filtro de Importação %{APPNAMELC} para o Krita
Name[sv]=Krita %{APPNAMELC}-importfilter
Name[tr]=Krita %{APPNAMELC} Alma Filtresi
Name[uk]=Фільтр імпорту %{APPNAMELC} у Krita
Name[wa]=Passete d' abagaedje %{APPNAMELC} di Krita
Name[x-test]=xxKrita %{APPNAMELC} Import Filterxx
Name[zh_CN]=Krita %{APPNAMELC} 导入过滤器
Name[zh_TW]=Krita %{APPNAMELC} 匯入過濾程式
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Export=application/x-krita
X-KDE-Import=image/%{APPNAMELC}
X-KDE-Library=krita%{APPNAMELC}import
X-KDE-Weight=1
