[Desktop Entry]
Name=SpecificColorSelector
Name[ca]=SelectorDeColorEspecific
Name[da]=SpecifikFarveVælger
Name[de]=Spezifischer Farbwähler
Name[el]=SpecificColorSelector
Name[en_GB]=SpecificColourSelector
Name[es]=Selector de colores específico
Name[et]=Konkreetse värvi valija
Name[gl]=SelectorDeCoresEspecífico
Name[hi]=विशिष्टरंगचयनक
Name[hne]=विसिस्टरंगचुनइया
Name[it]=Selettore di colore specifico
Name[kk]=ЕрекшеТүсТаңдағыш
Name[nb]=SpesiellFargeVelger
Name[nds]=BesünnerKlöörKöör
Name[nl]=SpecificColorSelector
Name[pt]=Selector de Cores Específico
Name[pt_BR]=Seletor de Cores Específico
Name[sv]=Specifik färgväljare
Name[ta]=குறிப்பிட்ட வண்ண தேர்வாளர்
Name[tr]=Özel Renk Seçici
Name[uk]=ОсобливаПалітраКольорів
Name[wa]=Tchoezixheu specifike di coleur
Name[x-test]=xxSpecificColorSelectorxx
Name[zh_TW]=指定顏色選擇器
Comment=SpecificColorSelector
Comment[ca]=SelectorDeColorEspecific
Comment[da]=SpecifikFarveVælger
Comment[de]=Spezifischer Farbwähler
Comment[el]=SpecificColorSelector
Comment[en_GB]=SpecificColourSelector
Comment[es]=Selector de colores específico
Comment[et]=Konkreetse värvi valija
Comment[gl]=SelectorDeCoresEspecífico
Comment[hi]=विशिष्टरंगचयनक
Comment[hne]=विसिस्टरंगचुनइया
Comment[it]=Selettore di colore specifico
Comment[kk]=Ерекше түс таңдағышы
Comment[nb]=SpesiellFargeVelger
Comment[nds]=BesünnerKlöörKöör
Comment[nl]=SpecificColorSelector
Comment[pt]=Selector de Cores Específico
Comment[pt_BR]=Seletor de Cores Específico
Comment[sv]=Specifik färgväljare
Comment[ta]=குறிப்பிட்ட வண்ண தேர்வாளர்
Comment[tr]=Özel Renk Seçici
Comment[uk]=Особлива палітра кольорів
Comment[wa]=Tchoezixheu specifike di coleur
Comment[x-test]=xxSpecificColorSelectorxx
Comment[zh_TW]=指定顏色選擇器
X-KDE-ServiceTypes=Krita/Dock
Type=Service
X-KDE-Library=kritaspecificcolorselector
X-Krita-Version=3
