[Desktop Entry]
Encoding=UTF-8
Name=Sobel filter
Name[eo]=Sobel-filtrilo
Name[es]=Filtro Sobel
Name[et]=Sobeli filter
Name[ga]=Scagaire Sobel
Name[sv]=Sobelfilter
Name[xx]=xxSobel filterxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritaroundcornersfilter
