[Desktop Entry]
Name=panorama
Name[bg]=Панорама
Name[de]=Panorama
Name[el]=πανοραμική άποψη
Name[et]=panoraam
Name[fi]=panoraama
Name[gl]=panorámica
Name[hi]=पैनोरामा
Name[it]=Panorama
Name[ja]=パノラマ
Name[ne]=पानोरामा
Name[nl]=Panorama
Name[pt]=Panorama
Name[sv]=Panorama
Name[ta]=பனோராமா
Name[uk]=панорама
Name[x-test]=xxpanoramaxx
Comment=panorama
Comment[bg]=Панорама
Comment[de]=Panorama
Comment[el]=πανοραμική άποψη
Comment[et]=panoraam
Comment[fi]=panoraama
Comment[gl]=panorámica
Comment[hi]=पैनोरामा
Comment[it]=Panorama
Comment[ja]=パノラマ
Comment[ne]=पानोरामा
Comment[nl]=Panorama
Comment[pt]=Panorama
Comment[sv]=Panorama
Comment[ta]=பனோராமா
Comment[uk]=панорама
Comment[x-test]=xxpanoramaxx
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritapanorama
X-Krita-Version=3
