[Desktop Entry]
Name=Krita Undo History Docker plugin
Name[bs]=Krita plugin za Vraćanje Historije Dokera
Name[ca]=Connector acoblador d'historial de desfer del Krita
Name[ca@valencia]=Connector acoblador d'historial de desfer del Krita
Name[da]=Dokker-plugin til at fortryde historik til Krita
Name[de]=Krita Docker-Modul für den Verlauf von Zurücknahme-Aktionen
Name[el]=Πρόσθετο προσάρτησης αναίρεσης ιστορικού του Krita
Name[en_GB]=Krita Undo History Docker plugin
Name[es]=Complemento de panel del historial de cambios deshechos de Krita
Name[et]=Krita tagasivõtmise ajaloo doki plugin
Name[eu]=Krita-ren 'Desegin historia' panelaren plugina
Name[fi]=Kritan toimintohistorian telakkaliitännäinen
Name[fr]=Module de panneau d'historique des annulations pour Krita
Name[gl]=Complemento para Krita de doca cun historial de cambios
Name[hu]=Krita visszavonási előzmények dokkoló bővítmény
Name[it]=Estensione per l'area di aggancio per l'annullamento della cronologia di Krita
Name[ja]=Krita やり直し履歴ドッキングパネルプラグイン
Name[kk]=Krita-ның амалдан қайту тарихы докер плагині
Name[lt]=Atšaukimo sąrašo įrankinėje papildinys Krita programai
Name[nb]=Docker-tillegg for Krita angrehistorie
Name[nds]=Torüchnehmlist-Andockmoduul för Krita
Name[nl]=Vastzetterplug-in van ongedaan maken-geschiedenis van Krita
Name[pl]=Wtyczka dokowania historii cofnięć dla Krita
Name[pt]='Plugin' do Módulo Acoplável do Histórico de Anulações do Krita
Name[pt_BR]=Plugin de módulos acopláveis do histórico de anulações do Krita
Name[ru]=Модуль панели истории для Krita
Name[sk]=Plugin dockeru undo histórie Krita
Name[sv]=Krita insticksprogram för ångringshistorik
Name[uk]=Додаток панелі журналу скасування для Krita
Name[x-test]=xxKrita Undo History Docker pluginxx
Name[zh_TW]=Krita 復原動作歷史紀錄嵌入外掛程式
Type=Service
X-KDE-ServiceTypes=Krita/Dock
X-KDE-Library=kritahistorydocker
X-Krita-Version=28
