[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_script_starter
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Krita Script Starter
Name[ca]=Iniciador de scripts del Krita
Name[ca@valencia]=Iniciador de scripts del Krita
Name[cs]=Spouštěč skriptů Krita
Name[en_GB]=Krita Script Starter
Name[es]=Iniciador de guiones de Krita
Name[eu]=Krita-ren script abiarazlea
Name[it]=Iniziatore di script per Krita
Name[nl]=Script-starter van Krita
Name[pl]=Starter skryptów Krity
Name[pt]=Introdução ao Programa do Krita
Name[sv]=Krita skriptstart
Name[uk]=Створення скрипту Krita
Name[x-test]=xxKrita Script Starterxx
Name[zh_CN]=Krita 空脚本生成器
Comment=Create the metadata and file structure for a new Krita script
Comment[ca]=Crea les metadades i l'estructura de fitxers d'un script nou del Krita
Comment[ca@valencia]=Crea les metadades i l'estructura de fitxers d'un script nou del Krita
Comment[en_GB]=Create the metadata and file structure for a new Krita script
Comment[es]=Crear los metadatos y la estructura de archivos para un nuevo guion de Krita
Comment[eu]=Sortu Krita-script berri baterako meta-datuak eta fitxategi egitura
Comment[it]=Crea i metadati e la struttura dei file per un nuovo script di Krita
Comment[nl]=Maak de metagegevens en bestandsstructuur voor een nieuw Krita-script
Comment[pl]=Utwórz metadane i strukturę plików dla nowego skryptu Krity
Comment[pt]=Cria os meta-dados e estrutura de ficheiros de um novo programa do Krita
Comment[sv]=Skapa metadata och filstruktur för ett nytt Krita-skript
Comment[uk]=Створення метаданих і структури файлів для нового скрипту Krita
Comment[x-test]=xxCreate the metadata and file structure for a new Krita scriptxx
Comment[zh_CN]=给一个新 Krita 脚本创建元数据及文件结构
