[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_script_starter
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Krita Script Starter
Name[ca]=Iniciador de scripts del Krita
Name[nl]=Script-starter van Krita
Name[uk]=Створення скрипту Krita
Name[x-test]=xxKrita Script Starterxx
Comment=Create the metadata and file structure for a new Krita script
Comment[ca]=Crea les metadades i l'estructura de fitxers d'un script nou del Krita
Comment[nl]=Maak de metagegevens en bestandsstructuur voor een nieuw Krita-script
Comment[uk]=Створення метаданих і структури файлів для нового скрипту Krita
Comment[x-test]=xxCreate the metadata and file structure for a new Krita scriptxx
