[Desktop Entry]
Encoding=UTF-8
Name=RGB Color Model
Comment=Color model for 8-bit/channel RGB images
ServiceTypes=KOffice/ColorSpace
Type=Service
X-KDE-Library=kritargbplugin
X-Pigment-Version=1
