[Desktop Entry]
Name=Dyna
Name[bg]=Динамична
Name[ca]=Dinàmic
Name[ca@valencia]=Dinàmic
Name[da]=Dyna
Name[de]=Dyna
Name[en_GB]=Dyna
Name[eo]=Dyna
Name[es]=Dyna
Name[et]=Dyna
Name[gl]=Dinámico
Name[it]=Pennello dinamico
Name[nb]=Dyna
Name[nds]=Dyna
Name[nl]=Dyna
Name[pt]=Dyna
Name[pt_BR]=Dyna
Name[sv]=Dyna
Name[tr]=Dyna
Name[uk]=Дайна
Name[wa]=Dinamike
Name[x-test]=xxDynaxx
Name[zh_TW]=動態
X-KDE-ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritadynapaintop
X-Krita-Version=3
