[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/transparent_1600x1200.kra
Icon=template_rgb_empty
Name=Transparent 640 x 480
Name[es]=640 x 480 transparente
Name[pt]=Transparente 640 x 480
Name[pt_BR]=Transparente de 640 x 480
Name[sv]=Genomskinlig 640 x 480
Comment=Creates a transparent image of 640 x 480 pixels.
Comment[es]=Crea una imagen transparente de 640 x 480 píxeles.
Comment[pt]=Cria uma imagem transparente com 640 x 480 pontos.
Comment[pt_BR]=Cria uma imagem transparente de 640 x 480 pixels.
Comment[sv]=Skapar en genomskinlig bild med 640 x 480 bildpunkter.
