[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/white_1280x1024.kra
Icon=template_rgb_empty
Name=White 1280 x 1024
Name[es]=1280 x 1024 blanco
Name[pt]=Branca 1280 x 1024
Name[pt_BR]=1280 x 1024 em Branco
Name[sv]=Vit 1280 x 1024
Comment=Creates a white RGB image of 1280 x 1024 pixels.
Comment[es]=Crea una imagen RGB de 1280 x 1024 píxeles.
Comment[pt]=Cria uma imagem RGB branca com 1280 x 1024 pontos.
Comment[pt_BR]=Cria uma imagem RGB em branco de 1280 x 1024 pixels.
Comment[sv]=Skapar en vit RGB-bild med 1280 x 1024 bildpunkter.
