[Desktop Entry]
Encoding=UTF-8
Name=TriangleColorSelector
Name[zh_TW]=三角型顏色選擇器
Comment=TriangleColorSelector
Comment[zh_TW]=三角型顏色選擇器
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritatrianglecolorselector
X-Krita-Version=3
