[Desktop Entry]
Encoding=UTF-8
Name=TriangleColorSelector
Name[ca]=SelectorTriangularDeColor
Name[it]=Selettore triangolare del colore
Name[pt]=Selector de Cores Triangular
Name[pt_BR]=Selector de Cores Triangular
Name[sv]=Triangulär färgväljare
Name[uk]=ТрикутникВиборуКольору
Name[zh_TW]=三角型顏色選擇器
Comment=TriangleColorSelector
Comment[ca]=SelectorTriangularDeColor
Comment[it]=Selettore triangolare del colore
Comment[pt]=Selector de Cores Triangular
Comment[pt_BR]=Selector de Cores Triangular
Comment[sv]=Triangulär färgväljare
Comment[uk]=Трикутна палітра кольорів
Comment[zh_TW]=三角型顏色選擇器
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritatrianglecolorselector
X-Krita-Version=3
