[Desktop Entry]
Encoding=UTF-8
Name=Grayscale Color Model with Alpha Channel (16-bit integer)
Comment=Color model for 16-bit integer per channel Grayscale images
Comment[el]=Χρωματικό μοντέλο για 16-bit ακεραίους ανά κανάλι με διαβαθμίσεις του γκρι εικόνες
Comment[fr]=Modèle de couleurs pour des images en nivaux de gris à 16 bits/plage
Comment[x-test]=xxColor model for 16-bit integer per channel Grayscale imagesxx
ServiceTypes=KOffice/ColorSpace
Type=Service
X-Pigment-Version=1
X-KDE-Library=koffice_graya_u16_plugin
