[Desktop Entry]
Name=Grayscale Color Model with Alpha Channel (16-bit integer)
Name[bg]=Цветови модел сиво с алфа-канал (16 бита)
Name[ca]=Model de color d'escala de grisos amb canal alfa (enters de 16 bits)
Name[da]=Gråskala-farvemodel med alfakanal (16-bit heltal)
Name[de]=Graustufen-Farbmodell mit Alphakanal (16-bit Ganzzahl)
Name[el]=Χρωματικό μοντέλο διαβαθμίσεων του γκρι με κανάλι άλφα (16 bit ακέραιοι)
Name[en_GB]=Greyscale Colour Model with Alpha Channel (16-bit integer)
Name[es]=Modelo de color de escala de grises con canal alfa (enteros de 16 bits)
Name[et]=Halltooni värvimudel alfakanaliga (16-bitine)
Name[fa]=مدل رنگ مقیاس خاکستری با مجرای آلفا )عدد صحیح ۱۶ بیتی(
Name[fi]=Harmaasävyvärimalli, alfakanava (16-bittinen kokonaisluku)
Name[fy]=Kleurmodel fab griiswearden mei alfa (16-bit integers)
Name[gl]=Modelo de Cores en Escala de Gris con Canle Alpha (enteiro de 16-bit)
Name[he]=מודל צבעים של גווני אפור עם אלפא (16 סיביות)
Name[hi]=श्वेतश्याम छवियों के लिये अल्फ़ा चैनल सहित रंग मॉडल (१६ बिट इंटीजर)
Name[hne]=सफेदस्याम फोटू मन बर अल्फा चैनल सहित रंग माडल (१६ बिट इंटीजर)
Name[it]=Modello di colore a scala di grigio con canale alfa (intero a 16 bit)
Name[ja]=アルファチャンネル付きグレースケールカラーモデル (16 ビット整数)
Name[kk]=Сұр реңкті альфа арналы түстер үлгісі (16 бит бүтін сан)
Name[lv]=Pelēktoņu krāsu modelis ar caurspīdīguma kanālu (16 bitu skaitlis)
Name[nds]=Griestöön-Klöörmodell mit Alphakanaal (16-Bit Heeltall)
Name[ne]=अल्फा च्यानल भएको ग्रेस्केल रङ नमूना (१६-बिट इन्टिजर)
Name[nl]=Kleurmodel voor grijswaarden met alphakanaal (16-bit integer)
Name[pt]=Modelo de Cor de Tons de Cinzento (inteiros de 16 bits)
Name[pt_BR]=Modelo de Cor de Tons de Cinza com Canal Alfa (inteiros de 16 bits)
Name[sv]=Färgmodell med gråskala och alfakanal (16-bitars heltal)
Name[tr]=Alfa Kanalı ile Gri Ton Renk Modeli (16-bit integer)
Name[uk]=Модель кольору відтінків сірого (16-бітові цілі)
Name[x-test]=xxGrayscale Color Model with Alpha Channel (16-bit integer)xx
Name[zh_CN]=带有 Alpha 通道的灰度色彩模型(16 位整数)
Name[zh_TW]=有 Alpha 色頻的灰階色彩模型 (16-bit 整數)
Comment=Color model for 16-bit integer per channel Grayscale images
Comment[bg]=Цветови модел за 16 битови изображения в сива гама
Comment[ca]=Model de color d'enters de 16 bits per a canal d'imatges d'escala de grisos
Comment[cy]=Model lliw ar gyfer delweddau Graddlwyd â chyfanrif 16-did/sianel
Comment[da]=Farvemodel for 16-bit heltal pr kanal Gråskala-billeder
Comment[de]=Farbmodell für 16-bit Ganzzahl pro Kanal Graustufen-Bilder
Comment[el]=Χρωματικό μοντέλο για 16-bit ακεραίους ανά κανάλι με διαβαθμίσεις του γκρι εικόνες
Comment[en_GB]=Colour model for 16-bit integer per channel Greyscale images
Comment[es]=Modelo de color para imágenes en escala de grises de entero de 16 bits por canal
Comment[et]=16-bitiste täisarvuliste kanalitega halltoonis piltide värvimudel
Comment[fa]=مدل رنگ برای عدد صحیح ۱۶ بیتی در هر تصویر مقیاس خاکستری مجرا
Comment[fi]=Värimalli harmaasävykuville (16-bittiä/kanava)
Comment[fr]=Modèle de couleurs pour des images en nivaux de gris à 16 bits/plage
Comment[fy]=Kleurmodel foar 16-bit/kanaal griiswearde-ôfbyldings
Comment[gl]=Modelo de cor para imaxes en escala de grises de  16-bit por canal
Comment[he]=מודל צבעים עבור תמונות של 16 סיביות בגווני אפור
Comment[hi]=१६ बिट इंटीजर प्रति चैनल श्वेतश्याम छवियों के लिये रंग मॉडल
Comment[hne]=१६ बिट इंटीजर प्रति चैनल सफेदस्याम फोटू मन बर रंग माडल
Comment[hu]=Színmodell 16 bit/csatorna szürkeárnyalatos képekhez
Comment[is]=Litategund fyrir 16-bita heiltölu á rás gráskala myndir
Comment[it]=Modello di colore per immagini in scala di grigio a canale di 16 bit
Comment[ja]=16 ビット整数/チャンネルのグレースケール画像のためのカラーモデル
Comment[kk]=Сұр реңкті кескіндердің түстер кеңістігі (бүтін 16 бит сан/арна)
Comment[lv]=Krāsu modelis pelēktoņu attēliem ar 16-bitu skaitli kanālā 
Comment[nb]=Fargemodell for gråtonebilde med 16 bit per kanal
Comment[nds]=Klöörmodell för Griestöön-Biller mit 16-Bit Heeltall per Kanaal
Comment[ne]=१६-बिट इन्टिजरकप प्रत्येक च्यानल ग्रेस्केल छविका लागि रङ नमूना
Comment[nl]=Kleurmodel voor 16-bit/kanaal grijswaarde-afbeeldingen
Comment[pl]=Przestrzeń barw dla obrazków w skali szarości z 16-bitową liczbą całkowitą na kanał
Comment[pt]=Modelo de cor para imagens de tons de cinzento com 16 bits por canal
Comment[pt_BR]=Modelo de cor para imagens de tons de cinza com 16 bits por canal
Comment[ru]=Цветовое пространство градаций серого (целое 16-бит/канал)
Comment[sk]=Model farieb pre ČB/šedé obrázky so 16 bitmi na kanál
Comment[sl]=Barvni model za 16-bitna cela števila/kanal sivinske slike
Comment[sv]=Färgmodell för 16-bitars heltal per kanal gråskalebilder
Comment[tr]=16-bit integer yapısına sahip gri tonlu resimler için renk modeli
Comment[uk]=Модель кольору для зображень відтінків сірого, 16-біт/канал
Comment[x-test]=xxColor model for 16-bit integer per channel Grayscale imagesxx
Comment[zh_CN]=每通道 16 位整数的灰度图像色彩模型
Comment[zh_TW]=每色頻為 16-bit 的灰階圖片色彩模型
X-KDE-ServiceTypes=KOffice/ColorSpace
Type=Service
X-KDE-Library=koffice_graya_u16_plugin
X-Pigment-MinVersion=0
X-Flake-PluginVersion=1
