[Desktop Entry]
Encoding=UTF-8
Name=Chinese Brush
Name[de]=Chinesischer Pinsel
Name[ja]=書道の筆
Name[pt]=Pincel Chinês
Name[pt_BR]=Pincel Chinês
Name[sv]=Kinesisk pensel
Name[uk]=Китайський пензель
Name[x-test]=xxChinese Brushxx
Name[zh_TW]=毛筆刷
Comment=Chinese Brush
Comment[de]=Chinesischer Pinsel
Comment[ja]=書道の筆
Comment[pt]=Pincel Chinês
Comment[pt_BR]=Pincel Chinês
Comment[sv]=Kinesisk pensel
Comment[uk]=Китайський пензель
Comment[x-test]=xxChinese Brushxx
Comment[zh_TW]=毛筆刷
ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritacpaintbrush
X-Krita-Version=3

