[Desktop Entry]
Name=Levels
Name[br]=Liveoù
Name[da]=Niveauer
Name[et]=Tasemed
Name[hr]=Razine
Name[hu]=Szintek
Name[it]=Livelli
Name[lt]=Lygiai
Name[pl]=Poziomy
Name[ru]=Уровни
Name[sk]=Úrovne
Name[sl]=Ravni
Comment=Levels
Comment[br]=Liveoù
Comment[da]=Niveauer
Comment[et]=Tasemed
Comment[hr]=Razine
Comment[hu]=Szintek
Comment[it]=Livelli
Comment[lt]=Lygiai
Comment[pl]=Poziomy
Comment[ru]=Уровни
Comment[sk]=Úrovne
Comment[sl]=Ravni
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritalevelfilter
X-Krita-Version=3
