[Desktop Entry]
Encoding=UTF-8
Name=Levels
Name[br]=Liveoù
Name[da]=Niveauer
Name[de]=Stufen
Name[el]=Επίπεδα
Name[es]=Niveles
Name[hu]=Szintek
Name[it]=Livelli
Name[ja]=レベル
Name[km]=កម្រិត
Name[pt]=Níveis
Name[pt_BR]=Níveis
Name[sk]=Úrovne
Name[sv]=Nivåer
Name[zh_TW]=等級
Comment=Levels
Comment[br]=Liveoù
Comment[da]=Niveauer
Comment[de]=Stufen
Comment[el]=Επίπεδα
Comment[es]=Niveles
Comment[hu]=Szintek
Comment[it]=Livelli
Comment[ja]=レベル
Comment[km]=កម្រិត
Comment[pt]=Níveis
Comment[pt_BR]=Níveis
Comment[sk]=Úrovne
Comment[sv]=Nivåer
Comment[zh_TW]=等級
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritalevelfilter
X-Krita-Version=2
