[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=lastdocumentsdocker
X-Python-2-Compatible=false
Name=Last Documents Docker
Name[ca]=Acoblador dels darrers documents
Name[ca@valencia]=Acoblador dels darrers documents
Name[es]=Panel de últimos documentos
Name[gl]=Doca dos últimos documentos
Name[it]=Area di aggancio Ultimi documenti
Name[nl]=Vastzetter van laatste documenten
Name[pl]=Dok ostatnich dokumentów
Name[pt]=Área dos Últimos Documentos
Name[sv]=Dockningsfönster för senaste dokument
Name[uk]=Бічна панель останніх документів
Name[x-test]=xxLast Documents Dockerxx
Name[zh_CN]=最近文档坞窗
Comment=A Python-based docker for show thumbnails to last ten documents
Comment[ca]=Un acoblador basant en el Python per mostrar miniatures dels darrers deu documents
Comment[ca@valencia]=Un acoblador basant en el Python per mostrar miniatures dels darrers deu documents
Comment[es]=Un panel basado en Python para mostrar miniaturas de los últimos diez documentos
Comment[gl]=Unha doca escrita en Python para mostrar as miniaturas dos últimos dez documentos.
Comment[it]=Un'area di aggancio basata su Python per mostrare miniature degli ultimi dieci documenti.
Comment[nl]=Een op Python gebaseerde vastzetter om miniaturen te tonen naar de laatste tien documenten.
Comment[pl]=Dok oparty na pythonie do wyświetlania miniatur ostatnich dziesięciu dokumentów
Comment[pt]=Uma área acoplável, feita em Python, para mostrar as miniaturas dos últimos dez documentos
Comment[sv]=Ett Python-baserat dockningsfönster för att visa miniatyrbilder för de tio senaste dokumenten
Comment[uk]=Бічна панель на основі Python для показу мініатюр останніх десяти документів
Comment[x-test]=xxA Python-based docker for show thumbnails to last ten documentsxx
Comment[zh_CN]=基于 Python 的坞窗，展示最近十个文档的缩略图
