[Desktop Entry]
Name=Polygon Tool
Name[bg]=Инструмент многоъгълник
Name[br]=Ostilh liestueg
Name[ca]=Eina de polígon
Name[ca@valencia]=Eina de polígon
Name[cy]=Erfyn Polygon
Name[da]=Polygonværktøj
Name[de]=Vieleck-Werkzeug
Name[el]=Εργαλείο πολυγώνου
Name[en_GB]=Polygon Tool
Name[eo]=Poligon-ilo
Name[es]=Herramienta de polígonos
Name[et]=Hulknurga tööriist
Name[eu]=Poligonoa tresna
Name[fa]=ابزار چندضلعی
Name[fi]=Monikulmiotyökalu
Name[fr]=Outil polygone
Name[fy]=Meardere hoeks ark
Name[ga]=Uirlis Pholagáin
Name[gl]=Ferramenta de Polígonos
Name[he]=כלי מצולע
Name[hi]=बहुभुज औज़ार
Name[hne]=बहुभुज औजार
Name[hu]=Sokszög eszköz
Name[is]=Marghyrnitól
Name[it]=Strumento poligono
Name[ja]=多角形ツール
Name[kk]=Көпбұрышты салу құралы
Name[lt]=Daugiakampio įrankis
Name[lv]=Daudzstūru rīks
Name[ms]=Alat Poligon
Name[nb]=Verktøy for mangekanter
Name[nds]=Veeleck-Warktüüch
Name[ne]=बहुभुज उपकरण
Name[nl]=Veelhoeksgereedschap
Name[pl]=Narzędzie do rysowania wielokątów
Name[pt]=Ferramenta de Polígonos
Name[pt_BR]=Ferramenta de Polígonos
Name[ru]=Многоугольник
Name[se]=Moanáčiegareaidu
Name[sk]=Mnohouholník
Name[sl]=Orodje za poligon
Name[sv]=Polygonverktyg
Name[tr]=Çokgen Aracı
Name[uk]=Засіб багатокутника
Name[uz]=Pligon vositasi
Name[uz@cyrillic]=Плигон воситаси
Name[wa]=Usteye poligone
Name[x-test]=xxPolygon Toolxx
Name[zh_CN]=多边形工具
Name[zh_TW]=多邊形工具
X-KDE-ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolpolygon
X-Krita-Version=3
