[Desktop Entry]
Encoding=UTF-8
Name=Enhancement Filters
Name[ca]=Filtres de millora
Name[cy]=Hidlau Tecáu
Name[da]=Forbedringsfilter
Name[de]=Verbesserungsfilter
Name[el]=Φίλτρα βελτίωσης
Name[es]=Filtros de realce
Name[et]=Parandusfiltrid
Name[fr]=Filtres d'amélioration
Name[hu]=Képjavító szűrők
Name[is]=Endurbótasíur
Name[it]=Filtri di miglioramento
Name[ja]=エンハンスメントフィルタ
Name[km]=តម្រង​ធ្វើ​ឲ្យ​ប្រសើរ
Name[nl]=Correctiefilters
Name[pl]=Filtry poprawy jakości
Name[pt]=Filtros de Melhoramento
Name[pt_BR]=Filtros de Melhoramento
Name[ru]=Улучшение изображения
Name[sr]=Филтери за побољшање
Name[sr@Latn]=Filteri za poboljšanje
Name[sv]=Förbättringsfilter
Name[uk]=Фільтри покращання
Name[uz]=Яхшилаш филтери
Name[zh_CN]=增强过滤器
Name[zh_TW]=增強過濾器
Comment=Enhance the quality of an image
Comment[ca]=Millora la qualitat de la imatge
Comment[cy]=Tecâu ansawdd delwedd
Comment[da]=Forbedr kvaliteten af et billede
Comment[de]=Die Qualität eines Bildes verbessern
Comment[el]=Βελτίωση της ποιότητας μίας εικόνας
Comment[es]=Realza la calidad de una imagen
Comment[et]=Parandavad pildi kvaliteeti
Comment[fr]=Améliore la qualité d'une image
Comment[hu]=A képminőség feljavítására használható eszközök
Comment[is]=Til að auka gæði mynda
Comment[it]=Migliora la qualità di un'immagine
Comment[ja]=画質を高める
Comment[km]=បង្កើន​គុណភាព​រូបភាព
Comment[nl]=De kwaliteit van een afbeelding verbeteren
Comment[pl]=Filtry poprawiające jakość obrazka
Comment[pt]=Melhora a qualidade de uma imagem
Comment[pt_BR]=Melhora a qualidade de uma imagem
Comment[ru]=Улучшение качества изображения
Comment[sl]=Izboljšaj kvaliteto slike
Comment[sr]=Побољшава квалитет слике
Comment[sr@Latn]=Poboljšava kvalitet slike
Comment[sv]=Förbättra kvaliteten hos en bild
Comment[uk]=Покращання якості зображення
Comment[uz]=Расмнинг сифатини ошириш
Comment[zh_TW]=增強圖片的品質
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaimageenhancement
X-Krita-Version=2
