<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui library="kritatoolstar" version="1">


<ToolBar name="shape_tools" position="left"><Text>Shape Tools</Text>
  <Action name="tool_star"/>
</ToolBar>


</kpartgui>
