[Desktop Entry]
Encoding=UTF-8
Name=Star Tool
Name[br]=Ostilh steredenn
Name[es]=Herramienta Estrella
Name[fr]=Outil étoile
Name[ga]=Uirlis réiltín
Name[pt]=Ferramenta de estrelas
Name[pt_BR]=Ferramenta de estrelas
Name[sr]=Алат за звезде
Name[sr@Latn]=Алат за звезде
Name[sv]=Stjärnverktyg
Name[zh_CN]=星形工具
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritatoolstar
