[Desktop Entry]
Encoding=UTF-8
Name=Star Tool
Name[br]=Ostilh steredenn
Name[cy]=Erfyn Seren
Name[da]=Stjerneværktøj
Name[de]=Sterne-Werkzeug
Name[el]=Εργαλείο αστέρα
Name[es]=Herramienta Estrella
Name[et]=Tähe tööriist
Name[eu]=Izarra tresna
Name[fi]=Tähtityökalu
Name[fr]=Outil étoile
Name[ga]=Uirlis Réiltín
Name[he]=כלי כוכב
Name[hu]=Csillag eszköz
Name[it]=Strumento stella
Name[nb]=Stjerneverktøy
Name[nl]=Stergereedschap
Name[nn]=Stjerneverktøy
Name[pl]=Narzędzie do rysowania gwiazdki
Name[pt]=Ferramenta de Estrelas
Name[pt_BR]=Ferramenta Estrela
Name[ru]=Звёзды
Name[sl]=Zvezdno orodje
Name[sr]=Алат за звезде
Name[sr@Latn]=Alat za zvezde
Name[sv]=Stjärnverktyg
Name[uk]=Інструмент зірки
Name[zh_CN]=星形工具
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritatoolstar
