[Desktop Entry]
Encoding=UTF-8
Name=CImg Image Restoration Filter
Comment=CImg Image restoration filter
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritacimg
X-Krita-Version=2
