[Desktop Entry]
Encoding=UTF-8
Name=Color filters
Name[es]=Filtros de color
Name[et]=Värvifiltrid
Name[sv]=Färgfilter
Name[xx]=xxColor filtersxx
Comment=Color filters
Comment[es]=Filtros de color
Comment[et]=Värvifiltrid
Comment[sv]=Färgfilter
Comment[xx]=xxColor filtersxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritacolorsfilters
