[Desktop Entry]
Encoding=UTF-8
Name=Color filters
Name[eo]=Kolorfiltriloj
Name[es]=Filtros de color
Name[et]=Värvifiltrid
Name[pt]=Filtros de cores
Name[pt_BR]=Filtros de cores
Name[sv]=Färgfilter
Name[xx]=xxColor filtersxx
Comment=Color filters
Comment[eo]=Kolorfiltriloj
Comment[es]=Filtros de color
Comment[et]=Värvifiltrid
Comment[pt]=Filtros de cores
Comment[pt_BR]=Filtros de cores
Comment[sv]=Färgfilter
Comment[xx]=xxColor filtersxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritacolorsfilters
