<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>quicklookng</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<dict>
					<key>UTTypeConformsTo</key>
					<array>
						<string>public.image</string>
					</array>
					<key>UTTypeDescription</key>
					<string>Open Raster Image</string>
					<key>UTTypeIdentifier</key>
					<string>org.krita.ora</string>
					<key>UTTypeTagSpecification</key>
					<dict>
						<key>public.filename-extension</key>
						<array>
							<string>ora</string>
							<string>ORA</string>
						</array>
						<key>public.mime-type</key>
						<array>
							<string>image/openraster</string>
						</array>
					</dict>
				</dict>
				<dict>
					<key>UTTypeConformsTo</key>
					<array>
						<string>public.image</string>
					</array>
					<key>UTTypeDescription</key>
					<string>Krita 3.0 Image</string>
					<key>UTTypeIdentifier</key>
					<string>org.krita.kra</string>
					<key>UTTypeTagSpecification</key>
					<dict>
						<key>public.filename-extension</key>
						<array>
							<string>kra</string>
							<string>KRA</string>
						</array>
						<key>public.mime-type</key>
						<array>
							<string>application/x-krita</string>
						</array>
					</dict>
				</dict>
			</array>
			<key>QLThumbnailMinimumDimension</key>
			<integer>17</integer>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.thumbnail</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ThumbnailProvider</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Stichting Krita Foundation. All rights reserved.</string>
</dict>
</plist>
