[Desktop Entry]
Icon=
Name=Color Filters (Extension)
Name[bg]=Цветови филтри (разширения)
Name[ca]=Filtres de color (Extensió)
Name[ca@valencia]=Filtres de color (Extensió)
Name[da]=Farvefiltre (Udvidelse)
Name[de]=Farbfilter (Erweiterung)
Name[el]=Χρωματικά φίλτρα (Επέκταση)
Name[en_GB]=Color Filters (Extension)
Name[eo]=Kolorfiltriloj (etendaĵo)
Name[es]=Filtros de color (Extensión)
Name[et]=Värvifiltrid (laiendus)
Name[fa]=پالایه‌های رنگ )پسوند(
Name[fi]=Värisuotimet (laajennus)
Name[fr]=Filtres de couleurs (extension)
Name[fy]=Kleurfilters (útwreiding)
Name[ga]=Scagairí Datha (Eisínteacht)
Name[gl]=Filtros de Cores (Extensións)
Name[he]=מסנני צבעים (תוספת)
Name[hi]=रंग फ़िल्टर (एक्सटेंशन)
Name[hne]=रंग छनइया (एक्सटेंसन)
Name[hu]=Színszűrők (kiterjesztés)
Name[it]=Filtri dei colori (estensione)
Name[ja]=カラーフィルタ (拡張)
Name[kk]=Түс сүзгісі (кеңейтілім)
Name[lv]=Krāsu filtri (papildinājums)
Name[nb]=Fargefiltre (utvidelse)
Name[nds]=Klörenfilters (Verwiedern)
Name[ne]=रङ फिल्टर (अपवाद)
Name[nl]=Kleurfilters (extensie)
Name[pl]=Filtry kolorów (rozszerzenie)
Name[pt]=Filtros de Cores (Extensão)
Name[pt_BR]=Filtros de Cores (Extensão)
Name[ru]=Цвет (расширение)
Name[sk]=Farebné filtre (rozšírenie)
Name[sl]=Barvni filtri (razširitev)
Name[sv]=Färgfilter (utökning)
Name[tr]=Renk Filtreleri (Eklenti)
Name[uk]=Фільтри кольору (розширення)
Name[uz]=Rang filterlari (kengaytma)
Name[uz@cyrillic]=Ранг филтерлари (кенгайтма)
Name[wa]=Passetes di coleur (rawete)
Name[x-test]=xxColor Filters (Extension)xx
Name[zh_TW]=色彩過濾器（延伸）
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaextensioncolorsfilters
X-Krita-Version=3
