[Desktop Entry]
Encoding=UTF-8
Icon=
Name=Color Filters (Extension)
Name[es]=Filtros de color (Extensión)
Name[et]=Värvifiltrid (laiendus)
Name[it]=Filtri dei colori (estensione)
Name[nl]=Kleurfilters (extensie)
Name[pt]=Filtros de Cores (Extensão)
Name[pt_BR]=Filtros de Cores (Extensão)
Name[zh_TW]=色彩過濾器（延伸）
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaextensioncolorsfilters
X-Krita-Version=2
