[Desktop Entry]
Encoding=UTF-8
Name=CMYK Color Model
Name[bg]=Цветови модел CMYK
Name[br]=Gobari al livioù CMYK
Name[ca]=Model de color CMYK
Name[cy]=Model Lliw CMYK
Name[da]=CMYK-farvemodel
Name[de]=CMYK-Farbmodell
Name[el]=Χρωματικό μοντέλο CMYK
Name[en_GB]=CMYK Colour Model
Name[es]=Modelo de color CMYK
Name[et]=CMYK värvimudel
Name[eu]=CMYK kolore-eredua
Name[fi]=CMYK-värimalli
Name[fr]=Modèle de couleurs CMYK
Name[he]=מודל צבעים CMYK
Name[hi]=सीएमवायके रंग नमूना
Name[hu]=CMYK színmodell
Name[is]=CMYK litategund
Name[it]=Modello di colore CMYK
Name[ja]=CMYKカラーモデル
Name[ms]=Model Warna CMYK
Name[nb]=CMYK-fargemodell
Name[nl]=CMYK-kleurmodel
Name[nn]=CMYK-fargemodell
Name[pl]=Przestrzeń barw CMYK
Name[pt]=Modelo de Cor CMYK
Name[pt_BR]=Modelo de Cor CMYK
Name[ru]=Цветовая модель CMYK
Name[sl]=Barvni model CMYK
Name[sr]=CMYK модел боја
Name[sr@Latn]=CMYK model boja
Name[sv]=CMYK-färgmodell
Name[ta]=CMYK வண்ண முறை
Name[tr]=CMYK Renk Modeli
Name[uk]=Модель кольору CMYK
Name[zh_CN]=CMYK 色彩模型
Comment=Color model for 8-bit/channel CMYK images
Comment[bg]=Цветови модел за 8 битови CMYK изображения
Comment[ca]=Model de color d'enters de 8 bits per a canal d'imatges CMYK
Comment[cy]=Model lliw ar gyfer delweddau CMYK 8-did/sianel
Comment[da]=Farvemodel for 8-bit/kanal CMYK-billeder
Comment[de]=Farbmodell für 8-bit pro Kanal CMYK-Bilder
Comment[el]=Χρωματικό μοντέλο για 8-bit/κανάλι CMYK εικόνες
Comment[en_GB]=Colour model for 8-bit/channel CMYK images
Comment[es]=Modelo de color para imágenes de 8 bits/canal CMYK
Comment[et]=8-bitiste kanalitega CMYK-piltide värvimudel
Comment[eu]=8 bit/kanaleko CMYK irudien kolore-eredua
Comment[fi]=Värimalli 8-bittisille/kanavaisille CMYK-kuville
Comment[fr]=Modèle de couleurs pour des images CMYK à 8 bits/plage
Comment[he]=מודל צבעים עבור תמונות CMYK של 8 סיביות/ערוצים
Comment[hi]=8-बिट/चैनल सीएमवायके छवियों के लिए रंग नमूना
Comment[hu]=Színmodell 8 bit/csatorna CMYK képekhez
Comment[is]=Litategund fyrir 8-bita/rásir CMYK myndir
Comment[it]=Modello di colore per immagini CMYK a canale di 8 bit
Comment[ja]=8ビット/チャンネル CMYK画像のためのカラーモデル
Comment[ms]=Model warna bagi imej CMYK 8-bit/saluran
Comment[nb]=Fargemodell for CMYK-bilder med 8 bit per kanal
Comment[nl]=Kleurmodel voor 8-bit/kanaal CMYK-afbeeldingen
Comment[nn]=Fargemodell for CMYK-bilete med 8 bit per kanal
Comment[pl]=Przestrzeń barw dla obrazków CMYK 8 bitów/kanał
Comment[pt]=Modelo de cor para imagens CMYK com 8 bits por canal
Comment[pt_BR]=Modelo de cor para imagens com 8-bits de canal CMYK
Comment[ru]=Цветовая модель для изображений в CMYK (циан, пурпурный, жёлтый, чёрный) 8-бит/канал
Comment[sl]=Barvni model za slike CMYK z 8 biti/kanal
Comment[sr]=Модел боја за CMYK слике са 8 битова по каналу
Comment[sr@Latn]=Model boja za CMYK slike sa 8 bitova po kanalu
Comment[sv]=Färgmodell för 8 bitar/kanal CMYK-bilder
Comment[ta]=8/பிட்/வழி CMYK பிம்பங்களுக்கான வண்ண முறை
Comment[tr]=8-bit/kanal CMYK görüntüler için renk modeli
Comment[uk]=Модель кольору CMYK для зображень 8-біт/каналів
Comment[zh_CN]=八位/通道 CMYK 图像的色彩模型
ServiceTypes=KOffice/ColorSpace
Type=Service
X-KDE-Library=kritacmykplugin
X-Pigment-Version=1

