[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/white_640x480.kra
Icon=template_gray_empty
Name=White Background, 640 x 480
Name[bg]=Бял фон, 640 x 480
Name[ca]=Fons blanc, 640 x 480
Name[cy]=Cefndir Gwyn, 640 x 480
Name[da]=Hvid baggrund, 640 x 480
Name[de]=Weißer Hintergrund, 640 x 480
Name[el]=Λευκό φόντο, 640 x 480
Name[es]=Fondo blanco, 640 x 480
Name[et]=Valge taust, 640 x 480
Name[eu]=Atzeko plano zuria, 640 x 480
Name[fi]=Valkoinen tausta, 640 x 480
Name[fr]=Fond blanc 640 x 480
Name[ga]=Cúlra Bán, 640×480
Name[he]=רקע לבן, ‎640 x 480
Name[hi]=सफेद पृष्ठभूमि, 640 x 480
Name[hu]=Fehér háttér, 640 x 480
Name[is]=Hvítur bakgrunnur, 640 x 480
Name[it]=Sfondo bianco, 640 × 480
Name[ja]=白い背景 640 x 480
Name[km]=ផ្ទៃខាងក្រោយ​ពណ៌​ស, 640 x 480
Name[ms]=Latar Belakang Putih, 640 x 480
Name[nb]=Hvit bakgrunn, 640 x 480
Name[nl]=Witte achtergrond, 640 x 480
Name[nn]=Kvit bakgrunn, 640 × 480
Name[pl]=Białe tło, 640 x 480
Name[pt]=Fundo Branco, 640 x 480
Name[pt_BR]=Fundo em branco, 640 x 480
Name[ru]=Рисунок 640x480, белый фон
Name[se]=Vilges duogáš, 640 × 480
Name[sk]=Biele pozadie, 640 x 480
Name[sl]=Belo ozadje, 640 x 480
Name[sr]=Бела позадина, 640 x 480
Name[sr@Latn]=Bela pozadina, 640 x 480
Name[sv]=Vit bakgrund, 640 x 480
Name[ta]=வெள்ளை பின்னணி, 640 x 480
Name[tr]=Beyaz Arkaplan, 640 x 480
Name[uk]=Біле тло, 640 x 480
Name[uz]=Оқ орқа фон 640 x 480
Name[zh_CN]=白色背景，640 x 480
Name[zh_TW]=白色背景， 640 x 480
Comment=Creates an image of 640 x 480 pixels with a white background.
Comment[bg]=Създаване на изображение с размери 640 x 480 точки и бял фон.
Comment[ca]=Crea una imatge de 640 x 480 píxels amb el fons blanc.
Comment[cy]=Creu delwedd o 640 x 480 o bicseli efo cefndir gwyn.
Comment[da]=Laver et billede på 640 x 480 billedpunkter med en hvid baggrund.
Comment[de]=Erstellt ein Bild mit 640 x 480 Pixeln mit einem weißen Hintergrund.
Comment[el]=Δημιουργεί μία εικόνα μεγέθους 640 x 480 εικονοστοιχείων με λευκό φόντο.
Comment[es]=Crea una imagen de 640 x 480 píxeles con un fondo blanco.
Comment[et]=Loob valge taustaga pildi mõõtmetega 640 x 800 pikslit.
Comment[eu]=640 x 480 pixeleko atzeko planoa zuria duen irudi bat sortzen du.
Comment[fi]=Luo 640 x 480 pikselin kuvan valkoisella taustalla.
Comment[fr]=Crée une image de 640 x 480 pixels avec un fond blanc.
Comment[he]=יצירת תמונת בגודל ‎640 x 480 פיקסלים עם רקע לבן
Comment[hi]=640 x 480 पिक्सेल का, सफेद पृष्ठभूमि युक्त छवि बनाता है
Comment[hu]=Létrehoz egy 640 x 480 képpontos képet fehér háttérrel.
Comment[is]=Býr til hvíta mynd í 640 x 480 punkta upplausn með hvítum bakgrunni.
Comment[it]=Crea un'immagine di 640 × 480 pixel con uno sfondo bianco.
Comment[ja]=640 x 480 ピクセルの白い背景の画像を作成
Comment[km]=បង្កើត​រូបភាព​ទំហំ 640 x 480 ភីកសែល ដែល​មាន​ផ្ទៃ​ខាង​ក្រោយ​ពណ៌​ស ។
Comment[ms]=Cipta imej 640 x 480 piksel dengan latar belakang putih.
Comment[nb]=Lager et bilde på 640 x 480 piksler med hvit bakgrunn.
Comment[nl]=Maakt een afbeelding aan van 640 x 480 pixels, met een witte achtergrond.
Comment[nn]=Lagar eit bilete på 640 × 480 pikslar med ein kvit bakgrunn.
Comment[pl]=Tworzy obrazek z białym tłem o rozmiarach 640 x 480 pikseli.
Comment[pt]=Cria uma imagem de 640 x 480 pontos com um fundo branco.
Comment[pt_BR]=Cria uma imagem de 640 x 480 pixéis com um fundo branco.
Comment[ru]=Рисунок 640x480, белый фон
Comment[se]=Ráhkada vilges govva mas leat 640 × 480 govvačuogga.
Comment[sk]=Vytvorí obrázok s rozmermi 640 x 480 pixelov a bielym pozadím.
Comment[sl]=Ustvari sliko velikosti 640 x 480 pik z belim ozadjem.
Comment[sr]=Прави слику од 640 x 480 пиксела са белом позадином.
Comment[sr@Latn]=Pravi sliku od 640 x 480 piksela sa belom pozadinom.
Comment[sv]=Skapar en bild med 640 x 480 bildpunkter och en vit bakgrund.
Comment[ta]=640 x 480 படத்துணுக்குகளில் வெள்ளை பின்னணியுடன் ஒரு பிம்பத்தை உருவாக்குகிறது.
Comment[tr]=640 x 480 piksel ebadında beyaz arkaplana sahip bir görüntü oluşturur
Comment[uk]=Створює зображення 640 x 480 пікселів з білим тлом.
Comment[zh_CN]=创建白色背景的 640 x 480 像素的图像。
Comment[zh_TW]=建立一個 640 x 480 像素，白色背景的圖片。
X-Krita-Version=2
