[Desktop Entry]
Encoding=UTF-8
Name=Paragraph Tool
Name[bg]=Инструмент за абзаци
Name[ca]=Eina de paràgraf
Name[ca@valencia]=Eina de paràgraf
Name[cs]=Nástroj na odstavce
Name[da]=Afsnitsværktøj
Name[de]=Absatzwerkzeug
Name[el]=Εργαλείο παραγράφου
Name[en_GB]=Paragraph Tool
Name[es]=Herramienta de párrafos
Name[et]=Lõigutööriist
Name[gl]=Ferramenta de Parágrafo
Name[hne]=पैराग्राफ औजार
Name[it]=Strumento di paragrafo
Name[ja]=段落ツール
Name[kk]=Абзацтар құралы
Name[lv]=Rindkopas rīks
Name[nb]=Avsnittsverktøy
Name[nds]=Afsnitt-Warktüüch
Name[nl]=Hulpmiddel voor alinea's
Name[pt]=Ferramenta de Parágrafos
Name[pt_BR]=Ferramenta de Parágrafos
Name[sv]=Styckesverktyg
Name[tr]=Paragraf Aracı
Name[uk]=Інструмент абзаців
Name[wa]=Usteye del hagnon
Name[x-test]=xxParagraph Toolxx
Name[zh_CN]=段落工具
Name[zh_TW]=段落工具
X-KDE-ServiceTypes=KOffice/Tool
Type=Service
X-KDE-Library=paragraphtool
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
