[Desktop Entry]
Encoding=UTF-8
Name=Paragraph Tool
Name[el]=Εργαλείο παραγράφου
Name[gl]=Ferramenta de Parágrafo
Name[it]=Strumento di paragrafo
Name[kk]=Абзацтар құралы
Name[nds]=Afsnitt-Warktüüch
Name[nl]=Hulpmiddel voor alinea's
Name[pt]=Ferramenta de Parágrafos
Name[pt_BR]=Ferramenta de Parágrafos
Name[sv]=Styckesverktyg
Name[uk]=Інструмент абзаців
Name[x-test]=xxParagraph Toolxx
Name[zh_TW]=段落工具
X-KDE-ServiceTypes=KOffice/Tool
Type=Service
X-KDE-Library=paragraphtool
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
