<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui library="kritacolorspaceconversion" version="1" translationDomain="krita">
<MenuBar>
    <Menu name="Image"><text>&amp;Image</text>
		<Action name="imagecolorspaceconversion"/>
    </Menu>
    <Menu name="Layer"><text>La&amp;yer</text>
		<Action name="layercolorspaceconversion" group="layer_properties_merge"/>
    </Menu>
</MenuBar>
</kpartgui>
