[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=.source/white_640x480.kra
Icon=.icon/empty.png
Name=White Background, 640 x 480
Comment=Creates an image of 640 x 480 pixels with a white background.
Comment[es]=Crea una imagen de 640 x 480 píxeles con un fondo blanco.
Comment[pt]=Cria uma imagem de 640 x 480 pontos com um fundo branco.
Comment[pt_BR]=Cria uma imagem de 640 x 480 pontos com um fundo branco.
Comment[sv]=Skapar en bild med 640 x 480 bildpunkter och en vit bakgrund.
