[Desktop Entry]
Name=Together
Name[be]=Разам
Name[bg]=Заедно
Name[ca]=Junts
Name[ca@valencia]=Junts
Name[da]=Sammen
Name[de]=Zusammen
Name[el]=Μαζί
Name[en_GB]=Together
Name[es]=Juntos
Name[et]=Together
Name[fi]=Yhdessä
Name[ga]=Together
Name[gl]=Together
Name[he]=יחד
Name[hi]=एकसाथ
Name[hne]=एकसाथ
Name[it]=Insieme
Name[kk]=Бірге
Name[nb]=Sammen
Name[nds]=Tosamen
Name[ne]=सँगसँगै
Name[nl]=Tezamen
Name[pt]=Conjunto
Name[pt_BR]=Conjunto
Name[sv]=Tillsammans
Name[ta]=சேர்ந்த
Name[tr]=Birlikte
Name[uk]=Разом
Name[wa]=Eshonne
Name[x-test]=xxTogetherxx
Name[zh_TW]=Together
Comment=Together
Comment[be]=Разам
Comment[bg]=Заедно
Comment[ca]=Junts
Comment[ca@valencia]=Junts
Comment[da]=Sammen
Comment[de]=Zusammen
Comment[el]=Μαζί
Comment[en_GB]=Together
Comment[es]=Juntos
Comment[et]=Together
Comment[fi]=Yhdessä
Comment[ga]=Together
Comment[gl]=Together
Comment[he]=יחד
Comment[hi]=एकसाथ
Comment[hne]=एकसाथ
Comment[it]=Insieme
Comment[kk]=Бірге
Comment[nb]=Sammen
Comment[nds]=Tosamen
Comment[ne]=सँगसँगै
Comment[nl]=Tezamen
Comment[pt]=Conjunto
Comment[pt_BR]=Conjunto
Comment[sv]=Tillsammans
Comment[ta]=சேர்ந்த
Comment[tr]=Birlikte
Comment[uk]=Разом
Comment[wa]=Eshonne
Comment[x-test]=xxTogetherxx
Comment[zh_TW]=Together
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritatogether
X-Krita-Version=3
