[Desktop Entry]
Name=KoReport_Maps
Name[da]=KoReport_Maps
Name[es]=Mapas de KoReport
Name[nb]=KoReport_Maps
Name[pt]=KoReport_Maps
Name[pt_BR]=KoReport_Maps
Name[sv]=Koffice rapportkartor
Name[uk]=Карти KoReport
Name[x-test]=xxKoReport_Mapsxx
Name[zh_TW]=KoReport_Maps
Comment=Calligra Reports Maps Plugin
Comment[da]=Kort-plugin til Calligra Reports
Comment[es]=Complemento de mapas de informes de Calligra
Comment[nb]=Kart-programtillegg for Calligra-rapporter
Comment[pt]='Plugin' de Mapas dos Relatórios do Calligra
Comment[pt_BR]=Plug-in de mapas dos relatórios do Calligra
Comment[sv]=Calligra-insticksprogram för rapportkartor
Comment[uk]=Додаток карт у звітах Calligra
Comment[x-test]=xxCalligra Reports Maps Pluginxx
Comment[zh_TW]=Calligra 報告地圖外掛程式
X-KDE-Library=koreport_mapsplugin
X-KDE-ServiceTypes=KoReport/ItemPlugin
Type=Service
