[Desktop Entry]
Comment=Transform an image in a lenscorrection
Comment[ca]=Transforma una imatge en una lent correctora
Comment[da]=Transformér et billede med linsekorrektion
Comment[de]=Ein Bild mit einer Linsenkorrektur transformieren
Comment[el]=Μετασχηματισμός μιας εικόνας με διόρθωση οπτικών φακών
Comment[es]=Transforma una imagen en un corrección de lente
Comment[et]=Pildi teisendamine läätsekorrektsiooniga
Comment[hu]=Lencsekorrekció végrehajtása képen
Comment[it]=Trasforma un'immagine in una correzione lenticolare
Comment[ja]=レンズ補正によって画像を変形
Comment[nl]=Transformeer een afbeelding in een lenscorrectie
Comment[pt]=Transformar uma imagem numa correcção de lentes
Comment[pt_BR]=Transforma uma imagem numa correção de lentes
Comment[ru]=Убрать искажение от линзы фотоаппарата
Comment[sk]=Transformovať obrázok pomocou korekcie šošovky
Comment[sv]=Omvandla en bild med linskorrektion
Comment[zh_TW]=在 lenscorrection 下轉換圖片
Encoding=UTF-8
Icon=
Name=LensCorrection Filter
Name[ca]=Filtre de Lent correctora
Name[da]=Linekorrektionsfilter
Name[de]=Linsenkorrekturfilter
Name[el]=Φίλτρο οπτικών φακών
Name[es]=Filtro de corrección de lente
Name[et]=Läätsekorrektsiooni filter
Name[hu]=Lencsekorrekciós szűrő
Name[it]=Filtro di correzione lenticolare
Name[ja]=レンズ補正フィルタ
Name[nl]=Lenscorrectiefilter
Name[pt]=Filtro de Correcção de Lentes
Name[pt_BR]=Filtro de Correção de Lentes
Name[ru]=Убрать искажение линзы
Name[sk]=Filter korekcie šošovky
Name[sv]=Linskorrektionsfilter
Name[zh_TW]=LensCorrection 過濾器
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritalenscorrectionfilter
X-Krita-Version=2
