[Desktop Entry]
Comment=Transform an image in a lenscorrection
Comment[ja]=レンズ補正によって画像を変形
Encoding=UTF-8
Icon=
Name=LensCorrection Filter
Name[ja]=レンズ補正フィルタ
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritalenscorrectionfilter
X-Krita-Version=2
