[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=tenscripts
X-Python-2-Compatible=false
Name=Ten Scripts
Comment=A Python-based plugin for create ten actions and assign then to Python scripts
