[Desktop Entry]
Name=Sketch brush
Name[pt]=Pincel de rabiscos
Name[uk]=Ескізний пензель
Name[x-test]=xxSketch brushxx
X-KDE-ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritasketchpaintop
X-Krita-Version=3
