[Desktop Entry]
Encoding=UTF-8
Name=Cubism Filter
Name[ar]=مرشح التكعيب
Name[bg]=Кубичен филтър
Name[ca]=Filtre de cubisme
Name[cy]=Hidlen Giwbiaeth
Name[da]=Kubismefilter
Name[de]=Kubismus-Filter
Name[el]=Φίλτρο κυβισμού
Name[es]=Filtro de cubismo
Name[et]=Kubismifilter
Name[fr]=Filtre de cubisme
Name[gl]=Filtro de Cubismo
Name[is]=Teningasía
Name[it]=Filtro cubista
Name[ja]=キュビズムフィルタ
Name[nl]=Kubismefilter
Name[pt]=Filtro de Cubismo
Name[pt_BR]=Filtro de Cubismo
Name[ru]=Кубизм
Name[sr]=Кубистички филтер
Name[sr@Latn]=Kubistički filter
Name[sv]=Kubismfilter
Name[tr]=Kübizm Süzgeci
Name[xx]=xxCubism Filterxx
Name[zh_TW]=立體過濾器
Comment=Cubism filter
Comment[ar]=مرشح التكعيب
Comment[bg]=Кубичен филтър
Comment[ca]=Filtre de cubisme
Comment[cy]=Hidlen Giwbiaeth
Comment[da]=Kubismefilter
Comment[de]=Kubismus-Filter
Comment[el]=Φίλτρο κυβισμού
Comment[eo]=Kubisma filtrilo
Comment[es]=Filtro de cubismo
Comment[et]=Kubismifilter
Comment[fr]=Filtre de cubisme
Comment[gl]=Filtro de cubismo
Comment[is]=Teningasía
Comment[it]=Filtro cubista
Comment[ja]=キュビズムフィルタ
Comment[nl]=Kubismefilter
Comment[pt]=Filtro de cubismo
Comment[pt_BR]=Filtro de cubismo
Comment[ru]=Кубизм
Comment[sr]=Кубистички филтер
Comment[sr@Latn]=Kubistički filter
Comment[sv]=Kubismfilter
Comment[tr]=Kübizm süzgeci
Comment[xx]=xxCubism filterxx
Comment[zh_TW]=立體過濾器
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritacubismfilter
X-Krita-Version=2
