[Desktop Entry]
Encoding=UTF-8
Name=Cubism Filter
Name[ca]=Filtre de cubisme
Name[da]=Kubismefilter
Name[de]=Kubismus-Filter
Name[es]=Filtro de cubismo
Name[et]=Kubismifilter
Name[is]=Teningasía
Name[it]=Filtro cubista
Name[ja]=キュビズムフィルター
Name[nl]=Kubismefilter
Name[pt]=Filtro de Cubismo
Name[pt_BR]=Filtro de Cubismo
Name[sv]=Kubismfilter
Name[xx]=xxCubism Filterxx
Comment=Cubism filter
Comment[bg]=Кубичен филтър
Comment[ca]=Filtre de cubisme
Comment[cy]=Hidlen Giwbiaeth
Comment[da]=Kubismefilter
Comment[de]=Kubismus-Filter
Comment[eo]=Kubisma filtrilo
Comment[es]=Filtro de cubismo
Comment[et]=Kubismifilter
Comment[fr]=Filtre de cubisme
Comment[is]=Teningasía
Comment[it]=Filtro cubista
Comment[ja]=キュビズムフィルター
Comment[nl]=Kubismefilter
Comment[pt]=Filtro de cubismo
Comment[pt_BR]=Filtro de cubismo
Comment[sr]=Кубистички филтер
Comment[sr@Latn]=Kubistički filter
Comment[sv]=Kubismfilter
Comment[tr]=Kübizm süzgeci
Comment[xx]=xxCubism filterxx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritacubismfilter
X-KDE-Version=2
