[Desktop Entry]
Encoding=UTF-8
Name=Separate Channels Plugin
Name[ca]=Connector de canals separats
Name[da]=Plugin for separate kanaler
Name[de]="Kanäle trennen"-Plugin
Name[el]=Πρόσθετο διαχωρισμού καναλιών
Name[es]=Extensión para canales separados
Name[et]=Kanalite lahutamise plugin
Name[fr]=Module de séparation des canaux
Name[hu]=Csatornaszétválasztó modul
Name[is]=Aðgreindar rásir íforrit
Name[it]=Plugin per la separazione dei canali
Name[ja]=チャンネル分離プラグイン
Name[nl]=Plugin voor aparte kanalen
Name[pl]=Wtyczka oddzielania kanałów
Name[pt]='Plugin' de Separação de Canais
Name[pt_BR]='Plugin' de Separação de Canais
Name[sl]=Vstavek za ločevanje kanalov
Name[sr]=Прикључак за раздвајање канала
Name[sr@Latn]=Priključak za razdvajanje kanala
Name[sv]=Insticksprogram för separata kanaler
Name[uk]=Втулок розділення каналів
Name[uz]=Каналларни ажратиш учун плагин
Name[zh_CN]=独立通道插件
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritaseparatechannels
X-Krita-Version=2
