[Desktop Entry]
Name=Shiva Kernel Language Support
Name[es]=Implementación del lenguaje del núcleo Shiva
Name[et]=Shiva kernelikeele toetus
Name[gl]=Soporte da Linguaxe de Kernel Shiva
Name[it]=Supporto per il linguaggio Shiva Kernel
Name[nds]=Shiva-Karn-Spraakünnerstütten
Name[nl]=Ondersteuning van Shiva-kerneltaal
Name[pt]=Suporte à Linguagem do 'Kernel' Shiva
Name[pt_BR]=Suporte à Linguagem do 'Kernel' Shiva
Name[sv]=Shiva språkstöd
Name[uk]=Підтримка мови ядра Shiva
Name[x-test]=xxShiva Kernel Language Supportxx
Name[zh_TW]=Shiva 核心語言支援
Comment=Shiva Kernel Language Support
Comment[es]=Implementación del lenguaje del núcleo Shiva
Comment[et]=Shiva kernelikeele toetus
Comment[gl]=Soporte da LInguaxe de Kernel Shiva
Comment[it]=Supporto per il linguaggio Shiva Kernel
Comment[nds]=Shiva-Karn-Spraakünnerstütten
Comment[nl]=Ondersteuning van Shiva-kerneltaal
Comment[pt]=Suporte à Linguagem do 'Kernel' Shiva
Comment[pt_BR]=Suporte à Linguagem do 'Kernel' Shiva
Comment[sv]=Shiva språkstöd
Comment[uk]=Підтримка мови ядра Shiva
Comment[x-test]=xxShiva Kernel Language Supportxx
Comment[zh_TW]=Shiva 核心語言支援
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritashiva
X-Krita-Version=3
