[Desktop Entry]
Name=TriangleColorSelector
Name[ca]=SelectorTriangularDeColor
Name[ca@valencia]=SelectorTriangularDeColor
Name[da]=TrekantbaseretFarveVælger
Name[de]=Dreieckiger Farbwähler
Name[el]=TriangleColorSelector
Name[en_GB]=TriangleColourSelector
Name[es]=Selector de colores triangular
Name[et]=Kolmnurk-värvivalija
Name[gl]=SelectorDeCoresTriangular
Name[hi]=त्रिभुजरंगचयनक
Name[hne]=त्रिभुजरंगचुनइया
Name[it]=Selettore triangolare del colore
Name[kk]=TriangleColorSelector
Name[nb]=TriangelFargeVelger
Name[nds]=Dre'eckKlöörKöör
Name[nl]=TriangleColorSelector
Name[pt]=Selector de Cores Triangular
Name[pt_BR]=Seletor de Cores Triangular
Name[sv]=Triangulär färgväljare
Name[ta]=மூவர்ண தேர்வாளர்
Name[tr]=Üçgen Renk Seçici
Name[uk]=TriangleColorSelector
Name[wa]=Tchoezixheu di coleur e triyangue
Name[x-test]=xxTriangleColorSelectorxx
Name[zh_TW]=三角型顏色選擇器
Comment=TriangleColorSelector
Comment[ca]=SelectorTriangularDeColor
Comment[ca@valencia]=SelectorTriangularDeColor
Comment[da]=TrekantbaseretFarveVælger
Comment[de]=Dreieckiger Farbwähler
Comment[el]=TriangleColorSelector
Comment[en_GB]=TriangleColourSelector
Comment[es]=Selector de colores triangular
Comment[et]=Kolmnurk-värvivalija
Comment[gl]=SelectorDeCoresTriangular
Comment[hi]=त्रिभुजरंगचयनक
Comment[hne]=त्रिभुजरंगचुनइया
Comment[it]=Selettore triangolare del colore
Comment[kk]=TriangleColorSelector
Comment[nb]=TriangelFargeVelger
Comment[nds]=Dre'eckKlöörKöör
Comment[nl]=TriangleColorSelector
Comment[pt]=Selector de Cores Triangular
Comment[pt_BR]=Seletor de Cores Triangular
Comment[sv]=Triangulär färgväljare
Comment[ta]=மூவர்ண தேர்வாளர்
Comment[tr]=Üçgen Renk Seçici
Comment[uk]=TriangleColorSelector
Comment[wa]=Tchoezixheu di coleur e triyangue
Comment[x-test]=xxTriangleColorSelectorxx
Comment[zh_TW]=三角型顏色選擇器
X-KDE-ServiceTypes=Krita/Dock
Type=Service
X-KDE-Library=kritatrianglecolorselector
X-Krita-Version=3
