[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=mixer_slider_docker
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Mixer Slider docker
Name[es]=Panel del deslizador del mezclador
Name[ko]=믹서 슬라이더 도커
Name[nl]=Vastzetter van schuifregelaar van mixer
Name[nn]=Fargeblandingsdokk
Name[uk]=Бічна панель повзунка мікшера
Name[x-test]=xxMixer Slider dockerxx
Comment=A color slider.
Comment[es]=Deslizador de color.
Comment[ko]=컬러 슬라이더입니다.
Comment[nl]=Een schuifregelaar voor kleur
Comment[nn]=Palett med fargeovergangar
Comment[uk]=Повзунок кольору.
Comment[x-test]=xxA color slider.xx
