[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=highpass
X-Python-2-Compatible=false
Name=Highpass Filter
Name[zh_TW]=高通濾鏡
Comment=Highpass Filter, based on http://registry.gimp.org/node/7385
Comment[zh_TW]=高通濾鏡，基於 http://registry.gimp.org/node/7385
