[Desktop Entry]
Name=Comment Tool
Name[da]=Kommenteringsværktøj
Name[es]=Herramienta de comentarios
Name[et]=Kommentaaritööriist
Name[it]=Strumento commenti
Name[ja]=コメントツール
Name[nb]=Kommentarverktøy
Name[nds]=Kommentar-Warktüüch
Name[pt]=Ferramenta de Comentários
Name[pt_BR]=Ferramenta de Comentários
Name[sv]=Kommentarverktyg
Name[uk]=Інструмент коментування
Name[x-test]=xxComment Toolxx
X-KDE-ServiceTypes=KOffice/Tool
Type=Service
X-KDE-Library=commenttool
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
