[Desktop Entry]
Icon=
Name=Thesaurus Tool
Name[af]=Thesaurus Program
Name[be]=Тэзаўрус
Name[bg]=Синонимен речник
Name[br]=Ostilh tezorus
Name[ca]=Eina Thesaurus
Name[ca@valencia]=Eina Thesaurus
Name[cs]=Tezaurus
Name[cy]=Erfyn Thesawrws
Name[da]=Thesaurusværktøj
Name[de]=Thesaurus-Werkzeug
Name[el]=Εργαλείο συνωνύμων
Name[en_GB]=Thesaurus Tool
Name[eo]=Tezaŭrilo
Name[es]=Herramienta de sinónimos
Name[et]=Tesaurus
Name[eu]=Thesaurus tresna
Name[fa]=ابزار Thesaurus
Name[fi]=Synonyymisanakirja
Name[fr]=Outil Thésaurus
Name[fy]=Thesaurus-ark
Name[ga]=Uirlis Teasárais
Name[gl]=Ferramenta de Sinónimos
Name[he]=כלי אגרון
Name[hi]=समांतर कोश औजार
Name[hne]=समांतर कोस औजार
Name[hr]=Tezaurus alat
Name[hu]=Szinonima-eszköz
Name[is]=Samheitaorðabókartól
Name[it]=Dizionario dei sinonimi
Name[ja]=類義語ツール
Name[kk]=Синонимді табу құралы
Name[lt]=Thesaurus įrankis
Name[lv]=Tēzaura rīks
Name[ms]=Alat Tesaurus
Name[nb]=Synonymordbok
Name[nds]=Thesaurus-Warktüüch
Name[ne]=पर्यायकोश उपकरण
Name[nl]=Thesaurus hulpprogramma
Name[pl]=Thesaurus
Name[pt]=Ferramenta de Sinónimos
Name[pt_BR]=Ferramenta de Sinônimos
Name[ru]=Тезаурус
Name[se]=Sátnegirjereaidu
Name[sk]=Thesaurus
Name[sl]=Tezaver
Name[sv]=Synonymverktyg
Name[ta]=சொற்பிழை திருத்தும் கருவி
Name[tg]=Асбоби Тезаурус
Name[tr]=Thesaurus Aracı
Name[uk]=Засіб синонімів
Name[uz]=Tezaurus vositasi
Name[uz@cyrillic]=Тезаурус воситаси
Name[wa]=Usteye des sinonimes
Name[xh]=Isixhobo se Thesaurus
Name[x-test]=xxThesaurus Toolxx
Name[zh_CN]=词典工具
Name[zh_TW]=同義字工具
X-KDE-Library=thesaurustool
Type=Service
Commands=thesaurus
Comment=Show Related Words
Comment[af]=Vertoon Verwanter Woorde
Comment[bg]=Търсене на синоними
Comment[ca]=Mostra paraules relacionades
Comment[ca@valencia]=Mostra paraules relacionades
Comment[cs]=Zobrazit podobná slova
Comment[cy]=Dangos Geiriau Perthnasol
Comment[da]=Viser relaterede ord
Comment[de]=Verwandte Wörter anzeigen
Comment[el]=Εμφάνιση συγγενικών λέξεων
Comment[en_GB]=Show Related Words
Comment[eo]=Montru rilatajn vortojn
Comment[es]=Mostrar palabras relacionadas
Comment[et]=Sarnaste sõnade näitamine
Comment[eu]=Erakutsi erlazionatutako hitzak
Comment[fa]=نمایش واژه‌های مربوط
Comment[fi]=Näytä merkitykseltään samankaltaisia sanoja
Comment[fr]=Afficher les mots liés
Comment[fy]=Ferlykbere wurden sjen litte
Comment[gl]=Mostrar as Palabras Relacionadas
Comment[he]=הצג מילים קשורות
Comment[hi]=संबंधित शब्द दिखाएँ
Comment[hne]=संबंधित सब्द देखाव
Comment[hr]=Prikaži srodne riječi
Comment[hu]=Szinonimák
Comment[is]=Sýna tengd orð
Comment[it]=Mostra parole simili
Comment[ja]=類義語を表示
Comment[kk]=Синоним сөздерін көрсету
Comment[lt]=Parodyti susijusius žodžius
Comment[lv]=Rādīt saistītus vārdus
Comment[ms]=Tayang Kata Berkaitan
Comment[nb]=Vis ord som ligner
Comment[nds]=Tohören Wöör wiesen
Comment[ne]=सम्बन्धित शब्द देखाउनुहोस्
Comment[nl]=Toon gerelateerde woorden
Comment[pl]=Pokaż wyrazy pokrewne
Comment[pt]=Mostrar as Palavras Relacionadas
Comment[pt_BR]=Mostrar as Palavras Relacionadas
Comment[ru]=Показать синонимы
Comment[se]=Čájet oktiigullevaš sániid
Comment[sk]=Zobrazenie súvisiacich slov
Comment[sl]=Prikaži povezane besede
Comment[sv]=Visa relaterade ord
Comment[ta]=தேர்ந்தேமுத்த வார்த்தைகளை தெறிவி
Comment[tg]=Намоиши калимаҳои хешовандӣ
Comment[tr]=İlgili Kelimeleri Göster
Comment[uk]=Показати пов'язані слова
Comment[uz]=Bogʻliq boʻlgan soʻzlarni koʻrsatish
Comment[uz@cyrillic]=Боғлиқ бўлган сўзларни кўрсатиш
Comment[wa]=Mostrer les mots k' ont-st a vey avou
Comment[xh]=Bonisa Amagama Ahlobeneyo
Comment[x-test]=xxShow Related Wordsxx
Comment[zh_CN]=显示相关单词
Comment[zh_TW]=顯示相關單字
X-KoText-MinVersion=0
X-Flake-PluginVersion=1
X-KDE-ServiceTypes=KOffice/Text-EditingPlugin
