[Desktop Entry]
Encoding=UTF-8
Name=Dynamic Brush
Name[bg]=Динамична четка
Name[ca]=Pinzell dinàmic
Name[de]=Dynamischer Pinsel
Name[el]=Δυναμικό πινέλο
Name[es]=Pincel dinámico
Name[ga]=Scuab Dhinimiciúil
Name[ja]=ダイナミックブラシ
Name[ne]=गतिशील ब्रुस
Name[pt]=Pincel Dinâmico
Name[pt_BR]=Pincel Dinâmico
Name[sv]=Dynamisk pensel
Name[uk]=Динамічний пензель
Name[zh_TW]=動態筆刷
Comment=Dynamic brush
Comment[bg]=Динамична четка
Comment[ca]=Pinzell dinàmic
Comment[de]=Dynamischer Pinsel
Comment[el]=Δυναμικό πινέλο
Comment[es]=Pincel dinámico
Comment[ga]=Scuab Dhinimiciúil
Comment[ja]=ダイナミックブラシ
Comment[ne]=गतिशील ब्रुस
Comment[pt]=Pincel Dinâmico
Comment[pt_BR]=Pincel Dinâmico
Comment[sv]=Dynamisk pensel
Comment[uk]=Динамічний пензель
Comment[zh_TW]=動態筆刷
ServiceTypes=Krita/Paintop,Krita/ViewPlugin
Type=Service
X-KDE-Library=kritadynamicbrushpaintop
X-Krita-Version=3

