[Desktop Entry]
Encoding=UTF-8
Name=Dynamic Brush
Name[uk]=Динамічний пензель
Comment=Dynamic brush
Comment[uk]=Динамічний пензель
ServiceTypes=Krita/Paintop,Krita/ViewPlugin
Type=Service
X-KDE-Library=kritadynamicbrushpaintop
X-Krita-Version=3

