[Desktop Entry]
Icon=
Name=Krita PhotoShop Import Filter
Name[bg]=Филтър за внасяне от PhotoShop в Krita
Name[bs]=Krita PhotoShop unosni Filter
Name[ca]=Filtre d'importació PhotoShop per al Krita
Name[ca@valencia]=Filtre d'importació PhotoShop per al Krita
Name[cs]=Importní filtr do PhotoShopu pro Kritu
Name[da]=PhotoShop-importfilter til Krita
Name[de]=Krita-PhotoShop-Importfilter
Name[el]=Φίλτρο εισαγωγής PhotoShop του Krita
Name[en_GB]=Krita PhotoShop Import Filter
Name[es]=Filtro de Krita de importación de PhotoShop
Name[et]=Krita PhotoShopi impordifilter
Name[eu]=Krita-ren PhotoShop inportazio-iragazkia
Name[fi]=Kritan PhotoShop-tuontisuodin
Name[fr]=Filtre d'importation PhotoShop de Krita
Name[ga]=Scagaire Iompórtála PhotoShop Krita
Name[gl]=Filtro para Krita de importación de PhotoShop
Name[hu]=Krita PhotoShop importszűrő
Name[it]=Filtro di importazione PhotoShop per Krita
Name[ja]=Krita PhotoShop インポートフィルタ
Name[kk]=PhotoShop -> Krita импорт сүзгісі
Name[ko]=Krita Photoshop 가져오기 필터
Name[lt]=Krita PhotoShop importavimo filtras
Name[nb]=PhotoShop importfilter for Krita
Name[nds]=PhotoShop-Importfilter för Krita
Name[nl]=Photoshop-importfilter voor Krita
Name[pl]=Filtr importu PhotoShop do Krita
Name[pt]=Filtro de Importação de PhotoShop para o Krita
Name[pt_BR]=Filtro de importação de PhotoShop para Krita
Name[ru]=Фильтр импорта документов PhotoShop в Krita
Name[sk]=Importný filter Krita PhotoShop
Name[sl]=Uvozni filter PhotoShop za Krito
Name[sv]=Krita Photoshop-importfilter
Name[uk]=Фільтр імпортування даних PhotoShop для Krita
Name[wa]=Passete d' abagaedje PhotoShop di Krita
Name[x-test]=xxKrita PhotoShop Import Filterxx
Name[zh_CN]=Krita PhotoShop 导入过滤器
Name[zh_TW]=Krita PhotoShop 匯入過濾程式
X-KDE-ServiceTypes=Calligra/Filter
Type=Service
X-KDE-Export=application/x-krita
X-KDE-Import=image/vnd.adobe.photoshop
X-KDE-Library=kritapsdimport
X-KDE-Weight=1
NoDisplay=true
