[Desktop Entry]
Name=CMYK Color Model
Name[bg]=Цветови модел CMYK
Name[br]=Gobari al livioù CMYK
Name[ca]=Model de color CMYK
Name[cs]=Barevný model CMYK
Name[cy]=Model Lliw CMYK
Name[da]=CMYK-farvemodel
Name[de]=CMYK-Farbmodell
Name[el]=Χρωματικό μοντέλο CMYK
Name[en_GB]=CMYK Colour Model
Name[eo]=CMYK-kolormodelo
Name[es]=Modelo de color CMYK
Name[et]=CMYK värvimudel
Name[eu]=CMYK kolore-eredua
Name[fa]=مدل رنگ CMYK
Name[fi]=CMYK-värimalli
Name[fr]=Modèle de couleurs CMYK
Name[fy]=CMYK-kleurmodel
Name[gl]=Modelo de Cores CMYK
Name[he]=מודל צבעים CMYK
Name[hi]=सीएमवायके रंग मॉडल
Name[hne]=सीएमवायके रंग माडल
Name[hu]=CMYK színmodell
Name[is]=CMYK litategund
Name[it]=Modello di colore CMYK
Name[ja]=CMYK カラーモデル
Name[kk]=CMYK түстер үлгісі
Name[lt]=CMYK spalvų modelis
Name[lv]=CMYK krāsu modelis
Name[ms]=Model Warna CMYK
Name[nb]=CMYK-fargemodell
Name[nds]=CMYK-Klöörmodell
Name[ne]=CMYK रङ नमूना
Name[nl]=CMYK-kleurmodel
Name[pl]=Przestrzeń barw CMYK
Name[pt]=Modelo de Cor CMYK
Name[pt_BR]=Modelo de Cor CMYK
Name[ru]=CMYK
Name[se]=CMYK-ivdnemálle
Name[sk]=Model farieb CMYK
Name[sl]=Barvni model CMYK
Name[sv]=CMYK-färgmodell
Name[ta]=சிஎம்வைகே வண்ண முறை
Name[tr]=CMYK Renk Modeli
Name[uk]=Модель кольору CMYK
Name[uz]=CMYK rang usuli
Name[uz@cyrillic]=CMYK ранг усули
Name[x-test]=xxCMYK Color Modelxx
Name[zh_CN]=CMYK 色彩模型
Name[zh_TW]=CMYK 色彩模型
Comment=Color model for 8-bit/channel CMYK images
Comment[bg]=Цветови модел за изображения CMYK с 8 бита на канал
Comment[ca]=Model de color d'enters de 8 bits per a canal d'imatges CMYK
Comment[cy]=Model lliw ar gyfer delweddau CMYK 8-did/sianel
Comment[da]=Farvemodel for 8-bit/kanal CMYK-billeder
Comment[de]=Farbmodell für 8-bit pro Kanal CMYK-Bilder
Comment[el]=Χρωματικό μοντέλο για 8-bit/κανάλι CMYK εικόνες
Comment[en_GB]=Colour model for 8-bit/channel CMYK images
Comment[es]=Modelo de color para imágenes de 8 bits/canal CMYK
Comment[et]=8-bitiste kanalitega CMYK-piltide värvimudel
Comment[eu]=8 bit/kanaleko CMYK irudien kolore-eredua
Comment[fa]=مدل رنگ برای تصاویر CMYK مجرا/۸ بیتی
Comment[fi]=Värimalli 8-bittisille/kanavaisille CMYK-kuville
Comment[fr]=Modèle de couleurs pour des images CMYK à 8 bits/plage
Comment[fy]=Kleurmodel foar 8-bit/kanaal CMYK-ôfbyldings
Comment[gl]=Modelo de Cores para imaxer CMYK de 8-bit/canal
Comment[he]=מודל צבעים עבור תמונות CMYK של 8 סיביות/ערוצים
Comment[hi]=सीएमवायके छवियों के लिये ८बिट/चैनल रंग योजना
Comment[hne]=सीएमवायके फोटू मन बर ८बिट/चैनल रंग योजना
Comment[hu]=Színmodell 8 bit/csatorna CMYK képekhez
Comment[is]=Litategund fyrir 8-bita/rásir CMYK myndir
Comment[it]=Modello di colore per immagini CMYK a canale di 8 bit
Comment[ja]=8 ビット/チャンネルの CMYK 画像のためのカラーモデル
Comment[kk]=CMYK кескіндердің түстер үлгісі (бүтін 8 бит сан/арна)
Comment[lv]=Krāsu modelis 8-bitu uz kanālu CMYK attēliem
Comment[ms]=Model warna bagi imej CMYK 8-bit/saluran
Comment[nb]=Fargemodell for CMYK-bilder med 8 bit per kanal
Comment[nds]=Klöörmodell för CMYK-Biller mit 8-Bit Heeltall per Kanaal
Comment[ne]=८-बिट/च्यानल CMYK छविका लागि रङ नमूना
Comment[nl]=Kleurmodel voor 8-bit/kanaal CMYK-afbeeldingen
Comment[pl]=Przestrzeń barw dla obrazków CMYK 8 bitów/kanał
Comment[pt]=Modelo de cor para imagens CMYK com 8 bits por canal
Comment[pt_BR]=Modelo de cor para imagens CMYK com 8 bits por canal
Comment[ru]=Цветовое пространство CMYK (8-бит/канал)
Comment[sk]=Model farieb pre CMYK obrázky s 8 bitmi na kanál
Comment[sl]=Barvni model za slike CMYK z 8 biti/kanal
Comment[sv]=Färgmodell för 8 bitar/kanal CMYK-bilder
Comment[ta]=8-பிட் வழி சிஎம்வைகே பிம்பங்களுக்கான வண்ண முறை
Comment[tr]=8-bit/kanal CMYK görüntüler için renk modeli
Comment[uk]=Модель кольору CMYK для зображень 8-біт/каналів
Comment[x-test]=xxColor model for 8-bit/channel CMYK imagesxx
Comment[zh_CN]=八位/通道 CMYK 图像的色彩模型
Comment[zh_TW]=8-bit/色頻的 CMYK 圖片色彩模型
X-KDE-ServiceTypes=KOffice/ColorSpace
Type=Service
X-KDE-Library=kritacmykplugin
X-Pigment-MinVersion=0
X-Flake-PluginVersion=1
