[Desktop Entry]
Name=Dodge and Burn Filter
Name[en_GB]=Dodge and Burn Filter
Name[et]=Helendamis- ja tumendamisfilter
Name[nb]=Skygge og belys-filter
Name[nds]=Afwedel-un Brennfilter
Name[nl]=Dodge en Burn filter
Name[pt]=Filtro de Desvio e Queimadura
Name[pt_BR]=Filtro de Desvio e Queimadura
Name[sv]=Skuggnings- och brännfilter
Name[uk]=Фільтр комбінування з вигоранням
Name[x-test]=xxDodge and Burn Filterxx
Name[zh_TW]=曝光過濾器
Comment=Dodge and Burn Filter
Comment[en_GB]=Dodge and Burn Filter
Comment[et]=Helendamis- ja tumendamisfilter
Comment[nb]=Skygge og belys-filter
Comment[nds]=Afwedel-un Brennfilter
Comment[nl]=Dodge en Burn filter
Comment[pt]=Filtro de Desvio e Queimadura
Comment[pt_BR]=Filtro de Desvio e Queimadura
Comment[sv]=Skuggnings- och brännfilter
Comment[uk]=Фільтр комбінування з вигоранням
Comment[x-test]=xxDodge and Burn Filterxx
Comment[zh_TW]=曝光過濾器
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritadodgeburn
X-Krita-Version=3
