[Desktop Entry]
Name=Dodge and Burn Filter
Name[bs]=Filter za izmicanje i sagorjevanje
Name[ca]=Filtre d'aclarit i cremat
Name[ca@valencia]=Filtre d'aclarit i cremat
Name[da]=Undvig og brænd-filter
Name[de]=Abwedeln- und-Nachbelichten-Filter
Name[el]=Φίλτρο dodge and burn
Name[en_GB]=Dodge and Burn Filter
Name[es]=Filtro de sobreexposición y de subexposición
Name[et]=Helendamis- ja tumendamisfilter
Name[eu]=Zuritze- eta belzte-iragazkia
Name[fr]=Filtre de détourage et brûlage
Name[gl]=Filtro de desvío e queimadura
Name[it]=Filtro di mascheratura e bruciatura
Name[ja]=ドッジアンドバーンフィルタ
Name[kk]=Ақшылатып қоюлату сүзгісі
Name[nb]=Skygge og belys-filter
Name[nds]=Afwedel-un Brennfilter
Name[nl]=Dodge en Burn filter
Name[pl]=Filtr rozjaśniania i wypalania
Name[pt]=Filtro de Desvio e Queimadura
Name[pt_BR]=Filtro de Desvio e Queimadura
Name[ru]=Осветление и затемнение
Name[sk]=Filter Dodge and Burn
Name[sv]=Bleknings- och brännfilter
Name[uk]=Фільтр комбінування з вигоранням
Name[wa]=Passete raclairixhaedje et noerixhaedje
Name[x-test]=xxDodge and Burn Filterxx
Name[zh_TW]=曝光過濾器
Comment=Dodge and Burn Filter
Comment[bs]=Filter za izmicanje i sagorjevanje
Comment[ca]=Filtre d'aclarit i cremat
Comment[ca@valencia]=Filtre d'aclarit i cremat
Comment[da]=Undvig og brænd-filter
Comment[de]=Abwedeln- und-Nachbelichten-Filter
Comment[el]=Φίλτρο dodge and burn
Comment[en_GB]=Dodge and Burn Filter
Comment[es]=Filtro de sobreexposición y de subexposición
Comment[et]=Helendamis- ja tumendamisfilter
Comment[eu]=Zuritze- eta belzte-iragazkia
Comment[fr]=Filtre de détourage et brûlage
Comment[gl]=Filtro de desvío e queimadura.
Comment[it]=Filtro di mascheratura e bruciatura
Comment[ja]=ドッジアンドバーンフィルタ
Comment[kk]=Ақшылатып қоюлату сүзгісі
Comment[nb]=Skygge og belys-filter
Comment[nds]=Afwedel-un Brennfilter
Comment[nl]=Dodge en Burn filter
Comment[pl]=Filtr rozjaśniania i wypalania
Comment[pt]=Filtro de Desvio e Queimadura
Comment[pt_BR]=Filtro de Desvio e Queimadura
Comment[ru]=Осветление и затемнение
Comment[sk]=Filter Dodge and Burn
Comment[sv]=Bleknings- och brännfilter
Comment[uk]=Фільтр комбінування з вигоранням
Comment[wa]=Passete di raclairixhaedje eyet d' noerixhaedje
Comment[x-test]=xxDodge and Burn Filterxx
Comment[zh_TW]=曝光過濾器
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritadodgeburn
X-Krita-Version=28
