[Desktop Entry]
Encoding=UTF-8
Name=YCbCr (integer 8-bit and 16-bit) Color Model
Name[de]=YCbCr-Farbmodell (8-bit und 16-bit Ganzzahl)
Name[el]=Χρωματικό μοντέλο YCbCr (ακέραιοι 8-bit και 16-bit)
Name[es]=Modelo de color YCbCr (enteros de 8 y 16 bits)
Name[ja]=YCbCr (8 ビット および 16 ビット整数) カラーモデル
Name[ne]=YCbCr (८-बिट र १६-बिट) रङ नमूना
Name[pt]=Modelo de Cor YCbCr (inteiros de 8-bits e 16-bits)
Name[pt_BR]=Modelo de Cor YCbCr (inteiros de 8-bits e 16-bits)
Name[sv]=YCbCr-färgmodell (8-bitars och 16-bitars heltal)
Name[x-test]=xxYCbCr (integer 8-bit and 16-bit) Color Modelxx
Name[zh_TW]=YCbCr（八位元與十六位元整數）色彩模型
Comment=Color model for 8-bit and 16-bit per channel for YCbCr images
Comment[de]=Farbmodell für 8-bit und 16-bit pro Kanal YCbCr-Bilder
Comment[es]=Modelo de color para imágenes YCbCr de 8 y 16 bits por canal
Comment[fa]=مدل رنگ برای عدد صحیح ۸ بیتی و ۱۶ بیتی برای هر تصویر YCbCr مجرا
Comment[ja]=8 ビットおよび 16 ビット/チャンネルの YCbCr 画像のためのカラーモデル
Comment[ne]=YCbCr छविका लागि ८-बिट र १६-बिटको प्रत्येक च्यानलका लागि रङ नमूना
Comment[pt]=Modelo de cor para imagens YCbCr com 8 bits por canal
Comment[pt_BR]=Modelo de cor para imagens YCbCr com 8 bits por canal
Comment[sv]=Färgmodell för YCbCr-bilder med 8-bitars och 16-bitars heltal per kanal
Comment[x-test]=xxColor model for 8-bit and 16-bit per channel for YCbCr imagesxx
Comment[zh_TW]=每色頻為 8-bit 與 16-bit 的 YCbCr 圖片色彩模型
ServiceTypes=KOffice/ColorSpace
Type=Service
X-KDE-Library=kritaycbcrplugin
X-Pigment-MinVersion=0
X-Flake-PluginVersion=1
