[Desktop Entry]
Encoding=UTF-8
Name=YCbCr (integer 8-bit and 16-bit) Color Model
Name[x-test]=xxYCbCr (integer 8-bit and 16-bit) Color Modelxx
Comment=Color model for 8-bit and 16-bit per channel for YCbCr images
Comment[x-test]=xxColor model for 8-bit and 16-bit per channel for YCbCr imagesxx
ServiceTypes=KOffice/ColorSpace
Type=Service
X-KDE-Library=kritaycbcrplugin
X-Pigment-Version=1
