[Desktop Entry]
Encoding=UTF-8
Name=YCbCr (integer 8-bit and 16-bit) Color Model
Name[de]=YCbCr-Farbmodell (8-bit und 16-bit Ganzzahl)
Name[ja]=YCbCr (8 ビット および 16 ビット整数) カラーモデル
Name[x-test]=xxYCbCr (integer 8-bit and 16-bit) Color Modelxx
Comment=Color model for 8-bit and 16-bit per channel for YCbCr images
Comment[de]=Farbmodell für 8-bit und 16-bit pro Kanal YCbCr-Bilder
Comment[ja]=8 ビットおよび 16 ビット/チャンネルの YCbCr 画像のためのカラーモデル
Comment[x-test]=xxColor model for 8-bit and 16-bit per channel for YCbCr imagesxx
ServiceTypes=KOffice/ColorSpace
Type=Service
X-KDE-Library=kritaycbcrplugin
X-Pigment-Version=1
