[Desktop Entry]
Encoding=UTF-8
Name=Glsl Filter Plugin
Name[x-test]=xxGlsl Filter Pluginxx
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritaglsl
X-Krita-Version=3
