[Desktop Entry]
Name=Spacenavigator Device
Name[it]=Dispositivo per la navigazione spaziale
Name[pt]=Dispositivo do Spacenavigator
Name[pt_BR]=Dispositivo do Spacenavigator
X-KDE-ServiceTypes=KOffice/Device
Type=Service
X-KDE-Library=spacenavigator
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
