[Desktop Entry]
Name=KritaShape Shape
Name[ca]=Forma KritaShape
Name[ca@valencia]=Forma KritaShape
Name[da]=KritaShape-form
Name[de]=Krita-Objekt
Name[el]=Σχήμα KritaShape
Name[en_GB]=KritaShape Shape
Name[es]=Forma de KritaShape
Name[et]=KritaShape'i kujund
Name[fi]=Krita-hahmo
Name[fy]=KritaShape foarm
Name[ga]=Giuirléid KritaShape
Name[gl]=Moldura KritaShape
Name[hi]=केरिताशेप आकार
Name[hne]=केरितासेप आकार
Name[it]=Forma di Krita
Name[ja]=KritaShape シェイプ
Name[kk]=KritaShape пішіні
Name[lv]=KritaShape figūra
Name[nb]=KritaShape form
Name[nds]=Form »Krita-Form«
Name[ne]=क्रिता आकारको आकार
Name[nl]=Krita-vorm
Name[pt]=Forma do KritaShape
Name[pt_BR]=Forma do KritaShape
Name[sv]=Kritashape-form
Name[ta]=கிரிட்டாவடிவ வடிவம்
Name[tr]=KritaShape Şekli
Name[uk]=Форма KritaShape
Name[wa]=Fôme KritaShape
Name[x-test]=xxKritaShape Shapexx
Name[zh_CN]=KritaShape 形状
Name[zh_TW]=KritaShape 元件
X-KDE-ServiceTypes=KOffice/Shape
Type=Service
X-KDE-Library=kritashape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
