[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KOffice/ColorSpace
Comment=A module implementing a complete colorspace for use with Pigment Color Manipulation System
[PropertyDef::X-Pigment-MinVersion]
Type=int
[PropertyDef::X-Flake-PluginVersion]
Type=int
