[Desktop Entry]
Encoding=UTF-8
Name=History Docker
Name[eo]=Histori-legilo
Name[es]=Anclaje del histórico
Name[et]=Ajaloo dokk
Name[sv]=Historikdockning
Name[xx]=xxHistory Dockerxx
Comment=Command history docker for Krita
Comment[eo]=Legilo de komandhistorio por Krita
Comment[es]=Anclaje con el histórico de órdenes para Krita
Comment[et]=Krita käskude ajaloo dokk
Comment[sv]=Dockning av kommandhistorik för Krita
Comment[xx]=xxCommand history docker for Kritaxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritahistorydocker
