[Desktop Entry]
Name=Channel Docker
Name[bg]=Контейнер за канали
Name[bs]=Kanalni doker
Name[ca]=Acoblador de canal
Name[ca@valencia]=Acoblador de canal
Name[cs]=Dok kanálů
Name[da]=Kanal-dokker
Name[de]=Kanaldocker
Name[el]=Εργαλείο προσάρτησης καναλιού
Name[en_GB]=Channel Docker
Name[es]=Acoplable de canal
Name[et]=Kanalidokk
Name[eu]=Kanal-panela
Name[fi]=Kanavatelakka
Name[fr]=Panneau par défaut
Name[gl]=Doca de canles
Name[hu]=Csatornadokkoló
Name[it]=Area di aggancio dei canali
Name[ja]=チャンネルのドッキングパネル
Name[kk]=Арна докері
Name[nb]=Kanaldokker
Name[nl]=Kanaalvastzetter
Name[pl]=Dokowanie kanału
Name[pt]=Área de Canais
Name[pt_BR]=Área de canais
Name[ru]=Панель каналов
Name[sk]=Kanálový docker
Name[sl]=Sidrišče za kanale
Name[sv]=Kanaldockningsfönster
Name[uk]=Панель швартування каналів
Name[x-test]=xxChannel Dockerxx
Name[zh_TW]=頻道嵌入器
X-KDE-ServiceTypes=Krita/Dock
Type=Service
X-KDE-Library=kritachanneldocker
X-Krita-Version=28
