[Desktop Entry]
Name=Basic Flakes
Name[cs]=Základní vločky
Name[nl]=Basis Flakes
Name[pt]=Formas Básicas
Name[sk]=Základné vločky
Name[sv]=Grundläggande Flake
Name[uk]=Основні модулі
Name[x-test]=xxBasic Flakesxx
X-KDE-ServiceTypes=Calligra/Tool
Type=Service
X-KDE-PluginInfo-Name=basicflakesplugin
X-KDE-Library=basicflakesplugin
X-Flake-MinVersion=27
X-Flake-PluginVersion=27
