[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=hello
X-Krita-Manual=Manual.html
X-Python-2-Compatible=false
Name=Hello World
Name[zh_TW]=你好，世界
Comment=Basic plugin to test PyKrita
Comment[zh_TW]=測試 PyKrita 的基本外掛程式
