[Desktop Entry]
Encoding=UTF-8
Name=Histogram Plugin
Name[x-test]=xxHistogram Pluginxx
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritahistogram
X-Krita-Version=2
