[Desktop Entry]
Name=Preset History Docker
Name[ca]=Acoblador d'historial de valors predeterminats
Name[nl]=Verankering voor voorinstelling geschiedenis
Name[pt]=Área do Histórico de Predefinições
Name[sv]=Förinställt dockningsfönster
Name[uk]=Панель журналу наборів налаштувань
Name[x-test]=xxPreset History Dockerxx
Comment=Show the last used presets
Comment[ca]=Mostra els valors predeterminats usats darrerament
Comment[nl]=De laatst gebruikte voorinstellingen tonen
Comment[pt]=Mostrar as últimas predefinições usadas
Comment[sv]=Visa senast använda förinställningarna
Comment[uk]=Показує останні використані набори налаштувань
Comment[x-test]=xxShow the last used presetsxx
X-KDE-ServiceTypes=Krita/Dock
Type=Service
X-KDE-Library=kritapresethistory
X-Krita-Version=28
