[Desktop Entry]
Name=Preset History Docker
Name[ca]=Acoblador d'historial de valors predeterminats
Name[en_GB]=Preset History Docker
Name[es]=Panel del historial de preajustes
Name[et]=Valmisseadistustega ajaloo dokk
Name[fi]=Esiasetushistoriatelakka
Name[it]=Area di aggancio cronologia delle preimpostazioni
Name[nb]=Historie for  forhåndsinnstillinger
Name[nl]=Verankering voor voorinstelling van geschiedenis
Name[pl]=Dokowanie historii nastaw
Name[pt]=Área do Histórico de Predefinições
Name[pt_BR]=Área do histórico de predefinições
Name[sk]=Panel histórie predvolieb
Name[sv]=Förinställt dockningsfönster för historik
Name[uk]=Панель журналу наборів налаштувань
Name[x-test]=xxPreset History Dockerxx
Comment=Show the last used presets
Comment[ca]=Mostra els valors predeterminats usats darrerament
Comment[cs]=Zobrazit naposledy použité p5edvolby
Comment[de]=Zuletzt verwendete Voreinstellungen anzeigen
Comment[en_GB]=Show the last used presets
Comment[es]=Mostrar los últimos preajustes usados
Comment[et]=Viimati kasutatud valmisseadistuste näitamine
Comment[fi]=Näytä viimeksi käytetyt esiasetukset
Comment[it]=Mostra le ultime preimpostazioni utilizzate
Comment[nb]=Vis sist brukte forhåndsinnstillinger
Comment[nl]=De laatst gebruikte voorinstellingen tonen
Comment[pl]=Pokaż ostatnio używane nastawy
Comment[pt]=Mostrar as últimas predefinições usadas
Comment[pt_BR]=Mostrar as últimas predefinições usadas
Comment[sk]=Zobraziť posledne uložené predvoľby
Comment[sv]=Visa senaste använda förinställningarna
Comment[uk]=Показує останні використані набори налаштувань
Comment[x-test]=xxShow the last used presetsxx
X-KDE-ServiceTypes=Krita/Dock
Type=Service
X-KDE-Library=kritapresethistory
X-Krita-Version=28
