[Desktop Entry]
Encoding=UTF-8
Name=Noise Filter
Name[el]=Φίλτρο θορύβου
Name[ja]=ノイズフィルタ
Comment=Add noise to an image
Comment[el]=Προσθήκη θορύβου σε μια εικόνα
Comment[ja]=画像にノイズを加える
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritanoisefilter
X-Krita-Version=3
