[Desktop Entry]
Encoding=UTF-8
Name=Noise Filter
Name[ja]=ノイズフィルタ
Comment=Add noise to an image
Comment[ja]=画像にノイズを加える
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritanoisefilter
X-Krita-Version=2
