[Desktop Entry]
Encoding=UTF-8
Name=Noise Filter
Name[da]=Støjfilter
Name[es]=Filtro de ruido
Name[et]=Mürafilter
Name[it]=Filtro dei disturbi
Name[pt]=Filtro de Ruído
Name[pt_BR]=Filtro de Ruído
Name[zh_TW]=雜訊過濾器
Comment=Add noise to an image
Comment[es]=Añadir ruido a una imagen
Comment[et]=Müra lisamine pildile
Comment[it]=Aggiungi un disturbo all'immagine
Comment[pt]=Adiciona ruído a uma imagem
Comment[pt_BR]=Adiciona ruído a uma imagem
Comment[zh_TW]=在圖片中增加雜訊
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritanoisefilter
X-Krita-Version=2
