[Desktop Entry]
Encoding=UTF-8
Name=Rotate Image Plugin
Name[es]=Extensión para girar la imagen
Name[pt]='Plugin' para Rodar a Imagem
Name[pt_BR]='Plugin' para Rodar a Imagem
Name[sv]=Insticksprogram för rotera bild
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritarotateimage
X-KDE-Version=2
