[Desktop Entry]
Encoding=UTF-8
Name=Rotate Image Plugin
Name[x-test]=xxRotate Image Pluginxx
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritarotateimage
X-Krita-Version=2
