[Desktop Entry]
Name=Krita Encapsulated PostScript Export Filter
Name[bg]=Филтър за изнасяне от Krita във вграден PostScript
Name[ca]=Filtre d'exportació de PostScript encapsulat per al Krita
Name[ca@valencia]=Filtre d'exportació de PostScript encapsulat per al Krita
Name[cs]=Exportní filtr do formátu Encapsulated PostScript
Name[da]=Encapsulated PostScript-eksportfilter til Krita
Name[de]=Krita Encapsulated-PostScript-Exportfilter
Name[el]=Φίλτρο εξαγωγής Encapsulated PostScript του Krita
Name[en_GB]=Krita Encapsulated PostScript Export Filter
Name[es]=Filtro de Krita de exportación a Encapsulated PostScript
Name[et]=Krita kapseldatud PostScripti ekspordifilter
Name[fi]=Kritan Encapsulated Postscript -vientisuodin
Name[fr]=Filtre d'exportation PostScript encapsulé de Krita
Name[gl]=Filtro de exportación de PostScript encapsulado de Krita
Name[it]=Filtro di esportazione Encapsulated PostScript per Krita
Name[ja]=Krita Encapsulated PostScript エクスポートフィルタ
Name[kk]=Krita -> Encapsulated PostScript экспорт сүзгісі
Name[nb]=Krita eksportfilter for EPS – Encapsulated PostScript
Name[nds]=Inbett PostScript-Exportfilter för Krita
Name[nl]=Ingekapselde Postscript-exportfilter voor Krita
Name[pl]=Filtr eksportu Encapsulated PostScript z Krita
Name[pt]=Filtro de Exportação de PostScript Encapsulado para o Krita
Name[pt_BR]=Filtro de exportação de PostScript Encapsulado para o Krita
Name[ru]=Фильтр экспорта рисунков Krita в EPS
Name[sk]=Exportný filter Krita pre zapuzdrený PostScript
Name[sl]=Izvozni filter Encapsulated PostScript za Krito
Name[sv]=Krita exportfilter för inkapslad Postscript
Name[uk]=Фільтр експорту EPS для Krita
Name[wa]=Passete d' ebagaedje PostScript ecapsulé di Krita
Name[x-test]=xxKrita Encapsulated PostScript Export Filterxx
Name[zh_CN]=Krita EPS 导出过滤器
Name[zh_TW]=Krita 封裝 PostScript 匯出過濾程式
X-KDE-Export=x-eps
X-KDE-ServiceTypes=CalligraFilter
Type=Service
X-KDE-Import=application/x-krita
X-KDE-Weight=1
X-KDE-Library=kritaepsexport
NoDisplay=true
