[Desktop Entry]
Type=Service
Name=Krita Encapsulated PostScript Import Filter
Name[bg]=Филтър за внасяне на вграден PostScript в Krita
Name[ca]=Filtre d'importació de PostScript encapsulat per al Krita
Name[ca@valencia]=Filtre d'importació de PostScript encapsulat per al Krita
Name[cs]=Importní filtr formátu Encapsulated PostScript pro Kritu
Name[da]=Encapsulated PostScript-importfilter til Krita
Name[de]=Krita Encapsulated-PostScript-Importfilter
Name[el]=Φίλτρο εισαγωγής Encapsulated PostScript του Krita
Name[en_GB]=Krita Encapsulated PostScript Import Filter
Name[es]=Filtro de Krita de importación de Encapsulated PostScript
Name[et]=Krita kapseldatud PostScripti impordifilter
Name[fi]=Kritan Encapsulated Postscript -tuontisuodin
Name[fr]=Filtre d'importation PostScript encapsulé de Krita
Name[gl]=Filtro de Importación de PostScript encapsulado de Krita
Name[it]=Filtro di importazione Encapsulated PostScript per Krita
Name[ja]=Krita Encapsulated PostScript インポートフィルタ
Name[kk]=Encapsulated PostScript -> Krita импорт сүзгісі
Name[nb]=Krita importfilter for EPS – Encapsulated PostScript
Name[nds]=Inbett PostScript-Importfilter för Krita
Name[nl]=Ingekapselde Postscript-importfilter voor Krita
Name[pl]=Filtr importu Encapsulated PostScript do Krita
Name[pt]=Filtro de Importação de PostScript Encapsulado para o Krita
Name[pt_BR]=Filtro de importação de PostScript Encapsulado para o Krita
Name[ru]=Фильтр импорта документов EPS в Krita
Name[sk]=Importný filter Krita pre zapuzdrený PostScript
Name[sl]=Uvozni filter Encapsulated PostScript za Krito
Name[sv]=Krita importfilter för inkapslad Postscript
Name[uk]=Фільтр імпорту EPS для Krita
Name[wa]=Passete d' abagaedje PostScript ecapsulé di Krita
Name[x-test]=xxKrita Encapsulated PostScript Import Filterxx
Name[zh_CN]=Krita EPS 导入过滤器
Name[zh_TW]=Krita 封裝 PostScript 匯入過濾程式
X-KDE-Export=application/x-krita
X-KDE-Import=image/x-eps
X-KDE-Weight=1
X-KDE-Library=kritaepsimport
X-KDE-ServiceTypes=CalligraFilter
NoDisplay=true
