[Desktop Entry]
Name=Krita Encapsulated PostScript Export Filter
Name[ca]=Filtre d'exportació de PostScript encapsulat per al Krita
Name[es]=Filtro de Krita de exportación a Encapsulated PostScript
Name[et]=Krita kapseldatud PostScripti ekspordifilter
Name[nl]=Ingekapselde Postscript-exportfilter voor Krita
Name[pt]=Filtro de Exportação de PostScript Encapsulado para o Krita
Name[pt_BR]=Filtro de Exportação de PostScript Encapsulado para o Krita
Name[sv]=Krita exportfilter för inkapslad Postscript
Name[uk]=Фільтр експорту EPS для Krita
Name[x-test]=xxKrita Encapsulated PostScript Export Filterxx
X-KDE-Export=x-eps
X-KDE-ServiceTypes=KOfficeFilter
Type=Service
X-KDE-Import=application/x-krita
X-KDE-Weight=1
X-KDE-Library=libkritaepsexport
NoDisplay=true
