[Desktop Entry]
Name=Static Vector Shape
Name[bs]=Statični Vektorov Oblik
Name[ca]=Forma de vector estàtic
Name[ca@valencia]=Forma de vector estàtic
Name[da]=Statisk vektor-form
Name[de]=Statisches Vektor-Objekt
Name[el]=Στατικό διανυσματικό σχήμα
Name[en_GB]=Static Vector Shape
Name[es]=Forma de vector estático
Name[et]=Staatilise vektori kujund
Name[eu]=Bektore estatikoaren forma
Name[fi]=Staattinen vektorimuoto
Name[fr]=Forme pour vecteur statique
Name[gl]=Obxecto de vector estático
Name[hu]=Statikus vektor alakzat
Name[it]=Forma di vettore statico
Name[ja]=静的ベクターシェイプ
Name[kk]=Тұрақты векторлы қалып
Name[nb]=Statisk vektorform
Name[nds]=Staatsch Vektorform
Name[nl]=Statische vectorvorm
Name[pl]=Kształt statycznego wektora
Name[pt]=Forma de Vector Estático
Name[pt_BR]=Forma de vetor estático
Name[ru]=Статическая векторная фигура
Name[sk]=Statický vektorový tvar
Name[sv]=Statisk vektorform
Name[tr]=Statik Vektör Şekli
Name[uk]=Статична векторна форма
Name[wa]=Fôme di royes sitatikes
Name[x-test]=xxStatic Vector Shapexx
Name[zh_CN]=静态矢量形状
Name[zh_TW]=靜態向量元件
X-KDE-PluginInfo-Name=vectorshape
X-KDE-ServiceTypes=Calligra/Flake
Type=Service
X-KDE-Library=calligra_shape_vector
X-Flake-MinVersion=28
X-Flake-PluginVersion=28
