[Desktop Entry]
Name=Static Vector Shape
X-KDE-ServiceTypes=KOffice/Flake
Type=Service
X-KDE-Library=vectorshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
