[Desktop Entry]
Name=Static Vector Shape
Name[en_GB]=Static Vector Shape
Name[es]=Forma de vector estático
Name[et]=Staatilise vektori kujund
Name[nb]=Statisk vektorform
Name[nl]=Statische vectorvorm
Name[pt]=Forma de Vector Estático
Name[pt_BR]=Forma de Vetor Estático
Name[sv]=Statisk vektorform
Name[uk]=Статична векторна форма
Name[x-test]=xxStatic Vector Shapexx
Name[zh_TW]=靜態向量元件
X-KDE-ServiceTypes=KOffice/Flake
Type=Service
X-KDE-Library=vectorshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
