[Desktop Entry]
Encoding=UTF-8
Name=Colorrange
Name[x-test]=xxColorrangexx
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritacolorrange
X-Krita-Version=2
