[Desktop Entry]
Encoding=UTF-8
Name=Smeary Brush
Name[ar]=فرشاة التلطيخ
Name[bg]=Лепкава четка
Name[ca]=Pinzell greixós
Name[da]=Udvisket pensel
Name[de]=Schmieriger Pinsel
Name[el]=Βούρτσα επάλειψης
Name[es]=Brocha muy mojada
Name[et]=Niiske pintsel
Name[fr]=Brosse salissante
Name[ga]=Scuab Smeartha
Name[gl]=Pintura Viscosa
Name[is]=Smurnings pensill
Name[it]=Pennello oleoso
Name[ja]=よごしブラシ
Name[nl]=Vettige kwast
Name[pt]=Pintura Viscosa
Name[pt_BR]=Pintura Viscosa
Name[ru]=Грязная кисть
Name[sr]=Размазива четкица
Name[sr@Latn]=Razmaziva četkica
Name[sv]=Smetig pensel
Name[xx]=xxSmeary Brushxx
Name[zh_TW]=弄髒的筆刷
Comment=Smeary brush
Comment[ar]=فرشاة التلطيخ
Comment[bg]=Лепкава четка
Comment[ca]=Pinzell greixós
Comment[da]=Udvisket pensel
Comment[de]=Schmieriger Pinsel
Comment[el]=Βούρτσα επάλειψης
Comment[es]=Brocha muy mojada
Comment[et]=Niiske pintsel
Comment[fr]=Brosse salissante
Comment[ga]=Scuab smeartha
Comment[gl]=Pincel viscoso
Comment[is]=Smurnings pensill
Comment[it]=Pennello oleoso
Comment[ja]=よごしブラシ
Comment[nl]=Vettige kwast
Comment[pt]=Pincel viscoso
Comment[pt_BR]=Pincel viscoso
Comment[ru]=Грязная кисть
Comment[sr]=Размазива четкица
Comment[sr@Latn]=Razmaziva četkica
Comment[sv]=Smetig pensel
Comment[xx]=xxSmeary brushxx
Comment[zh_TW]=弄髒的筆刷
ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritasmearybrush
X-Krita-Version=2

