[Desktop Entry]
Encoding=UTF-8
Name=Smeary brush
Name[da]=Udvisket pensel
Name[de]=Schmieriger Pinsel
Name[es]=Brocha muy mojada
Name[ga]=Scuab smeartha
Name[it]=Pennello oleoso
Name[pt]=Pintura viscosa
Name[pt_BR]=Pintura viscosa
Name[sr]=Размазива четкица
Name[sr@Latn]=Razmaziva četkica
Name[sv]=Smetig pensel
Name[xx]=xxSmeary brushxx
Comment=Smeary brush
Comment[da]=Udvisket pensel
Comment[de]=Schmieriger Pinsel
Comment[es]=Brocha muy mojada
Comment[ga]=Scuab smeartha
Comment[it]=Pennello oleoso
Comment[pt]=Pincel viscoso
Comment[pt_BR]=Pincel viscoso
Comment[sr]=Размазива четкица
Comment[sr@Latn]=Razmaziva četkica
Comment[sv]=Smetig pensel
Comment[xx]=xxSmeary brushxx
ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritasmearybrush
X-KDE-Version=2

