[Desktop Entry]
Name=Normalize Filter
Name[bs]=
Name[ca]=
Name[da]=
Name[de]=
Name[en_GB]=
Name[es]=
Name[fi]=
Name[fr]=
Name[it]=
Name[ja]=
Name[nb]=
Name[nl]=
Name[pl]=
Name[pt]=
Name[pt_BR]=
Name[sk]=
Name[sv]=
Name[uk]=
Name[x-test]=xxNormalize Filterxx
Comment=Normalize the color channels.
Comment[bs]=
Comment[ca]=
Comment[da]=
Comment[de]=
Comment[en_GB]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nb]=
Comment[nl]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=
Comment[sk]=
Comment[sv]=
Comment[uk]=
Comment[x-test]=xxNormalize the color channelsxx
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritanormalize
X-Krita-Version=29
