[Desktop Entry]
Name=Normalize Filter
Name[ca]=Filtre de normalització
Name[es]=Filtro de normalizar
Name[et]=Normaliseerimisfilter
Name[it]=Filtro di normalizzazione
Name[nl]=Normalisatiefilter
Name[pl]=Filtr normalizacji
Name[pt]=Filtro de Normalização
Name[pt_BR]=Filtro de normalização
Name[sk]=Normalizovať filter
Name[sv]=Normaliseringsfilter
Name[uk]=Фільтр нормалізації
Name[x-test]=xxNormalize Filterxx
Comment=Normalize the color channels.
Comment[ca]=Normalitza els canals de color.
Comment[es]=Normalizar los canales de color.
Comment[et]=Värvikanalite normaliseerimine.
Comment[it]=Normalizza i canali dei colori.
Comment[nl]=De kleurkanalen normaliseren.
Comment[pl]=Normalizuje kanały barw.
Comment[pt]=Normalizar os canais de cores.
Comment[pt_BR]=Normaliza os canais de cores.
Comment[sk]=Normalizovať farebné kanály.
Comment[sv]=Normalisera färgkanalerna.
Comment[uk]=Нормалізувати канали кольорів.
Comment[x-test]=xxNormalize the color channels.xx
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritanormalize
X-Krita-Version=29
