[Desktop Entry]
Name=Solid Pattern Layer
Name[kk]=Тұтас өрнек қабаты
Name[pt]=Área de Padrão Sólido
Name[sk]=Vrstva plného vzoru
Name[uk]=Шар суцільного візерунка
Name[x-test]=xxSolid Pattern Layerxx
Comment=generates a pattern layer
Comment[kk]=өрнек қабатты құру
Comment[pt]=gera uma camada de padrão
Comment[sk]=generuje vrstvu vzoru
Comment[uk]=створює шар візерунка
Comment[x-test]=xxgenerates a pattern layerxx
X-KDE-ServiceTypes=Krita/Generator
Type=Service
X-KDE-Library=kritapatterngenerator
X-Krita-Version=28
