[Desktop Entry]
Name=Solid Pattern Layer
Name[bs]=Sloj punog uzorka
Name[ca]=Capa de patrons sòlids
Name[ca@valencia]=Capa de patrons sòlids
Name[da]=Lag med massivt mønster
Name[de]=Ebene mit einfarbigen Mustern
Name[el]=Στρώμα συμπαγούς μοτίβου
Name[en_GB]=Solid Pattern Layer
Name[es]=Capa de patrón sólido
Name[et]=Ühtlase mustri kiht
Name[fi]=Tasaisen kuvion taso
Name[fr]=Couche motifs solides
Name[hu]=Egyszínű minta réteg
Name[it]=Livello con modello solido
Name[ja]=ソリッドパターンレイヤー
Name[kk]=Тұтас өрнек қабаты
Name[ko]=단일 패턴 레이어
Name[nb]=Solid mønsterlag
Name[nl]=Laag van gevuld patroon
Name[pl]=Układ jednolitego wzoru
Name[pt]=Área de Padrão Sólido
Name[pt_BR]=Área de padrão sólido
Name[sk]=Vrstva plného vzoru
Name[sv]=Helmönstergenerator
Name[uk]=Шар суцільного візерунка
Name[x-test]=xxSolid Pattern Layerxx
Comment=generates a pattern layer
Comment[bs]=generiše sloj uzorka
Comment[ca]=Genera una capa de patrons
Comment[ca@valencia]=Genera una capa de patrons
Comment[da]=genererer et mønster-lag
Comment[de]=Erstellt eine Ebene mit Mustern
Comment[el]=δημιουργεί ένα στρώμα μοτίβου
Comment[en_GB]=generates a pattern layer
Comment[es]=genera una capa de patrón
Comment[et]=Mustrikihi genereerimine
Comment[fi]=luo kuviotason
Comment[fr]=Génère une couche de motif
Comment[hu]=egy minta réteget állít elő
Comment[it]=genera un livello con modello
Comment[ja]=パターンレイヤーを生成します
Comment[kk]=өрнек қабатты құру
Comment[nb]=oppretter et mønsterlag
Comment[nl]=genereert een patroonlaag
Comment[pl]=generuje układ wzoru
Comment[pt]=gera uma camada de padrão
Comment[pt_BR]=Gera uma camada de padrão
Comment[sk]=generuje vrstvu vzoru
Comment[sv]=skapar ett mönsterlager
Comment[uk]=створює шар візерунка
Comment[x-test]=xxgenerates a pattern layerxx
X-KDE-ServiceTypes=Krita/Generator
Type=Service
X-KDE-Library=kritapatterngenerator
X-Krita-Version=28
