[Desktop Entry]
Name=Artistic color selector
Name[da]=Kunstnerisk farvevælger
Name[es]=Selector de color artístico
Name[nb]=Artistisk Fargevelger
Name[pt]=Selector de cores artísticas
Name[pt_BR]=Seletor de cores artísticas
Name[sv]=Artistisk färgväljare
Name[uk]=Художній вибір кольору
Name[x-test]=xxArtistic color selectorxx
Name[zh_TW]=精美顏色選擇器
X-KDE-ServiceTypes=Krita/Dock
Type=Service
X-KDE-Library=kritaartisticcolorselector
X-Krita-Version=4
