<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui library="kritatrianglecolorselector" version="1">
<MenuBar>
    <Menu name="Image"><text>&amp;Image</text>
		<Action name="TriangleColorSelector"/>
    </Menu>
</MenuBar>
</kpartgui>
