<?xml version="1.0"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="Krita" version="50">

<MenuBar>
 <Menu name="file"><text>&amp;File</text>
  <Separator/>
  <Action name="save_incremental_version"/>
  <Action name="save_incremental_backup"/>
  <Action name="createTemplate"/>
 </Menu>

 <Menu name="Edit"><text>&amp;Edit</text>
  <Action name="edit_undo"/>
  <Action name="edit_redo"/>
  <Separator/>
  <Action name="edit_cut"/>
  <Action name="edit_copy"/>
  <Action name="copy_merged"/>
  <Action name="edit_paste"/>
  <Action name="paste_new"/>
  <Action name="clear"/>
  <Action name="fill_selection_foreground_color"/>
  <Action name="fill_selection_background_color"/>
  <Action name="fill_selection_pattern"/>
  <Action name="stroke_shapes"/>
  <Action name="delete"/>
  <Separator/>
  <Action name="revert"/>
  <Separator/>
  <Menu name="Resources"><text>&amp;Resources</text>
   <Action name="open_resources_directory"/>
   <Separator/>
   <Action name="add_palette"/>
   <Action name="edit_palette"/>
   <Action name="edit_blacklist_cleanup"/>
  </Menu>
 </Menu>

 <Menu name="View"><text>&amp;View</text>
  <Action name="view_show_just_the_canvas"/>
  <Action name="view_fullscreen"/>
  <Action name="mirror_canvas"/>
  <Action name="wrap_around_mode"/>
  <Separator/>
  <Action name="view_newview"/>
  <Separator/>
  <Action name="zoom"/>
  <Action name="zoom_in"/>
  <Action name="zoom_out"/>
  <Action name="actual_pixels"/>
  <Action name="actual_size"/>
  <Action name="fit_to_canvas"/>
  <Separator/>
  <Action name="view_ruler"/>
  <Action name="view_guidelines"/>
  <Separator/>
  <Action name="view_grid"/>
  <Action name="view_snap_to_grid"/>
  <Menu name="view_fast_grid_config"><text>Grid Spacing</text>
   <Action name="view_fast_grid_1x1"/>
   <Action name="view_fast_grid_2x2"/>
   <Action name="view_fast_grid_5x5"/>
   <Action name="view_fast_grid_10x10"/>
   <Action name="view_fast_grid_20x20"/>
   <Action name="view_fast_grid_40x40"/>
  </Menu>
  <Separator/>
  <Action name="view_toggle_perspective_grid"/>
  <Action name="view_clear_perspective_grid"/>
  <Separator/>
  <Action name="view_toggle_painting_assistants"/>
  <Separator/>
  <Action name="view_palette_action_menu"/>
  <Separator/>
  <Action name="refresh_canvas"/>
 </Menu>


<Menu name="Image"><text>&amp;Image</text>
  <Action name="image_properties"/>
  <Action name="duplicate_image"/>
  <Separator/>
  <DefineGroup name="canvas_resize_merge" append="canvas_resize_merge"/>
  <Action name="resizeimagetolayer"/>
  <Action name="resizeimagetoselection"/>
  <Separator/>
  <DefineGroup name="image_transform_merge" append="image_transform_merge"/>
</Menu>

<Menu name="Layer"><text>&amp;Layer</text>
  <Menu name="LayerNew"><text>New</text>
    <Action name="add_new_paint_layer"/>
    <Action name="duplicatelayer"/>
    <Separator/>
    <Action name="import_layer_from_file"/>
    <Separator/>
    <Action name="cut_selection_to_new_layer"/>
    <Action name="copy_selection_to_new_layer"/>
  </Menu>
  <Menu name="LayerConvert"><text>Convert</text>
    <Action name="convert_to_paint_layer"/>
    <Action name="convert_to_transparency_mask"/>
    <Action name="convert_to_filter_mask"/>
    <Action name="convert_to_selection_mask"/>
  </Menu>
  <Action name="resizelayertoowner"/>
  <Separator/>
  <Action name="save_node_as_image"/>
  <Action name="save_groups_as_images"/>
  <Action name="layer_to_image"/>
  <Separator/>
  <Action name="mirrorNodeX"/>
  <Action name="mirrorNodeY"/>
  <DefineGroup name="layer_transform_merge" append="layer_transform_merge"/>
  <Separator/>
  <DefineGroup name="layer_properties_merge"/>
  <Separator/>
  <Action name="merge_layer"/>
  <Action name="flatten_layer"/>
  <Action name="rasterize_layer"/>
  <Action name="merge_all_shape_layers"/>
  <Action name="flatten_image"/>
</Menu>

<Menu name="Select"><text>&amp;Select</text>
    <Action name="select_all"/>
    <Action name="deselect"/>
    <Action name="reselect"/>
    <Action name="invert"/>
    <Action name="convert_to_vector_selection"/>
    <Separator/>
    <Action name="feather"/>
    <Action name="similar"/>
   <Separator/>
   <Action name="toggle_display_selection"/>
</Menu>

<Menu name="Filter"><text>Filte&amp;r</text>
	<Action name="filter_apply_again"/>
	<Action name="filter_gallery"/>
	<Separator/>
    <Action name="adjust_filters"/>
	<Action name="artistic_filters"/>
	<Action name="blur_filters"/>
	<Action name="color_filters"/>
	<Action name="decor_filters"/>
	<Action name="edge_filters"/>
	<Action name="enhance_filters"/>
	<Action name="emboss_filters"/>
    <Action name="map_filters"/>
    <Action name="nonphotorealistic_filters"/>
	<Action name="other_filters"/>
</Menu>

<Menu name="tools"><text>&amp;Tools</text>
</Menu>

<Menu name="settings"><text>Settings</text>
  <!--Action name="view_fullscreen" group="settings_show"/-->
  <Action name="view_toggledockers" group="settings_show"/>
  <Action name="showStatusBar" group="settings_show"/>
  <Action name="settings_active_author" group="settings_configure"/>
  <Action name="preferences" group="settings_configure"/>
  <Action name="theme_menu"/>
  <Action name="palette_manager"/>
</Menu>

</MenuBar>

<ToolBar name="BrushesAndStuff" position="top">
     <Text>Brushes and Stuff</Text>
     <Action name="gradients"/>
     <Action name="patterns"/>
     <Separator/>
     <Action name="dual"/>
     <Separator/>
     <Action name="paintops"/>
     <Action name="paintop_options"/>
     <Action name="composite_actions"/>
     <Separator/>
     <Action name="brushslider1"/>
     <Action name="brushslider2"/>
     <Separator/>
     <Action name="mirror_actions"/>
     <Separator/>
     <Action name="workspaces"/>
</ToolBar>

</kpartgui>
