[Desktop Entry]
Version=1.0
Type=Application
Name=Krita Touch
Name[ca]=Krita Touch
Name[cs]=Krita Touch
Name[de]=Krita Touch
Name[hu]=Krita Touch
Name[it]=Krita Touch
Name[kk]=Krita Touch
Name[nl]=Krita Touch
Name[pt]=Krita Touch
Name[pt_BR]=Krita Touch
Name[sk]=Krita Touch
Name[sv]=Krita Touch
Name[uk]=Krita Touch
Name[x-test]=xxKrita Touchxx
Exec=kritatouch
Icon=krita
MimeType=application/x-krita;
Categories=Qt;KDE;Graphics;
