[Desktop Entry]
Version=1.0
Type=Application
Name=Krita Sketch
Name[de]=Krita Sketch
Name[kk]=Krita Sketch
Name[nl]=Krita Sketch
Name[pt]=Krita Sketch
Name[pt_BR]=Krita Sketch
Name[sk]=Krita Sketch
Name[sv]=Krita Sketch
Name[uk]=Krita Sketch
Name[x-test]=xxKrita Sketchxx
Exec=kritasketch
Icon=krita
MimeType=application/x-krita;
Categories=Qt;KDE;Graphics;
