[Desktop Entry]
Encoding=UTF-8
Name=Pixelize filter
Name[eo]=Rastrumeriga filtrilo
Name[es]=Filtro de pixelación
Name[et]=Pikseldamisfilter
Name[ga]=Scagaire picteilínithe
Name[pt]=Filtro de pixelização
Name[pt_BR]=Filtro de pixelização
Name[sv]=Bildpunktsfilter
Name[xx]=xxPixelize filterxx
Comment=Pixelize filter
Comment[eo]=Rastrumeriga filtrilo
Comment[es]=Filtro de pixelación
Comment[et]=Pikseldamisfilter
Comment[ga]=Scagaire picteilínithe
Comment[pt]=Filtro de pixelização
Comment[pt_BR]=Filtro de pixelização
Comment[sv]=Bildpunktsfilter
Comment[xx]=xxPixelize filterxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritapixelizefilter
