[Desktop Entry]
Encoding=UTF-8
Name=Small tiles filter
Name[eo]=Etkahela filtrilo
Name[es]=Filtro de azulejos pequeños
Name[et]=Pisipaanide filter
Name[pt]=Filtro de pequenos padrões
Name[pt_BR]=Filtro de pequenos padrões
Name[sv]=Smårutorsfilter
Name[xx]=xxSmall tiles filterxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritasmalltilesfilter
