<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui library="kritaimagesize" version="6">
<MenuBar>
    <Menu name="Image"><text>Image</text>
	<Action name="imagesize"/>
	<Action name="imageresolution"/>
    </Menu>
    <Menu name="Layer"><text>Layer</text>
	<Action name="layersize"/>
    </Menu>
    <Menu name="Select"><text>&amp;Select</text>
	<Action name="selectionscale"/>
    </Menu>
</MenuBar>
</kpartgui>
