[Desktop Entry]
Encoding=UTF-8
Name=Image Resize and Scale Plugin
Name[da]=Plugin for størrelsesændring og skalering
Name[de]=Bildgrößenänderungs- und Skalierungsplugin
Name[es]=Extensión para cambiar de tamaño y para escalar la imagen
Name[et]=Pildi suuruse muutmise ja skaleerimise plugin
Name[is]=Breytingar á stærð og skala mynda íforrit
Name[it]=Plugin di ridimensionamento e riscalamento delle immagini
Name[ja]=画像 リサイズ/スケール プラグイン
Name[nl]=Grootte wijzigen en schalen van afbeelding
Name[pt]='Plugin' de Dimensionamento e Escala da Imagem
Name[pt_BR]='Plugin' de Dimensionamento e Escala da Imagem
Name[sv]=Insticksprogram för bildstorleksändring och skalning
Name[xx]=xxImage Resize and Scale Pluginxx
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritaimagesize
X-KDE-Version=2
