[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=channels2layers
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Channels to layers
Name[x-test]=xxChannels to layersxx
Comment=Extract channels as color layers
Comment[x-test]=xxExtract channels as color layersxx
