[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=exportlayers
X-Krita-Manual=Manual.html
X-Python-2-Compatible=true
Name=Export Layers
Name[ca]=Exportació de capes
Name[ca@valencia]=Exportació de capes
Name[cs]=Exportovat vrstvy
Name[de]=Ebenen exportieren
Name[en_GB]=Export Layers
Name[es]=Exportar capas
Name[eu]=Esportatu geruzak
Name[fi]=Vie tasoja
Name[fr]=Exporter des calques
Name[gl]=Exportar as capas
Name[it]=Esporta livelli
Name[ko]=레이어 내보내기
Name[nl]=Lagen exporteren
Name[nn]=Eksporter lag
Name[pl]=Eksportowanie warstw
Name[pt]=Exportar as Camadas
Name[pt_BR]=Exportar camadas
Name[sk]=Exportovať vrstvy
Name[sv]=Exportera lager
Name[tr]=Katmanları Dışa Aktar
Name[uk]=Експортувати шари
Name[x-test]=xxExport Layersxx
Name[zh_CN]=导出图层
Name[zh_TW]=匯出圖層
Comment=Plugin to export layers from a document
Comment[ca]=Un connector per exportar capes d'un document
Comment[ca@valencia]=Un connector per exportar capes d'un document
Comment[cs]=Modul pro export vrstev z dokumentu
Comment[de]=Modul zum Exportieren von Ebenen aus einem Dokument
Comment[en_GB]=Plugin to export layers from a document
Comment[es]=Complemento para exportar las capas de un documento
Comment[eu]=Dokumentu batetik geruzak esportatzeko plugina
Comment[fi]=Liitännäisen tiedoston tasojen viemiseksi
Comment[fr]=Module externe d'export de calques d'un document
Comment[gl]=Complemento para exportar as capas dun documento.
Comment[it]=Estensione per esportare i livelli da un documento
Comment[ko]=문서에서 레이어를 내보내는 플러그인
Comment[nl]=Plug-in om lagen uit een document te exporteren
Comment[nn]=Programtillegg for eksportering av biletlag i dokument
Comment[pl]=Wtyczka do eksportowania warstw z dokumentu
Comment[pt]='Plugin' para exportar as camadas de um documento
Comment[pt_BR]=Plugin para exportar as camadas de um documento
Comment[sv]=Insticksprogram för att exportera lager från ett dokument
Comment[tr]=Belgenin katmanlarını dışa aktarmak için eklenti
Comment[uk]=Додаток для експортування шарів з документа
Comment[x-test]=xxPlugin to export layers from a documentxx
Comment[zh_CN]=用于从文档导出图层的插件
Comment[zh_TW]=用於從檔案匯出圖層的外掛程式
