[Desktop Entry]
Name=bigbrother
Name[ca]=grangermà
Name[el]=μεγάλος αδερφός
Name[es]=gran hermano
Name[gl]=bigbother
Name[hi]=बिगब्रदर
Name[it]=Grande fratello
Name[sv]=Storebror
Name[uk]=Великий брат
Name[x-test]=xxbigbrotherxx
Comment=bigbrother
Comment[ca]=grangermà
Comment[el]=μεγάλος αδερφός
Comment[es]=gran hermano
Comment[hi]=बिगब्रदर
Comment[it]=Grande fratello
Comment[sv]=Storebror
Comment[uk]=Великий брат
Comment[x-test]=xxbigbrotherxx
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritabigbrother
X-Krita-Version=3
