[Desktop Entry]
Encoding=UTF-8
Name=bigbrother
Comment=bigbrother
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritabigbrother
X-Krita-Version=3
