[Desktop Entry]
Name=Clones Array Plugin
Name[bs]=Dodatak za kloniranje nizova
Name[ca]=Connector de llista de clons
Name[ca@valencia]=Connector de llista de clons
Name[da]=Klon-array-plugin
Name[de]=Feldklon-Modul
Name[el]=Πρόσθετο Clones Array
Name[en_GB]=Clones Array Plugin
Name[et]=Masskloonimise plugin
Name[fr]=Module externe de tableau de clones
Name[hu]=Klóntömbök bővítmény
Name[it]=Estensione Elenco di cloni
Name[kk]=Клондар жиым плагині
Name[nl]=Plug-in voor array klonen
Name[pl]=Wtyczka macierzy klonów
Name[sk]=Plugin poľa klonov
Name[sv]=Insticksprogram för klonfält
Name[uk]=Додаток масивів клонів
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritaclonesarray
X-Krita-Version=28
