[Desktop Entry]
Icon=template_ratio_43
Name=Design screen 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[bs]=Design ekran 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[ca]=Disseny de pantalla 4:3 [2250x1680, 96 ppp amb RGB, 8 bits]
Name[ca@valencia]=Disseny de pantalla 4:3 [2250x1680, 96 ppp amb RGB, 8 bits]
Name[cs]=Návrh obrazovka 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[da]=Design-skærm 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[de]=Design-Bildschirm 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[el]=Design screen 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[en_GB]=Design screen 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[eo]=Dezajno ekrana 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[es]=Diseño de pantalla 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[et]=Disainekraan 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[eu]=Diseinu-pantaila 4:3 [ 2250x1680 , 96 dpi GBU , 8 bit]
Name[fi]=Ruutusuunnitelma 4 : 3 [2250 × 1680, 96 dpi RGB, 8 bit]
Name[fr]=Style écran 4:3 [ 2250x1680, 96dpi RGB, 8bit ]
Name[gl]=Deseño de pantalla 4:3 (2250×1680, 96 dpi RGB, 8 bits)
Name[hi]=डिजाइन स्क्रीन ४:३ [२२५०x१६८०, ९६ डी.पी.आइ आर.जी.बी, ८ बिट]
Name[hu]=Kijelzőtervezés 4:3 [ 2250x1680, 96 DPI RGB, 8 bites ]
Name[id]=Desain layar 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[is]=Hanna skjá 4:3 [ 2250x1680 , 96pát RGB , 8bita ]
Name[it]=Stile di disegno 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[ja]=スクリーン 4:3 [ 2250x1680、96dpi RGB、8ビット ]
Name[ka]=დიზაინის ეკრანი 4:3 [ 2250x1680 , 96dpi RGB , 8-ბიტიანი ]
Name[kk]=Экран пішімі 4:3 [ 2250x1680 , 96 н/д RGB , 8бит ]
Name[ko]=디자인 스크린 4:3 [2250x1680, 96dpi RGB, 8비트]
Name[nl]=Design screen 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[nn]=Design – skjerm 4:3 (2250 × 1680, 96 ppt., RGB, 8 bit)
Name[pl]=Ekran projekcyjny 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[pt]=Desenho de ecrã 4:3 [ 2250x1680 , 96ppp RGB , 8-bits ]
Name[pt_BR]=Design de tela 4:3 [ 2250x1680, 96 DPI RGB, 8bits ]
Name[ru]=Дизайн экрана 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[sk]=Dizajn obrazovka 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Name[sl]=Oblikovanje za zaslon, 4:3 [ 2250x1680 , 96dpi RGB , 8-bitno ]
Name[sv]=Design skärm 4:3 [ 2250x1680, 96 punkter/tum RGB, 8 bitar ]
Name[tr]=4:3 ekran tasarla [2250 x 1680, 96 dpi RGB, 8 bit]
Name[uk]=Компонування екрана 4:3 [2250⨯1680, 96 т./д., RGB, 8 бітів]
Name[x-test]=xxDesign screen 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]xx
Name[zh_CN]=4:3 屏幕 [ 2250x1680 像素, 96dpi RGB , 8 位]
Name[zh_TW]=設計螢幕 4:3 [ 2250x1680 , 96dpi RGB , 8bit ]
Type=Link
URL[$e]=.source/Designscreen4_3_2250x1680_96dpiRGB_8bit_.kra
X-KDE-Hidden=false
