[Desktop Entry]
Icon=template_DIN_A4_portrait
Name=Design presentation A4 portrait [ 2480x3508 , 300dpi RGB , 8bit ]
Type=Link
URL[$e]=.source/DesignpresentationA4portrait[2480x3508,300dpiRGB,8bit].kra
X-KDE-Hidden=false
