[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=documenttools
X-Python-2-Compatible=false
Name=Document Tools
Name[ca]=Eines de document
Name[nl]=Documenthulpmiddelen
Name[pt]=Ferramentas de Documentos
Name[sv]=Dokumentverktyg
Name[uk]=Засоби документа
Name[x-test]=xxDocument Toolsxx
Comment=Plugin to manipulate properties of selected documents
Comment[ca]=Un connector per manipular propietats dels documents seleccionats
Comment[nl]=Plug-in om eigenschappen van geselecteerde documenten te manipuleren
Comment[pt]='Plugin' para manipular as propriedades dos documentos seleccionados
Comment[sv]=Insticksprogram för att ändra egenskaper för valda dokument
Comment[uk]=Додаток для керування властивостями позначених документів
Comment[x-test]=xxPlugin to manipulate properties of selected documentsxx
