[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=documenttools
X-Python-2-Compatible=false
Name=Document Tools
Comment=Plugin to manipulate properties of selected documents
