[Desktop Entry]
Encoding=UTF-8
Name=Crop Tool
Name[ar]=أداة القص
Name[bg]=Инструмент за изрязване
Name[br]=Ostilh krennañ
Name[ca]=Eina de tall
Name[cy]=Hidlen Docio
Name[da]=Beskæringsværktøj
Name[de]=Zuschneidewerkzeug
Name[el]=Εργαλείο αποκοπής
Name[eo]=Eltondilo
Name[es]=Herramienta para recortar
Name[et]=Kärpimistööriist
Name[eu]=Ebaki tresna
Name[fr]=Outil découpage
Name[ga]=Uirlis Bhearrtha
Name[gl]=Ferramenta de Recorte
Name[he]=כלי חיתוך
Name[hu]=Levágó eszköz
Name[is]=Sniðtól
Name[it]=Strumento di taglio
Name[ja]=切り取りツール
Name[nb]=Beskjæringsverktøy
Name[nl]=Snijgereedschap
Name[nn]=Beskjæringsverktøy
Name[pt]=Ferramenta de Recorte
Name[pt_BR]=Ferramenta de Recorte
Name[ru]=Обрезка
Name[sl]=Orodje za obrezavo
Name[sr]=Алат за сасецање
Name[sr@Latn]=Alat za sasecanje
Name[sv]=Beskärningsverktyg
Name[tr]=Kesme Aracı
Name[uk]=Засіб обрізування
Name[xx]=xxCrop Toolxx
Name[zh_CN]=裁剪工具
Name[zh_TW]=剪裁工具
ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolcrop
X-Krita-Version=2
