[Desktop Entry]
Name=Crop Tool
Name[bg]=Инструмент за изрязване
Name[br]=Ostilh krennañ
Name[ca]=Eina de tall
Name[ca@valencia]=Eina de tall
Name[cs]=Nástroje ořezu
Name[cy]=Hidlen Docio
Name[da]=Beskæringsværktøj
Name[de]=Zuschneidewerkzeug
Name[el]=Εργαλείο αποκοπής
Name[en_GB]=Crop Tool
Name[eo]=Tondado-ilo
Name[es]=Herramienta de recorte
Name[et]=Kärpimistööriist
Name[eu]=Ebaki tresna
Name[fa]=ابزار خط برش
Name[fi]=Rajaustyökalu
Name[fr]=Outil découpage
Name[fy]=Bysnij ark
Name[ga]=Uirlis Bhearrtha
Name[gl]=Ferramenta de Recorte
Name[he]=כלי חיתוך
Name[hi]=कांट-छांट औज़ार
Name[hne]=कांट-छांट औजार
Name[hu]=Levágó eszköz
Name[is]=Sniðtól
Name[it]=Strumento di taglio
Name[ja]=切り取りツール
Name[kk]=Ойып алу құралы
Name[lv]=Apciršanas rīks
Name[ms]=Alat Pangkas
Name[nb]=Beskjæringsverktøy
Name[nds]=Tosniedwarktüüch
Name[ne]=उपकरण काटछाँट गर्नुहोस्
Name[nl]=Snijgereedschap
Name[pl]=Narzędzie przycinania
Name[pt]=Ferramenta de Recorte
Name[pt_BR]=Ferramenta de Recorte
Name[ru]=Обрезка
Name[se]=Čuohpanreaiddut
Name[sk]=Orezávač
Name[sl]=Orodje za obrezavo
Name[sv]=Beskärningsverktyg
Name[tr]=Kırpma Aracı
Name[uk]=Засіб обрізування
Name[wa]=Usteye po côper dvins
Name[x-test]=xxCrop Toolxx
Name[zh_CN]=裁剪工具
Name[zh_TW]=剪裁工具
X-KDE-ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolcrop
X-Krita-Version=3
