[Desktop Entry]
Encoding=UTF-8
Name=Crop Tool
Name[el]=Εργαλείο αποκοπής
Name[fr]=Outil découpage
Name[x-test]=xxCrop Toolxx
ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolcrop
X-Krita-Version=3
