[Desktop Entry]
Name=Phong Bumpmap Filter
Name[bg]=Phong Филтър Bumpmap
Name[ca]=Phong Filtre Bumpmap
Name[ca@valencia]=Phong Filtre Bumpmap
Name[cs]=Phong Bumpmap filtr
Name[cy]=Phong Hidlen chwyddfap
Name[da]=Phong Bumpkortfilter
Name[de]=Phong Bumpmap-Filter
Name[el]=Phong Φίλτρο ανάγλυφου χάρτη
Name[en_GB]=Phong Bumpmap Filter
Name[es]=Phong Filtro de mapa de colisiones
Name[et]=Phong Kühmukaardi filter
Name[fa]=Phong پالایۀ Bumpmap
Name[fi]=Phong Bumpmap-suodin
Name[fr]=Phong Filtre bumpmap
Name[fy]=Phong Bumpmapfilter
Name[ga]=Phong Scagaire Bumpmap
Name[gl]=Phong Filtro de Bumpmaps
Name[hi]=Phong बम्पमैप फ़िल्टर
Name[hne]=Phong बम्पमैप फिल्टर
Name[hu]=Phong Bumpmap szűrő
Name[is]=Phong Bumpmap sía
Name[it]=Phong Filtro bumpmap
Name[ja]=Phong Bumpmap フィルタ
Name[kk]=Phong Бедерлеу сүзгісі
Name[nb]=Phong Dumpkart-filter
Name[nds]=Phong Bumpmap-Filter
Name[ne]=Phong बम्पम्याप फिल्टर
Name[nl]=Phong Bumpmapfilter
Name[pl]=Phong Filtr odwzorowania nierówności
Name[pt]=Phong Filtro de 'Bumpmaps'
Name[pt_BR]=Phong Filtro de 'Bumpmap'
Name[ru]=Phong Рельеф
Name[sk]=Phong Bumpmap Filter
Name[sl]=Phong Filter nagubanosti
Name[sv]=Phong Bulkartefilter
Name[tr]=Phong Bumpmap Filtresi
Name[uk]=Phong Рельєф
Name[wa]=Phong Passete Bumpmap
Name[x-test]=Phong xxBumpmap Filterxx
Name[zh_TW]=Phong Bumpmap 過濾器
Comment=Phong Bumpmap filter
Comment[bg]=Phong Филтър Bumpmap
Comment[ca]=Phong Filtre de Bumpmap
Comment[ca@valencia]=Phong Filtre de Bumpmap
Comment[cs]=Phong Bumpmap filtr
Comment[cy]=Phong Hidlen chwyddfap
Comment[da]=Phong Bumpkortfilter
Comment[de]=Phong Bumpmap-Filter
Comment[el]=Phong Φίλτρο ανάγλυφου χάρτη
Comment[en_GB]=Phong Bumpmap filter
Comment[es]=Phong Filtro de mapa de colisiones
Comment[et]=Phong Kühmukaardi filter
Comment[fa]=Phong پالایۀ Bumpmap
Comment[fi]=Phong Bumpmap-suodin
Comment[fr]=Phong Filtre bumpmap
Comment[fy]=Phong Bumpmapfilter
Comment[ga]=Phong Scagaire Bumpmap
Comment[gl]=Phong Filtro de bumpmaps
Comment[hi]=Phong बम्पमैप फ़िल्टर
Comment[hne]=Phong बम्पमैप फिल्टर
Comment[hu]=Phong Bumpmap szűrő
Comment[is]=Phong Bumpmap sía
Comment[it]=Phong Filtro bumpmap
Comment[ja]=Phong Bumpmap フィルタ
Comment[kk]=Phong Бедерлеу сүзгісі
Comment[nb]=Phong Dumpkart-filter
Comment[nds]=Phong Bumpmap-Filter
Comment[ne]=Phong बम्पम्याप फिल्टर
Comment[nl]=Phong Bumpmapfilter
Comment[pl]=Phong Filtr odwzorowania nierówności (ang. bumpmap)
Comment[pt]=Phong Filtro de Mapas de Relevo
Comment[pt_BR]=Phong Filtro de 'Bumpmap'
Comment[ru]=Phong Рельеф
Comment[sk]=Phong Bumpmap filter
Comment[sl]=Phong Filter za nagubanost
Comment[sv]=Phong Bulkartefilter
Comment[tr]=Phong Bumpmap filtresi
Comment[uk]=Phong Фільтр рельєфу
Comment[wa]=Phong Passete Bumpmap
Comment[x-test]=Phong xxBumpmap filterxx
Comment[zh_TW]=Phong Bumpmap 的過濾器
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaphongbumpmap
X-Krita-Version=3
