[Desktop Entry]
Name=Phong Bumpmap Filter
Name[da]=Phong Bumpmap-filter
Name[en_GB]=Phong Bumpmap Filter
Name[es]=Filtro de mapa de colisiones Phong
Name[et]=Phongi kühmukaardi filter
Name[it]=Filtro bumpmap Phong
Name[ja]=Phong Bumpmap フィルタ
Name[nb]=Phong Dumpkart-filter
Name[nl]=Phong Bumpmapfilter
Name[pt]=Filtro de Mapas de Relevo Phong
Name[pt_BR]=Filtro de Mapas de Relevo Phong
Name[sv]=Phong bulkartefilter
Name[uk]=Фільтр рельєфу за Фонгом
Name[x-test]=xxPhong Bumpmap Filterxx
Comment=Phong Bumpmap filter
Comment[da]=Phong Bumpmap-filter
Comment[en_GB]=Phong Bumpmap filter
Comment[es]=Filtro de mapa de colisiones Phong
Comment[et]=Phongi kühmukaardi filter
Comment[it]=Filtro bumpmap Phong
Comment[ja]=Phong Bumpmap フィルタ
Comment[nb]=Phong Dumpkart-filter
Comment[nl]=Phong Bumpmapfilter
Comment[pt]=Filtro de Mapas de Relevo Phong
Comment[pt_BR]=Filtro de Mapas de Relevo Phong
Comment[sv]=Phong bulkartefilter
Comment[uk]=Фільтр рельєфу за Фонгом
Comment[x-test]=xxPhong Bumpmap filterxx
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaphongbumpmap
X-Krita-Version=4
