[Desktop Entry]
Encoding=UTF-8
Icon=
Name=Convolution Filters (Extension)
Name[es]=Filtros de convolución (Extensión)
Name[et]=Konvolutsioonifiltrid (laiendus)
Name[it]=Filtri di convoluzione (estensione)
Name[pt]=Filtros de Convolução (Extensão)
Name[pt_BR]=Filtros de Convolução (Extensão)
Name[zh_TW]=皺褶過濾器（延伸）
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritablurfilter
X-Krita-Version=2
