[Desktop Entry]
Name=Image Docker
Name[pt]=Área de Imagens
Name[pt_BR]=Acoplador de imagem
Name[sv]=Bilddockningsfönster
Name[uk]=Панель швартування зображень
Name[x-test]=xxImage Dockerxx
Comment=Docker for reference images
Comment[pt]=Área das imagens de referência
Comment[pt_BR]=Acoplador para imagens de referência
Comment[sv]=Dockningsfönster för referensbilder
Comment[uk]=Панель для еталонних зображень
Comment[x-test]=xxDocker for reference imagesxx
X-KDE-ServiceTypes=Krita/Dock
Type=Service
X-KDE-Library=kritaimagedocker
X-Krita-Version=4
