[Desktop Entry]
Encoding=UTF-8
Name=metadataeditor
Name[de]=Metadateneditor
Name[el]=επεξεργαστής μεταδεδομένων
Name[es]=editor de metadatos
Name[sv]=Metadata-editor
Name[zh_TW]=中繼資料編輯器
Comment=metadataeditor
Comment[de]=Metadateneditor
Comment[el]=επεξεργαστής μεταδεδομένων
Comment[es]=editor de metadatos
Comment[pt]=editor de meta-dados
Comment[pt_BR]=editor de meta-dados
Comment[sv]=Metadata-editor
Comment[zh_TW]=中繼資料編輯器
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritametadataeditor
X-Krita-Version=3
