[Desktop Entry]
Name=Text Variable Plugin
Name[ca]=Connector de variables de text
Name[de]=Textvariablen-Modul
Name[el]=Πρόσθετο μεταβλητής κειμένου
Name[et]=Teksti muutujate plugin
Name[fi]=Tekstimuuttujien liitännäinen
Name[fy]=Fariabele tekst plugin
Name[gl]=Extensión de Variable de Texto
Name[hi]=पाठ वेरिएबल प्लगइन
Name[it]=Plugin per le variabili di testo
Name[nds]=Textvariabeln-Moduul
Name[nl]=Tekstvariabeleplugin
Name[pt]='Plugin' de Variáveis de Texto
Name[pt_BR]=Plugin de Variáveis de Texto
Name[sv]=Textvariabler
Name[tr]=Metin Değişkeni Eklentisi
Name[uk]=Втулок текстової змінної
Name[x-test]=xxText Variable Pluginxx
Name[zh_TW]=文字變數外掛程式
Type=ServiceType
X-KDE-ServiceType=KOffice/Text-Variable
Comment=A plugin that contains text variables
Comment[ca]=Un connector que conté variables de text
Comment[de]=Ein Modul, dass Textvariablen enthält
Comment[el]=Ένα πρόσθετο που περιέχει μεταβλητές κειμένου
Comment[et]=Teksti muutujaid sisaldav plugin
Comment[fi]=Liitännäinen, joka sisältää tekstimuuttujia
Comment[gl]=Unha extensión que contén variables de texto
Comment[hi]=एक प्लगइन जिसमें पाठ वेरिएबल्स हैं
Comment[it]=Un plugin contenente variabili di testo
Comment[nds]=En Moduul, dat Textvariabeln bargt
Comment[nl]=Een plugin, dat variabele bevat
Comment[pt]=Um 'plugin' que contém variáveis de texto
Comment[pt_BR]=Um plugin que contém variáveis de texto
Comment[sv]=Ett insticksprogram som innehåller textvariabler
Comment[ta]=சொருகளானது உரை மாறிலிகளை கொண்டுள்ளது
Comment[uk]=Втулок, що містить текстові змінні
Comment[x-test]=xxA plugin that contains text variablesxx
Comment[zh_TW]=包含文字變數外掛程式
[PropertyDef::X-KoText-MinVersion]
Type=int
[PropertyDef::X-Flake-PluginVersion]
Type=int
