[Desktop Entry]
Name=Round Corners Filter
Name[en_GB]=Round Corners Filter
Name[et]=Ümarate nurkade filter
Name[nb]=Runde hjørner-filter
Name[nds]=Filter för't Afrunnen vun Ecken
Name[nl]=Ronde-hoeken-filter
Name[pt]=Filtro de Cantos Arredondados
Name[pt_BR]=Filtro de Cantos Arredondados
Name[sv]=Filter för rundade hörn
Name[uk]=Фільтр заокруглених кутів
Name[x-test]=xxRound Corners Filterxx
Name[zh_TW]=圓角過濾器
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaroundcornersfilter
X-Krita-Version=3
