[Desktop Entry]
Name=XYZ Color Model (16-bit integer)
Name[bg]=Цветови модел XYZ (16 бита)
Name[ca]=Model de color XYZ (enters de 16 bits)
Name[da]=XYZ-farvemodel (16-bit heltal)
Name[de]=XYZ-Farbmodell (16-bit Ganzzahl)
Name[el]=Χρωματικό μοντέλο ΧΥΖ (16-bit ακέραιοι)
Name[en_GB]=XYZ Colour Model (16-bit integer)
Name[es]=Modelo de color XYZ (entero de 16 bits)
Name[et]=XYZ värvimudel (16-bitine täisarv)
Name[fa]=مدل رنگ XYZ )عدد صحیح ۱۶ بیتی(
Name[fi]=XYZ-värimalli (16-bittiset kokonaisluvut)
Name[fy]=XYZ -kleurmodel (16-bit integer)
Name[gl]=Modelo de Cores XYZ (enteiro de 16-bit)
Name[hi]=एक्सवायजेड रंग मॉडल (१६ बिट इंटीजर)
Name[hne]=एक्सवायजेड रंग माडल (१६ बिट इंटीजर)
Name[it]=Modello di colore XYZ (intero a 16 bit)
Name[ja]=XYZ カラーモデル (16 ビット整数)
Name[kk]=XYZ түстер үлгісі (бүтін 16 бит сан)
Name[lv]=XYZ krāsu modelis (16 bitu skaitlis)
Name[nb]=XYZ-fargemodell (16-bit heltall)
Name[nds]=XYZ-Klöörmodell (16-Bit Heeltall)
Name[ne]=XYZ रङ नमूना (१६-बिट इन्टिजर)
Name[nl]=XYZ-kleurmodel (16-bit integer)
Name[pt]=Modelo de Cor CMYK (inteiros de 16 bits)
Name[pt_BR]=Modelo de Cor XYZ (inteiros de 16 bits)
Name[sv]=XYZ-färgmodell (16-bitars heltal)
Name[tr]=XYZ Renk Modeli (16-bit integer)
Name[uk]=Модель кольорів CMYK (16-бітове ціле число)
Name[wa]=Modele di coleur XYZ (etirs 16 bites)
Name[x-test]=xxXYZ Color Model (16-bit integer)xx
Name[zh_TW]=XYZ 色彩模型 (16-bit 整數)
Comment=Color model for 16-bit integer per channel XYZ images
Comment[bg]=Цветови модел за изображения XYZ с 16 бита на канал
Comment[ca]=Model de color d'enters de 16 bits per a canal d'imatges XYZ
Comment[da]=Farvemodel for 16-bit heltal pr. kanal XYZ-billeder
Comment[de]=Farbmodell für 16-bit pro Kanal XYZ-Bilder
Comment[el]=Χρωματικό μοντέλο για 16-bit ακεραίους ανά κανάλι XYZ εικόνες
Comment[en_GB]=Colour model for 16-bit integer per channel XYZ images
Comment[es]=Modelo de color para imágenes CMYK de enteros de 16 bits por canal
Comment[et]=16-bitiste täisarvuliste kanalitega XYZ-piltide värvimudel
Comment[fa]=مدل رنگ برای عدد صحیح ۱۶ بیتی در هر مجرای تصاویر XYZ
Comment[fi]=Värimalli 16-bittisille/kanavaisille XYZ-kuville
Comment[fy]=Kleurmodel foar 16-bit/kanaal fan XYZ -ôffbyldings
Comment[gl]=Modelo de Cores para imaxes XYZ de enteiros de 16-bit por canle
Comment[hi]=१६ बिट इंटीजर प्रति चैनल एक्सवायजेड छवियों के लिये रंग मॉडल
Comment[hne]=१६ बिट इंटीजर प्रति चैनल एक्सवायजेड फोटू मन बर रंग माडल
Comment[it]=Modello di colore per immagini XYZ a canale di 16 bit
Comment[ja]=16 ビット整数/チャンネルの XYZ 画像のためのカラーモデル
Comment[kk]=Бүтін 16 бит сан/арна XYZ кескініне арналған түстер үлгісі
Comment[lv]=Krāsu modelis ar 16-bitu skaitli katrā kanālā XYZ attēliem
Comment[nb]=Fargemodell for XYZ-bilder med 16 bit per kanal
Comment[nds]=Klöörmodell för XYZ-Biller mit 16-Bit Heeltall per Kanaal
Comment[ne]=प्रत्येक च्यानलको XYZ छविको १६-बिट इन्टिजरका लागि रङ नमूना
Comment[nl]=Kleurmodel voor XYZ-afbeeldingen met 16-bit integer per kanaal
Comment[pt]=Modelo de cor para imagens CMYK com 16 bits por canal
Comment[pt_BR]=Modelo de cor para imagens XYZ com 16 bits inteiros por canal
Comment[sv]=Färgmodell för 16-bitars heltal per kanal XYZ-bilder
Comment[tr]=Yüksek Dinamik Genişliğine sahip RGB resimler için kanal başına 16 bit ve 32 bit olan Renk Modeli
Comment[uk]=Модель кольорів з 16-бітовим цілим числом на канал для зображень XYZ
Comment[wa]=Modele di coleur po ds imådjes 16 bites pa canå XYZ
Comment[x-test]=xxColor model for 16-bit integer per channel XYZ imagesxx
Comment[zh_TW]=每色頻為 16-bit 的 XYZ 圖片色彩模型
X-KDE-ServiceTypes=KOffice/ColorSpace
Type=Service
X-KDE-Library=krita_xyz_u16_plugin
X-Pigment-MinVersion=0
X-Flake-PluginVersion=1
