[Desktop Entry]
Encoding=UTF-8
Name=Colorspace Conversion
Name[bg]=Цветово обръщане
Name[ca]=Conversió d'espai de color
Name[da]=Farverumskonvertering
Name[de]=Farbraumkonversion
Name[en_GB]=Colourspace Conversion
Name[es]=Conversión de espacio de color
Name[et]=Värviruumi teisendus
Name[is]=Litasvæðis umbreyting
Name[it]=Conversione dello spazio dei colori
Name[ja]=カラースペース変換
Name[nl]=Conversie van kleurspectrum
Name[pt]=Conversão de Espaços de Cores
Name[pt_BR]=Conversão de Espaços de Cores
Name[sv]=Färgrymdskonvertering
Name[xx]=xxColorspace Conversionxx
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritacolorspaceconversion
X-Krita-Version=2
