[Desktop Entry]
Name=Color Generator
Name[ga]=Gineadóir Dathanna
Name[it]=Generatore di colori
Name[pt]=Gerador de Cores
Name[pt_BR]=Gerador de Cores
Name[sv]=Färggenerator
Name[uk]=Створення кольорів
Name[zh_TW]=顏色產生器
Comment=Generates random pixels
Comment[el]=Δημιουργία τυχαίων εικονοστοιχείων
Comment[fy]=Samar byldpunten oanmakker
Comment[it]=Generatore di pixel casuali
Comment[pt]=Gerador de pixels aleatórios
Comment[pt_BR]=Gerador de pixels aleatórios
Comment[sv]=Skapa slumpmässiga bildpunkter
Comment[ta]=தோராயமான துணுக்குகளை உருவாக்கும்
Comment[uk]=Створювач випадкових пікселів
Comment[x-test]=xxGeneratore random pixelsxx
Comment[zh_TW]=隨機產生像素
X-KDE-ServiceTypes=Krita/Generator
Type=Service
X-KDE-Library=kritacolorgenerator
X-Krita-Version=4
