[Desktop Entry]
Encoding=UTF-8
Name=SpellCheck plugin
ServiceTypes=KOffice/Text-EditingPlugin
Type=Service
X-KDE-Library=spellcheck
X-KoText-MinVersion=0
X-Flake-PluginVersion=1
