[Desktop Entry]
Encoding=UTF-8
Name=Pixelize Filter
Name[ca]=Filtre de pixelació
Name[da]=Billedpunktfilter
Name[de]=Pixelize-Filter
Name[es]=Filtro de pixelación
Name[et]=Mosaiigi filter
Name[hu]=Pixelesítő szűrő
Name[is]=Punktasía
Name[it]=Filtro di pixellizzazione
Name[ja]=ピクセル化フィルター
Name[nl]=Pixelfilter
Name[pt]=Filtro de Pixelização
Name[pt_BR]=Filtro de Pixelização
Name[sr]=Филтер за пикселизацију
Name[sr@Latn]=Filter za pikselizaciju
Name[sv]=Bildpunktsfilter
Comment=Pixelize filter
Comment[ca]=Filtre de pixelació
Comment[da]=Billedpunktfilter
Comment[de]=Pixelize-Filter
Comment[es]=Filtro de pixelación
Comment[et]=Mosaiigi filter
Comment[hu]=Pixelesítő szűrő
Comment[is]=Punktasía
Comment[it]=Filtro di pixellizzazione
Comment[ja]=ピクセル化フィルター
Comment[nl]=Pixelfilter
Comment[pt]=Filtro de pixelização
Comment[pt_BR]=Filtro de pixelização
Comment[sr]=Филтер за пикселизацију
Comment[sr@Latn]=Filter za pikselizaciju
Comment[sv]=Bildpunktsfilter
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritapixelizefilter
X-Krita-Version=2
