[Desktop Entry]
Name=Deform brush
Name[bs]=Deformisana četka
Name[ca]=Pinzell deformat
Name[ca@valencia]=Pinzell deformat
Name[da]=Deformationspensel
Name[de]=Verzerrungspinsel
Name[el]=Πινέλο παραμόρφωσης
Name[en_GB]=Deform brush
Name[et]=Moonutuspintsel
Name[eu]=Deformazio-pintzela
Name[fi]=Vääntösivellin
Name[fr]=Brosse déformante
Name[gl]=Pincel de deformación
Name[hne]=डिफार्म ब्रस
Name[hu]=Deformáló ecset
Name[it]=Pennello deformato
Name[kk]=Қисайған қылқалам
Name[ko]=변형 브러시
Name[lv]=Deformēšanas ota
Name[mr]=डिफॉर्म  कुंचला
Name[nds]=Verformen-Pinsel
Name[nl]=Vervorm penseel
Name[pl]=Pędzel deformacji
Name[ru]=Деформирующая кисть
Name[sk]=Deformačný štetec
Name[sl]=Deformiraj čopič
Name[sv]=Deformerande pensel
Name[tr]=Bozma fırçası
Name[uk]=Пензель викривлення
Name[wa]=Disfoirmant pincea
Name[zh_TW]=變形筆刷
X-KDE-ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritadeformpaintop
X-Krita-Version=28
