[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=colorspace
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Color Space
Name[zh_TW]=色彩空間
Comment=Plugin to change color space to selected documents
Comment[zh_TW]=用於變更色彩空間為選定文件的外掛程式
