[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=quick_settings_docker
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Quick Settings Docker
Name[zh_TW]=「快速設定」面板
Comment=A Python-based docker for quickly changing brush size and opacity.
Comment[zh_TW]=基於 Python 的面板，用於快速變更筆刷尺寸和不透明度。
