[Desktop Entry]
Encoding=UTF-8
Name=Default Paint Operations
Name[el]=Προκαθορισμένες λειτουργίες ζωγραφικής
Name[fr]=Opérations de dessin par défaut
Name[x-test]=xxDefault Paint Operationsxx
Comment=Default paint operations
Comment[el]=Προκαθορισμένες λειτουργίες ζωγραφικής
Comment[fr]=Opérations de dessin par défaut
Comment[x-test]=xxDefault paint operationsxx
ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritadefaultpaintops
X-Krita-Version=3
