[Desktop Entry]
Encoding=UTF-8
Name=Default Paint Operations
Name[ar]=عمليات الرسم الإفتراضية
Name[bg]=Операции за рисуване по подразбиране
Name[ca]=Operacions de pintura per defecte
Name[cy]=Gweithrediadau Paent Rhagosodol
Name[da]=Standard maleoperationer
Name[de]=Standard Maloperation
Name[el]=Προκαθορισμένες λειτουργίες ζωγραφικής
Name[eo]=Defaŭlta pentrad-operacioj
Name[es]=Operaciones de pintura predefinidas
Name[et]=Vaikimisi joonistamisoperatsioonid
Name[eu]=Margotze-eragiketa lehenetsiak
Name[fi]=Oletusväritystoimenpiteet
Name[fr]=Opérations de dessin par défaut
Name[ga]=Oibríochtaí Réamhshocraithe Péinteála
Name[gl]=Operacións de Pintura Predefinidas
Name[he]=פעולות הצביעה המוגדרות כברירת מחדל
Name[hu]=Alapértelmezett festési műveletek
Name[is]=Sjálfgefnar málunaraðgerðir
Name[it]=Operazioni predefinite di disegno
Name[ja]=標準の描画操作
Name[nb]=Standard maleteknikker
Name[nl]=Standaardschilderoperaties
Name[nn]=Standard måleoperasjonar
Name[pt]=Operações de Pintura Predefinidas
Name[pt_BR]=Operações de pintura padrão
Name[ru]=Стандартные инструменты рисования
Name[sr]=Подразумеване сликарске операције
Name[sr@Latn]=Podrazumevane slikarske operacije
Name[sv]=Förvalda målningsåtgärder
Name[tr]=Varsayılan Boyama İşlemleri
Name[xx]=xxDefault Paint Operationsxx
Name[zh_CN]=默认绘图操作
Name[zh_TW]=預設繪圖操作
Comment=Default paint operations
Comment[ar]=عمليات الرسم الإفتراضية
Comment[bg]=Операции за рисуване по подразбиране
Comment[ca]=Operacions de pintura per defecte
Comment[cy]=Gweithrediadau paent rhagosodol
Comment[da]=Standard maleoperationer
Comment[de]=Standard Maloperation
Comment[el]=Προκαθορισμένες λειτουργίες ζωγραφικής
Comment[eo]=Defaŭlta pentrad-operacioj
Comment[es]=Operaciones de pintado predefinidas
Comment[et]=Vaikimisi joonistamisoperatsioonid
Comment[eu]=Margotze-eragiketa lehenetsiak
Comment[fi]=Oletusväritystoimenpiteet
Comment[fr]=Opérations de dessin par défaut
Comment[ga]=Oibríochtaí réamhshocraithe péinteála
Comment[gl]=Operacións de pintura predefinidas
Comment[he]=פעולות הצביעה המוגדרות כברירת מחדל
Comment[hu]=Alapértelmezett festési műveletek
Comment[is]=Sjálfgefnar málunaraðgerðir
Comment[it]=Operazioni predefinite di disegno
Comment[ja]=標準の描画操作
Comment[nb]=Standard maleteknikker
Comment[nl]=Standaardschilderoperaties
Comment[nn]=Standard måleoperasjonar
Comment[pt]=Operações de pintura predefinidas
Comment[pt_BR]=Operações de pintura padrão
Comment[ru]=Инструменты рисования по умолчанию
Comment[sr]=Подразумеване сликарске операције
Comment[sr@Latn]=Podrazumevane slikarske operacije
Comment[sv]=Förvalda målningsåtgärder
Comment[tr]=Varsayılan boyama işlemleri
Comment[uk]=Типові дії малювання
Comment[xx]=xxDefault paint operationsxx
Comment[zh_CN]=默认绘图操作
Comment[zh_TW]=預設繪圖操作
ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritadefaultpaintops
X-Krita-Version=2
