[Desktop Entry]
Name=Colorrange
Name[bg]=Цветови обхват
Name[ca]=Interval de color
Name[ca@valencia]=Interval de color
Name[da]=Farveområde
Name[de]=Farbbereich
Name[el]=Χρωματικό εύρος
Name[en_GB]=Colourrange
Name[eo]=Kolorgamo
Name[es]=Intervalo de colores
Name[et]=Värvivahemik
Name[fa]=گسترۀ رنگ
Name[fi]=Värialue
Name[fr]=Plage de couleurs
Name[fy]=Kleurberik
Name[ga]=Raon datha
Name[gl]=Gamas de Cores
Name[he]=טווח צבעים
Name[hi]=रंगसीमा
Name[hne]=रंगसीमा
Name[hu]=Egyszerű
Name[is]=Litasvið
Name[it]=Intervallo di colori
Name[ja]=色の範囲
Name[kk]=Түсті ыңғайлау
Name[lv]=Krāsu diapazons
Name[nb]=Fargeområde
Name[nds]=Klörenrebeet
Name[ne]=रङ दायरा
Name[nl]=Kleurbereik
Name[pl]=Zakres kolorów
Name[pt]=Gamas de Cores
Name[pt_BR]=Intervalo de Cores
Name[ru]=Цвета
Name[sk]=Rozsah farieb
Name[sl]=Barvni razpon
Name[sv]=Färgintervall
Name[tr]=Renk dizgesi
Name[uk]=Діапазон кольорів
Name[wa]=Fortchete di coleurs
Name[x-test]=xxColorrangexx
Name[zh_TW]=色彩範圍
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritacolorrange
X-Krita-Version=3
