[Desktop Entry]
Name=Formula Shape
Name[bs]=Oblik formule
Name[ca]=Forma de la fórmula
Name[ca@valencia]=Forma de la fórmula
Name[cs]=Tvar vzorce
Name[da]=Formel-form
Name[de]=Formel-Objekt
Name[el]=Σχήμα μαθηματικού τύπου
Name[en_GB]=Formula Shape
Name[es]=Forma de fórmula
Name[et]=Valemikujund
Name[eu]=Formula-forma
Name[fi]=Kaavamuoto
Name[fr]=Forme de formule
Name[fy]=Formule foarm
Name[ga]=Giuirléid Fhoirmle
Name[gl]=Obxecto de fórmula
Name[hi]=फ़ॉर्मूला आकार
Name[hne]=फारमूला आकार
Name[hu]=Formula alakzat
Name[it]=Forma di formula
Name[ja]=数式シェイプ
Name[kk]=Формула қалыпы
Name[ko]=수식 도형
Name[lv]=Formulas figūra
Name[mr]=फोर्म्युला आकार
Name[nb]=Formelfasong
Name[nds]=Form »Formel«
Name[ne]=सूत्र आकार
Name[nl]=Formula-vorm
Name[pl]=Kształt formuły
Name[pt]=Forma de Fórmula
Name[pt_BR]=Forma de fórmula
Name[ru]=Формула
Name[sk]=Tvar vzorca
Name[sl]=Oblika za formule
Name[sv]=Formelform
Name[tr]=Formül Şekli
Name[ug]=فورمۇلا شەكىل
Name[uk]=Форма формули
Name[wa]=Fôme di formule
Name[x-test]=xxFormula Shapexx
Name[zh_CN]=公式形状
Name[zh_TW]=公式元件
X-KDE-ServiceTypes=Calligra/Flake
Type=Service
X-KDE-PluginInfo-Name=formulashape
X-KDE-Library=calligra_shape_formular
X-Flake-MinVersion=28
X-Flake-PluginVersion=28
