[Desktop Entry]
Name=Calligra Formula Component
Name[bs]=Komponenta Calligra Formule
Name[ca]=Component de fórmules del Calligra
Name[ca@valencia]=Component de fórmules del Calligra
Name[cs]=Komponenta Calligra pro vzorce
Name[da]=Calligra-komponent til formler
Name[de]=Calligra-Formel-Komponente
Name[el]=Συστατικό Calligra Formula
Name[en_GB]=Calligra Formula Component
Name[es]=Componente Formula de Calligra
Name[et]=Calligra valemikomponent
Name[eu]=Calligra-ren formula-osagaia
Name[fi]=Calligra Formula -osa
Name[fr]=Composant gestion de formulaires pour Calligra
Name[gl]=Compoñente de fórmulas para Calligra
Name[hu]=Calligra Formula komponens
Name[it]=Componente di Calligra Formula
Name[ja]=Calligra 数式コンポーネント
Name[kk]=Calligra-ның формула жазу бағдарламасы
Name[ko]=Calligra Formula 구성 요소
Name[nb]=Calligra formel-komponent
Name[nl]=Formulecomponent van Calligra
Name[pl]=Składnik Formula dla Calligry
Name[pt]=Componente de Fórmulas do Calligra
Name[pt_BR]=Componente de fórmula do Calligra
Name[ru]=Компонент формул Calligra
Name[sk]=Komponent vzorca Calligra
Name[sl]=Komponenta za urejanje formula za Calligro
Name[sv]=Calligra Formula-komponent
Name[tr]=Calligra Formül Bileşeni
Name[uk]=Компонент формул Calligra
Name[x-test]=xxCalligra Formula Componentxx
Name[zh_CN]=Calligra 公式组件
Name[zh_TW]=Calligra Formula 組件
X-KDE-Library=kformulapart
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.oasis.opendocument.formula-template;application/x-kformula;text/mathml;
Type=Service
X-KDE-ServiceTypes=Calligra/Part
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.formula
X-KDE-NativeOasisMimeType=application/vnd.oasis.opendocument.formula
X-KDE-ExtraNativeMimeTypes=application/x-kformula,application/vnd.oasis.opendocument.formula-template,text/mathml
GenericName=Formula Editor
GenericName[af]=Formule Redigeerder
GenericName[bg]=Редактор на формули
GenericName[br]=Un aozer formulennoù
GenericName[bs]=Uređivač formula
GenericName[ca]=Editor de fórmules
GenericName[ca@valencia]=Editor de fórmules
GenericName[cs]=Editor vzorců
GenericName[cy]=Golygydd Fformiwla
GenericName[da]=Formeleditor
GenericName[de]=Formel-Editor
GenericName[el]=Επεξεργαστής μαθηματικών τύπων
GenericName[en_GB]=Formula Editor
GenericName[eo]=Redaktilo por matematikaj formuloj
GenericName[es]=Editor de fórmulas
GenericName[et]=Valemiredaktor
GenericName[eu]=Formula-editorea
GenericName[fa]=ویرایشگر فرمول
GenericName[fi]=Kaavamuokkain
GenericName[fr]=Éditeur de formules
GenericName[fy]=Formulebewurker
GenericName[ga]=Eagarthóir Foirmlí
GenericName[gl]=Editor de fórmulas
GenericName[he]=עורך נוסחאות
GenericName[hi]=फ़ॉर्मूला संपादक 
GenericName[hne]=फारमूला संपादक 
GenericName[hr]=Uređivač formula
GenericName[hu]=Képletszerkesztő
GenericName[is]=Formúlu ritill
GenericName[it]=Editor di formule
GenericName[ja]=数式エディタ
GenericName[kk]=Формула өңдегіші
GenericName[ko]=수식 편집기
GenericName[lt]=Formulės redaktorius
GenericName[lv]=Formulu redaktors
GenericName[ms]=Editor Formula
GenericName[nb]=Formelredigering
GenericName[nds]=Formeleditor
GenericName[ne]=सूत्र सम्पादक
GenericName[nl]=Formulebewerker
GenericName[pl]=Edytor wyrażeń matematycznych
GenericName[pt]=Editor de Fórmulas
GenericName[pt_BR]=Editor de fórmulas
GenericName[ro]=Redactor de formule
GenericName[ru]=Формулы
GenericName[se]=Hápmodoaimmaheaddji
GenericName[sk]=Editor rovníc
GenericName[sl]=Urejevalnik formul
GenericName[sv]=Formeleditor
GenericName[ta]=சூத்திரம் தொகுப்பாளர்
GenericName[tg]=Таҳриргари формула
GenericName[tr]=Formül Düzenleyici
GenericName[ug]=فورمۇلا تەھرىرلىگۈچ
GenericName[uk]=Редактор формул
GenericName[uz]=Formula tahrirchi
GenericName[uz@cyrillic]=Формула таҳрирчи
GenericName[wa]=Aspougneu d' formules
GenericName[xh]=Umhleli wendlela yokubala
GenericName[x-test]=xxFormula Editorxx
GenericName[zh_CN]=公式编辑器
GenericName[zh_TW]=方程式編輯器
Icon=kformula
