[Desktop Entry]
Name=Video Shape
Name[ca]=Forma de vídeo
Name[ca@valencia]=Forma de vídeo
Name[cs]=Tvar Video
Name[da]=Video-form
Name[de]=Video-Objekt
Name[el]=Σχήμα βίντεο
Name[en_GB]=Video Shape
Name[es]=Forma de vídeo
Name[et]=Videokujund
Name[fi]=Videomuoto
Name[fr]=Forme vidéo
Name[ga]=Giuirléid Fhíseáin
Name[gl]=Obxecto de vídeo
Name[hu]=Videó alakzat
Name[it]=Forma video
Name[ja]=ビデオシェイプ
Name[kk]=Видео қалыпы
Name[nb]=Videoform
Name[nds]=Form »Video«
Name[ne]=भिडियो आकार
Name[nl]=Video-vorm
Name[pl]=Kształt wideo
Name[pt]=Forma de Vídeo
Name[pt_BR]=Forma de vídeo
Name[ru]=Форма видеозаписи
Name[sk]=Tvar video
Name[sv]=Videoform
Name[uk]=Форма-відео
Name[wa]=Fômes videyo
Name[x-test]=xxVideo Shapexx
Name[zh_CN]=视频形状
Name[zh_TW]=影像元件
X-KDE-ServiceTypes=Calligra/Shape
Type=Service
X-KDE-Library=videoshape
X-Flake-MinVersion=4
X-Flake-PluginVersion=4
