[Desktop Entry]
Name=CMYK Color Model
Name[cy]=Model Lliw CMYK
Name[da]=CMYK-farvemodel
Name[en_GB]=CMYK Colour Model
Name[es]=Modelo de color CMYK
Name[et]=CMYK värvimudel
Name[pt]=Modelo de Cor CMYK
Name[pt_BR]=Modelo de Cor CMYK
Name[sr]=CMYK модел боја
Name[sr@Latn]=CMYK модел боја
Name[sv]=CMYK-färgmodell
Name[ta]=CMYK வண்ண முறை
Name[tg]=CMYK Модели Ранга
Name[xx]=xxCMYK Color Modelxx
Comment=Color model for 8-bit/channel CMYK images
Comment[cy]=Model lliw ar gyfer delweddau CMYK 8-did/sianel
Comment[da]=Farvemodel for 8-bit/kanal CMYK-billeder
Comment[en_GB]=Colour model for 8-bit/channel CMYK images
Comment[es]=Modelo de color para imágenes de 8 bits/canal CMYK
Comment[et]=8-bitiste/kanaliga CMYK piltide värvimudel
Comment[pt]=Modelo de cor para imagens CMYK com 8 bits por canal
Comment[pt_BR]=Modelo de cor para imagens com 8-bits de canal CMYK
Comment[sr]=Модел боја за CMYK слике са 8 битова/каналу
Comment[sr@Latn]=Модел боја за CMYK слике са 8 битова/каналу
Comment[sv]=Färgmodell för 8 bitar/kanal CMYK-bilder
Comment[ta]=8/பிட்/வழி CMYK பிம்பங்களுக்கான வண்ண முறை
Comment[xx]=xxColor model for 8-bit/channel CMYK imagesxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritacmykplugin
