[Desktop Entry]
Encoding=UTF-8
Name=YCbCr Color Model (16-bit integer)
Name[ja]=YCbCr カラーモデル (16ビット整数)
Comment=Color model for 16-bit integer per channel YCbCr images
Comment[ja]=16ビット整数/チャンネル YCbCr 画像のためのカラーモデル
ServiceTypes=Krita/ColorSpace
Type=Service
X-KDE-Library=krita_ycbcr_u16_plugin
X-Krita-Version=2
