[Desktop Entry]
Name=Krita Flipbook Import Filter
Name[bs]=Krita unosni Filter za notes
Name[ca]=Filtre d'importació de foliscopi per al Krita
Name[ca@valencia]=Filtre d'importació de foliscopi per al Krita
Name[cs]=Importní filtr Flipbooku pro Kritu
Name[da]=Flipbook-importfilter til Krita
Name[de]=Krita-Daumenkino-Importfilter
Name[el]=Φίλτρο εισαγωγής κινηματορροής του Krita
Name[en_GB]=Krita Flipbook Import Filter
Name[es]=Filtro de Krita de importación de folioscopio
Name[et]=Krita kinoraamatu impordifilter
Name[fr]=Filtre d'importation folioscope de Krita
Name[gl]=Filtro para Krita de importación de grupos de imaxes
Name[hu]=Krita Flipbook importszűrő
Name[it]=Filtro di importazione Flipbook per Krita
Name[ja]=Krita フリップブックインポートフィルタ
Name[kk]=Кинеограф -> Krita импорт сүзгісі
Name[ko]=Krita Flipbook 가져오기 필터
Name[mr]=क्रिटा फ्लिपबूक आयात गाळणी
Name[nb]=Flipbook importfilter for Krita
Name[nl]=Flipbook-importfilter voor Krita
Name[pl]=Filtr importu Kineografu do Krita
Name[pt]=Filtro de Importação de Livros Animados para o Krita
Name[pt_BR]=Filtro de importação de Flipbook para Krita
Name[sk]=Importný filter Krita Flipbook
Name[sv]=Krita Flipbook-importfilter
Name[uk]=Фільтр імпортування даних кінеографів для Krita
Name[x-test]=xxKrita Flipbook Import Filterxx
X-KDE-Export=application/x-krita
X-KDE-ServiceTypes=Calligra/Filter
Type=Service
X-KDE-Import=application/x-krita-flipbook
X-KDE-Weight=1
X-KDE-Library=kritaflipbookimport
NoDisplay=true
