[Desktop Entry]
Name=Imagehose Brush
Name[ga]=Scuab Imagehose
Name[it]=Pennello animato
Name[pt]=Pincel de Imagem
Name[pt_BR]=Pincel de Imagem
Comment=Imagehose brush
Comment[ga]=Scuab Imagehose
Comment[it]=Pennello animato
Comment[pt]=Pincel de imagem
Comment[pt_BR]=Pincel de imagem
X-KDE-ServiceTypes=Krita/Brush
Type=Service
X-KDE-Library=kritaimagepipebrush
X-Krita-Version=3

