[Desktop Entry]
Name=Imagehose Brush
Name[el]=Πινέλο εικόνων
Name[ga]=Scuab Imagehose
Name[it]=Pennello animato
Name[pt]=Pincel de Imagem
Name[pt_BR]=Pincel de Imagem
Name[uk]=Пензель відбитків
Name[zh_TW]=軟管筆刷
Comment=Imagehose brush
Comment[el]=Πινέλο εικόνων
Comment[ga]=Scuab Imagehose
Comment[it]=Pennello animato
Comment[pt]=Pincel de imagem
Comment[pt_BR]=Pincel de imagem
Comment[uk]=Пензель, що дозволяє малювати готовими відбитками
Comment[zh_TW]=軟管筆刷
X-KDE-ServiceTypes=Krita/Brush
Type=Service
X-KDE-Library=kritaimagepipebrush
X-Krita-Version=3

