[Desktop Entry]
Encoding=UTF-8
Name=Grayscale Color Model
Name[bg]=Цветови модел със степени на сивото
Name[ca]=Model de color d'escala de grisos
Name[cy]=Model Lliw Graddlwyd
Name[da]=Farvemodel med gråskala
Name[de]=Graustufen-Farbmodell
Name[el]=Χρωματικό μοντέλο διαβαθμίσεων του γκρι
Name[en_GB]=Greyscale Colour Model
Name[es]=Modelo de color de escala de grises
Name[et]=Halltooni värvimudel
Name[eu]=Gris-eskala kolore-eredua
Name[fi]=Harmaasävyvärimalli
Name[fr]=Modèle de couleurs en niveaux de gris
Name[he]=מודל צבעים של גווני אפור
Name[hi]=श्वेत-श्याम रंग नमूना
Name[hu]=Szürkeárnyalatos színmodell
Name[is]=Gráskala litategund
Name[it]=Modello di colore in scala di grigio
Name[ja]=Grayscaleカラーモデル
Name[ms]=Model Warna Skala Kelabu
Name[nb]=Fargemodell med gråtoner
Name[nl]=Grijswaarden kleurmodel
Name[nn]=Fargemodell med gråtonar
Name[pl]=Skala szarości
Name[pt]=Modelo de Cor de Tons de Cinzento
Name[pt_BR]=Modelo de Cor em Tons de Cinza
Name[ru]=Цветовая модель "оттенки серого"
Name[sl]=Sivinski barvni model
Name[sr]=Модел боја за сиве нијансе
Name[sr@Latn]=Model boja za sive nijanse
Name[sv]=Gråskalefärgmodell
Name[ta]=பழுப்புநிற வண்ண மாதிரி
Name[tr]=Griton Renk Modeli
Name[uk]=Модель кольору "відтінки сірого"
Name[zh_CN]=灰度色彩模型
Comment=Color model for 8-bit grayscale images
Comment[bg]=Цветови модел за 8 битови сиви изображения
Comment[ca]=Model de color d'escala de grisos de 8 bits
Comment[cy]=Model lliw ar gyfer delweddau graddlwyd 8-did
Comment[da]=Farvemodel for 8-bit gråskala-billeder
Comment[de]=Farbmodell für 8-bit Graustufenbilder
Comment[el]=Χρωματικό μοντέλο για 8-bit με διαβαθμίσεις του γκρι εικόνες
Comment[en_GB]=Colour model for 8-bit greyscale images
Comment[es]=Modelo de color de imágenes de escala de grises para 8 bits
Comment[et]=8-bitiste halltoonis piltide värvimudel
Comment[eu]=8 bit/kanaleko gris-eskalako irudien kolore-eredua
Comment[fi]=Värimalli 8-bittisille harmaasävykuville
Comment[fr]=Modèle de couleurs pour des images en niveaux de gris 8 bits
Comment[he]=מודל צבעים עבור תמונות של 8 סיביות בגווני אפור
Comment[hi]=8-बिट श्वेत-श्याम छवियों के लिए रंग नमूना
Comment[hu]=Színmodell 8 bites szürkeárnyalatos képekhez
Comment[is]=Litategund fyrir 8-bita gráskala myndir
Comment[it]=Modello di colore per immagini a 8 bit in scala di grigio
Comment[ja]=8ビット グレースケール画像のためのカラーモデル
Comment[ms]=Model warna bagi imej skala kelabu 8-bit
Comment[nb]=Fargemodell for 8-bits gråtonebilde
Comment[nl]=Kleurmodel voor afbeeldingen in 8-bit grijswaarden
Comment[nn]=Fargemodell for 8-bits gråtonebilete
Comment[pl]=Przestrzeń braw dla 8-bitowych obrazków w skali szarości
Comment[pt]=Modelo de cor para imagens de tons de cinzento com 8 bits
Comment[pt_BR]=Modelo de cor para imagens com 8-bits de tons de cinza
Comment[ru]=Цветовая модель для изображений в градациях серого 8-бит/канал RGB
Comment[sl]=Barvni model za 8 bitne sivinske slike
Comment[sr]=Модел боја за слике у 8-битним сивим нијансама
Comment[sr@Latn]=Model boja za slike u 8-bitnim sivim nijansama
Comment[sv]=Färgmodell för 8-bitars gråskalebilder
Comment[ta]=8-பிட் பழுப்புநிற பிம்பங்களுக்கு வண்ண மாதிரி
Comment[tr]=8-bit griton görüntüler için renk modeli.
Comment[uk]=Модель кольору зображень відтінків сірого (8-бітів)
Comment[zh_CN]=8 位灰度图像的色彩模型
ServiceTypes=Krita/ColorSpace
Type=Service
X-KDE-Library=kritagrayplugin
X-Krita-Version=2
