[Desktop Entry]
Name=Some extensions to color spaces
Name[ca]=Algunes extensions per a espais de color
Name[el]=Μερικές επεκτάσεις για τους χώρους χρωμάτων
Name[es]=Algunas extensiones a los espacios de color
Name[et]=Mõned värviruumide laiendud
Name[fi]=Laajennuksia väriavaruuksiin
Name[gl]=Algunhas extensións para os espazos de cor
Name[it]=Alcune estensioni agli spazi di colore
Name[pt]=Algumas extensões para os espaços de cores
Name[pt_BR]=Algumas extensões para os espaços de cores
Name[sv]=Vissa utökningar till färgrymder
Name[uk]=Деякі розширення для просторів кольорів
Name[x-test]=xxSome extensions to color spacesxx
Name[zh_TW]=顏色空間的一些延伸
Comment=Some extensions to color spaces
Comment[ca]=Algunes extensions per a espais de color
Comment[el]=Μερικές επεκτάσεις για τους χώρους χρωμάτων
Comment[es]=Algunas extensiones a los espacios de color
Comment[et]=Mõned värviruumide laiendid
Comment[fi]=Laajennuksia väriavaruuksiin
Comment[gl]=Algunhas extensións para colorear espazos
Comment[it]=Alcune estensioni agli spazi di colore
Comment[pt]=Algumas extensões para os espaços de cores
Comment[pt_BR]=Algumas extensões para os espaços de cores
Comment[sv]=Vissa utökningar till färgrymder
Comment[uk]=Деякі розширення для просторів кольорів
Comment[x-test]=xxSome extensions to color spacesxx
Comment[zh_TW]=顏色空間的一些延伸
X-KDE-ServiceTypes=KOffice/ColorSpaceExtension
Type=Service
X-Pigment-MinVersion=0
X-Flake-PluginVersion=1
X-KDE-Library=krita_colorspaces_extensions
