[Desktop Entry]
Name=Offset Image Plugin
Name[bs]=Dodatak za pomak slike
Name[ca]=Connector de desplaçament de les imatges
Name[ca@valencia]=Connector de desplaçament de les imatges
Name[cs]=Modul pro posun obrázku
Name[da]=Plugin til forskydning af billeder
Name[de]=„Bildversatz“-Modul
Name[el]=Πρόσθετο mετατόπισης εικόνας
Name[en_GB]=Offset Image Plugin
Name[es]=Complemento de desplazamiento de la imagen
Name[et]=Pildinihke plugin
Name[fi]=Kuvan siirtoliitännäinen
Name[fr]=Module de décalage d'images
Name[gl]=Complemento de desprazamento de imaxes
Name[it]=Estensione di scostamento delle immagini
Name[ja]=画像オフセットプラグイン
Name[kk]=Кескінді шегіндіру плагині
Name[ko]=그림 위치 조정 플러그인
Name[nb]=Programtillegg for bildeforskyving
Name[nl]=Plug-in voor offset van afbeelding
Name[pl]=Wtyczka odsunięcia obrazu
Name[pt]='Plugin' de Deslocamento da Imagem
Name[pt_BR]=Plugin de deslocamento de imagem
Name[sk]=Plugin posunu obrázku
Name[sv]=Insticksprogram för förskjutning av bild
Name[tr]=Ofset Görüntü Eklentisi
Name[uk]=Додаток зміщення зображення
Name[x-test]=xxOffset Image Pluginxx
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritaoffsetimage
X-Krita-Version=28
