[Desktop Entry]
Name=Offset Image Plugin
Name[ca]=Connector de desplaçament de les imatges
Name[cs]=Modul pro posun obrázku
Name[da]=Plugin til forskydning af billeder
Name[de]=„Bildversatz“-Modul
Name[el]=Πρόσθετο mετατόπισης εικόνας
Name[es]=Complemento de desplazamiento de la imagen
Name[fr]=Module de décalage d'images
Name[gl]=Complemento de desprazamento de imaxes
Name[it]=Estensione di scostamento delle immagini
Name[kk]=Кескінді шегіндіру плагині
Name[nl]=Plug-in voor offset van afbeelding
Name[pl]=Wtyczka odsunięcia obrazu
Name[pt]='Plugin' de Deslocamento da Imagem
Name[pt_BR]=Plugin de deslocamento de imagem
Name[sk]=Plugin posunu obrázku
Name[sv]=Insticksprogram för förskjutning av bild
Name[uk]=Додаток зміщення зображення
Name[x-test]=xxOffset Image Pluginxx
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritaoffsetimage
X-Krita-Version=28
