[Desktop Entry]
Name=Web Report Plugin
Name[bs]=Plugin za Web Izvještaj
Name[ca]=Connector d'informes web
Name[ca@valencia]=Connector d'informes web
Name[da]=Plugin til webrapporter
Name[de]=Webbericht-Modul
Name[el]=Πρόσθετο αναφοράς ιστού
Name[en_GB]=Web Report Plugin
Name[es]=Complemento de informe web
Name[et]=Aruande veebiplugin
Name[eu]=Web-txostenetarako plugina
Name[fi]=Raportoinnin WWW-liitännäinen
Name[fr]=Module externe de rapports web
Name[gl]=Complemento de informes web
Name[hu]=Web jelentő bővítmény
Name[it]=Estensione rapporti web
Name[kk]=Веб баяндау плагині
Name[nb]=Programtillegg for vevrapport
Name[nl]=Plug-in voor Webrapport
Name[pl]=Wtyczka sprawozdania sieci
Name[pt]='Plugin' de Relatório Web
Name[pt_BR]=Plugin de Web para relatório
Name[ru]=Модуль веб-отчётов
Name[sk]=Plugin správy Web
Name[sl]=Vstavek za spletna poročila
Name[sv]=Insticksprogram för webbrapport
Name[uk]=Додаток перегляду інтернету у звіті
Name[x-test]=xxWeb Report Pluginxx
Name[zh_TW]=網頁報告外掛程式
Comment=Calligra Reports Web Plugin
X-KDE-Library=koreport_webplugin
X-KDE-ServiceTypes=KoReport/ItemPlugin
Type=Service
