[Desktop Entry]
Encoding=UTF-8
Name=Grayscale Color Model (16-bit integer)
Name[eo]=Grizskala modelo (16-bita entjero)
Name[es]=Modelo de color de escala de grises (entero de 16 bits)
Name[fr]=Modèle de couleurs en nivaux de gris (entiers 16 bits)
Name[pt]=Modelo de Cor de Tons de Cinzento (inteiros de 16 bits)
Name[pt_BR]=Modelo de Cor de Tons de Cinzento (inteiros de 16 bits)
Name[sv]=Färgmodell med gråskala (16-bitars heltal)
Name[tr]=Gri ton Renk Modeli (16-bit tamsayı)
Name[xx]=xxGrayscale Color Model (16-bit integer)xx
Comment=Color model for 16-bit integer per channel Grayscale images
Comment[da]=Farvemodel for 16-bit heltal pr kanal Gråskala-billeder
Comment[eo]=Kolormodelo por 16-bita entjero poĉene por grizskalaj bildoj
Comment[es]=Modelo de color de entero de 16 bits por canal para imágenes de escala de grises
Comment[fr]=Modèle de couleurs pour des images en nivaux de gris à 16 bits/plage
Comment[pt]=Modelo de cor para imagens de tons de cinzento com 16 bits por canal
Comment[pt_BR]=Modelo de cor para imagens de tons de cinzento com 16 bits por canal
Comment[sv]=Färgmodell för 16-bitars heltal per kanal gråskalebilder
Comment[tr]=Her kanala 16-bit tam sayı Gri ton resimleri için renk modeli
Comment[xx]=xxColor model for 16-bit integer per channel Grayscale imagesxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Version=2
X-KDE-Library=krita_gray_u16_plugin
