[Desktop Entry]
Encoding=UTF-8
Name=Curves Tool
Name[da]=Kurveværktøj
Name[es]=Herramienta Curvas
Name[et]=Kõverate tööriist
Name[it]=Strumento curve
Name[pt]=Ferramenta de Curvas
Name[pt_BR]=Ferramenta de Curvas
Name[sv]=Kurvverktyg
Name[zh_TW]=曲線工具
ServiceTypes=Krita/Tool
Type=Service
X-KDE-Library=kritatoolcurves
X-Krita-Version=2
