[Desktop Entry]
Encoding=UTF-8
Name=Emboss filter
Name[cy]=Hidlen Foglynnu
Name[eo]=Gravuraĵa filtrilo
Name[es]=Filtro de realce
Name[et]=Kohrutusfilter
Name[fr]=Filtre gravure
Name[pt]=Filtro de gravação
Name[pt_BR]=Filtro de gravação
Name[sv]=Relieffilter
Name[tr]=Kabartma Süzgeci
Name[xx]=xxEmboss filterxx
Comment=Emboss filter
Comment[cy]=Hidlen foglynnu
Comment[eo]=Filtrilo por gravuraĵaj efektoj
Comment[es]=Filtro de realce
Comment[et]=Kohrutusfilter
Comment[fr]=Filtre gravure
Comment[pt]=Filtro de gravação
Comment[pt_BR]=Filtro de gravação
Comment[sv]=Relieffilter
Comment[tr]=Embos süzgeci
Comment[xx]=xxEmboss filterxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritaembossfilter
X-KDE-Version=2
