[Desktop Entry]
Encoding=UTF-8
Name=Emboss filter
Name[eo]=Gravuraĵa filtrilo
Name[es]=Filtro de realce
Name[et]=Kohrutusfilter
Name[pt]=Filtro de gravação
Name[pt_BR]=Filtro de gravação
Name[sv]=Relieffilter
Name[xx]=xxEmboss filterxx
Comment=Emboss filter
Comment[eo]=Filtrilo por gravuraĵaj efektoj
Comment[es]=Filtro de realce
Comment[et]=Kohrutusfilter
Comment[pt]=Filtro de gravação
Comment[pt_BR]=Filtro de gravação
Comment[sv]=Relieffilter
Comment[xx]=xxEmboss filterxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritaembossfilter
