[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KoReport/ItemPlugin
Comment=KoReport Item Plugin
Comment[da]=Plugin til KoReport-element
Comment[en_GB]=KoReport Item Plugin
Comment[es]=Complemento de elemento de KoReport
Comment[et]=KoReporti elemendi plugin
Comment[fr]=Module externe d'élément KoReport
Comment[it]=Estensione per elemento KoReport
Comment[ja]=KoReport アイテムプラグイン
Comment[nb]=Programtillegg for KoReport-element
Comment[nds]=Moduul för KoReport-Element
Comment[nl]=Plugin voor KoReport-item
Comment[pt]='Plugin' de Itens do KoReport
Comment[pt_BR]=Plug-in de itens do KoReport
Comment[sv]=Insticksprogram för Koffice rapportobjekt
Comment[uk]=Додаток елементів KoReport
Comment[x-test]=xxKoReport Item Pluginxx
Comment[zh_TW]=KoReport 項目外掛程式
