[Desktop Entry]
Encoding=UTF-8
Name=Bumpmap Filter
Name[ca]=Filtre Bumpmap
Name[cy]=Hidlen chwyddfap
Name[da]=Bumpkortfilter
Name[de]=Bumpmap-Filter
Name[el]=Φίλτρο ανάγλυφου χάρτη
Name[es]=Filtro de mapa de colisiones
Name[et]=Kühmukaardi filter
Name[ga]=Scagaire Bumpmap
Name[hu]=Bumpmap szűrő
Name[is]=Bumpmap sía
Name[it]=Filtro bumpmap
Name[ja]=Bumpmapフィルター
Name[nl]=Bumpmapfilter
Name[pl]=Filtr odwzorowania nierówności
Name[pt]=Filtro de 'Bumpmaps'
Name[pt_BR]=Filtro de 'Bumpmaps'
Name[sl]=Filter nagubanosti
Name[sr]=Филтер мапе рељефа
Name[sr@Latn]=Filter mape reljefa
Name[sv]=Bulkartefilter
Comment=Bumpmap filter
Comment[ca]=Filtre de Bumpmap
Comment[cy]=Hidlen chwyddfap
Comment[da]=Bumpkortfilter
Comment[de]=Bumpmap-Filter
Comment[el]=Φίλτρο ανάγλυφου χάρτη
Comment[es]=Filtro de mapa de colisiones
Comment[et]=Kühmukaardi filter
Comment[ga]=Scagaire Bumpmap
Comment[hu]=Bumpmap szűrő
Comment[is]=Bumpmap sía
Comment[it]=Filtro bumpmap
Comment[ja]=Bumpmapフィルター
Comment[nl]=Bumpmapfilter
Comment[pl]=Filtr odwzorowania nierówności (ang. bumpmap)
Comment[pt]=Filtro de 'bumpmaps'
Comment[pt_BR]=Filtro de 'bumpmaps'
Comment[sr]=Филтер мапе рељефа
Comment[sr@Latn]=Filter mape reljefa
Comment[sv]=Bulkartefilter
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritabumpmap
X-Krita-Version=2
