[Desktop Entry]
Encoding=UTF-8
Name=Bumpmap Filter
Comment=Bumpmap filter
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritabumpmap
X-Krita-Version=2
