[Desktop Entry]
Encoding=UTF-8
Name=LMS Color Model (32-bit float)
Name[ca]=Model de color LMS (paleta de 32 bits)
Name[cy]=Model Lliw LMS (arnawf 32-did)
Name[da]=LMS-farvemodel (32-bit float)
Name[de]=LMS-Farbmodell (32-bit Fließkomma)
Name[el]=Χρωματικό μοντέλο LMS (32 bit δεκαδικοί)
Name[en_GB]=LMS Colour Model (32-bit float)
Name[es]=Modelo de color LMS (decimal de 32 bits)
Name[et]=LMS värvimudel (32-bitine murdarv)
Name[fr]=Modèle de couleurs LMS (flottants 32 bits)
Name[he]=מודל צבעים LMS (32 סיביות)
Name[hu]=LMS színmodell (32 bites lebegőpontos)
Name[is]=LMS litategund (32-bita fleytitala)
Name[it]=Modello di colore LMS (virgola mobile a 32 bit)
Name[ja]=LMS カラーモデル (32ビット浮動小数)
Name[km]=គំរូ​ពណ៌ LMS (ចំនួនពិត ៣២ ប៊ីត)
Name[nl]=LMS-kleurmodel (32-bit float)
Name[pl]=Przestrzeń barw LMS (32-bitowa liczba zmiennoprzecinkowa)
Name[pt]=Modelo de Cor LMS (v. flutuante de 32-bits)
Name[pt_BR]=Modelo de Cor LMS (ponto flutuante de 32-bits)
Name[ru]=LMS (32-бит с плавающей точкой)
Name[sl]=Barvni model LMS (32-bitna decimalno število)
Name[sr]=LMS модел боја (32-битно реално)
Name[sr@Latn]=LMS model boja (32-bitno realno)
Name[sv]=LMS-färgmodell (32-bitars flyttal)
Name[uk]=Модель кольору LMS (32-бітне дробове число)
Name[zh_CN]=LMS 色彩模型(32 位浮点)
Name[zh_TW]=LMS 色彩模型 (32-bit 浮點數)
Comment=Color model for LMS cone space (Long Middle and Short wavelengths)
Comment[ca]=Model de color per a conus d'espai LMC (amples d'ona llargs, mitjos i curts)
Comment[cy]=Model lliw ar gyfer gofod côn LMS (tonfeddi Hir, Canolig a Byr)
Comment[da]=Farvemodel for LMS-keglerum (Lange, mellemliggende og korte bølgelængder)
Comment[de]=Farbmodell für LMS cone space (Lange, Mittelere und Kurze Wellenlängen)
Comment[el]=Χρωματικό μοντέλο για χώρο χρωμάτων LMS (Μακρά μεσαία και σύντομα μήκη κύματος)
Comment[en_GB]=Colour model for LMS cone space (Long Middle and Short wavelengths)
Comment[es]=Modelo de color para el espacio cónico LMS (con longitudes de onda larga, media y corta)
Comment[et]=LMS koonuse (pikad, keskmised ja lühikesed lainepikkused) värvimudel
Comment[fr]=Modèle de couleurs pour l'espace conique LMS (longueurs d'ondes longues, moyennes et courtes)
Comment[hu]=Színmodell az LMS kúptérhez (hosszú, közepes és rövid hullámhosszak)
Comment[is]=Litategund fyrir LMS keilubil (löng miðlungs og stutt bylgjulengd)
Comment[it]=Modello di colore per lo spazio conico LMS (lunghezze d'onda lunghe, medie e corte)
Comment[nl]=Kleurmodel voor LMS-kegelruimte (lange, middel en korte golflengten)
Comment[pl]=Przestrzeń barw dla przestrzeni stożkowej LMS (średnie długie i krótkie długości fal)
Comment[pt]=Modelo de cor para o espaço cónico do LMS (comprimentos de onda longos, médios e curtos)
Comment[pt_BR]=Modelo de cor para o espaço cônico do LMS (comprimentos de onda longos, médios e curtos)
Comment[ru]=Цветовое пространство LMS (Long Middle and Short wavelengths)
Comment[sl]=Barvni model za prostor stožca LMS (dolge, srednje in kratke valovne dolžine)
Comment[sr]=Модел боја за LMS конусни простор (дуге средње и кратке таласне дужине)
Comment[sr@Latn]=Model boja za LMS konusni prostor (duge srednje i kratke talasne dužine)
Comment[sv]=Färgmodell för LMS-konrymd (Långa, mellanliggande och korta våglängder)
Comment[uk]=Модель кольорів для конусного простору LMS (довгі середні і короткі довжини кольорів)
Comment[zh_TW]=LMS cone space 顏色模式（Long Middle and Short 波長）
ServiceTypes=Krita/ColorSpace
Type=Service
X-KDE-Library=krita_lms_f32_plugin
X-Krita-Version=2
