[Desktop Entry]
Encoding=UTF-8
Name=LMS Color Model (32-bit float)
Name[bg]=Цветови модел LMS (32 бита)
Name[cy]=Model Lliw LMS (arnawf 32-did)
Name[da]=LMS-farvemodel (32-bit float)
Name[de]=LMS-Farbmodell (32-bit Fließkomma)
Name[en_GB]=LMS Colour Model (32-bit float)
Name[es]=Modelo de color LMS (decimal de 32 bits)
Name[it]=Modello di colore LMS (virgola mobile a 32 bit)
Name[ja]=LMSカラーモデル(32ビット浮動小数)
Name[pt]=Modelo de Cor LMS (v. flutuante de 32-bits)
Name[pt_BR]=Modelo de Cor LMS (v. flutuante de 32-bits)
Name[sr]=LMS модел боја (32-битно реално)
Name[sr@Latn]=LMS модел боја (32-битно реално)
Name[sv]=LMS-färgmodell (32-bitars flyttal)
Name[xx]=xxLMS Color Model (32-bit float)xx
Comment=Color model for LMS cone space (Long Middle and Short wavelengths)
Comment[bg]=Цветови модел за интервали LMS (дълги, средни и къси вълни)
Comment[cy]=Model lliw ar gyfer gofod côn LMS (tonfeddi Hir, Canolig a Byr)
Comment[de]=Farbmodell für LMS cone space (Lange, Mittelere und Kurze Wellenlängen)
Comment[en_GB]=Colour model for LMS cone space (Long Middle and Short wavelengths)
Comment[es]=Modelo de color para el espacio cónico LMS (con longitudes de onda larga, media y corta)
Comment[it]=Modello di colore per lo spazio conico LMS (lunghezze d'onda lunghe, medie e corte)
Comment[pt]=Modelo de cor para o espaço cónico do LMS (comprimentos de onda longos, médios e curtos)
Comment[pt_BR]=Modelo de cor para o espaço cónico do LMS (comprimentos de onda longos, médios e curtos)
Comment[sr]=Модел боја за LMS конусни простор (дуге средње и кратке таласне дужине)
Comment[sr@Latn]=Модел боја за LMS конусни простор (дуге средње и кратке таласне дужине)
Comment[sv]=Färgmodell för LMS-konrymd (Långa, mellanliggande och korta våglängder)
Comment[xx]=xxColor model for LMS cone space (Long Middle and Short wavelengths)xx
ServiceTypes=Krita/ColorSpace
Type=Service
X-KDE-Library=krita_lms_f32_plugin
X-KDE-Version=2
