[Desktop Entry]
Encoding=UTF-8
Name=Convolution Filters
Name[el]=Φίλτρα περιέλιξης
Name[fr]=Filtres de convolution
Name[x-test]=xxConvolution Filtersxx
Comment=Convolution filters
Comment[el]=Φίλτρα περιέλιξης
Comment[fr]=Filtres de déformations
Comment[x-test]=xxConvolution filtersxx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaconvolutionfilters
X-Krita-Version=3
