[Desktop Entry]
Encoding=UTF-8
Name=Convolution Filters
Name[ca]=Filtres de Convolotion
Name[da]=Foldningsfilter
Name[de]=Faltungsfilter
Name[es]=Filtros de convolución
Name[et]=Konvolutsioonifiltrid
Name[ga]=Scagairí Conbhlóide
Name[is]=Fléttunarsíur
Name[it]=Filtri di convoluzione
Name[ja]=コンヴォリューションフィルタ
Name[nl]=Verdraaïngs
Name[pt]=Filtros de Convolução
Name[pt_BR]=Filtros de Convolução
Name[sv]=Faltningsfilter
Name[xx]=xxConvolution Filtersxx
Comment=Convolution filters
Comment[bg]=Изкривяващи филтри
Comment[ca]=Filtres de Convolution
Comment[cy]=Hidlau cordeddiadau
Comment[da]=Foldningsfilter
Comment[de]=Faltungsfilter
Comment[eo]=Konvoluciaj filtriloj
Comment[es]=Filtros de convoluciones
Comment[et]=Konvolutsioonifiltrid
Comment[fr]=Filtres de déformations
Comment[ga]=Scagairí conbhlóide
Comment[is]=Fléttunarsíur
Comment[it]=Filtri di convoluzione
Comment[ja]=コンヴォリューションフィルタ
Comment[nl]=Verdraaiingsfilters
Comment[pt]=Filtros de convolução
Comment[pt_BR]=Filtros de convolução
Comment[sr]=Конволуциони филтери
Comment[sr@Latn]=Konvolucioni filteri
Comment[sv]=Faltningsfilter
Comment[tr]=Kıvrım süzgeci
Comment[xx]=xxConvolution filtersxx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaconvolutionfilters
X-KDE-Version=2
