[Desktop Entry]
Name=Convolution Filters
Name[bg]=Изкривяващи филтри
Name[ca]=Filtres de convolució
Name[cy]=Hidlau cordeddiadau
Name[da]=Foldningsfilter
Name[de]=Faltungsfilter
Name[el]=Φίλτρα περιέλιξης
Name[en_GB]=Convolution Filters
Name[eo]=Volvaĵfiltriloj
Name[es]=Filtros de convolución
Name[et]=Konvolutsioonifiltrid
Name[fa]=پالایه‌های هم‌پیچش
Name[fi]=Konvoluutiosuotimet
Name[fr]=Filtres de convolution
Name[fy]=Ferdraaiïngsfilters
Name[ga]=Scagairí Conbhlóide
Name[gl]=Filtros de Convolución
Name[hi]=कनवल्शन फ़िल्टर्स
Name[hne]=कनवल्सन फिल्टर्स
Name[hu]=Konvolúciószűrők
Name[is]=Fléttunarsíur
Name[it]=Filtri di convoluzione
Name[ja]=コンボリューションフィルタ
Name[kk]=Үйірткі сүзгілері
Name[lv]=Konvolūcijas filtri
Name[nb]=Konvolusjonsfiltre
Name[nds]=Fooldenfilters
Name[ne]=मोड फिल्टर
Name[nl]=Verdraaïngs
Name[pl]=Filtry splotowe
Name[pt]=Filtros de Convolução
Name[pt_BR]=Filtros de Convolução
Name[ru]=Cвёртка
Name[sk]=Filtre zvinutia
Name[sl]=Konvolucijski filtri
Name[sv]=Faltningsfilter
Name[tr]=Renk filtreleri
Name[uk]=Фільтри згортки
Name[wa]=Passetes di convolucion
Name[x-test]=xxConvolution Filtersxx
Name[zh_TW]=皺褶過濾器
Comment=Convolution filters
Comment[bg]=Изкривяващи филтри
Comment[ca]=Filtres de Convolution
Comment[cy]=Hidlau cordeddiadau
Comment[da]=Foldningsfilter
Comment[de]=Faltungsfilter
Comment[el]=Φίλτρα περιέλιξης
Comment[en_GB]=Convolution filters
Comment[eo]=Volvaĵfiltriloj
Comment[es]=Filtros de convoluciones
Comment[et]=Konvolutsioonifiltrid
Comment[fa]=پالایه‌های هم‌پیچش
Comment[fi]=Konvoluutiosuotimet
Comment[fr]=Filtres de déformations
Comment[fy]=Ferdraaiïngsfilters
Comment[ga]=Scagairí conbhlóide
Comment[gl]=Filtros de convolución
Comment[hi]=कनवल्शन फ़िल्टर्स
Comment[hne]=कनवल्सन फिल्टर्स
Comment[hu]=CImg képhelyreállító szűrő
Comment[is]=Fléttunarsíur
Comment[it]=Filtri di convoluzione
Comment[ja]=コンボリューションフィルタ
Comment[kk]=Үйірткі сүзгілері
Comment[lv]=Konvolūcijas filtri
Comment[nb]=Konvolusjonsfiltre
Comment[nds]=Fooldenfilters
Comment[ne]=मोड फिल्टर
Comment[nl]=Verdraaiingsfilters
Comment[pl]=Filtry splotowe
Comment[pt]=Filtros de Convolução
Comment[pt_BR]=Filtros de convolução
Comment[ru]=Cвёртка
Comment[sk]=Filtre zvinutia
Comment[sl]=Konvolucijski filtri
Comment[sv]=Faltningsfilter
Comment[tr]=Renk Filtreleri
Comment[uk]=Фільтри згортки
Comment[wa]=Passetes di convolucion
Comment[x-test]=xxConvolution filtersxx
Comment[zh_TW]=皺褶過濾器
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaconvolutionfilters
X-Krita-Version=3
