[Desktop Entry]
Name=RulerAssistantView
Comment=RulerAssistantView
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritarulerassistantview
X-Krita-Version=3
