[Desktop Entry]
Name=Karbon Tools
Name[bs]=Karbon Alati
Name[ca]=Eines del Karbon
Name[ca@valencia]=Eines del Karbon
Name[cs]=Nástroje Karbonu
Name[da]=Karbon-værktøjer
Name[de]=Karbon-Werkzeuge
Name[el]=Εργαλεία Karbon
Name[en_GB]=Karbon Tools
Name[es]=Herramientas de Karbon
Name[et]=Karboni tööriistad
Name[eu]=Karbon-en tresnak
Name[fa]=ابزار Karbon
Name[fi]=Karbon-työkalut
Name[fr]=Outils de Karbon
Name[fy]=Karbon ark
Name[ga]=Uirlisí Karbon
Name[gl]=Ferramentas de Karbon
Name[he]=כלי Karbon
Name[hi]=कारबन औज़ार
Name[hne]=कारबन औजार
Name[hu]=Karbon eszközök
Name[it]=Strumenti di Karbon
Name[ja]=Karbon ツール
Name[kk]=Karbon құралдары
Name[ko]=Karbon 도구
Name[lv]=Karbon rīki
Name[mr]=कार्बन साधने
Name[nb]=Karbon-verktøy
Name[nds]=Karbon-Warktüüch
Name[ne]=कार्बन उपकरण
Name[nl]=Hulpmiddelen voor Karbon
Name[pl]=Narzędzia Karbon
Name[pt]=Ferramentas do Karbon
Name[pt_BR]=Ferramentas do Karbon
Name[ru]=Инструменты Karbon
Name[sk]=Nástroje Karbon
Name[sl]=Orodja za Karbon
Name[sv]=Karbon-verktyg
Name[tg]=Асбобҳои Karbon
Name[tr]=Karbon Araçları
Name[uk]=Засоби Karbon
Name[wa]=Usteyes di Karbon
Name[x-test]=xxKarbon Toolsxx
Name[zh_CN]=Karbon 工具
Name[zh_TW]=Karbon 工具
X-KDE-ServiceTypes=Calligra/Tool
Type=Service
X-KDE-PluginInfo-Name=karbontools
X-KDE-Library=karbon_tools
X-Flake-MinVersion=28
X-Flake-PluginVersion=28
