[Desktop Entry]
Encoding=UTF-8
Name=Shape border definition
Name[ca]=Definició de forma de la vora
Name[de]=Objektumrandungsdefinition
Name[el]=Ορισμός περιγράμματος σχήματος
Name[es]=Definición del borde la forma
Name[fa]=تعریف لبه شکل
Name[pt]=Definição do contorno da forma
Name[pt_BR]=Definição do contorno da forma
Name[sv]=Formkantdefinition
Name[zh_TW]=元件邊框定義
Type=ServiceType
X-KDE-ServiceType=KOffice/Border
Comment=Definition of a flake shape border
Comment[ca]=Definició d'una vora en forma de floc
Comment[de]=Definition einer Flake-Objektumrandung
Comment[el]=Ορισμός ενός περιγράμματος σχήματος flake
Comment[es]=Definición del borde de una forma de Flake
Comment[pt]=Definição do contorno de uma forma do Flake
Comment[pt_BR]=Definição do contorno de uma forma do Flake
Comment[sv]=Definition av en formkant i Flake
Comment[zh_TW]=Flake 元件邊框定義
[PropertyDef::X-Flake-Version]
Type=int
