[Desktop Entry]
Encoding=UTF-8
Name=Flake Plugin
Name[uk]=Втулок Flake
Name[x-test]=xxFlake Pluginxx
Type=ServiceType
X-KDE-ServiceType=KOffice/Flake
Comment=A plugin that contains a set of a shape and a tool
Comment[x-test]=xxA plugin that contains a set of a shape and a toolxx
[PropertyDef::X-Flake-Version]
Type=int
