[Desktop Entry]
Encoding=UTF-8
Name=Flake tool definition
Name[de]=Flake-Werkzeugdefinition
Name[fa]=تعریف ابزار Flake
Name[pt]=Definição da ferramenta do Flake
Name[pt_BR]=Definição da ferramenta do Flake
Name[sv]=Verktygsdefinition i Flake
Name[x-test]=xxFlake tool definitionxx
Name[zh_TW]=Flake 工具定義
Type=ServiceType
X-KDE-ServiceType=KOffice/Tool
Comment=Definition of flake tools
Comment[de]=Definition von Flake-Werkzeugen
Comment[pt]=Definição das ferramentas do Flake
Comment[pt_BR]=Definição das ferramentas do Flake
Comment[sv]=Definition av verktyg i Flake
Comment[x-test]=xxDefinition of flake toolsxx
Comment[zh_TW]=Flake 工具定義
[PropertyDef::X-Flake-Version]
Type=int
