[Desktop Entry]
Encoding=UTF-8
Name=Flake Plugin
Name[de]=Flake-Modul
Name[el]=Πρόσθετο flake
Name[es]=Complemento de Flake
Name[fa]=وصلۀ Flake
Name[ga]=Breiseán Flake
Name[ja]=Flake プラグイン
Name[ne]=फ्लेक प्लगइन
Name[pt]='Plugin' do Flake
Name[pt_BR]='Plugin' do Flake
Name[sv]=Flake-insticksprogram
Name[uk]=Втулок Flake
Name[x-test]=xxFlake Pluginxx
Name[zh_TW]=Flake 外掛程式
Type=ServiceType
X-KDE-ServiceType=KOffice/Flake
Comment=A plugin that contains a set of a shape and a tool
Comment[de]=Ein Modul, dass einen Satz an Objekten und ein Werkzeug enthält
Comment[el]=Ένα πρόσθετο που περιέχει ένα σύνολο σχήματος και εργαλείου
Comment[es]=Un complemento que contiene un conjunto de una forma y una herramienta
Comment[ne]=आकार र उपकरण सेट समाविष्ट गर्ने एउटा प्लगइन
Comment[pt]=Um 'plugin' que contém um conjunto de uma forma e uma ferramenta
Comment[pt_BR]=Um 'plugin' que contém um conjunto de uma forma e uma ferramenta
Comment[sv]=Ett insticksprogram som innehåller en formmängd och ett verktyg
Comment[x-test]=xxA plugin that contains a set of a shape and a toolxx
Comment[zh_TW]=包含形狀與工具集的外掛程式
[PropertyDef::X-Flake-MinVersion]
Type=int
[PropertyDef::X-Flake-PluginVersion]
Type=int
