[Desktop Entry]
Name=Shape border definition
Name[ca]=Definició de forma de la vora
Name[ca@valencia]=Definició de forma de la vora
Name[da]=Definition af form-kant
Name[de]=Objektumrandungsdefinition
Name[el]=Ορισμός περιγράμματος σχήματος
Name[en_GB]=Shape border definition
Name[es]=Definición del borde la forma
Name[et]=Kujundi piirde definitsioon
Name[fa]=تعریف لبه شکل
Name[fi]=Hahmon rajan määrittely
Name[fy]=Defenysje fan in foarmrâne
Name[gl]=Obexto de definición de contornos
Name[hi]=किनारा परिभाषा आकार
Name[hne]=किनारा परिभासा आकार
Name[it]=Definizione del bordo di una forma
Name[ja]=シェイプ枠定義
Name[kk]=Пішіннің жиегінін анықтамасы
Name[lv]=Figūras robežas definīcija
Name[nb]=Definisjon av formomriss
Name[nds]=Form »Randdefinitschoon«
Name[nl]=Vormranddefinitie
Name[pt]=Definição do contorno da forma
Name[pt_BR]=Definição do contorno da forma
Name[sv]=Formkantdefinition
Name[tr]=Şekil kenarlığı tanımlaması
Name[uk]=Визначення границі форми
Name[wa]=Definixha del boirdeure del fôme
Name[x-test]=xxShape border definitionxx
Name[zh_CN]=形状边框定义
Name[zh_TW]=元件邊框定義
Type=ServiceType
X-KDE-ServiceType=KOffice/Border
Comment=Definition of a flake shape border
Comment[ca]=Definició d'una vora en forma de floc
Comment[ca@valencia]=Definició d'una vora en forma de floc
Comment[da]=Definition af en flake-forms kant
Comment[de]=Definition einer Flake-Objektumrandung
Comment[el]=Ορισμός ενός περιγράμματος σχήματος flake
Comment[en_GB]=Definition of a flake shape border
Comment[es]=Definición del borde de una forma de Flake
Comment[et]=Helbekujundi piirde definitsioon
Comment[fi]=Flake-hahmon rajan määrittely
Comment[gl]=Definición do elemento contorno dunha obxecto
Comment[hi]=फ्लेक आकार किनारा की परिभाषा
Comment[hne]=फ्लेक आकार किनारा के परिभासा
Comment[it]=Definizione del bordo di una forma di Flake
Comment[ja]=Flake シェイプ枠の定義
Comment[kk]=Flake пішін жиегінін анықтамасы
Comment[lv]=Flake figūras robežas definīcija
Comment[nb]=Definisjon av omrisset for en flak-form
Comment[nds]=Definitschoon vun en Flake-Formrand
Comment[nl]=Definitie van een flake-vormrand
Comment[pt]=Definição do contorno de uma forma do Flake
Comment[pt_BR]=Definição do contorno de uma forma do Flake
Comment[sv]=Definition av en formkant i Flake
Comment[ta]=ஒரு வடிவ மூளைக்கான வரையறை
Comment[tr]=Bir ızgara şekilli sınırın tanımı
Comment[uk]=Визначення елемента границі форми
Comment[wa]=Definixha d' ene boirdeure di fôme e ploumion
Comment[x-test]=xxDefinition of a flake shape borderxx
Comment[zh_CN]=Flake 形状边框的定义
Comment[zh_TW]=Flake 元件邊框定義
[PropertyDef::X-Flake-Version]
Type=int
