[Desktop Entry]
Name=Presentation Event Action Plugin
Name[ca]=Connector d'acció de presentació d'esdeveniments
Name[el]=Πρόσθετο ενέργειας γεγονότος παρουσίασης
Name[et]=Esitluse sündmustoimingute plugin
Name[gl]=Extensión de Accións do Evento de Presentación
Name[it]=Plegin per azioni d'evento delle presentazioni
Name[nds]=Moduul "Presentatschoon-Begeefnisakschonen"
Name[pt]='Plugin' de Acções do Evento da Apresentação
Name[pt_BR]=Plugin de Ações do Evento da Apresentação
Name[uk]=Додаток реакції на події у презентації
Name[zh_TW]=展示事件動作外掛程式
Type=ServiceType
X-KDE-ServiceType=KOffice/PresentationEventAction
Comment=A plugin that contains a presentation event action
Comment[ca]=Un connector que conté una acció de presentació d'esdeveniment
Comment[el]=Ένα πρόσθετο που περιέχει μια ενέργεια γεγονότος παρουσίασης
Comment[et]=Esitluse sündmusetoiminguid sisaldav plugin
Comment[gl]=Unha extensión que contén unha acción de evento de presentación
Comment[it]=Un plugin contenente un'azione d'evento delle presentazioni
Comment[nds]=En Moduul, dat en Presentatschoon-Begeefnisakschoon bargt
Comment[pt]=Um 'plugin' que contém uma acção de eventos de apresentação
Comment[pt_BR]=Um plugin que contém uma ação de evento de apresentação
Comment[uk]=Додаток, що містить реакцію на подію у презентації
Comment[zh_TW]=包含展示事件動作的外掛程式
[PropertyDef::X-PresentationEventAction-MinVersion]
Type=int
[PropertyDef::X-PresentationEventAction-PluginVersion]
Type=int
