[Desktop Entry]
Name=Script Event Action Plugin
Name[ca]=Connector d'script d'acció d'esdeveniment
Name[ca@valencia]=Connector d'script d'acció d'esdeveniment
Name[da]=Plugin til script-begivenhedshandling
Name[de]=Skriptaktionsereignis-Modul
Name[el]=Πρόσθετο ενέργειας γεγονότος σεναρίου
Name[en_GB]=Script Event Action Plugin
Name[es]=Complemento de acción de evento de guión
Name[et]=Skripti sündmustoimingute plugin
Name[gl]=Extensión de Guións de Accións de Presentación
Name[hne]=स्क्रिप्ट घटना काम प्लगइन
Name[it]=Plegin per azioni d'evento degli script
Name[ja]=スクリプトイベントアクションプラグイン
Name[kk]=Оқиғаға жауап әрекеті скрипті плагині
Name[nb]=Programtillegg for handling ved skripthendelse
Name[nds]=Moduul "Skript-Begeefnisakschoon"
Name[nl]=Plugin voor actie na scriptevent
Name[pt]='Plugin' de Acção do Evento do Programa
Name[pt_BR]=Plug-in de Ação do Evento do Programa
Name[sv]=Insticksprogram med skripthändelseåtgärd
Name[tr]=Betik Olay Durumu Eklentisi
Name[uk]=Додаток сценаріїв реакцій на події
Name[wa]=Tchôke-divins faitindje d' evenmint do scripe
Name[x-test]=xxScript Event Action Pluginxx
Name[zh_CN]=脚本事件动作插件
Name[zh_TW]=文稿事件動作外掛程式
Type=ServiceType
X-KDE-ServiceType=KOffice/ScriptEventAction
Comment=A plugin that contains a script event action
Comment[ca]=Un connector que conté un script d'acció d'esdeveniment
Comment[ca@valencia]=Un connector que conté un script d'acció d'esdeveniment
Comment[da]=Et plugin som indeholder en script-begivenhedshandling
Comment[de]=Ein Modul, das ein Skriptaktionsereignis enthält
Comment[el]=Ένα πρόσθετο που περιέχει μια ενέργεια γεγονότος σεναρίου
Comment[en_GB]=A plugin that contains a script event action
Comment[es]=Un complemento que contiene una acción de evento de guión
Comment[et]=Skripti sündmustoiminguid sisaldav plugin
Comment[gl]=Unha extensión que contén un guión de acción eventual
Comment[hne]=एक प्लगइन जेमां प्रस्तुतिकरन घटना काम हे
Comment[it]=Un'estensione contenente un'azione d'evento degli script
Comment[ja]=スクリプトイベントアクションを含むプラグイン
Comment[kk]=Оқиғаға жауап әрекеті скрипті орналасқан плагині
Comment[nb]=Et programtillegg som inneholder en handling for en skript-hendelse
Comment[nds]=En Moduul, dat en Skript-Begeefnisakschoon bargt
Comment[nl]=Een plugin met een actie bij een event in een script
Comment[pt]=Um 'plugin' que contém uma acção de evento do programa
Comment[pt_BR]=Um plug-in que contém uma ação de evento do programa
Comment[sv]=Ett insticksprogram som innehåller en skripthändelseåtgärd
Comment[tr]=Betik olay durumunu içeren bir eklenti
Comment[uk]=Додаток, що містить сценарій реакції на подію
Comment[wa]=On tchôke-divins k' a ene accion d' envenmint do scripe
Comment[x-test]=xxA plugin that contains a script event actionxx
Comment[zh_TW]=包含文稿事件動作的外掛程式
[PropertyDef::X-ScriptEventAction-MinVersion]
Type=int
[PropertyDef::X-ScriptEventAction-PluginVersion]
Type=int
