<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui library="kritacolorspaceconversion" version="1">
<MenuBar>
    <Menu name="Image"><text>Image</text>
		<Action name="imgcolorspaceconversion"/>
    </Menu>
    <Menu name="Layer"><text>Layer</text>
		<Action name="layercolorspaceconversion"/>
    </Menu>
</MenuBar>
</kpartgui>
