[Desktop Entry]
Name=Music Shape
Name[ca]=Forma de música
Name[ca@valencia]=Forma de música
Name[cs]=Music Shape
Name[da]=Musik-form
Name[de]=Musik-Objekt
Name[el]=Μουσικό σχήμα
Name[en_GB]=Music Shape
Name[es]=Forma musical
Name[et]=Muusikakujund
Name[fi]=Musiikkihahmo
Name[fy]=Musyk foarm
Name[ga]=Giuirléid Cheoil
Name[gl]=Obxecto Musical
Name[hi]=संगीत आकार
Name[hne]=संगीत आकार
Name[it]=Forma di musica
Name[ja]=音楽シェイプ
Name[kk]=Музыкалық пішіні
Name[lv]=Mūzikas figūra
Name[nb]=Muikkform
Name[nds]=Form »Musik«
Name[ne]=सङ्गीत आकार
Name[nl]=Muziekvorm
Name[pt]=Forma Musical
Name[pt_BR]=Forma Musical
Name[sv]=Musikform
Name[ta]=இசை வடிவம்
Name[tr]=Müzik Şekli
Name[uk]=Музична форма
Name[wa]=Fôme muzicale
Name[x-test]=xxMusic Shapexx
Name[zh_CN]=音乐形状
Name[zh_TW]=音樂元件
X-KDE-ServiceTypes=KOffice/Shape
Type=Service
X-KDE-Library=musicshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
