[Desktop Entry]
Name=Animator
Name[be]=Animator
Name[bg]=Animator
Name[bs]=Animator
Name[ca]=Animator
Name[ca@valencia]=Animator
Name[cs]=Animator
Name[da]=Animator
Name[de]=Animator
Name[el]=Animator
Name[en_GB]=Animator
Name[eo]=Animator
Name[es]=Animator
Name[et]=Animator
Name[fi]=Animator
Name[fr]=Animator
Name[fy]=Animator
Name[ga]=Animator
Name[gl]=Animator
Name[hi]=Animator
Name[hne]=Animator
Name[hu]=Animator
Name[it]=Animator
Name[ja]=Animator
Name[kk]=Animator
Name[lt]=Animator
Name[lv]=Animator
Name[nb]=Animator
Name[nds]=Animator
Name[ne]=Animator
Name[nl]=Animator
Name[oc]=Animator
Name[pl]=Animator
Name[pt]=Animator
Name[pt_BR]=Animator
Name[ru]=Animator
Name[sk]=Animator
Name[sl]=Animator
Name[sv]=Animator
Name[ta]=%{ஏபிபிஎன்ஏஎம்இ}
Name[tr]=Animator
Name[ug]=Animator
Name[uk]=Animator
Name[wa]=Animator
Name[x-test]=xxAnimatorxx
Name[zh_CN]=Animator
Name[zh_TW]=Animator
Comment=Animator
Comment[be]=Animator
Comment[bg]=Animator
Comment[bs]=Animator
Comment[ca]=Animator
Comment[ca@valencia]=Animator
Comment[cs]=Animator
Comment[da]=Animator
Comment[de]=Animator
Comment[el]=Animator
Comment[en_GB]=Animator
Comment[eo]=Animator
Comment[es]=Animator
Comment[et]=Animator
Comment[fi]=Animator
Comment[fr]=Animator
Comment[fy]=Animator
Comment[ga]=Animator
Comment[gl]=Animator
Comment[hi]=Animator
Comment[hne]=Animator
Comment[hu]=Animator
Comment[it]=Animator
Comment[ja]=Animator
Comment[kk]=Animator
Comment[lt]=Animator
Comment[lv]=Animator
Comment[nb]=Animator
Comment[nds]=Animator
Comment[ne]=Animator
Comment[nl]=Animator
Comment[oc]=Animator
Comment[pl]=Animator
Comment[pt]=Animator
Comment[pt_BR]=Animator
Comment[ru]=Animator
Comment[sk]=Animator
Comment[sl]=Animator
Comment[sv]=Animator
Comment[ta]=%{ஏபிபிஎன்ஏஎம்இ}
Comment[tr]=Animator
Comment[ug]=Animator
Comment[uk]=Animator
Comment[wa]=Animator
Comment[x-test]=xxAnimatorxx
Comment[zh_CN]=Animator
Comment[zh_TW]=Animator
X-KDE-ServiceTypes=Krita/Dock
Type=Service
X-KDE-Library=kritaanimator
X-Krita-Version=28
