[Desktop Entry]
Name=Chalk brush
Name[bs]=Četka u obliku krede
Name[ca]=Pinzell de guix
Name[ca@valencia]=Pinzell de guix
Name[cs]=Křídový štětec
Name[da]=Kridtpensel
Name[de]=Kreidepinsel
Name[el]=Πινέλο κιμωλίας
Name[en_GB]=Chalk brush
Name[es]=Pincel de tiza
Name[et]=Kriidipintsel
Name[eu]=Klera-pintzela
Name[fi]=Liitusivellin
Name[fr]=Brosse craie
Name[gl]=Pincel de xiz
Name[hne]=चाक ब्रस
Name[hu]=Kréta
Name[it]=Pennello a gesso
Name[ja]=チョークブラシ
Name[kk]=Бор қылқаламы
Name[ko]=분필 브러시
Name[lt]=Kreidos teptukas
Name[lv]=Krīta ota
Name[mr]=खडू कुंचला
Name[nb]=Krittpensel
Name[nds]=Kriedpinsel
Name[nl]=Krijt-penseel
Name[pl]=Pędzel kredowy
Name[pt]=Pincel de carvão
Name[pt_BR]=Pincel de giz
Name[ru]=Мелок
Name[sk]=Kriedový štetec
Name[sv]=Kritpensel
Name[tr]=Tebeşir fırçası
Name[uk]=Крейдяний пензель
Name[wa]=Croye
Name[x-test]=xxChalk brushxx
Name[zh_TW]=粉筆刷
X-KDE-ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritachalkpaintop
X-Krita-Version=28
