[Desktop Entry]
Name=Chalk brush
Name[ca]=Pinzell de guix
Name[ca@valencia]=Pinzell de guix
Name[da]=Kridtpensel
Name[de]=Kreidepinsel
Name[el]=Πινέλο κιμωλίας
Name[en_GB]=Chalk brush
Name[es]=Pincel de tiza
Name[et]=Kriidipintsel
Name[gl]=Pincel de Xiz
Name[hne]=चाक ब्रस
Name[it]=Pennello a gesso
Name[ja]=チョークブラシ
Name[kk]=Бор қылқаламы
Name[lv]=Krīta ota
Name[nb]=Krittpensel
Name[nds]=Kriedpinsel
Name[nl]=Krijt-penseel
Name[pt]=Pincel de carvão
Name[pt_BR]=Pincel de carvão
Name[sv]=Kritpensel
Name[tr]=Tebeşir fırçası
Name[uk]=Крейдяний пензель
Name[wa]=Croye
Name[x-test]=xxChalk brushxx
Name[zh_TW]=粉筆刷
X-KDE-ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritachalkpaintop
X-Krita-Version=3
