[Desktop Entry]
Encoding=UTF-8
Name=Selection Tools
Name[br]=Ostilhoù choazh
Name[ca]=Eines de selecció
Name[cy]=Offer Detholi
Name[da]=Markeringsværktøj
Name[de]=Auswahlwerkzeuge
Name[el]=Εργαλεία επιλογής
Name[eo]=Iloj por selektado
Name[es]=Herramientas de selección
Name[et]=Valikutööriistad
Name[eu]=Hautapen-tresnak
Name[fi]=Valintatyökalut
Name[fr]=Outils de sélection
Name[ga]=Uirlisí Roghnúcháin
Name[he]=כלי בחירה
Name[hu]=Kiválasztó eszközök
Name[it]=Strumenti di selezione
Name[nl]=Selectiegereedschappen
Name[pt]=Ferramentas de Selecção
Name[pt_BR]=Ferramentas de Seleção
Name[ru]=Инструменты выделения
Name[sl]=Orodja za izbiro
Name[sr]=Алати за избор
Name[sr@Latn]=Alati za izbor
Name[sv]=Markeringsverktyg
Name[tr]=Seçim Araçları
Name[xx]=xxSelection Toolsxx
Name[zh_CN]=选择工具
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritaselectiontools
