[Desktop Entry]
Encoding=UTF-8
Name=Selection Tools
Name[ca]=Eines de selecció
Name[da]=Markeringsværktøj
Name[el]=Εργαλεία επιλογής
Name[es]=Herramientas de selección
Name[fr]=Outils de sélection
Name[hu]=Kiválasztó eszközök
Name[nl]=Selectiegereedschappen
Name[pt]=Ferramentas de Selecção
Name[pt_BR]=Ferramentas de Seleção
Name[ru]=Инструменты выделения
Name[sv]=Markeringsverktyg
Name[zh_CN]=选择工具
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritaselectiontools
