[Desktop Entry]
Encoding=UTF-8
Name=Template Paint Operations
Name[da]=Skabelon for maleoperationer
Name[eo]=Ŝablono de pentrad-operacioj
Name[es]=Operaciones de plantilla de pintura
Name[et]=Malljoonistamisoperatsioonid
Name[fr]=Modèle d'opérations de peinture
Name[pt]=Operações-Modelo de Pintura
Name[pt_BR]=Operações-Modelo de Pintura
Name[ru]=Операции рисования с шаблонами
Name[sv]=Mallar för målningsoperationer
Name[tr]=Boyama İşlemleri Şablonu
Name[xx]=xxTemplate Paint Operationsxx
Comment=Template paint operations
Comment[da]=Skabelon for maleoperationer
Comment[eo]=Ŝablono de pentrad-operacioj
Comment[es]=Operaciones de plantilla de pintura
Comment[et]=Malljoonistamisoperatsioonid
Comment[fr]=Modèle d'opérations de peinture
Comment[pt]=Operações-modelo de pintura
Comment[pt_BR]=Operações-modelo de pintura
Comment[ru]=Операции рисования с шаблонами
Comment[sv]=Mallar för målningsoperationer
Comment[tr]=Boyama İşlemleri Şablonu
Comment[xx]=xxTemplate paint operationsxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritatemplatepaintops
X-KDE-Version=2
