[Desktop Entry]
Encoding=UTF-8
Name=Template Paint Operations
Comment=Template paint operations
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritatemplatepaintops
