[Desktop Entry]
Encoding=UTF-8
Name=Template Paint Operations
Name[da]=Skabelon for maleoperationer
Name[eo]=Ŝablono de pentrad-operacioj
Name[es]=Operaciones de plantilla de pintura
Name[et]=Malljoonistamisoperatsioonid
Name[ru]=Операции рисования с шаблонами
Name[sv]=Mallar för målningsoperationer
Name[tr]=Boyama İşlemleri Şablonu
Name[xx]=xxTemplate Paint Operationsxx
Comment=Template paint operations
Comment[da]=Skabelon for maleoperationer
Comment[eo]=Ŝablono de pentrad-operacioj
Comment[es]=Operaciones de plantilla de pintura
Comment[et]=Malljoonistamisoperatsioonid
Comment[ru]=Операции рисования с шаблонами
Comment[sv]=Mallar för målningsoperationer
Comment[tr]=Boyama İşlemleri Şablonu
Comment[xx]=xxTemplate paint operationsxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritatemplatepaintops
