[Desktop Entry]
Encoding=UTF-8
Name=Emboss Filter
Name[ca]=Filtre d'Emboss
Name[cy]=Hidlen Foglynnu
Name[da]=Relieffilter
Name[de]=Relief-Filter
Name[el]=Φίλτρο εμβάθυνσης
Name[es]=Filtro de realce
Name[et]=Kohrutusfilter
Name[hu]=Emboss szűrő
Name[is]=Upphleypt sía
Name[it]=Filtro in rilievo
Name[ja]=エンボスフィルター
Name[nl]=Reliëffilter
Name[pl]=Filtr wytłaczania
Name[pt]=Filtro de Gravação
Name[pt_BR]=Filtro de Gravação
Name[sr]=Рељефни филтер
Name[sr@Latn]=Reljefni filter
Name[sv]=Relieffilter
Comment=Emboss filter
Comment[ca]=Filtre d'Emboss
Comment[cy]=Hidlen foglynnu
Comment[da]=Relieffilter
Comment[de]=Relief-Filter
Comment[el]=Φίλτρο εμβάθυνσης
Comment[es]=Filtro de realce
Comment[et]=Kohrutusfilter
Comment[hu]=Emboss szűrő
Comment[is]=Upphleypt sía
Comment[it]=Filtro in rilievo
Comment[ja]=エンボスフィルター
Comment[nl]=Reliëffilter
Comment[pl]=Filtr wytłaczania
Comment[pt]=Filtro de gravação
Comment[pt_BR]=Filtro de gravação
Comment[sr]=Рељефни филтер
Comment[sr@Latn]=Reljefni filter
Comment[sv]=Relieffilter
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaembossfilter
X-Krita-Version=2
