[Desktop Entry]
Name=Emboss Filter
Name[bg]=Релефен филтър
Name[ca]=Filtre de relleu
Name[ca@valencia]=Filtre de relleu
Name[cy]=Hidlen Foglynnu
Name[da]=Relieffilter
Name[de]=Relief-Filter
Name[el]=Φίλτρο εμβάθυνσης
Name[en_GB]=Emboss Filter
Name[eo]=Reliefiga filtrilo
Name[es]=Filtro de repujado
Name[et]=Kohrutusfilter
Name[fa]=برجسته کردن پالایه
Name[fi]=Emboss-suodin
Name[fr]=Filtre gravure
Name[fy]=Reliëffilter
Name[gl]=Filtro de Gravado
Name[hi]=एम्बॉस फ़िल्टर
Name[hne]=एम्बास फिल्टर
Name[hu]=Emboss szűrő
Name[is]=Upphleypt sía
Name[it]=Filtro in rilievo
Name[ja]=エンボスフィルタ
Name[kk]=Бедер сүзгісі
Name[nb]=Pregefilter
Name[nds]=Ingraven-Filter
Name[ne]=सजाइएको फिल्टर
Name[nl]=Reliëffilter
Name[pl]=Filtr wytłaczania
Name[pt]=Filtro de Gravação
Name[pt_BR]=Filtro de Gravação
Name[ru]=Рельеф
Name[sk]=Emboss Filter
Name[sl]=Filter Izboči
Name[sv]=Relieffilter
Name[tr]=Kabartma Filtresi
Name[uk]=Фільтр барельєфу
Name[wa]=Passete relief
Name[x-test]=xxEmboss Filterxx
Name[zh_TW]=浮雕過濾器
Comment=Emboss filter
Comment[bg]=Релефен филтър
Comment[ca]=Filtre de relleu
Comment[ca@valencia]=Filtre de relleu
Comment[cy]=Hidlen foglynnu
Comment[da]=Relieffilter
Comment[de]=Relief-Filter
Comment[el]=Φίλτρο εμβάθυνσης
Comment[en_GB]=Emboss filter
Comment[eo]=Reliefiga filtrilo
Comment[es]=Filtro de repujado
Comment[et]=Kohrutusfilter
Comment[fa]=برجسته کردن پالایه
Comment[fi]=Emboss-suodin
Comment[fr]=Filtre gravure
Comment[fy]=Reliëffilter
Comment[gl]=Filtro de gravado
Comment[hi]=एम्बॉस फ़िल्टर
Comment[hne]=एम्बास फिल्टर
Comment[hu]=Emboss szűrő
Comment[is]=Upphleypt sía
Comment[it]=Filtro in rilievo
Comment[ja]=エンボスフィルタ
Comment[kk]=Бедер сүзгісі
Comment[nb]=Pregefilter
Comment[nds]=Ingraven-Filter
Comment[ne]=सजाइएको फिल्टर
Comment[nl]=Reliëffilter
Comment[pl]=Filtr wytłaczania
Comment[pt]=Filtro de Gravação
Comment[pt_BR]=Filtro de gravação
Comment[ru]=Рельеф
Comment[sk]=Emboss filter
Comment[sl]=Filter Izboči
Comment[sv]=Relieffilter
Comment[tr]=Kabartma filtresi
Comment[uk]=Фільтр барельєфу
Comment[wa]=Passete relief
Comment[x-test]=xxEmboss filterxx
Comment[zh_TW]=浮雕過濾器
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaembossfilter
X-Krita-Version=3
