[Desktop Entry]
Name=panorama
Name[bg]=панорама
Name[ca]=panorama
Name[cs]=panorama
Name[da]=panorama
Name[de]=Panorama
Name[el]=πανοραμική άποψη
Name[en_GB]=panorama
Name[es]=panorama
Name[et]=panoraam
Name[fi]=panoraama
Name[fy]=panorama
Name[ga]=panorama
Name[gl]=panorámica
Name[he]=פנורמה
Name[hi]=पैनोरामा
Name[hne]=पैनोरामा
Name[it]=Panorama
Name[ja]=パノラマ
Name[kk]=panorama
Name[nb]=panorama
Name[nds]=Panorama
Name[ne]=पानोरामा
Name[nl]=Panorama
Name[pt]=Panorama
Name[pt_BR]=panorama
Name[sv]=Panorama
Name[ta]=பனோராமா
Name[tr]=panorama
Name[uk]=панорама
Name[wa]=panorama
Name[x-test]=xxpanoramaxx
Name[zh_TW]=panorama
Comment=panorama
Comment[bg]=панорама
Comment[ca]=panorama
Comment[cs]=panorama
Comment[da]=panorama
Comment[de]=Panorama
Comment[el]=πανοραμική άποψη
Comment[en_GB]=panorama
Comment[es]=panorama
Comment[et]=panoraam
Comment[fi]=panoraama
Comment[fy]=panorama
Comment[ga]=panorama
Comment[gl]=panorámica
Comment[he]=פנורמה
Comment[hi]=पैनोरामा
Comment[hne]=पैनोरामा
Comment[it]=Panorama
Comment[ja]=パノラマ
Comment[kk]=панорама
Comment[nb]=panorama
Comment[nds]=Panorama
Comment[ne]=पानोरामा
Comment[nl]=Panorama
Comment[pt]=Panorama
Comment[pt_BR]=panorama
Comment[sv]=Panorama
Comment[ta]=பனோராமா
Comment[tr]=panorama
Comment[uk]=панорама
Comment[wa]=panorama
Comment[x-test]=xxpanoramaxx
Comment[zh_TW]=panorama
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritapanorama
X-Krita-Version=3
