[Desktop Entry]
Encoding=UTF-8
Name=Wet & Sticky Paintbrush Paintop
Name[ar]=فرشاة الرسم الرطبة و اللزجة Paintop
Name[bg]=Мокра и лепкава четка
Name[ca]=Pinzell humit i viscós de Paintop
Name[cy]=Brws paent gwlyb gludiog
Name[da]=Maleoperation med våd og klæbrig malerpensel
Name[de]=Maloperation mit feuchtem & klebrigem Farbpinsel
Name[el]=Βούρτσα υγρής και κολλώδους μπογιάς
Name[es]=Brocha mojada y pegajosa para pintar
Name[et]=Märja lõuendi joonistamisoperatsioon
Name[fr]=Pinceau paintop mouillé et gluant
Name[gl]=Pintado Mollado e Pegoñento
Name[is]=Blautur & klístraður pensill
Name[it]=Operazione con pennello bagnato e appiccicoso
Name[nl]=Kwasten voor natte en kleverige verfverrichtingen
Name[pt]=Modelo de Cores Molhado e Pegajoso
Name[pt_BR]=Modelo de Cores Molhado e Pegajoso
Name[ru]=Кисть с параметрами влажности и прилипания
Name[sr]=Модел боја мокре и лепљиве четкице
Name[sr@Latn]=Model boja mokre i lepljive četkice
Name[sv]=Målningsoperation med våt och klibbig målarpensel
Name[xx]=xxWet & Sticky Paintbrush Paintopxx
Name[zh_CN]=湿性和粘性画布
Name[zh_TW]=濕 & 黏的筆刷頭
Comment=Wet & Sticky paintbrush
Comment[ar]=فرشاة رسم رطبة و لزجة
Comment[bg]=Мокра и лепкава четка
Comment[ca]=Pinzell humit i viscós
Comment[cy]=Brws paent gwlyb gludiog
Comment[da]=Våd og klæbrig malerpensel
Comment[de]=Feuchter & klebriger Farbpinsel
Comment[el]=Βούρτσα υγρής και κολλώδους μπογιάς
Comment[eo]=Humida kaj glueca peniko
Comment[es]=Brocha mojada y pegajosa
Comment[et]=Märja lõuendi pintsel
Comment[fr]=Pinceau mouillé et gluant
Comment[gl]=Un pincel mollado e pegaxoso
Comment[is]=Blautur og klístraður pensill
Comment[it]=Pennello bagnato e appiccicoso
Comment[ja]=Wet & Sticky ペイントブラシ
Comment[nl]=Kwast voor nat en kleverige verfverichtingen
Comment[pt]=Um pincel molhado e pegajoso
Comment[pt_BR]=Modelo de cores de tela Molhada & Pegajosa
Comment[ru]=Кисть с параметрами влажности и прилипания
Comment[sr]=Мокра и лепљива четкица
Comment[sr@Latn]=Mokra i lepljiva četkica
Comment[sv]=Våt och klibbig målarpensel
Comment[tr]=Islak ve Yapışkan Boyama Fırçası
Comment[xx]=xxWet & Sticky paintbrushxx
Comment[zh_TW]=濕 & 黏的筆刷
ServiceTypes=Krita/ColorSpace
Type=Service
X-KDE-Library=kritawsbrushpaintop
X-Krita-Version=2
