[Desktop Entry]
Name=Calligra Docker Plugin
Name[ca]=Connector amarrador del Calligra
Name[ca@valencia]=Connector amarrador del Calligra
Name[cs]=Modul doků Calligra
Name[da]=Dokker-plugin til Calligra
Name[de]=Calligra Docker-Modul
Name[el]=Πρόσθετο προσάρτησης Calligra
Name[es]=Complemento de ventana acoplable de Calligra
Name[et]=Calligra dokkide plugin
Name[fr]=Module externe de panneaux pour  Calligra
Name[gl]=Engadido Calligra Docker
Name[it]=Estensione per i ganci di Calligra
Name[ja]=Calligra ドッキングパネル・プラグイン
Name[kk]=Calligra-ның докер плагині
Name[nb]=Calligra dokker-programtillegg
Name[nds]=Calligra-Dockermoduul
Name[nl]=Calligra-plug-in voor vastzetter
Name[pl]=Wtyczka dokowania dla Calligra
Name[pt]='Plugin' de Área Acoplável do Calligra
Name[pt_BR]=Plugin acoplável do Calligra
Name[ru]=Модуль Calligra Docker
Name[sk]=Plugin Calligra docker
Name[sv]=Calligra-dockningsinsticksprogram
Name[uk]=Додаток панелі для Calligra
Name[x-test]=xxCalligra Docker Pluginxx
Name[zh_CN]=Calligra 停靠插件
Name[zh_TW]=Calligra 嵌入外掛程式
Type=ServiceType
X-KDE-ServiceType=Calligra/Dock
Comment=A plugin that contains a so called 'dockwidget'
Comment[ca]=Un connector que en conté un anomenat «dockwidget»
Comment[ca@valencia]=Un connector que en conté un anomenat «dockwidget»
Comment[da]=Et plugin som indeholder en såkaldt 'dock-kontrol'
Comment[de]=Ein Modul, das ein sogenanntes „dockwidget“ enthält
Comment[el]=Ένα πρόσθετο που περιέχει ένα γραφικό συστατικό προσάρτησης
Comment[en_GB]=A plugin that contains a so called 'dockwidget'
Comment[es]=Un complemento que contiene un, así llamado, «widget acoplable»
Comment[et]=Niinimetatud dokividinat sisaldav plugin
Comment[fi]=Liitännäinen, joka sisältää ns. dock-elementin
Comment[fr]=Module externe contenant un plasmoïde « panneau »
Comment[gl]=Un engadido que contén o chamado 'dockwidget'
Comment[hi]=एक प्लगइन जिसमें तथाकथित 'डॉकविजेट' हैं
Comment[hne]=एक प्लगइन जेमां तथाकथित 'डाकविजेट' हे
Comment[it]=Un'estensione contenente un cosiddetto «oggetto agganciato»
Comment[ja]=ドックウィジェットを含むプラグイン
Comment[kk]='dockwidget' дегені орналасатын плагині
Comment[nb]=Et programtillegg som inneholder et såkalt «dokkelement»
Comment[nds]=En Moduul, dat en so nöömt "Andockelement" bargt
Comment[ne]='डकविजेट' भनिने समाविष्ट गर्ने एउटा प्लगइन
Comment[nl]=Een plug-in, die een zogenaamde 'dockwidget' bevat
Comment[pl]=Wtyczka zawierająca tak zwany 'dokowy element interfejsu'
Comment[pt]=Um 'plugin' que contém um 'módulo acoplável'
Comment[pt_BR]=Um plugin que contém um 'módulo acoplável'
Comment[ru]=Модуль, содержащий элемент панели
Comment[sk]=Plugin, ktorý obsahuje takzvaný 'dockwidget'
Comment[sv]=Ett insticksprogram som innehåller en så kallad 'grafisk dockningskomponent'
Comment[ta]=எசாருகள் என்பது'டாக்விட்கெட்' ஐ உள்ளடக்கியது 
Comment[tr]=Sözde dok parçacığı içeren bir eklenti
Comment[uk]=Додаток, що містить так званий «віджет панелі»
Comment[wa]=On tchôke-divins k' a çk on lome ene "ahesse panea d' usteyes"
Comment[x-test]=xxA plugin that contains a so called 'dockwidget'xx
Comment[zh_CN]=一个包含所谓“停靠部件”的插件
Comment[zh_TW]=包含「嵌入元件」的外掛程式
[PropertyDef::X-Flake-MinVersion]
Type=int
[PropertyDef::X-Flake-PluginVersion]
Type=int
