[Desktop Entry]
Encoding=UTF-8
Name=KOffice Docker Plugin
Name[de]=KOffice Docker-Modul
Name[el]=Πρόσθετο προσάρτησης του KOffice
Name[es]=Complemento de anclajes de KOffice
Name[fa]=وصلۀ پیونددهندۀ KOffice
Name[ne]=केडीई कार्यालय डकर प्लगइन
Name[pt]='Plugin' Acoplável do KOffice
Name[pt_BR]=Plugin Acoplável do KOffice
Name[sv]=Koffice dockningsinsticksprogram
Name[x-test]=xxKOffice Docker Pluginxx
Name[zh_TW]=KOffice 嵌入外掛程式
Type=ServiceType
X-KDE-ServiceType=KOffice/Dock
Comment=A plugin that contains a so called 'dockwidget'
Comment[de]=Ein Modul, das ein sogenanntes 'dockwidget' enthält
Comment[el]=Ένα πρόσθετο που περιέχει ένα γραφικό συστατικό προσάρτησης
Comment[es]=Un complemento que contiene un elemento de anclaje
Comment[ne]='डकविजेट' भनिने समाविष्ट गर्ने एउटा प्लगइन
Comment[pt]=Um 'plugin' que contém um 'módulo acoplável'
Comment[pt_BR]=Um plugin que contém um 'módulo acoplável'
Comment[sv]=Ett insticksprogram som innehåller en så kallad 'grafisk dockningskomponent'
Comment[x-test]=xxA plugin that contains a so called 'dockwidget'xx
Comment[zh_TW]=包含「嵌入元件」的外掛程式
[PropertyDef::X-Flake-MinVersion]
Type=int
[PropertyDef::X-Flake-PluginVersion]
Type=int
