[Desktop Entry]
Encoding=UTF-8
Name=Select Similar Colors Tool
Name[eo]=Ilo por selekti similajn kolorojn
Name[es]=Herramienta de selección de colores similares
Name[et]=Sarnase värvi valimise tööriist
Name[pt]=Ferramenta de Selecção de Cores Semelhantes
Name[pt_BR]=Ferramenta de Selecção de Cores Semelhantes
Name[sv]=Välj liknande färg-verktyg
Name[tr]=Benzer Renkler Seçim Aracı
Name[xx]=xxSelect Similar Colors Toolxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritacolorrange
