[Desktop Entry]
Name=Color Smudge Brush
Name[bs]=Četka zamazane boje
Name[ca]=Pinzell d'esborronat de color
Name[ca@valencia]=Pinzell d'esborronat de color
Name[cs]=Štětec rozmazávající barvy
Name[da]=Farveudtværingspensel
Name[de]=Farbwischpinsel
Name[el]=Έγχρωμο πινέλο αποτύπωσης κηλίδων
Name[en_GB]=Colour Smudge Brush
Name[es]=Pincel color tizne
Name[et]=Värvimäärimispintsel
Name[eu]=Kolorea lausotzeko pintzela
Name[fr]=Brosse pour tâches de couleur
Name[gl]=Pincel de manchas de cor
Name[hu]=Színmaszatoló ecset
Name[it]=Pennello con sbavatura di colore
Name[ja]=色ぼかしブラシ
Name[kk]=Түсті жағу қылқаламы
Name[mr]=कलर स्मज ब्रश
Name[nb]=Fargekladdepensel
Name[nl]=Uitsmeerpenseel met kleur
Name[pl]=Pędzel smużenia koloru
Name[pt]=Pincel de Fumo a Cores
Name[pt_BR]=Pincel de fumo em cores
Name[ru]=Цветная размазывающая кисть
Name[sk]=Farba rozmazania štetca
Name[sv]=Färgsmetningspensel
Name[uk]=Кольоровий пензель для розмазування
Name[x-test]=xxColor Smudge Brushxx
Name[zh_TW]=彩色煙燻筆刷
X-KDE-ServiceTypes=Krita/Paintop
Type=Service
X-KDE-Library=kritacolorsmudgepaintop
X-Krita-Version=28
