[Desktop Entry]
Name=Grayscale Color Model
Name[cy]=Model Lliw Graddlwyd
Name[da]=Farvemodel med gråskala
Name[en_GB]=Greyscale Colour Model
Name[es]=Modelo de color de escala de grises
Name[et]=Halltooni värvimudel
Name[pt]=Modelo de Cor de Tons de Cinzento
Name[pt_BR]=Modelo de Cor em Tons de Cinza
Name[sr]=Модел боја за сиве нијансе
Name[sr@Latn]=Модел боја за сиве нијансе
Name[sv]=Gråskalefärgmodell
Name[ta]=பழுப்புநிற வண்ண மாதிரி
Name[tg]=Grayscale Модели Ранга
Name[xx]=xxGrayscale Color Modelxx
Comment=Color model for 8-bit grayscale images
Comment[cy]=Model lliw ar gyfer delweddau graddlwyd 8-did
Comment[da]=Farvemodel for 8-bit gråskala-billeder
Comment[en_GB]=Colour model for 8-bit greyscale images
Comment[es]=Modelo de color de imágenes de escala de grises para 8 bits
Comment[et]=8-bitiste halltoonis piltide värvimudel
Comment[pt]=Modelo de cor para imagens de tons de cinzento com 8 bits
Comment[pt_BR]=Modelo de cor para imagens com 8-bits de tons de cinza
Comment[sr]=Модел боја за слике у 8-битним сивим тоновима
Comment[sr@Latn]=Модел боја за слике у 8-битним сивим тоновима
Comment[sv]=Färgmodell för 8-bitars gråskalebilder
Comment[ta]=8-பிட் பழுப்புநிற பிம்பங்களுக்கு வண்ண மாதிரி
Comment[xx]=xxColor model for 8-bit grayscale imagesxx
ServiceTypes=Krita/CoreModule
Type=Service
X-KDE-Library=kritagrayplugin
