[Desktop Entry]
Encoding=UTF-8
Name=Compose Layer plugin
Name[el]=Πρόσθετο σύνθεσης στρώματος
Name[pt]='Plugin' de camada de composição
Name[pt_BR]=Plugin de Camada de Composição
Name[sv]=Insticksprogram för lagersammansättning
Name[zh_TW]=編寫佈局外掛程式
ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritalayercompose
X-Krita-Version=3
