[Desktop Entry]
Name=Calligra Dockers plugin
Name[ca]=Connector Calligra Dockers
Name[ca@valencia]=Connector Calligra Dockers
Name[cs]=Dokovací modul Calligra
Name[da]=Docker-plugin til Calligra
Name[de]=Calligra Docker-Modul
Name[el]=Πρόσθετο προσαρτήσεων του Calligra
Name[en_GB]=Calligra Dockers plugin
Name[es]=Complemento de anclajes para Calligra
Name[et]=Calligra'i dokkide plugin
Name[fa]=وصله پیونددهنده‌های Calligra
Name[fr]=Module externe de panneaux pour Calligra
Name[fy]=Calligra Komponint Plugin
Name[ga]=Breiseán Dugairí Calligra
Name[gl]=Extensión Docker de Calligra
Name[he]=תוסף Dockers של Calligra
Name[hi]=केऑफ़िस डॉकर्स प्लगइन
Name[hne]=केआफिस डाकर प्लगइन
Name[it]=Estensione per i ganci di Calligra
Name[ja]=Calligra ドッキングパネル・プラグイン
Name[kk]=Calligra-тің докерлер плагині
Name[lv]=Calligra doku spraudnis
Name[ms]=Plugmasuk Dockers Calligra
Name[nb]=Calligra Dockers programtillegg
Name[nds]=Moduul "Calligra-Andockers"
Name[ne]=केडीई कार्यालय डकर प्लगइन
Name[nl]=Vastzetterplugin voor Calligra
Name[pt]='Plugin' de Módulos Acopláveis para o Calligra
Name[pt_BR]=Plug-in de Módulos Acopláveis para o Calligra
Name[sv]=Calligra dockningsinsticksprogram
Name[tr]=Calligra Dockers eklentisi
Name[uk]=Додаток прив’язок Calligra
Name[wa]=Tchôke-divins d' paneas d' usteyes di Calligra
Name[x-test]=xxCalligra Dockers pluginxx
Name[zh_CN]=Calligra 停靠栏插件
Name[zh_TW]=Calligra 嵌入外掛程式
X-KDE-ServiceTypes=Calligra/Dock
Type=Service
X-KDE-Library=calligradockers
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
