[Desktop Entry]
Name=3D Scene Shape
Name[bs]=Lik 3D scene
Name[ca]=Forma d'escena 3D
Name[da]=3D-sceneform
Name[de]=3D-Szenenobjekt
Name[el]=Σχήμα τρισδιάστατου σκηνικού
Name[es]=Forma de escena 3D
Name[et]=3D stseeni kujund
Name[fr]=Forme scène 3D
Name[gl]=Forma de escena en 3D
Name[hu]=3D színhely alakzat
Name[it]=Forma di scena 3D
Name[kk]=3D сахна қалыпы
Name[nb]=3D Scene-form
Name[nl]=Vorm van 3D-scène
Name[pl]=Kształt sceny 3D
Name[pt]=Forma de Cena 3D
Name[pt_BR]=Forma de cena 3D
Name[sk]=Tvar 3D scény
Name[sv]=Tredimensionell scenform
Name[uk]=Форма просторової сцени
Name[x-test]=xx3D Scene Shapexx
X-KDE-ServiceTypes=Calligra/Shape
Type=Service
X-KDE-PluginInfo-Name=threedshape
X-KDE-Library=calligra_shape_threed
X-Flake-MinVersion=28
X-Flake-PluginVersion=28
